In [1]:

import pandas as pd
import scipy
import pyodbc

import time

conn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER=LAPTOP-IFK6D8L3\\SQLEXPRESS;DATABASE=StockQuote;UID=sa;PWD=password')
cur = conn.cursor()


SQL_NLM_250 = """

select Script_Name from Index_Stock where Index_Name ='Niftylargemidcap250 ' 
"""
df_NLM250 = pd.read_sql(SQL_NLM_250,conn)

display(df_NLM250)

ScriptList = df_NLM250['Script_Name'].to_list()
# dflist = {}
for s in ScriptList:    
    df = pd.DataFrame()
    SQL = """ select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = '{}' order by Script_Name,Trnx_date """.format(s.strip())
    print(SQL)
    df = pd.read_sql(SQL,conn)
    # dflist[s.strip()] = df
    df['Gain'] = df['cls']-df['open']
    
    def ewm(df, days):
        
        df_gby = (
            (df
                .groupby(['Script_Name', 'trnx'])['cls']
                .sum()
            )
            .ewm(span=days, min_periods=days)
            .mean()
            .droplevel(1)
            .reset_index(name='ema'+str(days))
        )
    
        return df_gby['ema'+str(days)]

    for i in [5,9,12,21,25,26,50,100,200]:
        df['ema'+str(i)] = ewm(df, i)


    df['MACD'] = df['ema12']-df['ema26']
    display(df)
    #df['Signal'] = ewm(df['MACD'],9)
    df['Signal'] = df['MACD'].ewm(span=9, adjust=False).mean()
    df['MACDS'] = df['MACD']-df['Signal']
    # df['US'] = df['Gain'].apply(lambda x: df['high']-df['cls'] if x>=0 else df['high']-df['open'])
    # df['LS'] = df['Gain'].apply(lambda x: (df['open']-df['low']) if x>=0 else (df['cls']-df['low']))
    # df['LS'] = df['Gain'].apply(lambda x: df.assign(LS = lambda x: (x['open'] - x['low'])) if x>=0 else df.assign(LS = lambda x: (x['cls'] - x['low'])))
    df.to_csv("./{}.csv".format(s.strip()))

    


# df_gby

              Script_Name
0    3MINDIA
1    AAVAS
2    ABB
3    ABBOTINDIA
4    ABCAPITAL
..                    ...
245  YESBANK
246  ZEEL
247  ZFCVINDIA
248  ZOMATO
249  ZYDUSLIFE

[250 rows x 1 columns]

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = '3MINDIA' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,3MINDIA,2021-01-04,21288.00,21300.00,21065.00,3043,21154.65,-133.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3MINDIA,2021-01-05,21154.65,21899.00,21011.00,3048,21594.20,439.55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3MINDIA,2021-01-06,21775.00,22100.00,21200.00,8558,21458.40,-316.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3MINDIA,2021-01-07,21650.00,21700.00,21435.10,3515,21626.00,-24.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3MINDIA,2021-01-08,21553.00,21898.95,21331.00,15435,21735.40,182.40,21600.042654,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,3MINDIA,2022-12-20,23240.00,23240.00,22860.05,695,22917.90,-322.10,23085.290094,23129.685852,23152.226540,23210.536207,23231.517910,23236.192359,23268.669153,23052.779900,22856.962780,-83.965819
485,3MINDIA,2022-12-21,23139.00,23229.00,22750.00,6291,22873.60,-265.40,23014.726729,23078.468682,23109.360918,23179.905643,23203.985763,23209.333666,23253.176245,23049.231570,22857.129617,-99.972747
486,3MINDIA,2022-12-22,22993.00,22993.00,22500.00,4890,22622.50,-370.50,22883.984486,22987.274946,23034.459239,23129.232403,23159.256089,23165.864505,23228.443844,23040.780942,22854.776942,-131.405267
487,3MINDIA,2022-12-23,22622.50,23000.00,22150.00,2355,22424.25,-198.25,22730.739657,22874.669956,22940.580894,23065.143093,23102.717159,23110.930098,23196.906830,23028.571704,22850.460300,-170.349203
488,3MINDIA,2022-12-26,22255.00,22717.00,22150.00,1406,22386.80,131.80,22616.093105,22777.095965,22855.383834,23003.475539,23047.646608,23057.290831,23165.137935,23015.862635,22845.811802,-201.906997

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'AAVAS' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,AAVAS,2021-01-04,1748.80,1939.00,1673.60,79683,1867.05,118.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AAVAS,2021-01-05,1872.00,2117.95,1872.00,266074,2021.70,149.70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AAVAS,2021-01-06,2040.90,2053.00,1886.10,226683,1910.30,-130.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AAVAS,2021-01-07,1929.20,1930.00,1871.00,119379,1891.30,-37.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AAVAS,2021-01-08,1896.00,1948.00,1896.00,148479,1933.10,37.10,1923.581517,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,AAVAS,2022-12-20,1973.05,2029.90,1961.30,153377,1978.75,5.70,1970.907342,1959.689936,1954.172359,1950.688532,1953.354709,1954.286933,1988.972282,2061.811265,2177.619209,-0.114574
485,AAVAS,2022-12-21,1988.30,2000.00,1962.00,99122,1975.45,-12.85,1972.421561,1962.841949,1957.445842,1952.939574,1955.054346,1955.854568,1988.441996,2060.101038,2175.591863,1.591274
486,AAVAS,2022-12-22,1961.95,1982.45,1901.20,170388,1920.90,-41.05,1955.247708,1954.453559,1951.823405,1950.026886,1952.427089,1953.265340,1985.793290,2057.344419,2173.038020,-1.441936
487,AAVAS,2022-12-23,1903.40,1907.40,1865.00,50501,1871.95,-31.45,1927.481805,1937.952847,1939.535189,1942.928987,1946.236544,1947.241982,1981.328848,2053.673031,2170.019186,-7.706793
488,AAVAS,2022-12-26,1890.00,1915.00,1841.45,75661,1847.10,-42.90,1900.687870,1919.782278,1925.314390,1934.217261,1938.610656,1939.824057,1976.064971,2049.582244,2166.781710,-14.509667

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'ABB' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,ABB,2021-01-04,1239.10,1290.00,1235.00,99581,1262.90,23.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ABB,2021-01-05,1259.50,1305.00,1225.00,150290,1293.60,34.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ABB,2021-01-06,1295.00,1316.00,1291.00,108081,1297.65,2.65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ABB,2021-01-07,1302.00,1316.90,1291.25,109031,1302.65,0.65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ABB,2021-01-08,1307.55,1330.00,1300.00,285838,1315.00,7.45,1302.494313,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,ABB,2022-12-20,2893.10,2936.00,2880.30,380570,2924.85,31.75,2919.988446,2939.034280,2952.015549,2984.738675,2996.354704,2998.974044,3027.850582,2957.897374,2746.624846,-46.958495
485,ABB,2022-12-21,2930.00,2951.20,2831.20,195307,2841.00,-89.00,2893.658964,2919.427424,2934.936234,2971.671522,2984.404342,2987.272263,3020.523108,2955.582436,2747.571237,-52.336029
486,ABB,2022-12-22,2852.40,2852.40,2778.20,234442,2802.80,-49.60,2863.372643,2896.101939,2914.607583,2956.319566,2970.434777,2973.607651,3011.984947,2952.556863,2748.125027,-59.000068
487,ABB,2022-12-23,2780.00,2783.95,2666.25,209507,2680.75,-99.25,2802.498429,2853.031551,2878.629493,2931.267787,2948.151333,2951.914492,2998.995341,2947.174238,2747.449496,-73.284999
488,ABB,2022-12-26,2685.00,2744.65,2640.00,171579,2724.65,39.65,2776.548952,2827.355241,2854.940340,2912.484352,2930.958923,2935.080085,2988.236700,2942.767568,2747.220917,-80.139745

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'ABBOTINDIA' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,ABBOTINDIA,2021-01-04,15793.75,15862.90,15630.90,16723,15668.05,-125.70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ABBOTINDIA,2021-01-05,15668.00,15839.90,15551.90,22730,15605.70,-62.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ABBOTINDIA,2021-01-06,15689.25,15800.00,15483.55,15681,15550.95,-138.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ABBOTINDIA,2021-01-07,15664.30,15700.00,15400.00,19630,15435.95,-228.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ABBOTINDIA,2021-01-08,15549.90,15699.95,15445.05,13199,15496.05,-53.85,15515.550474,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,ABBOTINDIA,2022-12-20,20800.00,21001.25,20727.45,9476,20898.70,98.70,20760.158461,20646.205517,20568.964678,20348.502850,20255.740214,20233.310476,19806.153163,19325.762510,18866.807266,335.654201
485,ABBOTINDIA,2022-12-21,20890.00,21675.00,20830.50,41904,21548.50,658.50,21022.938974,20826.664414,20719.662420,20457.593500,20355.183274,20330.731923,19874.480491,19369.779757,18893.699192,388.930497
486,ABBOTINDIA,2022-12-22,21550.00,21975.00,21352.60,45140,21842.45,292.45,21296.109316,21029.821531,20892.398970,20583.489546,20469.588407,20442.711039,19951.655766,19418.746407,18923.266871,449.687931
487,ABBOTINDIA,2022-12-23,21776.05,22187.90,21678.00,36252,21797.25,21.20,21463.156211,21183.307225,21031.606821,20693.831405,20571.716222,20543.047259,20024.032010,19465.848205,18952.082623,488.559562
488,ABBOTINDIA,2022-12-26,21988.80,21988.80,21602.00,31853,21772.55,-216.25,21566.287474,21301.155780,21145.598079,20791.896732,20664.088051,20634.121536,20092.601344,19511.528052,18980.359650,511.476544

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'ABCAPITAL' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,ABCAPITAL,2021-01-04,89.85,91.50,88.30,4772934,89.35,-0.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ABCAPITAL,2021-01-05,88.20,90.80,87.60,3205184,89.65,1.45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ABCAPITAL,2021-01-06,89.60,90.50,87.30,2915411,88.55,-1.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ABCAPITAL,2021-01-07,89.35,93.50,88.55,7124276,92.90,3.55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ABCAPITAL,2021-01-08,93.70,94.20,91.55,4179333,92.40,-1.30,91.327014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,ABCAPITAL,2022-12-20,154.55,155.35,150.70,2237610,153.65,-0.90,154.246053,153.987402,152.963204,148.453508,146.406780,145.912076,136.431337,125.941541,118.556139,7.051128
485,ABCAPITAL,2022-12-21,154.40,155.50,147.65,4973655,148.60,-5.80,152.364035,152.909921,152.291942,148.466826,146.575489,146.111182,136.908539,126.390250,118.857418,6.180760
486,ABCAPITAL,2022-12-22,149.50,150.90,145.75,3926892,147.85,-1.65,150.859357,151.897937,151.608566,148.410751,146.673528,146.239983,137.337616,126.815221,119.148132,5.368583
487,ABCAPITAL,2022-12-23,145.65,146.95,142.90,4835266,143.35,-2.30,148.356238,150.188350,150.338018,147.950682,146.417872,146.025910,137.573396,127.142661,119.390790,4.312108
488,ABCAPITAL,2022-12-26,142.95,148.80,141.45,3449485,147.55,4.60,148.087492,149.660680,149.909092,147.914257,146.504959,146.138806,137.964635,127.546790,119.673105,3.770286

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'ABFRL' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,ABFRL,2021-01-04,168.50,168.65,164.10,1927284,166.80,-1.70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ABFRL,2021-01-05,164.40,167.30,163.50,1469231,166.95,2.55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ABFRL,2021-01-06,167.65,168.85,164.60,1567365,166.70,-0.95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ABFRL,2021-01-07,167.55,170.20,165.65,1830946,168.35,0.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ABFRL,2021-01-08,168.60,170.55,165.50,1879933,166.45,-2.15,167.062322,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,ABFRL,2022-12-20,307.20,307.70,301.40,1061847,304.15,-3.05,307.308058,309.073388,309.901728,312.118792,313.068966,313.292080,315.683115,310.220184,296.733379,-3.390353
485,ABFRL,2022-12-21,304.85,307.20,294.30,2120938,295.90,-8.95,303.505372,306.438710,307.747616,310.644356,311.748276,312.003778,314.907306,309.936599,296.725022,-4.256162
486,ABFRL,2022-12-22,296.15,300.45,291.00,2621871,292.40,-3.75,299.803581,303.630968,305.386444,308.985779,310.259947,310.551646,314.024667,309.589319,296.681654,-5.165202
487,ABFRL,2022-12-23,289.00,291.95,283.90,2194093,285.70,-3.30,295.102388,300.044775,302.357760,306.868890,308.370720,308.710784,312.913895,309.116236,296.571548,-6.353023
488,ABFRL,2022-12-26,284.25,293.05,282.80,1851215,288.70,4.45,292.968258,297.775820,300.256567,305.217172,306.857588,307.228503,311.964331,308.711931,296.492630,-6.971937

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'ACC' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,ACC,2021-01-04,1634.00,1649.00,1628.00,1446174,1641.40,7.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ACC,2021-01-05,1639.95,1655.25,1629.25,1229551,1645.30,5.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ACC,2021-01-06,1658.00,1679.00,1641.00,1755315,1674.45,16.45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ACC,2021-01-07,1691.25,1720.00,1683.20,2052711,1704.35,13.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ACC,2021-01-08,1720.00,1769.55,1713.05,2133816,1761.25,41.25,1709.601659,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,ACC,2022-12-20,2635.00,2635.00,2570.55,271075,2592.50,-42.50,2621.040487,2620.157308,2612.851225,2582.041663,2568.430899,2565.169503,2502.945532,2423.076748,2342.571788,47.681722
485,ACC,2022-12-21,2605.00,2635.00,2531.30,238252,2540.95,-64.05,2594.343658,2604.315846,2601.789498,2578.306057,2566.316984,2563.375466,2504.435903,2425.411012,2344.561119,38.414032
486,ACC,2022-12-22,2540.00,2578.00,2496.75,332075,2513.70,-26.30,2567.462439,2586.192677,2588.237268,2572.432779,2562.269524,2559.695802,2504.799201,2427.159412,2346.257106,28.541466
487,ACC,2022-12-23,2491.00,2500.00,2356.40,262926,2374.10,-116.90,2503.008292,2543.774142,2555.293073,2554.402527,2547.794945,2545.947965,2499.673742,2426.108670,2346.536270,9.345108
488,ACC,2022-12-26,2372.00,2448.50,2360.00,480611,2423.65,51.65,2476.555528,2519.749313,2535.040292,2542.515933,2538.245334,2536.888856,2496.692419,2426.059981,2347.309386,-1.848564

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'ADANIENT' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,ADANIENT,2021-01-04,492.0,502.60,486.65,4936582,494.50,2.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ADANIENT,2021-01-05,492.0,501.40,489.60,3654033,494.40,2.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ADANIENT,2021-01-06,496.0,500.65,484.25,3295461,490.90,-5.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ADANIENT,2021-01-07,493.9,523.95,493.80,9879731,518.10,24.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ADANIENT,2021-01-08,523.0,526.60,514.10,3702267,518.00,-5.00,508.935545,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,ADANIENT,2022-12-20,4095.0,4172.00,4066.40,3778426,4165.30,70.30,4079.636707,4051.137058,4034.889420,3985.678192,3961.465391,3955.245526,3796.980991,3470.620101,2991.710107,79.643894
485,ADANIENT,2022-12-21,4175.0,4190.00,3883.25,3585883,3901.95,-273.05,4020.407805,4021.299646,4014.437201,3978.066538,3956.887284,3951.297709,3801.097423,3479.161800,3000.837963,63.139492
486,ADANIENT,2022-12-22,3948.0,3948.00,3817.05,2879658,3868.55,-79.45,3969.788536,3990.749717,3991.993016,3968.110489,3950.092108,3945.168249,3803.742622,3486.872911,3009.538674,46.824767
487,ADANIENT,2022-12-23,3822.0,3848.00,3616.80,3036157,3642.20,-179.80,3860.592358,3921.039774,3938.178706,3938.482263,3926.408100,3922.726156,3797.407617,3489.948873,3015.882000,15.452550
488,ADANIENT,2022-12-26,3653.0,3744.90,3620.00,2162662,3716.75,63.75,3812.644905,3880.181819,3904.112751,3918.324784,3910.280554,3907.468663,3794.244573,3494.440238,3022.908659,-3.355912

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'ADANIGREEN' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,ADANIGREEN,2021-01-04,1088.40,1090.00,1071.20,360776,1082.25,-6.15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ADANIGREEN,2021-01-05,1070.20,1106.90,1065.00,526896,1096.45,26.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ADANIGREEN,2021-01-06,1100.00,1111.00,1080.00,427847,1107.25,7.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ADANIGREEN,2021-01-07,1113.70,1114.00,1051.90,1285732,1063.10,-50.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ADANIGREEN,2021-01-08,1071.00,1076.00,1009.95,1646213,1014.90,-56.10,1057.374882,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,ADANIGREEN,2022-12-20,2060.00,2069.00,2028.00,285591,2061.65,1.65,2049.262248,2046.091072,2046.906037,2055.606890,2060.814055,2062.172655,2093.015640,2116.416598,2051.817323,-15.266618
485,ADANIGREEN,2022-12-21,2070.95,2074.95,1919.05,592366,1968.25,-102.70,2022.258165,2030.522858,2034.805109,2047.665355,2053.693743,2055.215421,2088.122870,2113.482429,2050.979312,-20.410313
486,ADANIGREEN,2022-12-22,1980.00,2017.50,1930.00,724864,1980.75,0.75,2008.422110,2020.568286,2026.488938,2041.582141,2048.082686,2049.699464,2083.912169,2110.853910,2050.275110,-23.210526
487,ADANIGREEN,2022-12-23,1970.00,1970.00,1782.00,1242927,1809.05,-160.95,1941.964740,1978.264629,1993.036794,2020.442855,2029.695556,2031.873578,2073.133260,2104.877250,2047.856486,-38.836784
488,ADANIGREEN,2022-12-26,1809.05,1910.70,1755.00,1226600,1876.85,67.80,1920.259827,1957.981703,1975.161902,2007.388959,2017.938206,2020.390350,2065.435878,2100.361603,2046.142035,-45.228448

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'ADANIPORTS' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,ADANIPORTS,2021-01-04,507.0,510.90,495.20,9998803,498.90,-8.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ADANIPORTS,2021-01-05,498.9,504.50,492.00,5135408,499.45,0.55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ADANIPORTS,2021-01-06,501.8,504.95,489.50,5203982,496.80,-5.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ADANIPORTS,2021-01-07,500.1,520.90,499.50,10295126,513.85,13.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ADANIPORTS,2021-01-08,520.0,527.35,514.50,7272250,517.00,-3.00,509.378673,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,ADANIPORTS,2022-12-20,894.1,895.30,871.30,4023275,884.25,-9.85,884.425995,885.372091,885.447434,882.958021,881.194138,880.731416,869.213817,846.111059,814.486955,4.716018
485,ADANIPORTS,2022-12-21,887.0,893.00,851.55,4660583,857.65,-29.35,875.500663,879.827673,881.170906,880.657292,879.383050,879.021682,868.760334,846.339567,814.919792,2.149224
486,ADANIPORTS,2022-12-22,864.7,874.30,845.55,5517570,856.90,-7.80,869.300442,875.242138,877.436920,878.497538,877.653585,877.383038,868.295223,846.548697,815.340736,0.053882
487,ADANIPORTS,2022-12-23,853.0,853.95,790.20,9112806,794.10,-58.90,844.233628,859.013711,864.615856,870.825035,871.226386,871.213924,865.385607,845.510049,815.127767,-6.598069
488,ADANIPORTS,2022-12-26,798.0,812.00,785.30,7205540,806.05,8.05,831.505752,848.420969,855.605724,864.936395,866.212818,866.386967,863.058720,844.728617,815.036757,-10.781243

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'ADANITRANS' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,ADANITRANS,2021-01-04,437.25,445.45,435.10,454470,441.20,3.95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ADANITRANS,2021-01-05,441.00,443.90,436.00,399092,437.95,-3.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ADANITRANS,2021-01-06,441.00,459.80,437.70,1594908,454.25,13.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ADANITRANS,2021-01-07,457.00,462.30,451.60,1368304,454.65,-2.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ADANITRANS,2021-01-08,456.70,460.00,452.50,354700,454.75,-1.95,451.700711,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,ADANITRANS,2022-12-20,2686.00,2700.00,2641.25,208608,2688.35,2.35,2675.163558,2687.611515,2706.082624,2779.846621,2814.212002,2822.646350,2979.363074,3038.789693,2842.691114,-116.563726
485,ADANITRANS,2022-12-21,2688.45,2740.85,2600.00,393405,2615.75,-72.70,2655.359039,2673.239212,2692.185297,2764.928746,2798.945694,2807.320694,2965.103737,3030.412166,2840.415356,-115.135397
486,ADANITRANS,2022-12-22,2620.00,2645.95,2487.05,375524,2518.00,-102.00,2609.572692,2642.191370,2665.387559,2742.480678,2777.334487,2785.889531,2947.570257,3020.264793,2837.182437,-120.501973
487,ADANITRANS,2022-12-23,2496.00,2499.00,2240.85,693487,2270.20,-225.80,2496.448462,2567.793096,2604.589473,2699.546071,2738.324142,2747.690307,2921.006718,3005.411168,2831.497635,-143.100834
488,ADANITRANS,2022-12-26,2279.95,2493.05,2181.50,1209774,2466.15,186.20,2486.348974,2547.464477,2583.291093,2678.328246,2717.387669,2726.835469,2903.169199,2994.732125,2827.834786,-143.544377

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'AFFLE' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,AFFLE,2021-01-04,3885.00,4040.00,3866.00,100727,3958.55,73.55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AFFLE,2021-01-05,3958.00,4045.00,3900.00,91426,4005.90,47.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AFFLE,2021-01-06,4036.00,4038.00,3905.00,48697,3944.55,-91.45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AFFLE,2021-01-07,3955.00,4063.30,3915.00,65972,3946.30,-8.70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AFFLE,2021-01-08,3967.05,4010.05,3935.95,33515,3965.50,-1.55,3961.080095,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,AFFLE,2022-12-20,1070.00,1095.80,1060.00,284379,1067.75,-2.25,1099.891484,1127.278503,1141.939645,1167.631188,1174.187081,1175.556060,1191.318279,1197.467533,1336.773825,-33.616415
485,AFFLE,2022-12-21,1075.05,1094.95,1048.05,179998,1054.50,-20.55,1084.760989,1112.722802,1128.487392,1157.346534,1164.980383,1166.588944,1185.952856,1194.636323,1333.943192,-38.101552
486,AFFLE,2022-12-22,1054.50,1091.95,1020.50,288775,1069.10,14.60,1079.540659,1103.998242,1119.350870,1149.324122,1157.604969,1159.367541,1181.370391,1192.150309,1331.287560,-40.016671
487,AFFLE,2022-12-23,1059.95,1061.90,1012.00,342112,1022.50,-37.45,1060.527106,1087.698593,1104.450736,1137.794656,1147.212279,1149.229205,1175.140180,1188.790703,1328.191527,-44.778469
488,AFFLE,2022-12-26,1029.40,1056.05,1003.00,370291,1044.10,14.70,1055.051404,1078.978875,1095.166008,1129.276960,1139.280565,1141.441856,1170.001349,1185.925379,1325.343324,-46.275849

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'AIAENG' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,AIAENG,2021-01-04,1993.70,2050.15,1976.90,51394,2036.85,43.15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AIAENG,2021-01-05,2050.00,2050.90,1985.00,33328,2011.60,-38.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AIAENG,2021-01-06,2021.00,2021.55,1968.05,34882,1987.70,-33.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AIAENG,2021-01-07,1987.70,2010.10,1958.00,83202,1967.20,-20.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AIAENG,2021-01-08,1976.95,2014.00,1975.05,54808,2000.80,23.85,1993.927962,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,AIAENG,2022-12-20,2736.00,2768.00,2691.60,42620,2739.25,3.25,2726.516874,2731.353861,2731.506240,2722.726822,2717.033433,2715.532196,2674.271912,2567.418963,2389.119576,15.974044
485,AIAENG,2022-12-21,2740.00,2752.05,2682.00,41288,2710.90,-29.10,2721.311249,2727.263089,2728.336049,2721.651657,2716.561631,2715.189070,2675.708307,2570.260342,2392.346380,13.146979
486,AIAENG,2022-12-22,2699.00,2708.25,2620.10,48950,2648.70,-50.30,2697.107499,2711.550471,2716.084349,2715.019688,2711.341505,2710.263954,2674.649158,2571.813694,2394.916886,5.820396
487,AIAENG,2022-12-23,2624.65,2640.00,2531.30,45366,2569.55,-55.10,2654.588333,2683.150377,2693.540603,2701.795171,2700.434466,2699.840698,2670.527623,2571.768866,2396.667830,-6.300095
488,AIAENG,2022-12-26,2515.05,2619.00,2493.30,28176,2605.15,90.10,2638.108889,2667.550301,2679.942049,2693.009246,2693.104892,2692.826572,2667.963794,2572.429916,2398.758000,-12.884523

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'AJANTPHARM' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,AJANTPHARM,2021-01-04,1651.90,1674.90,1642.00,91174,1649.80,-2.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AJANTPHARM,2021-01-05,1645.00,1682.00,1642.05,85451,1670.95,25.95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AJANTPHARM,2021-01-06,1676.50,1710.00,1665.00,204496,1702.55,26.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AJANTPHARM,2021-01-07,1710.95,1789.95,1710.95,312286,1767.20,56.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AJANTPHARM,2021-01-08,1790.00,1834.00,1711.15,318431,1790.45,0.45,1745.244787,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,AJANTPHARM,2022-12-20,1178.10,1180.80,1150.25,45049,1164.90,-13.20,1183.560006,1196.499543,1203.599047,1218.422747,1223.337555,1224.467622,1246.930041,1306.951484,1451.540673,-20.868575
485,AJANTPHARM,2022-12-21,1168.50,1207.00,1151.05,83009,1171.80,3.30,1179.640004,1191.559634,1198.706886,1214.184315,1219.373128,1220.566317,1243.983765,1304.275056,1448.735442,-21.859431
486,AJANTPHARM,2022-12-22,1160.00,1251.00,1159.75,1093311,1227.40,67.40,1195.560003,1198.727707,1203.121211,1215.385741,1219.990580,1221.072515,1243.333421,1302.752688,1446.516070,-17.951304
487,AJANTPHARM,2022-12-23,1236.00,1248.00,1215.00,356466,1240.35,4.35,1210.490002,1207.052166,1208.848717,1217.655219,1221.556689,1222.500477,1243.216424,1301.516920,1444.448963,-13.651760
488,AJANTPHARM,2022-12-26,1236.05,1238.90,1179.00,134283,1186.40,-49.65,1202.460001,1202.921733,1205.395068,1214.813835,1218.852328,1219.826368,1240.988329,1299.237248,1441.861854,-14.431300

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'ALKEM' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,ALKEM,2021-01-04,2984.00,2984.00,2945.00,68870,2967.20,-16.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ALKEM,2021-01-05,2940.00,3030.90,2931.00,111953,2984.05,44.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ALKEM,2021-01-06,2999.95,3017.95,2972.00,110942,2984.50,-15.45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ALKEM,2021-01-07,2999.00,3020.00,2982.50,110616,3007.55,8.55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ALKEM,2021-01-08,3020.00,3068.80,3000.00,98299,3041.25,21.25,3010.821564,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,ALKEM,2022-12-20,2990.00,3041.00,2965.00,116933,3001.95,11.95,3035.652849,3057.924516,3068.319367,3088.546695,3095.032488,3096.486142,3117.333267,3136.092581,3183.604102,-28.166774
485,ALKEM,2022-12-21,3000.00,3071.95,2981.00,78443,3050.50,50.50,3040.601899,3056.439613,3065.577926,3085.087904,3091.606912,3093.079761,3114.712354,3134.397576,3182.269338,-27.501835
486,ALKEM,2022-12-22,3070.00,3119.80,3034.35,174047,3086.35,16.35,3055.851266,3062.421690,3068.773630,3085.202640,3091.202534,3092.581260,3113.600105,3133.446083,3181.307537,-23.807630
487,ALKEM,2022-12-23,3086.35,3107.10,3028.05,77893,3039.55,-46.80,3050.417511,3057.847352,3064.277687,3081.052400,3087.229262,3088.653018,3110.696179,3131.586647,3179.886217,-24.375332
488,ALKEM,2022-12-26,3046.20,3099.95,2985.10,92510,3081.10,34.90,3060.645007,3062.497882,3066.865735,3081.056727,3086.757780,3088.093536,3109.535545,3130.586855,3178.895821,-21.227801

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'ALKYLAMINE' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,ALKYLAMINE,2021-01-04,3940.0,4625.00,3880.00,365291,4447.30,507.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ALKYLAMINE,2021-01-05,4580.0,5250.00,4568.85,1027131,5142.85,562.85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ALKYLAMINE,2021-01-06,5200.0,5610.00,4952.00,1059873,5095.30,-104.70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ALKYLAMINE,2021-01-07,5138.7,5245.00,4735.05,188093,4795.85,-342.85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ALKYLAMINE,2021-01-08,4830.0,4914.70,4690.45,60588,4830.60,0.60,4873.319905,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,ALKYLAMINE,2022-12-20,2752.0,2780.25,2740.00,17730,2743.50,-8.50,2766.101130,2777.921434,2785.016985,2804.551648,2812.543157,2814.455475,2848.292168,2880.999259,2984.802436,-29.438490
485,ALKYLAMINE,2022-12-21,2743.5,2764.20,2711.00,20290,2723.50,-20.00,2751.900753,2767.037147,2775.552833,2797.183317,2805.693683,2807.718032,2843.398358,2877.880275,2982.182103,-32.165199
486,ALKYLAMINE,2022-12-22,2797.0,2829.00,2699.90,68097,2708.60,-88.40,2737.467169,2755.349718,2765.252397,2789.130288,2798.224938,2800.375956,2838.112148,2874.527993,2979.438844,-35.123558
487,ALKYLAMINE,2022-12-23,2680.0,2705.00,2600.00,45115,2613.10,-66.90,2696.011446,2726.899774,2741.844336,2773.127534,2783.984558,2786.503663,2829.288142,2869.350902,2975.765778,-44.659327
488,ALKYLAMINE,2022-12-26,2613.1,2701.30,2600.05,42712,2692.80,79.70,2694.940964,2720.079819,2734.299054,2765.825031,2776.970362,2779.562651,2823.935666,2865.854647,2972.928862,-45.263597

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'AMBUJACEM' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,AMBUJACEM,2021-01-04,252.90,253.80,250.00,4860584,252.90,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AMBUJACEM,2021-01-05,252.00,256.65,250.45,9383253,254.20,2.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AMBUJACEM,2021-01-06,255.40,262.00,253.25,8653520,261.10,5.70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AMBUJACEM,2021-01-07,265.00,267.10,261.20,7685276,263.00,-2.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AMBUJACEM,2021-01-08,265.00,271.40,264.30,8135272,269.95,4.95,263.577014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,AMBUJACEM,2022-12-20,563.90,565.00,554.10,2314297,560.10,-3.80,564.935435,568.837665,570.058820,569.118531,567.416469,566.909236,549.362445,509.084538,460.289541,3.149584
485,AMBUJACEM,2022-12-21,562.00,564.00,532.20,6698446,539.20,-22.80,556.356957,562.910132,565.311309,566.398665,565.245972,564.856700,548.963918,509.680920,461.080853,0.454609
486,AMBUJACEM,2022-12-22,543.50,544.60,525.25,7913985,532.85,-10.65,548.521305,556.898106,560.317261,563.348786,562.753974,562.485833,548.331999,510.139740,461.800496,-2.168572
487,AMBUJACEM,2022-12-23,528.95,531.80,486.00,10542194,491.25,-37.70,529.430870,543.768485,549.691529,556.794351,557.253668,557.209105,546.093490,509.765664,462.095769,-7.517576
488,AMBUJACEM,2022-12-26,493.95,522.35,489.90,8583591,514.15,20.20,524.337246,537.844788,544.223601,552.917592,553.938001,554.019542,544.840804,509.852488,462.617646,-9.795940

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'APLAPOLLO' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,APLAPOLLO,2021-01-04,864.00,897.00,862.10,567588,891.05,27.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,APLAPOLLO,2021-01-05,884.40,886.50,861.10,311347,879.45,-4.95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,APLAPOLLO,2021-01-06,888.95,899.00,879.50,762569,891.65,2.70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,APLAPOLLO,2021-01-07,895.00,921.00,885.90,444727,915.10,20.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,APLAPOLLO,2021-01-08,922.00,967.90,918.95,1526888,962.10,40.10,923.263033,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,APLAPOLLO,2022-12-20,1124.85,1145.00,1111.90,342002,1139.45,14.60,1136.061246,1137.843024,1136.630631,1129.347247,1125.926443,1125.085555,1105.632841,1069.452804,1041.059923,11.545077
485,APLAPOLLO,2022-12-21,1148.00,1152.45,1100.00,394645,1108.95,-39.05,1127.024164,1132.064419,1132.372073,1127.492952,1124.620563,1123.890328,1105.762926,1070.234973,1041.740722,8.481744
486,APLAPOLLO,2022-12-22,1100.00,1115.35,1050.00,327471,1061.75,-38.25,1105.266109,1118.001535,1121.507138,1121.516320,1119.784366,1119.287341,1104.036929,1070.066944,1041.941359,2.219797
487,APLAPOLLO,2022-12-23,1061.95,1065.75,1018.65,406177,1038.30,-23.65,1082.944073,1102.061228,1108.706040,1113.951200,1113.516338,1113.288279,1101.459010,1069.437859,1041.904849,-4.582239
488,APLAPOLLO,2022-12-26,1028.00,1084.00,1023.15,366807,1058.50,30.50,1074.796049,1093.348982,1100.982034,1108.910182,1109.284312,1109.229888,1099.774343,1069.221256,1042.071227,-8.247854

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'APLLTD' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,APLLTD,2021-01-04,1045.00,1067.90,1031.20,173998,1062.70,17.70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,APLLTD,2021-01-05,1062.70,1094.95,1057.25,266534,1090.80,28.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,APLLTD,2021-01-06,1104.40,1108.00,1054.80,237232,1070.30,-34.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,APLLTD,2021-01-07,1076.50,1084.00,1064.15,216182,1075.85,-0.65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,APLLTD,2021-01-08,1084.90,1109.55,1074.50,251242,1092.90,8.00,1082.151659,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,APLLTD,2022-12-20,576.00,583.50,573.95,25467,576.70,0.70,583.375115,587.446394,589.765094,594.484184,595.822451,596.119361,603.313448,625.348645,667.043241,-6.354266
485,APLLTD,2022-12-21,579.70,604.75,575.80,155414,597.95,18.25,588.233410,589.547115,591.024311,594.799258,595.986109,596.254964,603.103117,624.806065,666.350376,-5.230653
486,APLLTD,2022-12-22,600.95,602.80,588.00,56844,589.00,-11.95,588.488940,589.437692,590.712878,594.272053,595.448716,595.717559,602.550054,624.096992,665.574769,-5.004681
487,APLLTD,2022-12-23,586.00,600.00,574.55,96912,580.05,-5.95,585.675960,587.560154,589.072435,592.979139,594.264199,594.556999,601.667698,623.224724,664.717262,-5.484564
488,APLLTD,2022-12-26,585.00,592.50,579.55,72330,586.40,1.40,585.917307,587.328123,588.661292,592.381035,593.659261,593.952777,601.068965,622.495481,663.932081,-5.291485

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'APOLLOHOSP' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,APOLLOHOSP,2021-01-04,2418.10,2429.00,2398.25,527018,2409.25,-8.85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,APOLLOHOSP,2021-01-05,2405.00,2515.85,2385.80,1720467,2509.45,104.45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,APOLLOHOSP,2021-01-06,2522.00,2538.85,2481.00,1108589,2502.15,-19.85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,APOLLOHOSP,2021-01-07,2502.15,2564.00,2500.00,1014690,2508.55,6.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,APOLLOHOSP,2021-01-08,2533.90,2579.00,2515.70,862326,2553.50,19.60,2517.286256,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,APOLLOHOSP,2022-12-20,4610.35,4616.45,4540.25,282355,4596.65,-13.70,4619.520941,4644.701514,4653.004188,4643.955196,4633.038753,4630.073244,4555.503902,4446.446898,4371.640861,22.930944
485,APOLLOHOSP,2022-12-21,4610.80,4788.45,4602.20,877375,4766.20,155.40,4668.413961,4669.001211,4670.418929,4655.068360,4643.281926,4640.156708,4563.766494,4452.779023,4375.597487,30.262221
486,APOLLOHOSP,2022-12-22,4795.00,4848.80,4725.00,902304,4781.70,-13.30,4706.175974,4691.540969,4687.539093,4666.580327,4653.929470,4650.641396,4572.312906,4459.292693,4379.669553,36.897698
487,APOLLOHOSP,2022-12-23,4765.70,4805.00,4686.35,473498,4700.15,-65.55,4704.167316,4693.262775,4689.479233,4669.632116,4657.484895,4654.308700,4577.326126,4464.062419,4382.882823,35.170533
488,APOLLOHOSP,2022-12-26,4723.70,4740.00,4652.50,247357,4684.05,-39.65,4697.461544,4691.420220,4688.643966,4670.942833,4659.528365,4656.511759,4581.511376,4468.418856,4385.902221,32.132207

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'APOLLOTYRE' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,APOLLOTYRE,2021-01-04,181.90,189.70,180.50,12369742,188.60,6.70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,APOLLOTYRE,2021-01-05,186.60,188.45,184.20,8902841,187.00,0.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,APOLLOTYRE,2021-01-06,187.50,189.70,183.75,6428061,186.40,-1.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,APOLLOTYRE,2021-01-07,187.95,194.35,187.20,9759532,190.75,2.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,APOLLOTYRE,2021-01-08,194.00,196.55,191.75,9558639,192.60,-1.40,190.128436,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,APOLLOTYRE,2022-12-20,324.50,328.85,319.00,2233392,327.40,2.90,323.920420,321.456665,319.451603,313.473539,311.078180,310.505194,298.472138,278.333906,255.619158,8.946409
485,APOLLOTYRE,2022-12-21,329.00,330.50,317.70,4263341,319.00,-10.00,322.280280,320.965332,319.382126,313.975944,311.687551,311.134439,299.277152,279.139224,256.254739,8.247687
486,APOLLOTYRE,2022-12-22,319.00,323.45,313.60,2038444,316.30,-2.70,320.286853,320.032266,318.907953,314.187222,312.042355,311.517073,299.944714,279.875124,256.856824,7.390880
487,APOLLOTYRE,2022-12-23,313.60,314.75,306.70,3345847,308.15,-5.45,316.241235,317.655813,317.252883,313.638384,311.742943,311.267660,300.266490,280.435055,257.371111,5.985223
488,APOLLOTYRE,2022-12-26,306.50,321.40,305.10,3012205,320.35,13.85,317.610824,318.194650,317.729363,314.248531,312.405024,311.940426,301.054079,281.225495,258.002515,5.788936

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'ASHOKLEY' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,ASHOKLEY,2021-01-04,99.95,105.75,99.50,70313274,104.05,4.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ASHOKLEY,2021-01-05,103.80,105.15,102.45,27304287,104.75,0.95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ASHOKLEY,2021-01-06,104.95,106.75,103.45,30608984,105.10,0.15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ASHOKLEY,2021-01-07,107.00,111.80,106.75,53238040,111.05,4.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ASHOKLEY,2021-01-08,112.30,113.75,111.05,40182892,112.80,0.50,109.459242,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,ASHOKLEY,2022-12-20,144.15,145.65,142.40,9473904,145.10,0.95,144.220012,144.500887,144.774231,145.519116,145.826632,145.902048,147.301536,147.009506,143.043029,-1.127817
485,ASHOKLEY,2022-12-21,145.85,146.00,141.80,14425614,142.90,-2.95,143.780008,144.180709,144.485888,145.281015,145.601506,145.679674,147.128927,146.928125,143.041595,-1.193786
486,ASHOKLEY,2022-12-22,142.90,143.70,140.65,8520947,142.45,-0.45,143.336672,143.834568,144.172675,145.023650,145.359083,145.440439,146.945439,146.839444,143.035662,-1.267764
487,ASHOKLEY,2022-12-23,141.00,141.45,137.30,8960739,137.85,-3.15,141.507781,142.637654,143.199955,144.371500,144.781461,144.878184,146.588755,146.661425,142.983669,-1.678229
488,ASHOKLEY,2022-12-26,137.85,142.15,135.20,8015932,141.30,3.45,141.438521,142.370123,142.907655,144.092273,144.513656,144.613134,146.381353,146.555252,142.966789,-1.705479

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'ASIANPAINT' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,ASIANPAINT,2021-01-04,2781.10,2791.10,2745.00,1360486,2753.70,-27.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ASIANPAINT,2021-01-05,2753.70,2804.60,2732.00,1299589,2793.85,40.15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ASIANPAINT,2021-01-06,2801.30,2822.45,2780.00,1697884,2805.35,4.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ASIANPAINT,2021-01-07,2801.00,2831.85,2781.50,1142806,2792.25,-8.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ASIANPAINT,2021-01-08,2818.00,2849.80,2789.05,1660967,2844.70,26.70,2811.878673,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,ASIANPAINT,2022-12-20,3075.05,3088.65,3018.00,739257,3082.15,7.10,3100.837611,3121.010357,3128.248596,3136.115310,3138.825963,3139.582705,3160.390299,3170.525451,3150.593473,-11.334109
485,ASIANPAINT,2022-12-21,3085.00,3112.45,3050.05,616324,3069.65,-15.35,3090.441741,3110.738286,3119.233427,3130.073009,3133.504735,3134.402505,3156.831856,3168.527797,3149.781775,-15.169077
486,ASIANPAINT,2022-12-22,3074.00,3093.50,3038.05,663202,3088.55,14.55,3089.811160,3106.300629,3114.512900,3126.298190,3130.046679,3131.006023,3154.154136,3166.943985,3149.167792,-16.493123
487,ASIANPAINT,2022-12-23,3078.95,3086.85,3036.00,1230858,3057.90,-21.05,3079.174107,3096.620503,3105.803223,3120.080173,3124.496934,3125.590762,3150.379464,3164.784574,3148.252703,-19.787539
488,ASIANPAINT,2022-12-26,3057.90,3071.90,3028.80,536884,3056.05,-1.85,3071.466071,3088.506402,3098.148881,3114.259248,3119.231785,3120.439594,3146.680269,3162.631292,3147.328311,-22.290713

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'ASTRAL' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,ASTRAL,2021-01-04,1760.00,1803.05,1740.00,128948,1795.30,35.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ASTRAL,2021-01-05,1784.00,1793.65,1760.00,88737,1775.50,-8.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ASTRAL,2021-01-06,1783.50,1798.00,1702.05,140067,1726.50,-57.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ASTRAL,2021-01-07,1747.30,1776.80,1711.00,107222,1722.35,-24.95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ASTRAL,2021-01-08,1739.50,1785.00,1725.00,533530,1762.70,23.20,1750.125118,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,ASTRAL,2022-12-20,2029.00,2042.80,1986.15,359347,2007.55,-21.45,2041.547776,2042.795085,2036.747401,2023.145575,2021.795430,2021.803031,2033.558378,2033.734232,2023.049846,14.944370
485,ASTRAL,2022-12-21,2015.00,2034.90,1955.00,242750,1962.40,-52.60,2015.165184,2026.716068,2025.309339,2017.623250,2017.226551,2017.402807,2030.767853,2032.321588,2022.441652,7.906533
486,ASTRAL,2022-12-22,1974.50,1974.50,1918.35,398633,1966.15,-8.35,1998.826789,2014.602854,2016.207902,2012.943863,2013.297585,2013.606302,2028.233820,2031.011183,2021.877205,2.601600
487,ASTRAL,2022-12-23,1951.05,1951.05,1881.50,375638,1894.30,-56.75,1963.984526,1990.542283,1997.452840,2002.158058,2004.143925,2004.768798,2022.981513,2028.303874,2020.598063,-7.315958
488,ASTRAL,2022-12-26,1894.30,1970.95,1876.00,331173,1960.15,65.85,1962.706351,1984.463827,1991.713942,1998.339143,2000.759777,2001.463702,2020.517532,2026.954216,2019.992031,-9.749760

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'ATGL' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,ATGL,2021-01-13,367.30,369.90,355.10,1171644,363.80,-3.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ATGL,2021-01-14,364.60,364.60,353.00,949106,361.10,-3.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ATGL,2021-01-15,360.50,368.00,357.35,1026453,359.95,-0.55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ATGL,2021-01-18,362.00,362.10,341.00,956310,352.25,-9.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ATGL,2021-01-19,349.95,360.85,349.30,903527,358.70,8.75,357.922275,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
477,ATGL,2022-12-20,3634.45,3634.45,3563.20,195335,3614.20,-20.25,3600.322483,3605.505108,3611.645656,3620.319479,3618.560002,3617.706739,3568.003957,3380.384672,2992.283941,-6.061083
478,ATGL,2022-12-21,3619.95,3673.65,3475.00,328200,3544.70,-75.25,3581.781656,3593.344086,3601.346324,3613.444981,3612.878464,3612.298833,3567.090077,3383.638665,2997.826690,-10.952508
479,ATGL,2022-12-22,3545.00,3584.00,3410.30,239705,3551.55,6.55,3571.704437,3584.985269,3593.685351,3607.818165,3608.160890,3607.798919,3566.480662,3386.963867,3003.382092,-14.113568
480,ATGL,2022-12-23,3503.50,3551.00,3176.00,417221,3232.60,-270.90,3458.669625,3514.508215,3538.133759,3573.707422,3579.271590,3580.006407,3553.387302,3383.906954,3005.681603,-41.872648
481,ATGL,2022-12-26,3239.95,3359.70,3100.10,230869,3311.70,71.75,3409.679750,3473.946572,3503.297796,3549.888566,3558.689160,3560.131858,3543.909369,3382.477021,3008.751324,-56.834062

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'ATUL' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,ATUL,2021-01-04,6428.00,6468.00,6390.00,25320,6456.80,28.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ATUL,2021-01-05,6448.00,6744.95,6401.00,57978,6583.80,135.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ATUL,2021-01-06,6640.00,6681.65,6554.80,38716,6578.25,-61.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ATUL,2021-01-07,6615.25,6620.00,6534.00,41095,6559.60,-55.65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ATUL,2021-01-08,6590.00,6679.90,6590.00,97592,6640.55,50.55,6588.814929,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,ATUL,2022-12-20,8130.00,8250.00,8017.55,14889,8235.85,105.85,8181.958509,8231.353340,8258.693348,8304.788987,8321.782905,8326.134399,8433.014591,8576.639223,8711.603739,-67.441051
485,ATUL,2022-12-21,8250.00,8295.00,8042.35,36498,8111.65,-138.35,8158.522339,8207.412672,8236.071294,8287.230897,8305.618835,8310.246665,8420.412058,8567.430963,8705.587422,-74.175371
486,ATUL,2022-12-22,8150.00,8200.00,8048.50,22397,8113.60,-36.40,8143.548226,8188.650138,8217.229557,8271.446270,8290.848156,8295.680246,8408.380213,8558.443682,8699.651453,-78.450689
487,ATUL,2022-12-23,8113.60,8113.60,7820.20,45675,7845.30,-268.30,8044.132151,8119.980110,8160.009625,8232.705700,8256.575221,8262.318746,8386.298636,8544.321210,8691.085370,-102.309121
488,ATUL,2022-12-26,7859.95,8032.00,7800.10,28902,7885.55,25.60,7991.271434,8073.094088,8117.785067,8201.146091,8228.034819,8234.409950,8366.661434,8531.275498,8683.009352,-116.624883

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'AUBANK' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,AUBANK,2021-01-04,890.00,891.75,868.00,1346862,883.25,-6.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AUBANK,2021-01-05,889.55,890.00,872.50,766652,884.65,-4.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AUBANK,2021-01-06,893.00,897.00,873.00,1308275,889.55,-3.45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AUBANK,2021-01-07,893.95,900.00,881.15,577897,888.00,-5.95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AUBANK,2021-01-08,899.00,916.30,887.90,987790,893.60,-5.40,889.672986,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,AUBANK,2022-12-20,667.25,684.40,667.25,1910526,676.40,9.15,671.689689,668.573008,665.522698,656.306282,652.842158,652.054611,642.996803,676.469879,785.566519,13.468088
485,AUBANK,2022-12-21,681.95,682.00,663.80,1296136,670.10,-11.85,671.159793,668.878407,666.226899,657.560256,654.169684,653.391306,644.059673,676.343735,784.408625,12.835593
486,AUBANK,2022-12-22,671.00,675.80,661.60,1375529,671.50,0.50,671.273195,669.402725,667.038145,658.827506,655.502786,654.732691,645.135765,676.247814,783.276469,12.305454
487,AUBANK,2022-12-23,661.50,670.00,642.00,2087464,644.30,-17.20,662.282130,664.382180,663.539969,657.506823,654.641033,653.959899,645.102990,675.615147,781.883033,9.580070
488,AUBANK,2022-12-26,641.00,663.10,637.70,705455,655.05,14.05,659.871420,662.515744,662.233820,657.283476,654.672492,654.040647,645.493068,675.207894,780.611449,8.193173

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'AUROPHARMA' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,AUROPHARMA,2021-01-04,936.10,970.00,926.65,4065761,965.75,29.65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AUROPHARMA,2021-01-05,966.00,996.85,961.00,5432632,979.35,13.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AUROPHARMA,2021-01-06,979.90,983.60,954.45,2720088,968.85,-11.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AUROPHARMA,2021-01-07,970.70,977.55,954.50,1797121,957.45,-13.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AUROPHARMA,2021-01-08,957.00,967.00,940.60,2685467,945.45,-11.55,957.908768,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,AUROPHARMA,2022-12-20,437.70,440.90,434.45,1170207,438.45,0.75,442.993319,447.756983,450.890508,460.039428,463.944570,464.892032,483.733378,510.311963,555.164640,-14.001524
485,AUROPHARMA,2022-12-21,439.45,457.00,439.45,2449850,453.60,14.15,446.528879,448.925586,451.307353,459.454026,463.148834,464.055585,482.551676,509.188887,554.146153,-12.748232
486,AUROPHARMA,2022-12-22,458.00,459.20,443.50,1734348,446.50,-11.50,446.519253,448.440469,450.567760,458.276387,461.868154,462.755171,481.137885,507.947450,553.066765,-12.187411
487,AUROPHARMA,2022-12-23,446.50,454.45,435.90,1866834,437.50,-9.00,443.512835,446.252375,448.557336,456.387625,459.993681,460.884418,479.426596,506.552370,551.908045,-12.327082
488,AUROPHARMA,2022-12-26,439.45,442.10,434.40,1147182,437.20,-2.25,441.408557,444.441900,446.810053,454.643295,458.240321,459.130017,477.770651,505.178978,550.758022,-12.319964

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'AXISBANK' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,AXISBANK,2021-01-04,627.80,633.00,621.30,14068156,624.70,-3.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AXISBANK,2021-01-05,618.00,667.90,618.00,37973963,664.45,46.45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AXISBANK,2021-01-06,662.00,667.15,649.15,20829645,654.25,-7.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AXISBANK,2021-01-07,659.00,676.50,659.00,17887570,671.10,12.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AXISBANK,2021-01-08,678.00,678.85,668.50,12272794,672.70,-5.30,664.564455,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,AXISBANK,2022-12-20,943.75,952.75,940.45,9511818,949.75,6.00,943.006484,936.771927,931.655885,917.168254,911.223436,909.772485,878.151841,831.568974,789.642157,21.883401
485,AXISBANK,2022-12-21,953.10,958.90,928.00,8368960,932.30,-20.80,939.437656,935.877542,931.754980,918.543867,912.844710,911.441189,880.275298,833.563768,791.072725,20.313790
486,AXISBANK,2022-12-22,936.00,936.00,912.95,9202717,919.55,-16.45,932.808437,932.612033,929.877291,918.635334,913.360502,912.041842,881.815483,835.266566,792.360991,17.835449
487,AXISBANK,2022-12-23,912.00,917.25,904.00,6371695,906.60,-5.40,924.072292,927.409627,926.296169,917.541213,912.840463,911.638743,882.787425,836.679190,793.506399,14.657426
488,AXISBANK,2022-12-26,908.00,932.95,905.10,4764440,928.70,20.70,925.614861,927.667701,926.665989,918.555648,914.060427,912.902540,884.587918,838.501488,794.861803,13.763450

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'BAJAJ-AUTO' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,BAJAJ-AUTO,2021-01-04,3490.00,3528.00,3465.00,647829,3522.45,32.45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BAJAJ-AUTO,2021-01-05,3500.25,3505.00,3475.00,561562,3492.65,-7.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BAJAJ-AUTO,2021-01-06,3492.65,3527.00,3435.90,591620,3462.70,-29.95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BAJAJ-AUTO,2021-01-07,3500.00,3507.35,3428.25,531361,3437.95,-62.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BAJAJ-AUTO,2021-01-08,3469.00,3544.60,3438.05,675643,3529.15,60.15,3489.812559,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,BAJAJ-AUTO,2022-12-20,3634.00,3634.00,3581.40,152284,3613.60,-20.40,3613.038217,3620.770039,3626.735374,3640.748589,3645.540271,3646.673252,3672.948058,3708.842960,3719.114757,-19.937878
485,BAJAJ-AUTO,2022-12-21,3615.00,3657.15,3592.60,149348,3611.05,-3.95,3612.375478,3618.826031,3624.322239,3638.048717,3642.887173,3644.034492,3670.520683,3706.906350,3718.031087,-19.712253
486,BAJAJ-AUTO,2022-12-22,3629.15,3647.90,3581.55,158182,3600.85,-28.30,3608.533652,3615.230825,3620.711126,3634.667016,3639.653544,3640.835641,3667.788499,3704.806101,3716.856090,-20.124515
487,BAJAJ-AUTO,2022-12-23,3580.00,3600.00,3533.00,122024,3541.80,-38.20,3586.289101,3600.544660,3608.570952,3626.224560,3632.126349,3633.499668,3662.847774,3701.578071,3715.100905,-24.928715
488,BAJAJ-AUTO,2022-12-26,3542.00,3574.80,3524.05,140091,3552.20,10.20,3574.926067,3590.875728,3599.898498,3619.495054,3625.978168,3627.477470,3658.508646,3698.619922,3713.467717,-27.578972

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'BAJAJFINSV' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,BAJAJFINSV,2021-01-04,894.000,906.50,884.175,613306,889.875,-4.125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BAJAJFINSV,2021-01-05,890.005,892.00,873.695,486214,882.085,-7.920,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BAJAJFINSV,2021-01-06,890.000,890.00,863.600,599193,878.635,-11.365,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BAJAJFINSV,2021-01-07,882.000,906.90,881.200,601648,898.800,16.800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BAJAJFINSV,2021-01-08,903.600,926.50,894.800,824261,917.160,13.560,899.829668,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
694,BAJAJFINSV,2022-12-20,1614.950,1618.50,1593.050,866377,1615.650,0.700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
695,BAJAJFINSV,2022-12-21,1618.500,1629.25,1575.500,1397725,1581.800,-36.700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
696,BAJAJFINSV,2022-12-22,1586.100,1594.20,1530.000,2100618,1544.300,-41.800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
697,BAJAJFINSV,2022-12-23,1524.300,1543.30,1492.000,1673592,1497.050,-27.250,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
698,BAJAJFINSV,2022-12-26,1496.900,1544.95,1483.150,1329547,1535.000,38.100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'BAJAJHLDNG' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,BAJAJHLDNG,2021-01-04,3139.95,3152.50,3120.35,37409,3142.60,2.65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BAJAJHLDNG,2021-01-05,3142.25,3142.25,3050.00,30128,3110.85,-31.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BAJAJHLDNG,2021-01-06,3067.00,3137.00,3067.00,31359,3108.75,41.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BAJAJHLDNG,2021-01-07,3129.95,3140.00,3114.90,17953,3128.05,-1.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BAJAJHLDNG,2021-01-08,3150.00,3150.00,3124.00,44992,3131.30,-18.70,3125.151659,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,BAJAJHLDNG,2022-12-20,6118.00,6198.00,6090.10,92025,6173.60,55.60,6160.665619,6185.038212,6207.400260,6276.738731,6302.058414,6307.578107,6343.852815,6159.408475,5788.433524,-100.177848
485,BAJAJHLDNG,2022-12-21,6173.00,6225.00,6090.00,18031,6127.45,-45.55,6149.593746,6173.520569,6195.100220,6263.167028,6288.626998,6294.235285,6335.366430,6158.775596,5791.833170,-99.135065
486,BAJAJHLDNG,2022-12-22,6147.00,6199.95,6070.20,32874,6144.20,-2.80,6147.795831,6167.656456,6187.269417,6252.351843,6277.517229,6283.121560,6327.869707,6158.486953,5795.366419,-95.852143
487,BAJAJHLDNG,2022-12-23,6099.00,6129.85,5706.35,44001,5798.95,-300.05,6031.513887,6093.915164,6127.527968,6211.133494,6240.704365,6247.257000,6307.127758,6151.366999,5795.402349,-119.729032
488,BAJAJHLDNG,2022-12-26,5799.75,5878.10,5700.00,32888,5786.40,-13.35,5949.809258,6032.412132,6075.046742,6172.521358,6205.757875,6213.119444,6286.707061,6144.139521,5795.312095,-138.072702

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'BAJFINANCE' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,BAJFINANCE,2021-01-04,5324.00,5324.00,5196.20,2333659,5216.20,-107.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BAJFINANCE,2021-01-05,5218.00,5224.20,5062.50,3953400,5119.00,-99.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BAJFINANCE,2021-01-06,5130.00,5168.35,4990.30,3607923,5030.30,-99.70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BAJFINANCE,2021-01-07,5065.00,5131.55,5021.30,3035750,5081.00,16.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BAJFINANCE,2021-01-08,5130.00,5138.75,5042.00,2998451,5082.00,-48.00,5087.308057,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,BAJFINANCE,2022-12-20,6660.00,6698.85,6585.00,607716,6642.85,-17.15,6637.571034,6635.937996,6645.244082,6697.803222,6724.738837,6731.386599,6844.837255,6868.614865,6814.374445,-86.142517
485,BAJFINANCE,2022-12-21,6693.90,6693.90,6505.00,622390,6526.70,-167.20,6600.614022,6614.090397,6627.006531,6682.248383,6709.505081,6716.224629,6832.361284,6861.843867,6811.489655,-89.218098
486,BAJFINANCE,2022-12-22,6570.00,6575.00,6407.00,849706,6490.65,-79.35,6563.959348,6589.402318,6606.028603,6664.830348,6692.670074,6699.515397,6818.960841,6854.493060,6808.272535,-93.486794
487,BAJFINANCE,2022-12-23,6450.00,6466.00,6340.05,994303,6374.60,-75.40,6500.839566,6546.441854,6570.424203,6638.445771,6668.203146,6675.447590,6801.534926,6844.989679,6803.924354,-105.023387
488,BAJFINANCE,2022-12-26,6374.65,6469.90,6300.00,530535,6433.70,59.05,6478.459710,6523.893483,6549.389710,6619.832519,6650.164442,6657.540361,6787.110027,6836.844869,6800.212613,-108.150651

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'BALKRISIND' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,BALKRISIND,2021-01-04,1640.50,1682.00,1617.00,774689,1674.75,34.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BALKRISIND,2021-01-05,1650.00,1688.35,1644.75,497932,1681.45,31.45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BALKRISIND,2021-01-06,1681.95,1693.50,1656.10,386405,1679.30,-2.65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BALKRISIND,2021-01-07,1678.50,1708.20,1661.50,630050,1667.70,-10.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BALKRISIND,2021-01-08,1667.70,1733.45,1665.10,834793,1721.85,54.15,1692.565166,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,BALKRISIND,2022-12-20,2130.00,2156.70,2110.05,135732,2142.80,12.80,2129.983223,2113.990856,2102.053241,2070.749736,2059.706412,2057.234713,2026.285665,2034.551953,2075.025025,44.818528
485,BALKRISIND,2022-12-21,2145.45,2182.50,2128.15,500211,2133.95,-11.50,2131.305482,2117.982685,2106.960434,2076.495214,2065.417457,2062.917327,2030.507796,2036.520349,2075.615923,44.043108
486,BALKRISIND,2022-12-22,2137.00,2169.00,2115.00,342093,2152.65,15.65,2138.420321,2124.916148,2113.989598,2083.418377,2072.127652,2069.564191,2035.297686,2038.820082,2076.388358,44.425407
487,BALKRISIND,2022-12-23,2130.00,2138.95,2055.40,341079,2073.70,-56.30,2116.846881,2114.672918,2107.791199,2082.534888,2072.248602,2069.870547,2036.803659,2039.510813,2076.361403,37.920651
488,BALKRISIND,2022-12-26,2073.10,2117.55,2059.00,133092,2088.40,15.30,2107.364587,2109.418335,2104.807937,2083.068080,2073.491017,2071.243100,2038.827045,2040.478970,2076.482098,33.564838

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'BANDHANBNK' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,BANDHANBNK,2021-01-04,404.00,404.40,395.00,9725066,397.00,-7.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BANDHANBNK,2021-01-05,394.00,403.90,390.40,11743029,401.85,7.85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BANDHANBNK,2021-01-06,403.95,409.25,394.60,9455430,396.00,-7.95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BANDHANBNK,2021-01-07,406.55,411.00,401.40,12540078,405.80,-0.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BANDHANBNK,2021-01-08,411.05,424.00,409.40,16763434,419.40,8.35,408.232227,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,BANDHANBNK,2022-12-20,244.40,245.15,239.55,5360668,243.35,-1.05,246.199363,245.892885,244.791273,242.193604,241.873035,241.863243,245.900601,258.011787,272.736747,2.928030
485,BANDHANBNK,2022-12-21,245.20,249.95,240.10,8227006,243.15,-2.05,245.182908,245.344308,244.538769,242.280549,241.971263,241.958558,245.792734,257.717477,272.440052,2.580211
486,BANDHANBNK,2022-12-22,247.95,248.80,223.50,17713841,231.75,-16.20,240.705272,242.625446,242.571266,241.323227,241.185012,241.202369,245.242038,257.203239,272.032045,1.368898
487,BANDHANBNK,2022-12-23,228.60,233.20,225.55,10671892,226.50,-2.10,235.970181,239.400357,240.098764,239.975661,240.055395,240.113304,244.507056,256.595219,271.575522,-0.014541
488,BANDHANBNK,2022-12-26,227.00,235.95,225.45,6753199,233.75,6.75,235.230121,238.270286,239.122031,239.409691,239.570365,239.641948,244.085211,256.142813,271.196296,-0.519918

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'BANKBARODA' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,BANKBARODA,2021-01-04,65.10,66.30,64.30,40279407,65.80,0.70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BANKBARODA,2021-01-05,65.20,66.25,64.80,31735002,65.60,0.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BANKBARODA,2021-01-06,66.00,67.70,64.70,47643226,65.50,-0.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BANKBARODA,2021-01-07,66.50,67.00,65.75,27985323,66.15,-0.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BANKBARODA,2021-01-08,67.00,67.15,65.30,22794827,65.55,-1.45,65.719668,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,BANKBARODA,2022-12-20,181.95,184.75,179.15,17522529,183.65,1.70,184.239284,183.649331,182.393022,177.718274,175.613595,175.096949,164.234090,148.861468,131.971753,7.296073
485,BANKBARODA,2022-12-21,184.65,186.70,175.50,28163349,177.55,-7.10,182.009523,182.429464,181.647942,177.702976,175.762549,175.278657,164.756283,149.429592,132.428810,6.369285
486,BANKBARODA,2022-12-22,178.45,180.15,173.65,24089989,176.60,-1.85,180.206348,181.263572,180.871336,177.602706,175.826968,175.376534,165.220742,149.967652,132.871723,5.494802
487,BANKBARODA,2022-12-23,174.00,175.65,168.10,29192377,169.05,-4.95,176.487566,178.820857,179.052669,176.825187,175.305663,174.907902,165.370909,150.345542,133.234461,4.144767
488,BANKBARODA,2022-12-26,169.05,178.20,167.10,31320528,177.10,8.05,176.691710,178.476686,178.752258,176.850170,175.443689,175.070279,165.830874,150.875363,133.674242,3.681979

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'BANKINDIA' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,BANKINDIA,2021-01-04,50.65,50.95,50.00,3442715,50.35,-0.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BANKINDIA,2021-01-05,50.00,50.75,49.50,3742764,50.55,0.55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BANKINDIA,2021-01-06,51.00,52.45,50.60,7617139,51.20,0.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BANKINDIA,2021-01-07,51.95,52.15,51.00,2850900,51.15,-0.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BANKINDIA,2021-01-08,51.50,51.95,50.60,2473192,50.90,-0.60,50.933649,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,BANKINDIA,2022-12-20,90.80,90.80,87.45,15966771,88.50,-2.30,91.680265,92.269819,91.654003,88.134463,86.364061,85.924137,76.956344,66.850695,60.255091,5.729866
485,BANKINDIA,2022-12-21,89.00,93.95,85.55,36766532,86.60,-2.40,89.986843,91.135855,90.876464,87.994966,86.382210,85.974201,77.334526,67.241794,60.519277,4.902263
486,BANKINDIA,2022-12-22,87.75,88.85,81.15,34029343,83.15,-4.60,87.707896,89.538684,89.687778,87.554515,86.133579,85.765001,77.562584,67.556826,60.746199,3.922776
487,BANKINDIA,2022-12-23,82.10,82.50,76.65,33696758,77.40,-4.70,84.271930,87.110947,87.797350,86.631377,85.461765,85.145372,77.556208,67.751752,60.913177,2.651979
488,BANKINDIA,2022-12-26,77.40,88.70,75.00,44666926,87.45,10.05,85.331287,87.178758,87.743912,86.705797,85.614706,85.316085,77.944200,68.141838,61.179226,2.427827

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'BATAINDIA' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,BATAINDIA,2021-01-04,1585.00,1603.00,1566.00,523821,1594.85,9.85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BATAINDIA,2021-01-05,1587.55,1614.80,1580.00,745368,1608.20,20.65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BATAINDIA,2021-01-06,1618.00,1681.95,1610.00,3377267,1658.30,40.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BATAINDIA,2021-01-07,1670.00,1674.90,1630.50,934569,1640.85,-29.15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BATAINDIA,2021-01-08,1660.00,1662.30,1614.45,643757,1649.15,-10.85,1639.811611,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,BATAINDIA,2022-12-20,1650.00,1666.00,1631.95,691060,1643.40,-6.60,1652.782243,1663.457062,1670.314908,1688.367420,1695.844831,1697.665957,1734.063884,1774.403119,1801.716948,-27.351049
485,BATAINDIA,2022-12-21,1646.90,1659.00,1637.05,414974,1641.85,-5.05,1649.138162,1659.135650,1665.935692,1684.138564,1691.691382,1693.531442,1730.447653,1771.778147,1800.113808,-27.595750
486,BATAINDIA,2022-12-22,1650.00,1650.00,1613.55,214259,1646.70,-3.30,1648.325441,1656.648520,1662.976355,1680.735058,1688.230507,1690.062446,1727.163431,1769.301206,1798.575499,-27.086092
487,BATAINDIA,2022-12-23,1631.70,1639.95,1615.20,331858,1624.85,-6.85,1640.500294,1650.288816,1657.110762,1675.654598,1683.355083,1685.231895,1723.151140,1766.440621,1796.833654,-28.121133
488,BATAINDIA,2022-12-26,1625.55,1638.25,1611.85,237050,1622.90,-2.65,1634.633529,1644.811053,1651.847567,1670.858726,1678.704692,1680.614717,1719.219722,1763.598072,1795.089856,-28.767150

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'BAYERCROP' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,BAYERCROP,2021-01-04,5484.00,5600.00,5450.00,44613,5568.35,84.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BAYERCROP,2021-01-05,5588.00,5600.05,5480.00,29094,5516.15,-71.85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BAYERCROP,2021-01-06,5554.00,5774.25,5520.85,76687,5678.50,124.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BAYERCROP,2021-01-07,5798.50,5847.80,5691.15,47887,5715.35,-83.15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BAYERCROP,2021-01-08,5789.95,5850.95,5740.70,36302,5796.00,6.05,5706.218483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,BAYERCROP,2022-12-20,4767.00,4799.85,4660.05,7820,4676.05,-90.95,4731.512296,4725.462440,4716.732396,4697.198152,4694.119313,4693.865355,4725.057293,4812.084802,4890.809724,22.867041
485,BAYERCROP,2022-12-21,4700.70,4794.35,4586.00,17800,4750.45,49.75,4737.824864,4730.459952,4721.919720,4702.039229,4698.452443,4698.056810,4726.053085,4810.864237,4889.402201,23.862910
486,BAYERCROP,2022-12-22,4775.00,4780.00,4630.05,11123,4761.55,-13.45,4745.733243,4736.677962,4728.016686,4707.449299,4703.306101,4702.760009,4727.445121,4809.887660,4888.120203,25.256677
487,BAYERCROP,2022-12-23,4718.30,4764.70,4623.00,13101,4745.00,26.70,4745.488828,4738.342369,4730.629503,4710.862999,4706.513324,4705.888897,4728.133548,4808.602682,4886.685220,24.740606
488,BAYERCROP,2022-12-26,4681.05,4860.00,4675.00,14556,4812.70,131.65,4767.892552,4753.213895,4743.255734,4720.120909,4714.681530,4713.800831,4731.449879,4808.683821,4885.943470,29.454903

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'BEL' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,BEL,2021-01-04,43.000000,43.933333,42.300000,35204855,43.766667,0.766667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BEL,2021-01-05,43.333333,44.416667,43.000000,21453841,43.833333,0.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BEL,2021-01-06,44.000000,45.133333,43.216667,24699603,44.383333,0.383333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BEL,2021-01-07,44.800000,45.000000,43.766667,15337009,43.916667,-0.883333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BEL,2021-01-08,44.350000,44.583333,43.850000,6635449,44.033333,-0.316667,44.020221,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,BEL,2022-12-20,100.750000,101.600000,99.000000,10478941,101.300000,0.550000,101.828500,102.865462,103.423489,104.437696,104.685173,104.732868,104.677181,101.064488,93.027544,-1.309379
485,BEL,2022-12-21,101.850000,102.200000,98.450000,11606766,99.200000,-2.650000,100.952333,102.132370,102.773722,103.961542,104.263237,104.323026,104.462389,101.027565,93.089441,-1.549304
486,BEL,2022-12-22,99.500000,99.900000,96.800000,14577136,98.250000,-1.250000,100.051556,101.355896,102.077765,103.442311,103.800680,103.873172,104.218766,100.972561,93.141187,-1.795408
487,BEL,2022-12-23,98.950000,99.150000,96.000000,23099245,96.550000,-2.400000,98.884370,100.394717,101.227339,102.815737,103.242936,103.330715,103.918030,100.884980,93.175365,-2.103376
488,BEL,2022-12-26,96.600000,99.850000,94.650000,12096095,99.250000,2.650000,99.006247,100.165773,100.923133,102.491579,102.935787,103.028440,103.734970,100.852603,93.236267,-2.105307

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'BERGEPAINT' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,BERGEPAINT,2021-01-04,766.00,779.85,765.30,725041,778.50,12.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BERGEPAINT,2021-01-05,776.80,798.70,771.15,865992,791.40,14.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BERGEPAINT,2021-01-06,791.50,794.35,775.60,1007682,783.00,-8.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BERGEPAINT,2021-01-07,788.90,797.90,782.20,873088,792.00,3.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BERGEPAINT,2021-01-08,793.45,812.95,792.65,967826,810.60,17.15,796.512796,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,BERGEPAINT,2022-12-20,589.95,593.00,583.70,466254,591.85,1.90,598.070134,603.312822,605.537104,608.172660,608.689363,608.806685,611.951043,620.262012,642.665164,-3.269581
485,BERGEPAINT,2022-12-21,593.00,599.00,585.60,403872,590.35,-2.65,595.496756,600.720257,603.200626,606.552418,607.278642,607.439523,611.103943,619.669660,642.140550,-4.238897
486,BERGEPAINT,2022-12-22,594.50,596.40,587.25,497030,592.25,-2.25,594.414504,599.026206,601.515915,605.252198,606.122593,606.314373,610.364573,619.126664,641.640288,-4.798459
487,BERGEPAINT,2022-12-23,585.00,589.00,573.00,657845,575.55,-9.45,588.126336,594.330965,597.521158,602.551999,603.770855,604.035531,608.999295,618.263710,640.977639,-6.514372
488,BERGEPAINT,2022-12-26,573.00,587.40,569.10,462317,585.40,12.40,587.217557,592.544772,595.656365,600.992726,602.357712,602.655121,608.073833,617.612907,640.420437,-6.998756

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'BHARATFORG' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,BHARATFORG,2021-01-04,546.50,553.75,534.20,2925683,552.60,6.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BHARATFORG,2021-01-05,548.75,558.70,538.25,1897354,556.55,7.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BHARATFORG,2021-01-06,557.00,559.00,542.10,1600465,548.30,-8.70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BHARATFORG,2021-01-07,555.00,603.10,550.00,13271502,598.85,43.85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BHARATFORG,2021-01-08,601.00,606.00,593.60,2897356,603.30,2.30,583.615166,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,BHARATFORG,2022-12-20,884.85,900.00,875.05,1218798,897.05,12.20,889.800958,883.270767,878.841403,868.155555,863.830245,862.759323,838.173634,799.644332,763.672448,16.082079
485,BHARATFORG,2022-12-21,899.95,905.00,868.00,1554591,873.20,-26.75,884.267305,881.256613,877.973494,868.614140,864.550995,863.532707,839.547217,801.100967,764.770786,14.440788
486,BHARATFORG,2022-12-22,880.00,884.30,853.05,1365071,858.60,-21.40,875.711537,876.725291,874.992957,867.703764,864.093227,863.167321,840.294385,802.239629,765.711629,11.825636
487,BHARATFORG,2022-12-23,857.95,859.70,827.40,2265831,842.40,-15.55,864.607691,869.860233,869.978656,865.403422,862.424517,861.629001,840.376958,803.034930,766.480539,8.349655
488,BHARATFORG,2022-12-26,843.80,880.90,833.25,1300649,875.80,32.00,868.338461,871.048186,870.874247,866.348565,863.453400,862.678705,841.766097,804.475904,767.576538,8.195543

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'BHARTIARTL' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,BHARTIARTL,2021-01-04,517.00,520.50,511.60,13240524,517.10,0.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BHARTIARTL,2021-01-05,514.00,516.90,511.10,10492428,514.00,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BHARTIARTL,2021-01-06,515.00,531.75,513.10,30269288,525.30,10.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BHARTIARTL,2021-01-07,532.00,554.45,527.10,38717913,545.25,13.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BHARTIARTL,2021-01-08,549.30,549.75,537.30,14270435,540.25,-9.05,534.237678,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,BHARTIARTL,2022-12-20,839.75,839.75,822.00,2828863,828.95,-10.80,831.143510,832.228356,833.035653,833.103414,832.097355,831.770387,819.107980,790.635554,755.281755,1.265266
485,BHARTIARTL,2022-12-21,833.00,833.05,812.35,5079337,814.00,-19.00,825.429007,828.582685,830.107091,831.366740,830.705251,830.454062,818.907667,791.098245,755.870579,-0.346971
486,BHARTIARTL,2022-12-22,819.00,824.70,809.50,3626834,816.60,-2.40,822.486005,826.186148,828.029077,830.024309,829.620231,829.427835,818.817170,791.603260,756.479525,-1.398758
487,BHARTIARTL,2022-12-23,814.00,817.95,805.00,2804496,808.65,-5.35,817.874003,822.678918,825.047680,828.081190,828.007137,827.888736,818.418458,791.940838,757.002608,-2.841056
488,BHARTIARTL,2022-12-26,805.05,815.20,801.15,6023206,811.00,5.95,815.582669,820.343135,822.886499,826.528355,826.698895,826.637719,818.127538,792.318269,757.543967,-3.751220

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'BHEL' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,BHEL,2021-01-04,39.30,40.85,38.75,138885188,40.65,1.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BHEL,2021-01-05,40.25,40.65,39.60,68178443,40.15,-0.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BHEL,2021-01-06,40.35,40.65,38.25,78478570,39.40,-0.95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BHEL,2021-01-07,39.80,40.15,39.10,42199800,39.30,-0.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BHEL,2021-01-08,39.65,40.55,39.00,68394773,39.35,-0.30,39.535308,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,BHEL,2022-12-20,83.70,84.35,81.50,18459170,84.00,0.30,83.879830,84.204495,84.047665,82.538770,81.690127,81.473485,76.527266,69.491229,63.630676,2.574181
485,BHEL,2022-12-21,84.30,87.05,80.60,60162462,81.15,-3.15,82.969886,83.593596,83.601871,82.412518,81.648579,81.449523,76.708549,69.722109,63.806359,2.152348
486,BHEL,2022-12-22,81.70,82.10,78.40,32843415,78.90,-2.80,81.613258,82.654877,82.878506,82.093198,81.437149,81.260669,76.794489,69.903860,63.957706,1.617837
487,BHEL,2022-12-23,78.15,78.85,73.50,33814978,73.95,-4.20,79.058838,80.913902,81.504890,81.352907,80.861215,80.719138,76.682940,69.983986,64.057893,0.785751
488,BHEL,2022-12-26,74.00,77.55,73.10,28743927,76.85,2.85,78.322559,80.101121,80.788753,80.943552,80.552660,80.432536,76.689491,70.119955,64.186142,0.356217

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'BIOCON' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,BIOCON,2021-01-04,468.00,469.80,464.45,2821496,467.00,-1.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BIOCON,2021-01-05,471.50,471.75,460.85,2558959,467.65,-3.85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BIOCON,2021-01-06,467.35,469.25,453.80,2960254,459.75,-7.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BIOCON,2021-01-07,461.50,464.10,453.85,3183329,454.80,-6.70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BIOCON,2021-01-08,466.15,467.95,461.25,5550289,465.65,-0.50,462.196445,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,BIOCON,2022-12-20,263.60,263.90,259.10,1660191,262.05,-1.55,265.527813,268.274596,269.879695,272.897837,273.755866,273.949328,278.284603,288.960958,307.562176,-4.069633
485,BIOCON,2022-12-21,263.00,272.60,262.70,4912220,271.20,8.20,267.418542,268.859676,270.082818,272.743488,273.559261,273.745674,278.006775,288.609235,307.197537,-3.662856
486,BIOCON,2022-12-22,274.00,275.40,265.05,2390292,269.65,-4.35,268.162361,269.017741,270.016231,272.462262,273.258548,273.442291,277.679058,288.233783,306.821041,-3.426060
487,BIOCON,2022-12-23,271.70,277.00,266.10,6383847,267.05,-4.65,267.791574,268.624193,269.559888,271.970238,272.780968,272.968788,277.262233,287.814278,306.422280,-3.408900
488,BIOCON,2022-12-26,268.90,270.30,263.40,2370002,265.20,-3.70,266.927716,267.939354,268.889136,271.354762,272.197816,272.393322,276.789204,287.366445,306.009000,-3.504186

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'BLUEDART' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,BLUEDART,2021-01-04,4111.00,4145.00,4005.00,12077,4065.20,-45.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BLUEDART,2021-01-05,4030.25,4063.75,4005.00,6560,4034.45,4.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BLUEDART,2021-01-06,4040.00,4069.00,3970.00,48393,4005.00,-35.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BLUEDART,2021-01-07,4030.00,4049.85,3980.00,28958,3999.25,-30.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BLUEDART,2021-01-08,4004.00,4131.90,3963.25,13224,3996.20,-7.80,4008.064929,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,BLUEDART,2022-12-20,7671.10,7787.00,7625.25,19777,7740.30,69.20,7648.149019,7606.441270,7585.271951,7563.738480,7574.034535,7578.021185,7724.841827,7839.965763,7632.697968,7.250766
485,BLUEDART,2022-12-21,7745.00,7745.00,7411.05,32105,7539.20,-205.80,7611.832679,7592.993016,7578.183959,7561.507709,7571.354956,7575.145542,7717.561755,7834.009648,7631.760374,3.038417
486,BLUEDART,2022-12-22,7550.00,7623.95,7290.00,20838,7498.05,-51.95,7573.905120,7574.004413,7565.855657,7555.738826,7565.716113,7569.434761,7708.953451,7827.356590,7630.419634,-3.579104
487,BLUEDART,2022-12-23,7350.00,7469.95,7265.00,17306,7423.15,73.15,7523.653413,7543.833530,7543.900941,7543.685297,7554.749489,7558.598853,7697.745473,7819.352037,7628.341463,-14.697912
488,BLUEDART,2022-12-26,7400.00,7450.00,7294.95,21070,7406.65,6.65,7484.652275,7516.396824,7522.785411,7531.227542,7543.357221,7547.343382,7686.329964,7811.179257,7626.118861,-24.557971

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'BOSCHLTD' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,BOSCHLTD,2021-01-04,13030.20,13373.25,13018.30,66155,13334.30,304.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BOSCHLTD,2021-01-05,13250.00,13506.60,13124.45,66025,13433.50,183.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BOSCHLTD,2021-01-06,13400.00,13620.00,13173.35,65687,13302.90,-97.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BOSCHLTD,2021-01-07,13422.00,13999.00,13300.00,142981,13863.65,441.65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BOSCHLTD,2021-01-08,14000.00,14181.75,13801.05,91160,13856.55,-143.45,13676.184123,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,BOSCHLTD,2022-12-20,17435.00,17690.00,17380.05,25213,17601.20,166.20,17547.802924,17481.373462,17420.222967,17238.985060,17168.661977,17152.366266,16881.791198,16560.950252,16201.288518,267.856701
485,BOSCHLTD,2022-12-21,17659.00,17897.65,17325.35,30969,17410.20,-248.80,17501.935283,17467.138770,17418.680972,17254.550055,17187.241825,17171.465061,16902.513112,16577.768088,16213.411443,247.215911
486,BOSCHLTD,2022-12-22,17420.65,17524.95,17141.00,24046,17243.75,-176.90,17415.873522,17422.461016,17391.768515,17253.568231,17191.588608,17176.819501,16915.894951,16590.956625,16223.742841,214.949014
487,BOSCHLTD,2022-12-23,17210.00,17210.00,16700.00,30648,16849.45,-360.55,17227.065681,17307.858813,17308.334897,17216.830210,17165.270253,17152.569908,16913.289267,16596.075601,16230.016442,155.764989
488,BOSCHLTD,2022-12-26,16800.05,17333.00,16617.60,33905,17281.15,481.10,17245.093787,17302.517050,17304.152605,17222.677464,17174.184080,17162.094360,16927.715178,16609.642198,16240.554742,142.058246

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'BPCL' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,BPCL,2021-01-04,384.90,396.90,384.50,8238892,395.35,10.45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BPCL,2021-01-05,394.70,394.75,389.00,4532068,392.00,-2.70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BPCL,2021-01-06,392.60,396.95,382.55,8072360,387.30,-5.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BPCL,2021-01-07,391.00,395.00,387.60,6560803,392.20,1.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BPCL,2021-01-08,395.00,406.00,394.25,12377956,400.15,5.15,394.631991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,BPCL,2022-12-20,341.65,342.10,334.25,2807156,340.25,-1.40,342.415272,341.778019,340.400764,335.264922,333.187540,332.709344,325.699201,324.622132,336.368115,7.691420
485,BPCL,2022-12-21,341.00,342.95,332.10,2585450,334.10,-6.90,339.643515,340.242415,339.431416,335.159020,333.257729,332.812356,326.028644,324.809824,336.345370,6.619060
486,BPCL,2022-12-22,334.00,335.90,324.70,3067948,327.90,-6.10,335.729010,337.773932,337.657352,334.499109,332.845596,332.448478,326.102031,324.871020,336.260687,5.208874
487,BPCL,2022-12-23,325.00,328.90,322.15,2901038,325.10,0.10,332.186006,335.239146,335.725452,333.644645,332.249781,331.904146,326.062735,324.875554,336.148785,3.821306
488,BPCL,2022-12-26,323.00,328.40,322.15,1688781,325.10,2.10,329.824004,333.211317,334.090767,332.867859,331.699798,331.400135,326.024981,324.879999,336.038014,2.690632

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'BRITANNIA' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,BRITANNIA,2021-01-04,3589.00,3593.90,3537.00,698402,3552.90,-36.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BRITANNIA,2021-01-05,3549.00,3563.95,3540.00,725278,3551.10,2.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BRITANNIA,2021-01-06,3568.00,3602.00,3510.00,1099588,3539.70,-28.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BRITANNIA,2021-01-07,3560.00,3567.95,3516.45,621487,3552.80,-7.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BRITANNIA,2021-01-08,3574.00,3589.95,3532.85,961239,3575.25,1.25,3558.997393,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,BRITANNIA,2022-12-20,4529.00,4533.95,4467.05,206833,4509.05,-19.95,4480.159257,4451.755577,4429.503168,4356.887309,4325.038278,4317.298775,4164.824528,3978.265723,3811.558300,112.204392
485,BRITANNIA,2022-12-21,4509.05,4530.00,4406.15,303234,4418.85,-90.20,4459.722838,4445.174461,4427.864219,4362.520281,4332.254564,4324.821088,4174.786312,3986.990688,3817.648201,103.043130
486,BRITANNIA,2022-12-22,4444.00,4446.35,4377.00,243325,4391.45,-52.55,4436.965225,4434.429569,4422.262031,4365.150255,4336.808059,4329.756563,4183.282927,3995.000254,3823.401820,92.505468
487,BRITANNIA,2022-12-23,4375.15,4398.95,4324.10,224215,4331.90,-43.25,4401.943483,4413.923655,4408.360180,4362.127505,4336.430516,4329.915336,4189.111047,4001.671921,3828.500234,78.444844
488,BRITANNIA,2022-12-26,4315.50,4399.90,4313.80,166686,4375.35,59.85,4393.078989,4406.208924,4403.281691,4363.329550,4339.424323,4333.280867,4196.414536,4009.071906,3833.982760,70.000824

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'CANBK' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,CANBK,2021-01-04,135.00,136.00,130.40,28899189,134.00,-1.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CANBK,2021-01-05,133.00,136.75,130.30,33387047,135.40,2.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,CANBK,2021-01-06,136.00,137.30,128.10,39737720,132.10,-3.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,CANBK,2021-01-07,134.00,135.00,131.80,18963857,133.00,-1.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,CANBK,2021-01-08,134.00,134.90,130.65,20197579,131.00,-3.00,132.427488,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,CANBK,2022-12-20,317.00,324.00,312.55,7891279,322.15,5.15,319.748606,319.925027,319.717260,316.811880,314.675698,314.091839,298.682537,274.578760,249.942550,5.625421
485,CANBK,2022-12-21,323.75,329.40,311.45,12958461,314.60,-9.15,318.032404,318.860022,318.929989,316.610800,314.669875,314.129480,299.306751,275.371307,250.590933,4.800509
486,CANBK,2022-12-22,317.60,318.40,308.25,10109450,311.85,-5.75,315.971603,317.458017,317.840760,316.178000,314.452961,313.960630,299.798643,276.093700,251.205189,3.880130
487,CANBK,2022-12-23,306.30,310.05,290.05,15310273,291.55,-14.75,307.831068,312.276414,313.796028,313.939091,312.691195,312.300583,299.475167,276.399783,251.609703,1.495445
488,CANBK,2022-12-26,291.55,307.75,287.90,11957127,304.60,13.05,306.754046,310.741131,312.381254,313.090083,312.068796,311.730170,299.676141,276.958235,252.140965,0.651085

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'CGPOWER' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,CGPOWER,2021-01-04,44.75,45.55,43.60,2286553,44.00,-0.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CGPOWER,2021-01-05,43.05,44.75,43.05,2746881,44.10,1.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,CGPOWER,2021-01-06,44.30,44.60,43.05,2089386,43.25,-1.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,CGPOWER,2021-01-07,43.55,44.50,42.90,2063753,43.10,-0.45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,CGPOWER,2021-01-08,43.50,44.45,42.75,2725919,42.85,-0.65,43.211611,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,CGPOWER,2022-12-20,274.90,277.50,266.75,2189957,269.55,-5.35,275.329863,276.901529,277.109002,275.619057,274.502729,274.203022,266.125007,249.571131,223.795547,2.905980
485,CGPOWER,2022-12-21,269.80,271.35,261.50,1497887,262.60,-7.20,271.086576,274.041223,274.876848,274.435506,273.587134,273.343539,265.986771,249.829143,224.184677,1.533309
486,CGPOWER,2022-12-22,262.90,265.00,254.65,1766836,256.25,-6.65,266.141050,270.482979,272.011179,272.782279,272.253509,272.077351,265.604937,249.956297,224.506202,-0.066172
487,CGPOWER,2022-12-23,250.10,256.25,250.00,2087026,251.65,1.55,261.310700,266.716383,268.878690,270.861162,270.668623,270.564214,265.057684,249.989837,224.778357,-1.685524
488,CGPOWER,2022-12-26,251.15,257.95,247.55,904210,256.60,5.45,259.740467,264.693106,266.989661,269.564693,269.586422,269.529827,264.726011,250.120739,225.097389,-2.540167

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'CHOLAFIN' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,CHOLAFIN,2021-01-04,415.00,446.55,414.20,15940056,443.25,28.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CHOLAFIN,2021-01-05,432.00,439.00,430.00,5502895,437.25,5.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,CHOLAFIN,2021-01-06,438.95,446.40,430.45,5684264,434.85,-4.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,CHOLAFIN,2021-01-07,437.85,440.25,428.80,4227651,431.35,-6.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,CHOLAFIN,2021-01-08,435.05,437.45,427.70,3344933,431.80,-3.25,433.693365,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,CHOLAFIN,2022-12-20,745.50,749.95,736.60,733807,747.05,1.55,744.161714,742.582164,740.936595,736.969715,735.943226,735.746969,734.044350,727.498261,704.004235,5.189627
485,CHOLAFIN,2022-12-21,747.05,757.00,720.00,1325543,722.55,-24.50,736.957809,738.575731,738.107888,735.658832,734.912978,734.769416,733.593591,727.400270,704.190211,3.338473
486,CHOLAFIN,2022-12-22,725.00,730.70,711.60,758437,716.85,-8.15,730.255206,734.230585,734.837444,733.948938,733.523518,733.442051,732.936980,727.191341,704.317153,1.395393
487,CHOLAFIN,2022-12-23,711.85,714.45,694.25,1314808,699.25,-12.60,719.920138,727.234468,729.362453,730.794489,730.887093,730.909307,731.615922,726.638016,704.266348,-1.546854
488,CHOLAFIN,2022-12-26,696.65,721.70,691.00,1041754,710.70,14.05,716.846758,723.927574,726.491306,728.967717,729.334240,729.412321,730.795690,726.322393,704.330849,-2.921015

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'CIPLA' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,CIPLA,2021-01-04,831.00,837.30,826.55,3487801,832.25,1.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CIPLA,2021-01-05,832.25,843.75,825.30,4559213,827.25,-5.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,CIPLA,2021-01-06,829.00,834.40,815.25,3318460,824.80,-4.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,CIPLA,2021-01-07,830.00,830.45,818.00,2879675,826.55,-3.45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,CIPLA,2021-01-08,830.70,846.20,827.40,5072916,838.70,8.00,831.427488,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,CIPLA,2022-12-20,1096.00,1097.40,1088.45,795748,1091.15,-4.85,1096.648972,1100.432358,1102.568236,1107.292177,1108.604443,1108.849029,1106.261947,1081.957780,1041.689266,-6.280793
485,CIPLA,2022-12-21,1096.10,1130.00,1085.65,3224730,1128.00,31.90,1107.099315,1105.945887,1106.480815,1109.174706,1110.096409,1110.267619,1107.114420,1082.869562,1042.554787,-3.786804
486,CIPLA,2022-12-22,1135.00,1147.35,1117.05,2070809,1122.45,-12.55,1112.216210,1109.246709,1108.937613,1110.381551,1111.046685,1111.170018,1107.715815,1083.653379,1043.355911,-2.232405
487,CIPLA,2022-12-23,1121.00,1146.95,1113.20,2773210,1119.15,-1.85,1114.527473,1111.227367,1110.508749,1111.178683,1111.670017,1111.761127,1108.164214,1084.356323,1044.115854,-1.252378
488,CIPLA,2022-12-26,1127.00,1135.00,1094.00,1279529,1096.50,-30.50,1108.518316,1108.281894,1108.353557,1109.844257,1110.503093,1110.630674,1107.706794,1084.596805,1044.641040,-2.277117

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'CLEAN' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,CLEAN,2021-07-19,1755.00,1770.65,1555.05,13548172,1585.25,-169.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CLEAN,2021-07-20,1585.80,1760.00,1576.80,6980467,1737.55,151.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,CLEAN,2021-07-22,1751.00,1779.00,1672.15,1731678,1694.45,-56.55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,CLEAN,2021-07-23,1700.00,1701.05,1605.00,1084767,1635.40,-64.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,CLEAN,2021-07-26,1635.00,1688.00,1620.00,747225,1652.50,17.50,1659.855450,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
351,CLEAN,2022-12-20,1497.95,1508.05,1482.00,35581,1495.95,-2.00,1508.821753,1517.248620,1520.283959,1527.816389,1532.404221,1533.671784,1567.923228,1626.830233,1713.062347,-13.387826
352,CLEAN,2022-12-21,1502.00,1507.80,1473.00,49546,1476.60,-25.40,1498.081169,1509.118896,1513.563350,1523.160353,1528.111589,1529.444245,1564.341922,1623.852821,1710.638458,-15.880895
353,CLEAN,2022-12-22,1484.00,1491.50,1455.00,44212,1461.40,-22.60,1485.854113,1499.575117,1505.538219,1517.545776,1522.979928,1524.403930,1560.304981,1620.633224,1708.084373,-18.865712
354,CLEAN,2022-12-23,1450.00,1459.95,1410.00,86805,1417.15,-32.85,1462.952742,1483.090094,1491.940031,1508.418887,1514.839165,1516.459195,1554.691057,1616.600526,1705.103893,-24.519163
355,CLEAN,2022-12-26,1415.00,1454.95,1412.15,34723,1445.65,30.65,1457.185161,1475.602075,1484.818488,1502.712625,1509.516921,1511.214069,1550.414934,1613.212628,1702.446697,-26.395581

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'COALINDIA' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,COALINDIA,2021-01-04,136.85,137.75,135.80,11669647,137.25,0.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,COALINDIA,2021-01-05,136.75,136.75,134.40,12371842,135.15,-1.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,COALINDIA,2021-01-06,135.40,137.30,133.80,14133415,135.10,-0.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,COALINDIA,2021-01-07,136.50,137.50,135.50,17298525,136.50,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,COALINDIA,2021-01-08,137.10,140.95,137.10,27964099,139.70,2.60,137.392891,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,COALINDIA,2022-12-20,226.90,226.90,223.35,3784271,226.10,-0.80,227.384467,228.268738,228.766655,230.196490,230.702139,230.809118,231.130879,224.968475,210.813493,-2.042464
485,COALINDIA,2022-12-21,226.50,227.70,222.05,3675466,223.85,-2.65,226.206311,227.384991,228.010246,229.619536,230.175052,230.293628,230.845354,224.946326,210.944223,-2.283382
486,COALINDIA,2022-12-22,224.10,225.75,219.10,4755089,222.70,-1.40,225.037541,226.447993,227.193285,228.990487,229.600048,229.731137,230.525929,224.901841,211.062100,-2.537852
487,COALINDIA,2022-12-23,220.00,222.90,214.20,6561011,215.05,-4.95,221.708361,224.168394,225.325088,227.723170,228.480813,228.643645,229.919029,224.706744,211.102085,-3.318558
488,COALINDIA,2022-12-26,215.05,221.60,214.25,3116608,220.75,5.70,221.388907,223.484715,224.621228,227.089246,227.886135,228.058931,229.559460,224.628388,211.198811,-3.437703

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'COFORGE' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,COFORGE,2021-01-04,2750.9,2867.25,2720.00,523222,2838.55,87.65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,COFORGE,2021-01-05,2840.0,2906.00,2811.10,632717,2882.55,42.55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,COFORGE,2021-01-06,2885.0,2909.55,2761.00,436993,2801.55,-83.45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,COFORGE,2021-01-07,2830.0,2850.00,2730.00,353906,2740.80,-89.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,COFORGE,2021-01-08,2776.5,2825.00,2745.00,498550,2804.20,27.70,2799.038863,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,COFORGE,2022-12-20,3879.8,3913.80,3830.00,194228,3895.95,16.15,3915.050366,3934.090757,3942.349320,3940.240496,3932.140752,3929.768999,3866.756760,3822.595952,3925.008752,12.580321
485,COFORGE,2022-12-21,3928.0,3998.70,3897.45,300119,3920.40,-7.60,3916.833577,3931.352606,3938.972501,3938.436814,3931.237617,3929.074999,3868.860417,3824.532782,3924.962536,9.897503
486,COFORGE,2022-12-22,3972.0,3972.00,3816.50,259590,3885.60,-86.40,3906.422385,3922.202085,3930.761347,3933.633468,3927.727031,3925.854628,3869.516871,3825.742105,3924.567840,4.906719
487,COFORGE,2022-12-23,3821.0,3839.95,3704.00,262009,3735.45,-85.55,3849.431590,3884.851668,3900.713448,3915.616789,3912.936490,3911.750582,3864.259346,3823.954039,3922.671666,-11.037134
488,COFORGE,2022-12-26,3749.0,3798.60,3702.30,101353,3770.65,21.65,3823.171060,3862.011334,3880.703687,3902.437990,3901.991376,3901.298687,3860.588392,3822.898454,3921.147549,-20.595000

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'COLPAL' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,COLPAL,2021-01-04,1585.00,1586.20,1562.00,561707,1576.10,-8.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,COLPAL,2021-01-05,1566.10,1602.50,1564.00,452175,1598.95,32.85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,COLPAL,2021-01-06,1605.00,1615.00,1585.30,498253,1597.60,-7.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,COLPAL,2021-01-07,1601.35,1615.00,1587.30,379964,1592.10,-9.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,COLPAL,2021-01-08,1599.00,1625.00,1599.00,738807,1614.75,15.75,1601.299289,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,COLPAL,2022-12-20,1593.00,1601.75,1585.05,189010,1597.15,4.15,1595.761040,1600.094946,1601.534322,1601.562019,1601.016307,1600.873277,1597.699201,1589.712274,1577.386010,0.661046
485,COLPAL,2022-12-21,1600.00,1610.70,1573.10,300959,1576.00,-24.00,1589.174027,1595.275957,1597.605965,1599.238199,1599.091976,1599.030812,1596.848252,1589.440728,1577.372111,-1.424847
486,COLPAL,2022-12-22,1577.50,1592.25,1575.55,371317,1586.10,8.60,1588.149351,1593.440765,1595.835817,1598.043817,1598.092593,1598.072974,1596.426752,1589.374571,1577.459627,-2.237157
487,COLPAL,2022-12-23,1580.00,1589.90,1564.00,396239,1567.60,-12.40,1581.299567,1588.272612,1591.491845,1595.276198,1595.747009,1595.815717,1595.296291,1588.943367,1577.360771,-4.323872
488,COLPAL,2022-12-26,1565.05,1573.15,1557.60,145924,1565.80,0.75,1576.133045,1583.778090,1587.539253,1592.596543,1593.443393,1593.592330,1594.139574,1588.485056,1577.244866,-6.053077

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'CONCOR' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,CONCOR,2021-01-04,405.90,418.75,403.70,4721177,413.80,7.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CONCOR,2021-01-05,413.80,416.95,408.20,2757851,415.20,1.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,CONCOR,2021-01-06,420.00,444.90,417.00,11715662,433.95,13.95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,CONCOR,2021-01-07,438.15,442.00,429.30,3263640,431.30,-6.85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,CONCOR,2021-01-08,436.95,446.95,433.80,5146410,442.55,5.60,432.912559,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,CONCOR,2022-12-20,740.00,750.00,734.40,699589,747.20,7.20,752.332888,758.081461,760.230573,762.305205,762.136669,762.025083,754.719097,733.223441,704.252692,-1.794510
485,CONCOR,2022-12-21,751.00,766.40,741.35,1553921,747.20,-3.80,750.621925,755.905169,758.225870,760.932005,760.987694,760.926929,754.424230,733.500222,704.683366,-2.701059
486,CONCOR,2022-12-22,744.00,755.20,737.30,884868,749.75,5.75,750.331284,754.674135,756.921890,759.915459,760.123256,760.099008,754.240927,733.822018,705.135257,-3.177119
487,CONCOR,2022-12-23,743.95,749.00,710.00,1015159,712.30,-31.65,737.654189,746.199308,750.056984,755.586781,756.444544,756.558341,752.596185,733.395815,705.207094,-6.501357
488,CONCOR,2022-12-26,711.00,732.85,703.00,456662,728.10,17.10,734.469459,742.579446,746.678986,753.087982,754.264195,754.450316,751.635550,733.290942,705.436610,-7.771330

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'COROMANDEL' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,COROMANDEL,2021-01-04,823.00,824.70,806.20,656435,822.00,-1.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,COROMANDEL,2021-01-05,818.00,828.20,813.00,612164,821.55,3.55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,COROMANDEL,2021-01-06,826.75,826.75,808.00,564177,815.70,-11.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,COROMANDEL,2021-01-07,822.00,825.90,809.00,676453,812.80,-9.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,COROMANDEL,2021-01-08,815.95,822.00,810.00,448087,817.30,1.35,816.715166,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,COROMANDEL,2022-12-20,930.05,942.45,916.75,365054,926.55,-3.50,938.011639,939.779209,938.925527,937.360824,937.915763,938.152878,948.180707,956.447726,936.631363,0.772649
485,COROMANDEL,2022-12-21,926.80,931.35,905.75,338730,913.15,-13.65,929.724426,934.453367,934.960061,935.159840,936.010704,936.300813,946.806954,955.590294,936.395893,-1.340752
486,COROMANDEL,2022-12-22,915.00,919.70,882.50,417780,892.05,-22.95,917.166284,925.972694,928.358513,931.240764,932.629112,933.022975,944.659622,954.331996,935.951228,-4.664462
487,COROMANDEL,2022-12-23,881.85,889.30,848.05,1047277,865.35,-16.50,899.894189,913.848155,918.664896,925.250694,927.453795,928.010162,941.549441,952.569875,935.243351,-9.345266
488,COROMANDEL,2022-12-26,865.35,886.30,853.20,412689,872.50,7.15,890.762793,905.578524,911.562604,920.455177,923.226580,923.898298,938.841620,950.984243,934.614308,-12.335694

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'CRISIL' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,CRISIL,2021-01-04,1928.80,1952.00,1918.00,24481,1941.55,12.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CRISIL,2021-01-05,1941.55,1944.70,1922.05,12640,1934.40,-7.15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,CRISIL,2021-01-06,1944.10,1949.95,1900.00,34330,1913.75,-30.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,CRISIL,2021-01-07,1935.00,1960.00,1920.00,37382,1946.35,11.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,CRISIL,2021-01-08,1964.00,1972.00,1940.00,19095,1956.35,-7.65,1942.903555,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,CRISIL,2022-12-20,2820.00,2827.00,2787.00,48884,2805.05,-14.95,2822.027391,2834.325726,2844.527153,2873.961941,2886.209805,2889.214098,2955.036223,3042.919822,3070.933014,-44.686945
485,CRISIL,2022-12-21,2824.80,2835.00,2802.00,10538,2819.10,-5.70,2821.051594,2831.280581,2840.615284,2868.974492,2881.047513,2884.020461,2949.705391,3038.487480,3068.407640,-43.405178
486,CRISIL,2022-12-22,2830.00,2830.00,2763.00,19544,2782.00,-48.00,2808.034396,2821.424465,2831.597548,2861.067720,2873.428473,2876.463390,2943.128709,3033.408221,3065.535777,-44.865842
487,CRISIL,2022-12-23,2762.15,2799.00,2725.00,22546,2779.85,17.70,2798.639597,2813.109572,2823.636387,2853.684291,2866.230129,2869.306843,2936.725622,3028.386976,3062.671373,-45.670456
488,CRISIL,2022-12-26,2790.00,2807.45,2755.00,11781,2775.90,-14.10,2791.059732,2805.667657,2816.292327,2846.612992,2859.281658,2862.387817,2930.418735,3023.386951,3059.796302,-46.095490

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'CROMPTON' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,CROMPTON,2021-01-04,380.00,380.45,369.00,1018281,373.70,-6.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CROMPTON,2021-01-05,375.15,379.90,367.05,824289,377.35,2.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,CROMPTON,2021-01-06,374.40,385.35,373.10,984770,383.90,9.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,CROMPTON,2021-01-07,388.00,402.00,385.50,1742941,395.05,7.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,CROMPTON,2021-01-08,399.90,405.40,390.85,1882075,400.15,0.25,391.473223,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,CROMPTON,2022-12-20,348.80,353.40,346.60,590471,352.75,3.95,350.932912,352.575387,353.924711,357.396710,358.807012,359.153542,366.196172,373.146155,381.575786,-5.228831
485,CROMPTON,2022-12-21,355.00,357.50,347.00,911419,349.20,-5.80,350.355275,351.900310,353.197833,356.651554,358.068011,358.416243,365.529655,372.671945,381.251123,-5.218410
486,CROMPTON,2022-12-22,349.90,354.60,346.50,1429916,353.20,3.30,351.303517,352.160248,353.198166,356.337776,357.693548,358.029854,365.046140,372.286339,380.969849,-4.831688
487,CROMPTON,2022-12-23,351.80,351.80,338.25,680689,340.90,-10.90,347.835678,349.908198,351.306140,354.934342,356.401737,356.760976,364.099232,371.664792,380.568092,-5.454836
488,CROMPTON,2022-12-26,341.75,346.40,336.95,387990,344.90,3.15,346.857118,348.906559,350.320580,354.022129,355.516988,355.882385,363.346321,371.134766,380.210496,-5.561805

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'CUMMINSIND' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,CUMMINSIND,2021-01-04,585.00,613.60,584.50,2593184,609.25,24.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CUMMINSIND,2021-01-05,609.10,624.45,603.30,2563883,616.00,6.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,CUMMINSIND,2021-01-06,616.00,623.70,602.15,1426472,610.35,-5.65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,CUMMINSIND,2021-01-07,615.00,646.30,612.00,2347094,643.30,28.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,CUMMINSIND,2021-01-08,647.80,648.00,626.00,1843346,635.00,-12.80,628.804739,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,CUMMINSIND,2022-12-20,1450.25,1492.95,1450.25,583277,1489.80,39.55,1469.539283,1465.148159,1459.268934,1436.326997,1425.714690,1423.103390,1368.664184,1290.075598,1194.337524,36.165544
485,CUMMINSIND,2022-12-21,1493.95,1501.50,1446.65,421917,1455.00,-38.95,1464.692856,1463.118527,1458.612175,1438.024543,1427.967406,1425.466102,1372.049902,1293.341624,1196.951439,33.146073
486,CUMMINSIND,2022-12-22,1467.25,1475.05,1427.05,599231,1450.15,-17.10,1459.845237,1460.524822,1457.310302,1439.126857,1429.673759,1427.294539,1375.112651,1296.446923,1199.490308,30.015763
487,CUMMINSIND,2022-12-23,1438.50,1453.45,1376.10,627352,1388.05,-50.45,1435.913491,1446.029857,1446.654871,1434.483506,1426.471932,1424.387536,1375.619998,1298.260950,1201.380886,22.267335
488,CUMMINSIND,2022-12-26,1365.00,1406.65,1362.55,393400,1380.95,15.95,1417.592328,1433.013886,1436.546429,1429.616824,1422.970245,1421.169941,1375.829018,1299.898449,1203.181184,15.376488

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'DABUR' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,DABUR,2021-01-04,537.00,544.00,532.40,3026253,543.35,6.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,DABUR,2021-01-05,542.00,542.40,535.50,2126666,538.90,-3.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,DABUR,2021-01-06,539.00,541.70,529.60,4825471,534.10,-4.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,DABUR,2021-01-07,537.40,539.30,533.40,1850927,535.20,-2.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,DABUR,2021-01-08,537.00,542.45,534.00,3665938,540.10,3.10,537.932227,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,DABUR,2022-12-20,576.10,582.40,569.55,8300358,579.50,3.40,585.234466,586.954575,586.443646,581.837088,579.648694,579.130806,570.477946,562.437937,558.185641,7.312841
485,DABUR,2022-12-21,582.35,586.60,574.65,2308329,577.25,-5.10,582.572978,585.013660,585.029239,581.420080,579.464179,578.991487,570.743517,562.731263,558.376817,6.037752
486,DABUR,2022-12-22,577.40,583.10,574.45,818353,577.75,0.35,580.965318,583.560928,583.909356,581.086436,579.332319,578.899525,571.018281,563.028681,558.571076,5.009831
487,DABUR,2022-12-23,572.30,575.50,562.95,1890316,565.85,-6.45,575.926879,580.018742,581.130994,579.701306,578.295218,577.932893,570.815603,563.084552,558.644057,3.198100
488,DABUR,2022-12-26,560.25,567.55,557.25,2149944,566.10,5.85,572.651253,577.234994,578.818533,578.464823,577.357124,577.056383,570.630677,563.144267,558.718808,1.762150

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'DALBHARAT' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,DALBHARAT,2021-01-04,1106.90,1143.30,1100.05,187328,1137.25,30.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,DALBHARAT,2021-01-05,1115.00,1133.00,1110.10,130836,1118.50,3.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,DALBHARAT,2021-01-06,1124.00,1210.00,1117.00,418606,1171.50,47.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,DALBHARAT,2021-01-07,1180.90,1212.00,1151.95,212300,1168.35,-12.55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,DALBHARAT,2021-01-08,1177.80,1229.80,1170.05,391647,1204.05,26.25,1174.563744,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,DALBHARAT,2022-12-20,1890.00,1911.60,1833.20,505563,1858.05,-31.95,1868.001494,1865.189303,1858.450142,1828.664810,1814.678001,1811.265541,1744.215399,1668.897885,1641.179045,47.184601
485,DALBHARAT,2022-12-21,1859.10,1888.20,1805.05,379735,1852.30,-6.80,1862.767663,1862.611442,1857.503966,1830.813463,1817.572001,1814.305131,1748.454011,1672.529828,1643.296159,43.198836
486,DALBHARAT,2022-12-22,1855.00,1869.05,1828.15,156565,1858.05,3.05,1861.195108,1861.699154,1857.587971,1833.289512,1820.685693,1817.545491,1752.751893,1676.203711,1645.449536,40.042480
487,DALBHARAT,2022-12-23,1838.00,1853.15,1759.35,180476,1770.50,-67.50,1830.963406,1843.459323,1844.189822,1827.581375,1816.825255,1814.060640,1753.447897,1678.071072,1646.703344,30.129182
488,DALBHARAT,2022-12-26,1761.85,1832.05,1753.70,126030,1812.05,50.20,1824.658937,1837.177458,1839.245234,1826.169432,1816.457928,1813.911704,1755.746019,1680.724271,1648.361052,25.333530

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'DEEPAKNTR' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,DEEPAKNTR,2021-01-04,1004.20,1041.20,985.90,1999748,1034.05,29.85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,DEEPAKNTR,2021-01-05,1034.00,1054.00,1004.20,1332215,1013.70,-20.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,DEEPAKNTR,2021-01-06,1015.30,1041.70,1007.10,863571,1033.10,17.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,DEEPAKNTR,2021-01-07,1036.00,1072.50,1036.00,1276096,1059.50,23.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,DEEPAKNTR,2021-01-08,1086.00,1086.00,1040.10,655421,1054.65,-31.35,1045.994550,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,DEEPAKNTR,2022-12-20,2092.00,2102.10,2061.10,207544,2087.25,-4.75,2124.811048,2148.788628,2157.474775,2169.199432,2171.706053,2172.153564,2166.787955,2132.686814,2109.683132,-14.678789
485,DEEPAKNTR,2022-12-21,2097.65,2121.40,2040.70,301676,2049.20,-48.45,2099.607365,2128.870903,2140.817117,2158.290393,2162.282511,2163.045892,2162.176662,2131.033510,2109.076609,-22.228775
486,DEEPAKNTR,2022-12-22,2049.20,2068.65,2000.00,362995,2012.40,-36.80,2070.538243,2105.576722,2121.060638,2145.027630,2150.753087,2151.886937,2156.303068,2128.684193,2108.107215,-30.826300
487,DEEPAKNTR,2022-12-23,1983.00,2005.55,1877.40,697734,1888.30,-94.70,2009.792162,2062.121378,2085.251309,2121.688754,2130.564388,2132.361979,2145.793143,2123.923836,2105.903336,-47.110670
488,DEEPAKNTR,2022-12-26,1894.00,1965.00,1880.05,350046,1951.30,57.30,1990.294775,2039.957102,2064.643415,2106.198868,2116.774819,2118.949980,2138.165961,2120.505349,2104.353337,-54.306565

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'DIVISLAB' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,DIVISLAB,2021-01-04,3853.00,3914.95,3849.00,578164,3862.25,9.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,DIVISLAB,2021-01-05,3858.25,3880.50,3804.05,621125,3842.10,-16.15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,DIVISLAB,2021-01-06,3847.00,3889.30,3815.55,486212,3879.85,32.85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,DIVISLAB,2021-01-07,3890.00,3904.00,3791.00,731225,3803.05,-86.95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,DIVISLAB,2021-01-08,3819.00,3868.70,3810.10,594069,3859.15,40.15,3846.620142,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,DIVISLAB,2022-12-20,3347.00,3355.00,3308.35,143983,3351.55,4.55,3348.448741,3347.764797,3348.431771,3360.189393,3368.918583,3371.284266,3432.058371,3550.055907,3754.348139,-22.852495
485,DIVISLAB,2022-12-21,3355.00,3529.50,3351.55,1455203,3518.75,163.75,3405.215827,3381.961838,3374.634575,3374.603994,3380.444077,3382.207654,3435.458043,3549.435951,3751.985569,-7.573079
486,DIVISLAB,2022-12-22,3534.00,3534.00,3466.50,594661,3495.90,-38.10,3435.443885,3404.749470,3393.290795,3385.630904,3389.325301,3390.629309,3437.828316,3548.375770,3749.417751,2.661485
487,DIVISLAB,2022-12-23,3490.00,3640.00,3474.10,1625800,3498.45,8.45,3456.445923,3423.489576,3409.469134,3395.887185,3397.719509,3398.616027,3440.205637,3547.387084,3746.901444,10.853107
488,DIVISLAB,2022-12-26,3529.95,3549.00,3420.00,654257,3428.80,-101.15,3447.230616,3424.551661,3412.443113,3398.879259,3400.110316,3400.851877,3439.758357,3545.038692,3743.712269,11.591236

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'DIXON' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,DIXON,2021-01-04,13710.0,13988.00,13600.00,43075,13773.00,63.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,DIXON,2021-01-05,13770.0,14126.00,13403.25,57128,14031.00,261.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,DIXON,2021-01-06,14101.0,14874.95,14050.10,66820,14445.35,344.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,DIXON,2021-01-07,15000.0,15950.00,14839.45,104550,15652.70,652.70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,DIXON,2021-01-08,16144.0,16786.00,14955.00,173583,15369.05,-774.95,15010.822038,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,DIXON,2022-12-20,4030.0,4092.00,3959.95,238282,4053.95,23.95,4064.982193,4100.781258,4129.109074,4196.791075,4217.582044,4221.993343,4263.414534,4229.143298,4292.703311,-92.884269
485,DIXON,2022-12-21,4095.0,4157.75,3925.00,320403,3940.75,-154.25,4023.571462,4068.775006,4100.130755,4173.514614,4196.287271,4201.160502,4250.761023,4223.432197,4289.173934,-101.029747
486,DIXON,2022-12-22,3961.5,3991.85,3842.00,179556,3877.00,-84.50,3974.714308,4030.420005,4065.802946,4146.558740,4171.726712,4177.148613,4236.103728,4216.571750,4285.040989,-111.345667
487,DIXON,2022-12-23,3811.0,3855.65,3710.00,168275,3718.05,-92.95,3889.159539,3967.946004,4012.302493,4107.603400,4136.828503,4143.141309,4215.787895,4206.699462,4279.356101,-130.838815
488,DIXON,2022-12-26,3736.6,3848.80,3671.70,201269,3817.80,81.20,3865.373026,3937.916803,3982.379033,4081.257636,4112.287849,4119.041952,4200.180527,4198.998047,4274.728700,-136.662920

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'DLF' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,DLF,2021-01-04,239.85,245.00,233.20,17172770,244.30,4.45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,DLF,2021-01-05,241.95,246.95,239.50,17130907,241.75,-0.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,DLF,2021-01-06,241.70,244.40,234.65,12995777,241.05,-0.65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,DLF,2021-01-07,244.90,249.30,242.60,16159966,245.40,0.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,DLF,2021-01-08,247.90,252.45,245.90,15045597,248.30,0.40,245.272512,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,DLF,2022-12-20,396.00,396.00,381.70,4641199,389.35,-6.65,395.663199,398.454222,399.404624,399.344669,398.652592,398.451002,392.809593,383.183296,373.611669,0.953622
485,DLF,2022-12-21,391.40,396.20,377.70,3330407,380.45,-10.95,390.592133,394.853378,396.488528,397.626972,397.252392,397.117595,392.324903,383.129168,373.680243,-0.629067
486,DLF,2022-12-22,382.55,385.00,374.50,2624616,377.85,-4.70,386.344755,391.452702,393.621062,395.829065,395.759901,395.690366,391.757260,383.024624,373.722054,-2.069303
487,DLF,2022-12-23,376.90,377.00,355.30,4966765,357.00,-19.90,376.563170,384.562162,387.987053,392.299150,392.778370,392.824413,390.394230,382.509255,373.554392,-4.837360
488,DLF,2022-12-26,358.75,372.40,356.30,3309456,370.75,12.00,374.625447,381.799729,385.335198,390.340137,391.083880,391.189271,389.623868,382.276386,373.526276,-5.854072

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'DMART' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,DMART,2021-01-04,2808.00,2949.00,2805.00,868534,2898.45,90.45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,DMART,2021-01-05,2890.00,3064.00,2810.10,808892,2991.15,101.15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,DMART,2021-01-06,3006.45,3100.00,2832.80,1112886,2914.95,-91.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,DMART,2021-01-07,2971.70,3008.00,2880.00,872261,2921.45,-50.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,DMART,2021-01-08,2949.90,2999.00,2932.25,742344,2967.50,17.60,2944.202844,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,DMART,2022-12-20,4088.00,4138.60,4052.15,217791,4089.55,1.55,4087.803193,4081.124336,4074.370274,4068.393298,4071.988360,4073.255983,4110.264127,4128.002709,4104.282294,1.114291
485,DMART,2022-12-21,4094.00,4109.95,3975.15,252192,3993.20,-100.80,4056.268795,4063.539468,4061.882540,4061.557544,4065.927717,4067.325910,4105.673377,4125.333188,4103.168365,-5.443371
486,DMART,2022-12-22,4008.00,4029.00,3905.50,283003,3921.55,-86.45,4011.362530,4035.141575,4040.292918,4048.829585,4054.821739,4056.527695,4098.452852,4121.297640,4101.347243,-16.234776
487,DMART,2022-12-23,3896.55,3911.75,3835.00,255257,3875.60,-20.95,3966.108353,4003.233260,4014.955546,4033.081441,4041.035451,4043.125643,4089.713524,4116.432059,4099.083807,-28.170097
488,DMART,2022-12-26,3896.00,4049.00,3871.00,205540,4036.60,140.60,3989.605569,4009.906608,4018.285462,4033.401310,4040.694263,4042.642262,4087.630641,4114.851137,4098.457366,-24.356800

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'DRREDDY' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,DRREDDY,2021-01-04,5260.00,5308.35,5241.35,784688,5272.25,12.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,DRREDDY,2021-01-05,5240.00,5337.00,5226.95,954184,5286.90,46.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,DRREDDY,2021-01-06,5286.90,5315.00,5226.00,542678,5288.30,1.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,DRREDDY,2021-01-07,5301.00,5325.00,5253.00,653293,5270.90,-30.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,DRREDDY,2021-01-08,5299.90,5360.00,5279.00,809183,5338.25,38.35,5301.645735,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,DRREDDY,2022-12-20,4380.00,4390.00,4308.10,242821,4369.75,-10.25,4393.299692,4406.317307,4411.644806,4418.986912,4419.329958,4419.194192,4402.583735,4366.114939,4370.463453,-7.549386
485,DRREDDY,2022-12-21,4379.95,4435.00,4353.40,347923,4407.55,27.60,4398.049795,4406.563845,4411.014836,4417.947193,4418.423808,4418.331660,4402.778490,4366.935484,4370.835356,-7.316824
486,DRREDDY,2022-12-22,4430.00,4456.00,4315.10,347470,4349.25,-80.75,4381.783196,4395.101076,4401.512553,4411.701994,4413.102746,4413.214500,4400.679334,4366.585256,4370.618915,-11.701946
487,DRREDDY,2022-12-23,4325.05,4418.00,4291.25,499756,4310.45,-14.60,4358.005464,4378.170861,4387.502930,4402.497267,4405.206381,4405.602314,4397.140929,4365.473603,4370.015636,-18.099385
488,DRREDDY,2022-12-26,4332.05,4347.00,4230.05,318608,4248.60,-83.45,4321.536976,4352.256689,4366.133248,4388.506606,4393.159736,4393.972513,4391.315794,4363.159143,4368.798365,-27.839265

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'EICHERMOT' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,EICHERMOT,2021-01-04,2591.0,2670.00,2580.00,3287511,2655.70,64.70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,EICHERMOT,2021-01-05,2630.0,2685.00,2616.00,1494362,2674.90,44.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,EICHERMOT,2021-01-06,2668.0,2672.00,2610.00,949386,2645.35,-22.65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,EICHERMOT,2021-01-07,2660.0,2715.65,2640.75,1250528,2649.80,-10.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,EICHERMOT,2021-01-08,2661.0,2771.30,2661.00,2585123,2760.85,99.85,2694.973697,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,EICHERMOT,2022-12-20,3370.0,3378.40,3291.00,711013,3313.45,-56.55,3331.095381,3334.869552,3342.017817,3373.465688,3387.378042,3390.614960,3428.976955,3361.127300,3173.915749,-48.597143
485,EICHERMOT,2022-12-21,3330.0,3350.00,3262.00,485199,3273.25,-56.75,3311.813587,3322.545642,3331.438153,3364.355171,3378.598962,3381.921259,3422.870016,3359.387051,3174.911870,-50.483106
486,EICHERMOT,2022-12-22,3274.0,3296.15,3196.55,613152,3206.05,-67.95,3276.559058,3299.246513,3312.147668,3349.963792,3365.325965,3368.893759,3414.367270,3356.350495,3175.224098,-56.746091
487,EICHERMOT,2022-12-23,3190.1,3200.00,3105.05,581956,3113.65,-76.45,3222.256039,3262.127211,3281.609565,3328.480720,3345.966275,3349.986814,3402.574436,3351.544267,3174.606730,-68.377248
488,EICHERMOT,2022-12-26,3115.0,3228.65,3088.20,530294,3161.25,46.25,3201.920693,3241.951769,3263.092709,3313.277927,3331.757331,3336.006309,3393.110732,3347.775851,3174.472820,-72.913600

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'EMAMILTD' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,EMAMILTD,2021-01-04,425.65,435.00,420.60,969002,425.40,-0.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,EMAMILTD,2021-01-05,424.00,428.80,423.10,670554,427.25,3.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,EMAMILTD,2021-01-06,428.00,454.55,426.70,2684476,450.30,22.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,EMAMILTD,2021-01-07,457.00,462.40,444.90,1435982,451.55,-5.45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,EMAMILTD,2021-01-08,453.00,459.90,448.05,912333,456.70,3.70,448.566825,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,EMAMILTD,2022-12-20,429.95,430.40,423.10,651729,427.40,-2.55,433.466433,437.854090,440.112764,444.938448,446.810127,447.264583,455.851411,462.684300,470.495772,-7.151819
485,EMAMILTD,2022-12-21,428.70,435.60,423.20,307373,428.35,-0.35,431.760955,435.953272,438.303108,443.430407,445.390117,445.863503,454.772924,462.004372,470.073135,-7.560395
486,EMAMILTD,2022-12-22,430.00,432.00,423.35,104766,427.30,-2.70,430.273970,434.222618,436.610322,441.964007,443.998570,444.488428,453.695555,461.317117,469.644241,-7.878106
487,EMAMILTD,2022-12-23,424.65,429.45,410.10,186672,413.95,-10.70,424.832647,430.168094,433.124119,439.417279,441.687141,442.226323,452.136906,460.379100,469.085827,-9.102204
488,EMAMILTD,2022-12-26,414.95,423.60,410.50,132585,421.75,6.80,423.805098,428.484475,431.374254,437.811163,440.153515,440.709558,450.945262,459.614124,468.611255,-9.335304

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'ENDURANCE' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,ENDURANCE,2021-01-04,1366.85,1450.00,1330.00,311873,1425.85,59.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ENDURANCE,2021-01-05,1428.00,1436.80,1371.30,312534,1417.75,-10.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ENDURANCE,2021-01-06,1415.00,1450.00,1414.00,173919,1439.95,24.95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ENDURANCE,2021-01-07,1442.00,1465.00,1416.85,235201,1443.40,1.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ENDURANCE,2021-01-08,1436.10,1453.15,1392.00,222329,1411.65,-24.45,1426.374645,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,ENDURANCE,2022-12-20,1456.85,1474.90,1444.95,24290,1459.80,2.95,1453.994305,1458.910359,1462.589645,1465.657335,1464.528976,1464.140119,1452.871485,1434.457496,1428.506479,-1.550475
485,ENDURANCE,2022-12-21,1467.00,1467.50,1416.65,23435,1431.05,-35.95,1446.346203,1453.338287,1457.737392,1462.511214,1461.953671,1461.688999,1452.015741,1434.390017,1428.531986,-3.951608
486,ENDURANCE,2022-12-22,1432.00,1447.80,1395.05,16233,1400.80,-31.20,1431.164135,1442.830630,1448.977793,1456.901104,1457.249542,1457.178703,1450.007280,1433.724829,1428.253912,-8.200910
487,ENDURANCE,2022-12-23,1361.00,1385.00,1355.00,40893,1367.35,6.35,1409.892757,1427.734504,1436.419671,1448.760094,1450.334193,1450.524725,1446.765818,1432.410400,1427.643264,-14.105054
488,ENDURANCE,2022-12-26,1354.90,1397.25,1350.45,21994,1373.85,18.95,1397.878505,1416.957603,1426.793568,1441.950086,1444.450793,1444.845116,1443.906374,1431.250722,1427.103951,-18.051548

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'ESCORTS' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,ESCORTS,2021-01-04,1304.85,1317.00,1283.55,1879986,1312.25,7.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ESCORTS,2021-01-05,1301.05,1320.00,1295.60,1833381,1313.20,12.15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ESCORTS,2021-01-06,1311.85,1325.10,1277.50,2806134,1294.40,-17.45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ESCORTS,2021-01-07,1310.00,1329.70,1303.55,2230665,1317.10,7.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ESCORTS,2021-01-08,1328.00,1355.00,1320.00,2413770,1349.00,21.00,1324.661611,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,ESCORTS,2022-12-20,2190.10,2220.25,2174.40,189729,2189.05,-1.05,2202.278503,2217.743701,2222.228749,2211.376385,2201.945872,2199.449877,2137.258548,2027.254070,1895.170001,22.778872
485,ESCORTS,2022-12-21,2208.70,2208.70,2136.05,215511,2149.90,-58.80,2184.819002,2204.174961,2211.101249,2205.787622,2197.942343,2195.779516,2137.754291,2029.682848,1897.724425,15.321733
486,ESCORTS,2022-12-22,2180.00,2180.00,2070.00,369082,2085.95,-94.05,2151.862668,2180.529968,2191.847211,2194.893293,2189.327548,2187.643996,2135.722751,2030.797115,1899.611799,4.203214
487,ESCORTS,2022-12-23,2069.00,2099.00,2003.15,317315,2012.00,-57.00,2105.241779,2146.823975,2164.178409,2178.266630,2175.686967,2174.633330,2130.870878,2030.424873,1900.738650,-10.454921
488,ESCORTS,2022-12-26,2011.95,2120.00,1990.60,333203,2102.20,90.25,2104.227852,2137.899180,2154.643269,2171.351482,2170.034123,2169.267898,2129.746530,2031.846243,1902.758431,-14.624629

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'EXIDEIND' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,EXIDEIND,2021-01-04,192.35,197.75,190.90,4515388,196.35,4.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,EXIDEIND,2021-01-05,194.55,197.15,192.00,4858928,196.10,1.55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,EXIDEIND,2021-01-06,196.10,198.25,191.45,4490658,193.80,-2.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,EXIDEIND,2021-01-07,195.45,200.00,194.80,6214108,197.05,1.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,EXIDEIND,2021-01-08,199.00,201.80,196.00,5154775,198.35,-0.65,196.833412,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,EXIDEIND,2022-12-20,190.40,191.35,187.60,1636538,190.50,0.10,190.586646,190.540040,190.141979,187.869082,186.650401,186.342738,179.753904,171.449156,166.220712,3.799241
485,EXIDEIND,2022-12-21,190.55,192.55,185.85,2430068,187.15,-3.40,189.441097,189.862032,189.681675,187.803711,186.688832,186.402535,180.043947,171.760082,166.430590,3.279140
486,EXIDEIND,2022-12-22,187.20,188.70,182.60,2835248,183.90,-3.30,187.594065,188.669626,188.792186,187.448828,186.474306,186.217162,180.195165,172.000491,166.605759,2.575024
487,EXIDEIND,2022-12-23,181.15,182.50,176.60,3412607,177.35,-3.80,184.179377,186.405701,187.031850,186.530753,185.772436,185.560335,180.083590,172.106428,166.713485,1.471515
488,EXIDEIND,2022-12-26,177.10,181.70,174.85,2636180,180.70,3.60,183.019584,185.264560,186.057719,186.000685,185.382249,185.200310,180.107763,172.276607,166.853709,0.857409

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'FEDERALBNK' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,FEDERALBNK,2021-01-04,69.00,71.40,68.80,45809327,70.55,1.55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,FEDERALBNK,2021-01-05,70.00,72.50,69.25,41838390,72.30,2.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,FEDERALBNK,2021-01-06,73.10,74.20,71.45,42551006,72.70,-0.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,FEDERALBNK,2021-01-07,74.90,76.50,73.25,51330375,75.65,0.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,FEDERALBNK,2021-01-08,76.40,76.80,75.40,25199203,75.75,-0.65,74.417299,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,FEDERALBNK,2022-12-20,136.70,137.35,133.30,10008151,134.95,-1.75,135.925234,135.679887,135.450119,134.816447,134.491126,134.402209,131.477962,124.248974,114.334588,1.047909
485,FEDERALBNK,2022-12-21,135.60,136.25,130.35,13127587,130.90,-4.70,134.250156,134.723909,134.750100,134.460407,134.214886,134.142786,131.455297,124.380685,114.500705,0.607314
486,FEDERALBNK,2022-12-22,131.45,132.35,127.10,17643887,127.95,-3.50,132.150104,133.369128,133.703931,133.868552,133.732972,133.684061,131.317834,124.451369,114.635564,0.019870
487,FEDERALBNK,2022-12-23,126.10,126.95,121.45,13181619,122.45,-3.65,128.916736,131.185302,131.972557,132.830501,132.865051,132.851909,130.970076,124.411736,114.713915,-0.879352
488,FEDERALBNK,2022-12-26,122.75,132.30,120.90,22992460,130.75,8.00,129.527824,131.098242,131.784471,132.641365,132.702354,132.696212,130.961446,124.537253,114.874687,-0.911740

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'FLUOROCHEM' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,FLUOROCHEM,2021-01-04,580.60,624.95,568.00,421861,602.90,22.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,FLUOROCHEM,2021-01-05,597.00,641.50,590.30,545508,630.65,33.65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,FLUOROCHEM,2021-01-06,637.90,650.00,611.80,368885,620.10,-17.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,FLUOROCHEM,2021-01-07,633.80,649.00,616.00,90972,621.35,-12.45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,FLUOROCHEM,2021-01-08,629.95,630.00,616.00,77350,621.45,-8.50,620.833886,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,FLUOROCHEM,2022-12-20,3057.00,3072.75,2955.00,170572,3007.30,-49.70,3103.146507,3164.751542,3203.421081,3301.186946,3336.760437,3344.880353,3457.860903,3433.490740,3191.004977,-141.459271
485,FLUOROCHEM,2022-12-21,3030.00,3139.00,3016.05,204787,3039.25,9.25,3081.847672,3139.651233,3178.163992,3277.374497,3313.875019,3322.241067,3441.444789,3425.683524,3189.483183,-144.077075
486,FLUOROCHEM,2022-12-22,3080.00,3094.45,2929.00,128088,2978.30,-101.70,3047.331781,3107.380987,3147.415686,3250.185906,3288.061556,3296.763951,3423.282249,3416.823923,3187.365610,-149.348266
487,FLUOROCHEM,2022-12-23,2945.95,2962.05,2740.00,149405,2769.00,-176.95,2954.554521,3039.704789,3089.197888,3206.441733,3248.133744,3257.670325,3397.624121,3403.994986,3183.170902,-168.472437
488,FLUOROCHEM,2022-12-26,2850.00,3050.00,2803.25,249748,3020.25,170.25,2976.453014,3035.813831,3078.590520,3189.515212,3230.604225,3240.083634,3382.825136,3396.395646,3181.537513,-161.493114

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'FORTIS' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,FORTIS,2021-01-04,156.90,157.4,153.25,2250071,155.75,-1.15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,FORTIS,2021-01-05,155.00,159.9,154.00,3960113,155.90,0.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,FORTIS,2021-01-06,160.00,168.9,158.55,14196916,162.10,2.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,FORTIS,2021-01-07,164.00,166.5,160.60,3645932,163.90,-0.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,FORTIS,2021-01-08,165.70,181.2,164.85,16293902,179.40,13.70,168.015166,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,FORTIS,2022-12-20,279.00,283.0,278.40,225493,281.50,2.50,282.007840,283.455866,284.147868,284.850376,284.801993,284.772715,283.275670,278.964375,272.616303,-0.624847
485,FORTIS,2022-12-21,281.95,290.6,281.65,1421749,285.65,3.70,283.221893,283.894693,284.378965,284.923069,284.867224,284.837699,283.368781,279.096772,272.747004,-0.458734
486,FORTIS,2022-12-22,285.65,287.2,277.35,1799516,280.00,-5.65,282.147929,283.115755,283.705278,284.475517,284.492823,284.479351,283.236672,279.114659,272.819732,-0.774073
487,FORTIS,2022-12-23,276.55,279.7,269.10,754021,272.15,-4.40,278.815286,280.922604,281.927543,283.355016,283.543375,283.566066,282.801901,278.976737,272.813017,-1.638523
488,FORTIS,2022-12-26,273.20,280.0,271.30,828928,275.35,2.15,277.660191,279.808083,280.915613,282.627287,282.913115,282.957469,282.509669,278.904916,272.838451,-2.041855

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'GAIL' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,GAIL,2021-01-04,124.80,128.45,124.65,25382950,128.00,3.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,GAIL,2021-01-05,127.15,129.75,125.75,24858763,129.30,2.15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,GAIL,2021-01-06,130.80,136.00,130.50,45548182,134.00,3.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,GAIL,2021-01-07,135.45,135.80,132.30,18038619,133.45,-2.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,GAIL,2021-01-08,134.50,134.65,131.65,17130661,132.75,-1.75,132.389810,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,GAIL,2022-12-20,97.00,98.20,96.00,11062080,97.90,0.90,96.756998,95.753599,95.199035,94.011486,93.675098,93.611510,94.495677,102.776910,116.038967,1.587525
485,GAIL,2022-12-21,98.20,98.50,94.50,14279180,95.10,-3.10,96.204666,95.622879,95.183799,94.110442,93.784706,93.721769,94.519376,102.624883,115.828991,1.462030
486,GAIL,2022-12-22,95.15,96.00,92.80,12024065,94.15,-1.00,95.519777,95.328303,95.024753,94.114038,93.812806,93.753489,94.504890,102.457053,115.611612,1.271264
487,GAIL,2022-12-23,93.00,93.65,91.00,22444602,91.55,-1.45,94.196518,94.572642,94.490176,93.880944,93.638744,93.590268,94.389012,102.241060,115.370360,0.899908
488,GAIL,2022-12-26,91.50,94.60,90.65,8024641,94.40,2.90,94.264345,94.538114,94.476302,93.928131,93.697302,93.650248,94.389443,102.085782,115.160119,0.826054

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'GICRE' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,GICRE,2021-01-04,141.80,143.00,140.70,510358,141.85,0.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,GICRE,2021-01-05,140.80,142.90,140.55,312334,141.40,0.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,GICRE,2021-01-06,142.50,143.10,138.60,418932,139.85,-2.65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,GICRE,2021-01-07,140.15,142.80,140.15,346006,141.30,1.15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,GICRE,2021-01-08,141.30,147.20,141.30,1802161,144.65,3.35,142.391706,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,GICRE,2022-12-20,186.40,200.75,181.05,26564519,187.80,1.40,176.083897,167.703063,163.570654,155.639849,153.163097,152.605368,143.438893,135.070623,132.019317,10.965286
485,GICRE,2022-12-21,188.00,190.40,165.55,10200013,167.95,-20.05,173.372598,167.752450,164.244400,156.758954,154.300551,153.742007,144.400112,135.721739,132.379629,10.502393
486,GICRE,2022-12-22,169.40,177.70,162.20,15637540,175.70,6.30,174.148398,169.341960,166.006800,158.480867,155.946663,155.368525,145.627559,136.513434,132.814010,10.638275
487,GICRE,2022-12-23,174.40,177.00,152.15,9706224,156.00,-18.40,168.098932,166.673568,164.467292,158.255334,155.950766,155.415301,146.034321,136.899329,133.046482,9.051991
488,GICRE,2022-12-26,157.00,170.75,157.00,5994581,166.05,9.05,167.415955,166.548854,164.710786,158.963940,156.727630,156.203057,146.819250,137.476603,133.377364,8.507729

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'GLAND' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,GLAND,2021-01-04,2390.05,2488.40,2375.00,629065,2447.70,57.65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,GLAND,2021-01-05,2444.00,2482.40,2422.95,335971,2468.55,24.55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,GLAND,2021-01-06,2480.00,2486.95,2400.15,238280,2408.45,-71.55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,GLAND,2021-01-07,2429.95,2447.00,2390.05,137885,2401.10,-28.85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,GLAND,2021-01-08,2408.95,2417.40,2350.10,194282,2368.10,-40.85,2400.891469,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,GLAND,2022-12-20,1683.90,1693.45,1615.70,629536,1638.25,-45.65,1685.424376,1702.872380,1710.784628,1734.318941,1747.420918,1750.938360,1849.284249,2064.438893,2401.897476,-40.153732
485,GLAND,2022-12-21,1652.00,1666.00,1605.90,557870,1612.30,-39.70,1661.049584,1684.757904,1695.633147,1723.226310,1737.027001,1740.668852,1839.990749,2055.485109,2393.979418,-45.035705
486,GLAND,2022-12-22,1619.00,1658.95,1594.00,455043,1605.15,-13.85,1642.416389,1668.836323,1681.712662,1712.492100,1726.882617,1730.630418,1830.781308,2046.567058,2386.069677,-48.917756
487,GLAND,2022-12-23,1604.95,1606.95,1570.00,336255,1581.45,-23.50,1622.094260,1651.359058,1666.287637,1700.579182,1715.695492,1719.580017,1821.003610,2037.356287,2378.002225,-53.292380
488,GLAND,2022-12-26,1588.35,1597.55,1571.00,260949,1580.95,-7.40,1608.379506,1637.277247,1653.158770,1689.703802,1705.330455,1709.311127,1811.589743,2028.318028,2370.011257,-56.152357

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'GLAXO' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,GLAXO,2021-01-04,1626.00,1630.00,1590.00,23376,1599.80,-26.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,GLAXO,2021-01-05,1600.00,1616.00,1585.10,22879,1593.20,-6.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,GLAXO,2021-01-06,1595.00,1605.50,1580.00,31045,1600.10,5.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,GLAXO,2021-01-07,1601.00,1620.00,1590.25,54605,1599.75,-1.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,GLAXO,2021-01-08,1607.75,1618.30,1570.05,35869,1587.00,-20.75,1594.173934,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,GLAXO,2022-12-20,1337.70,1345.00,1322.50,16813,1329.35,-8.35,1335.331302,1335.494054,1335.033588,1335.333067,1336.514501,1336.892479,1351.359916,1388.442641,1442.766692,-1.858891
485,GLAXO,2022-12-21,1330.00,1353.00,1327.50,36766,1345.10,15.10,1338.587535,1337.415244,1336.582267,1336.220970,1337.174924,1337.500443,1351.114429,1387.584320,1441.787293,-0.918177
486,GLAXO,2022-12-22,1345.10,1355.95,1325.00,34879,1344.80,-0.30,1340.658356,1338.892195,1337.846533,1337.000882,1337.761468,1338.041151,1350.866805,1386.737055,1440.814783,-0.194618
487,GLAXO,2022-12-23,1344.80,1350.00,1320.00,35876,1340.20,-4.60,1340.505571,1339.153756,1338.208605,1337.291711,1337.949048,1338.201066,1350.448499,1385.815476,1439.805978,0.007539
488,GLAXO,2022-12-26,1340.20,1345.65,1327.10,20571,1330.85,-9.35,1337.287047,1337.493005,1337.076512,1336.706101,1337.402967,1337.656543,1349.679930,1384.726990,1438.713623,-0.580030

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'GLENMARK' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,GLENMARK,2021-01-04,504.30,519.40,503.00,2551988,514.60,10.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,GLENMARK,2021-01-05,514.60,520.00,510.00,2056118,517.70,3.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,GLENMARK,2021-01-06,518.00,525.60,511.15,2171228,520.25,2.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,GLENMARK,2021-01-07,523.00,524.00,512.15,2024795,514.35,-8.65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,GLENMARK,2021-01-08,516.00,523.90,513.25,1514739,517.65,1.65,517.023460,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,GLENMARK,2022-12-20,417.90,418.90,406.90,545371,409.25,-8.65,419.688722,423.652550,424.873351,425.021257,424.265498,424.035372,417.267146,410.458735,420.184975,0.837978
485,GLENMARK,2022-12-21,410.05,442.00,410.05,6127038,440.40,30.35,426.592481,427.002040,427.262066,426.419325,425.506614,425.247567,418.174316,411.051667,420.387691,2.014499
486,GLENMARK,2022-12-22,445.70,451.00,428.40,3196842,436.40,-9.30,429.861654,428.881632,428.667902,427.326659,426.344567,426.073673,418.889049,411.553644,420.548250,2.594229
487,GLENMARK,2022-12-23,436.40,443.95,426.75,2093633,429.15,-7.25,429.624436,428.935306,428.742071,427.492417,426.560369,426.301549,419.291439,411.902106,420.634494,2.440522
488,GLENMARK,2022-12-26,432.00,432.00,419.40,1097283,425.05,-6.95,428.099624,428.158245,428.174060,427.270379,426.444187,426.208842,419.517265,412.162475,420.678763,1.965218

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'GMRINFRA' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,GMRINFRA,2021-01-04,26.80,27.25,26.15,19908072,27.05,0.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,GMRINFRA,2021-01-05,26.80,27.40,26.55,21427955,27.20,0.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,GMRINFRA,2021-01-06,27.20,27.35,26.40,15535397,26.75,-0.45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,GMRINFRA,2021-01-07,27.00,27.75,26.75,20607639,27.15,0.15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,GMRINFRA,2021-01-08,27.45,28.30,26.85,36429482,27.65,0.20,27.271801,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,GMRINFRA,2022-12-20,42.75,43.10,41.90,10389812,42.65,-0.10,42.608724,42.608261,42.469857,41.760496,41.428293,41.348122,39.872734,38.511443,37.688164,1.121735
485,GMRINFRA,2022-12-21,42.95,42.95,40.60,10930509,40.90,-2.05,42.039149,42.266608,42.228341,41.682269,41.387655,41.314928,39.913019,38.558744,37.720372,0.913413
486,GMRINFRA,2022-12-22,41.00,41.40,39.60,11818673,40.00,-1.00,41.359433,41.813287,41.885519,41.529336,41.280913,41.217526,39.916430,38.587285,37.743231,0.667993
487,GMRINFRA,2022-12-23,39.40,39.65,37.45,15566348,37.80,-1.60,40.172955,41.010629,41.256978,41.190305,41.013150,40.964376,39.833433,38.571695,37.743800,0.292602
488,GMRINFRA,2022-12-26,38.00,39.00,37.15,8868913,38.70,0.70,39.681970,40.548504,40.863597,40.963914,40.835215,40.796644,39.788984,38.574236,37.753386,0.066952

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'GODREJCP' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,GODREJCP,2021-01-04,740.10,760.00,734.25,1503343,758.10,18.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,GODREJCP,2021-01-05,758.10,763.75,747.30,1030289,760.30,2.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,GODREJCP,2021-01-06,763.00,763.00,738.55,2741990,744.70,-18.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,GODREJCP,2021-01-07,752.00,753.15,731.25,1504697,733.35,-18.65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,GODREJCP,2021-01-08,738.90,752.30,735.40,2097317,750.35,11.45,746.754739,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,GODREJCP,2022-12-20,906.00,906.00,889.10,588692,894.60,-11.40,897.594558,895.096710,892.235719,883.152923,879.925955,879.219464,870.015047,861.687299,856.279682,13.016255
485,GODREJCP,2022-12-21,899.00,900.20,872.00,828262,884.35,-14.65,893.179705,892.947368,891.022532,883.261748,880.266266,879.599504,870.577202,862.136093,856.561170,11.423028
486,GODREJCP,2022-12-22,882.55,899.00,880.05,864653,891.35,8.80,892.569804,892.627894,891.072911,883.997044,881.118861,880.469911,871.391822,862.714620,856.910004,10.603001
487,GODREJCP,2022-12-23,885.75,888.10,865.45,485866,873.40,-12.35,886.179869,888.782315,888.354002,883.033676,880.525103,879.946214,871.470574,862.926224,857.075340,8.407788
488,GODREJCP,2022-12-26,873.45,890.00,861.45,471973,883.00,9.55,885.119913,887.625852,887.530309,883.030615,880.715479,880.172420,871.922708,863.323747,857.335251,7.357889

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'GODREJIND' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,GODREJIND,2021-01-04,431.35,435.50,424.25,300076,425.75,-5.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,GODREJIND,2021-01-05,426.90,427.00,421.00,176447,422.50,-4.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,GODREJIND,2021-01-06,423.50,427.25,421.50,200672,422.75,-0.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,GODREJIND,2021-01-07,423.10,430.60,418.00,483604,426.90,3.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,GODREJIND,2021-01-08,430.00,435.55,427.60,595357,431.30,1.30,427.293365,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,GODREJIND,2022-12-20,457.75,460.55,454.00,28029,455.55,-2.20,461.065857,462.791545,461.835190,456.064029,453.753719,453.240911,447.083368,449.524298,466.575559,8.594278
485,GODREJIND,2022-12-21,462.40,468.80,435.65,87458,442.80,-19.60,454.977238,458.793236,458.906699,454.858208,452.911125,452.467510,446.915393,449.391135,466.337139,6.439188
486,GODREJIND,2022-12-22,444.00,449.05,433.70,87265,435.90,-8.10,448.618159,454.214589,455.367207,453.134735,451.602577,451.240287,446.483416,449.123969,466.031940,4.126919
487,GODREJIND,2022-12-23,426.55,433.00,421.45,84153,424.55,-2.00,440.595439,448.281671,450.626098,450.536123,449.521609,449.263229,445.623282,448.637327,465.616025,1.362869
488,GODREJIND,2022-12-26,425.10,436.45,420.70,59546,434.25,9.15,438.480293,445.475337,448.106698,449.055566,448.346870,448.151138,445.177271,448.352414,465.301560,-0.044440

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'GODREJPROP' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,GODREJPROP,2021-01-04,1435.00,1444.00,1401.00,820791,1407.20,-27.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,GODREJPROP,2021-01-05,1411.35,1429.20,1400.00,779433,1406.60,-4.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,GODREJPROP,2021-01-06,1418.00,1472.85,1408.05,1804361,1460.60,42.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,GODREJPROP,2021-01-07,1506.00,1527.90,1438.15,2635116,1452.80,-53.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,GODREJPROP,2021-01-08,1458.00,1484.90,1430.00,1183150,1463.15,5.15,1449.391232,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,GODREJPROP,2022-12-20,1309.85,1312.00,1255.00,681652,1275.80,-34.05,1297.701563,1301.985310,1302.493687,1298.210834,1295.571347,1294.940447,1287.909788,1307.794933,1381.911975,7.553240
485,GODREJPROP,2022-12-21,1282.20,1299.90,1250.00,501324,1254.40,-27.80,1283.267709,1292.468248,1295.094658,1294.228031,1292.404321,1291.937451,1286.595679,1306.737545,1380.633290,3.157207
486,GODREJPROP,2022-12-22,1263.00,1272.30,1220.05,413617,1227.45,-35.55,1264.661806,1279.464598,1284.687787,1288.157301,1287.407834,1287.160603,1284.276240,1305.167402,1379.097292,-2.472815
487,GODREJPROP,2022-12-23,1218.00,1220.00,1165.25,723155,1173.10,-44.90,1234.141204,1258.191678,1267.520435,1277.697546,1278.614924,1278.711669,1279.916388,1302.552055,1377.031877,-11.191234
488,GODREJPROP,2022-12-26,1180.00,1212.00,1167.00,518521,1207.10,27.10,1225.127469,1247.973343,1258.224984,1271.279587,1273.113776,1273.407101,1277.060843,1300.661808,1375.328199,-15.182117

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'GRASIM' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,GRASIM,2021-01-04,937.15,967.00,937.15,2667535,964.45,27.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,GRASIM,2021-01-05,955.00,971.95,946.95,1511818,961.30,6.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,GRASIM,2021-01-06,960.00,989.50,955.05,2162883,984.60,24.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,GRASIM,2021-01-07,990.00,1004.65,977.20,1888940,993.85,3.85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,GRASIM,2021-01-08,999.65,1023.85,992.10,2381402,1004.30,4.65,990.351659,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,GRASIM,2022-12-20,1762.00,1763.95,1729.65,441273,1758.95,-3.05,1773.578780,1781.183060,1781.565911,1774.134686,1769.869865,1768.793796,1742.628412,1694.458991,1648.053185,12.772115
485,GRASIM,2022-12-21,1760.55,1772.40,1727.85,409915,1732.90,-27.65,1760.019187,1771.526448,1774.078847,1770.386078,1767.026029,1766.134996,1742.246905,1695.220244,1648.904026,7.943851
486,GRASIM,2022-12-22,1746.00,1755.75,1726.05,419967,1744.85,-1.15,1754.962791,1766.191158,1769.582102,1768.064616,1765.320181,1764.558330,1742.348988,1696.203070,1649.866094,5.023772
487,GRASIM,2022-12-23,1725.00,1745.90,1704.95,357278,1709.10,-15.90,1739.675194,1754.772926,1760.277163,1762.704197,1760.995552,1760.450305,1741.045106,1696.458469,1650.459998,-0.173142
488,GRASIM,2022-12-26,1711.60,1741.00,1704.00,384118,1729.05,17.45,1736.133463,1749.628341,1755.472984,1759.644724,1758.538202,1758.124357,1740.574709,1697.103883,1651.247914,-2.651373

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'GRINDWELL' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,GRINDWELL,2021-01-04,718.15,729.00,715.25,72820,717.80,-0.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,GRINDWELL,2021-01-05,705.00,766.90,705.00,79381,757.10,52.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,GRINDWELL,2021-01-06,772.00,785.00,722.55,130157,746.20,-25.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,GRINDWELL,2021-01-07,748.00,775.00,736.65,83586,751.25,3.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,GRINDWELL,2021-01-08,755.05,763.50,740.00,34785,745.35,-9.70,746.252370,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,GRINDWELL,2022-12-20,1917.15,1940.00,1900.00,64939,1928.70,11.55,1923.707542,1925.245122,1928.388534,1944.118180,1951.930270,1953.842834,1985.144391,1977.393643,1898.959437,-25.454300
485,GRINDWELL,2022-12-21,1938.35,1949.95,1900.00,43682,1914.25,-24.10,1920.555028,1923.046098,1926.213375,1941.402891,1949.031788,1950.910032,1982.364219,1976.143199,1899.112770,-24.696657
486,GRINDWELL,2022-12-22,1929.85,1929.85,1880.00,42803,1899.80,-30.05,1913.636685,1918.396878,1922.149779,1937.620810,1945.244727,1947.124103,1979.126406,1974.631363,1899.119661,-24.974325
487,GRINDWELL,2022-12-23,1887.45,1912.95,1815.15,32805,1826.75,-60.70,1884.674457,1900.067503,1907.472890,1927.541645,1936.129748,1938.207503,1973.150861,1971.702850,1898.394053,-30.734613
488,GRINDWELL,2022-12-26,1845.00,1850.75,1796.10,32704,1803.10,-41.90,1857.482971,1880.674002,1891.415522,1916.228768,1925.896691,1928.199540,1966.482199,1968.363991,1897.438668,-36.784018

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'GSPL' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,GSPL,2021-01-04,220.50,222.50,217.55,1482248,219.30,-1.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,GSPL,2021-01-05,218.05,222.80,215.90,1302051,217.10,-0.95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,GSPL,2021-01-06,218.15,219.20,212.10,1638511,213.15,-5.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,GSPL,2021-01-07,215.15,217.50,210.00,908384,210.60,-4.55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,GSPL,2021-01-08,213.35,213.35,208.10,1552609,210.10,-3.25,212.242180,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,GSPL,2022-12-20,273.15,274.85,269.05,1199860,272.30,-0.85,271.659638,270.482354,269.133780,264.024972,261.779483,261.244530,252.079559,246.785390,252.301870,7.889250
485,GSPL,2022-12-21,273.70,275.65,267.05,540009,267.75,-5.95,270.356425,269.935883,268.920891,264.363611,262.238754,261.726417,252.694086,247.200555,252.456783,7.194474
486,GSPL,2022-12-22,267.75,267.80,256.30,798868,258.45,-9.30,266.387617,267.638706,267.309985,263.826010,261.947311,261.483719,252.919808,247.423330,252.516878,5.826266
487,GSPL,2022-12-23,257.75,257.75,250.05,904826,254.05,-3.70,262.275078,264.920965,265.269987,262.937282,261.339826,260.933073,252.964129,247.554559,252.532250,4.336914
488,GSPL,2022-12-26,254.05,264.50,248.55,459378,262.50,8.45,262.350052,264.436772,264.843835,262.897529,261.429070,261.049142,253.338085,247.850525,252.632183,3.794693

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'GUJGASLTD' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,GUJGASLTD,2021-01-04,381.00,387.50,375.00,1458239,379.35,-1.65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,GUJGASLTD,2021-01-05,380.95,391.00,380.05,946947,389.55,8.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,GUJGASLTD,2021-01-06,393.30,396.95,380.00,919295,386.30,-7.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,GUJGASLTD,2021-01-07,388.80,394.00,383.00,546555,386.85,-1.95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,GUJGASLTD,2021-01-08,390.90,391.50,385.00,458324,389.95,-0.95,387.684597,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,GUJGASLTD,2022-12-20,525.75,527.75,519.40,546384,526.55,0.80,525.558847,523.008836,520.973190,516.184167,514.583373,514.216708,507.476505,502.838751,515.346430,6.756482
485,GUJGASLTD,2022-12-21,527.00,536.35,511.00,1221529,513.50,-13.50,521.539231,521.107069,519.823468,515.940152,514.500037,514.163619,507.712721,503.049877,515.327914,5.659850
486,GUJGASLTD,2022-12-22,513.50,516.30,494.00,1066001,495.50,-18.00,512.859488,515.985655,516.081396,514.081956,513.038496,512.781129,507.233791,502.900366,515.129096,3.300268
487,GUJGASLTD,2022-12-23,493.00,497.30,463.05,1182558,467.70,-25.30,497.806325,506.328524,508.638105,509.865415,509.550919,509.441786,505.683446,502.203289,514.653552,-0.803681
488,GUJGASLTD,2022-12-26,465.00,484.95,464.50,571172,481.00,16.00,492.204217,501.262819,504.386089,507.241286,507.354695,507.334987,504.715468,501.783398,514.316153,-2.948898

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'HAL' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,HAL,2021-01-04,861.95,891.00,856.80,739340,886.90,24.95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,HAL,2021-01-05,879.80,926.95,864.50,1492650,921.55,41.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,HAL,2021-01-06,934.00,960.45,930.00,1650561,943.80,9.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,HAL,2021-01-07,960.00,963.95,925.50,506239,930.50,-29.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,HAL,2021-01-08,932.10,940.45,910.00,355307,912.50,-19.60,921.535071,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,HAL,2022-12-20,2646.00,2668.00,2606.00,636707,2656.45,10.45,2648.873947,2666.136742,2674.055479,2672.550897,2665.153781,2662.962170,2592.571876,2421.623185,2147.426767,11.093309
485,HAL,2022-12-21,2663.95,2675.40,2560.05,955151,2582.05,-81.90,2626.599298,2649.319393,2659.900790,2664.323543,2658.761183,2656.968676,2592.159253,2424.800144,2151.785155,2.932114
486,HAL,2022-12-22,2588.00,2601.00,2493.00,868589,2524.50,-63.50,2592.566198,2624.355515,2639.069899,2651.612311,2648.433399,2647.156181,2589.505949,2426.774515,2155.522437,-8.086282
487,HAL,2022-12-23,2505.00,2524.50,2425.75,867782,2439.65,-65.35,2541.594132,2587.414412,2608.389915,2632.343010,2632.373138,2631.785353,2583.629245,2427.029490,2158.371218,-23.395438
488,HAL,2022-12-26,2425.00,2544.00,2415.00,818555,2527.15,102.15,2536.779422,2575.361529,2595.891466,2622.780009,2624.279050,2624.034586,2581.414373,2429.012186,2162.068466,-28.143120

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'HAPPSTMNDS' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,HAPPSTMNDS,2021-01-04,339.00,345.80,338.20,1703579,342.55,3.55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,HAPPSTMNDS,2021-01-05,341.85,345.70,338.55,1319676,342.50,0.65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,HAPPSTMNDS,2021-01-06,345.00,348.90,333.25,1672790,338.20,-6.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,HAPPSTMNDS,2021-01-07,341.50,341.85,333.65,785782,335.65,-5.85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,HAPPSTMNDS,2021-01-08,338.55,346.70,338.25,1255351,344.90,6.35,340.938389,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,HAPPSTMNDS,2022-12-20,930.00,937.45,920.05,198017,924.40,-5.60,931.573418,935.690355,938.965263,947.381680,950.541742,951.284181,963.722583,974.429719,998.626733,-12.318918
485,HAPPSTMNDS,2022-12-21,928.70,932.00,906.00,183008,908.10,-20.60,923.748945,930.172284,934.216761,943.810618,947.276992,948.085353,961.541305,973.116180,997.718934,-13.868592
486,HAPPSTMNDS,2022-12-22,910.90,916.45,880.00,263282,888.20,-22.70,911.899297,921.777827,927.137259,938.755108,942.732608,943.649401,958.665175,971.434573,996.620767,-16.512141
487,HAPPSTMNDS,2022-12-23,867.10,880.00,845.45,393835,848.25,-18.85,890.682864,907.072262,915.000758,930.527370,935.464715,936.582778,954.335168,968.995134,995.133140,-21.582021
488,HAPPSTMNDS,2022-12-26,850.95,879.90,845.70,178822,873.00,22.05,884.788576,900.257809,908.539103,925.297610,930.659737,931.872943,951.145554,967.094132,993.908676,-23.333840

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'HATSUN' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,HATSUN,2021-01-04,727.90,734.00,703.95,86008,718.90,-9.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,HATSUN,2021-01-05,718.90,724.70,715.00,32583,720.25,1.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,HATSUN,2021-01-06,728.95,728.95,717.00,39738,718.05,-10.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,HATSUN,2021-01-07,728.00,729.00,718.15,31582,725.60,-2.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,HATSUN,2021-01-08,734.00,734.00,720.65,32822,728.15,-5.85,724.174171,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,HATSUN,2022-12-20,902.00,920.00,902.00,20429,912.40,10.40,908.375188,911.589067,913.931932,920.976126,924.472688,925.371728,945.077052,968.419876,998.851720,-11.439796
485,HATSUN,2022-12-21,910.00,917.00,896.05,16716,904.50,-5.50,907.083458,910.171253,912.480865,919.478296,922.936328,923.825674,943.485795,967.154060,997.905564,-11.344809
486,HATSUN,2022-12-22,900.10,908.80,893.05,14637,900.20,0.10,904.788972,908.177003,910.591501,917.725724,921.187379,922.075624,941.788313,965.828159,996.925852,-11.484123
487,HATSUN,2022-12-23,893.00,911.70,890.00,27429,897.70,4.70,902.425982,906.081602,908.608194,915.905203,919.380658,920.270022,940.059360,964.479009,995.930972,-11.661829
488,HATSUN,2022-12-26,892.00,905.00,892.00,15899,902.20,10.20,902.350654,905.305282,907.622318,914.659276,918.059069,918.931502,938.574679,963.245691,994.991258,-11.309185

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'HAVELLS' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,HAVELLS,2021-01-04,910.55,923.30,909.25,1042065,918.80,8.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,HAVELLS,2021-01-05,921.50,938.85,911.60,1871002,935.70,14.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,HAVELLS,2021-01-06,945.00,953.65,934.05,2633011,945.90,0.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,HAVELLS,2021-01-07,955.80,977.95,946.00,2124734,971.25,15.45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,HAVELLS,2021-01-08,976.10,1012.55,974.10,3536689,1007.50,31.40,972.819905,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,HAVELLS,2022-12-20,1151.20,1177.00,1151.20,535004,1172.25,21.05,1165.498338,1172.965502,1179.425241,1194.214807,1199.250258,1200.424088,1221.671094,1237.641230,1240.639368,-20.998847
485,HAVELLS,2022-12-21,1178.05,1181.90,1151.40,526005,1156.30,-21.75,1162.432225,1169.632402,1175.867512,1190.768006,1195.946392,1197.155637,1219.107521,1236.030415,1239.793616,-21.288125
486,HAVELLS,2022-12-22,1158.00,1163.05,1134.40,697173,1138.30,-19.70,1154.388150,1163.365922,1170.087895,1185.998187,1191.512054,1192.795961,1215.938599,1234.095046,1238.775920,-22.708066
487,HAVELLS,2022-12-23,1131.00,1134.70,1024.50,868844,1100.80,-30.20,1136.525433,1150.852737,1159.428219,1178.252898,1184.534204,1185.981445,1211.423360,1231.455388,1237.392516,-26.553226
488,HAVELLS,2022-12-26,1098.65,1118.20,1089.70,537211,1110.55,11.90,1127.866956,1142.792190,1151.908493,1172.098089,1178.843111,1180.393930,1207.467542,1229.061086,1236.120837,-28.485438

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'HCLTECH' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,HCLTECH,2021-01-04,959.0,984.70,952.65,5259092,980.40,21.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,HCLTECH,2021-01-05,967.2,995.80,967.20,7150252,991.35,24.15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,HCLTECH,2021-01-06,997.9,998.00,966.10,5995748,978.20,-19.70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,HCLTECH,2021-01-07,988.0,988.20,959.40,5261000,962.55,-25.45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,HCLTECH,2021-01-08,974.9,1003.50,970.00,8034775,994.65,19.75,982.172275,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,HCLTECH,2022-12-20,1027.0,1033.35,1011.50,2629849,1029.70,2.70,1037.330081,1049.042869,1056.506839,1066.998473,1067.482458,1067.346288,1052.517675,1031.590485,1037.252327,-10.839449
485,HCLTECH,2022-12-21,1035.0,1053.25,1035.00,2878658,1040.35,5.35,1038.336720,1047.304295,1054.021171,1064.575885,1065.395346,1065.346563,1052.040511,1031.763952,1037.283390,-11.325392
486,HCLTECH,2022-12-22,1046.0,1054.65,1033.60,2623451,1039.10,-6.90,1038.591147,1045.663436,1051.725606,1062.259895,1063.372627,1063.402373,1051.533040,1031.909228,1037.301606,-11.676767
487,HCLTECH,2022-12-23,1029.5,1044.10,1027.10,2177675,1030.60,1.10,1035.927431,1042.650749,1048.475513,1059.381723,1060.851656,1060.972567,1050.712137,1031.883302,1037.234413,-12.497054
488,HCLTECH,2022-12-26,1031.0,1041.75,1029.00,1680715,1031.70,0.70,1034.518288,1040.460599,1045.894665,1056.865203,1058.609221,1058.804229,1049.966563,1031.879672,1037.178927,-12.909564

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'HDFC' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,HDFC,2021-01-04,2576.90,2592.35,2533.15,2795972,2578.50,1.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,HDFC,2021-01-05,2589.00,2659.45,2572.40,5870743,2651.85,62.85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,HDFC,2021-01-06,2664.70,2665.00,2619.00,3401085,2638.85,-25.85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,HDFC,2021-01-07,2670.00,2709.35,2647.40,4106042,2661.35,-8.65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,HDFC,2021-01-08,2668.00,2674.40,2631.00,4497042,2657.50,-10.50,2648.670142,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,HDFC,2022-12-20,2680.60,2705.00,2677.75,2239771,2700.30,19.70,2694.804970,2690.162092,2685.942571,2665.694898,2654.296228,2651.359092,2585.201179,2501.034307,2458.679820,34.583479
485,HDFC,2022-12-21,2704.00,2711.65,2643.90,2043280,2656.85,-47.15,2682.153313,2683.499673,2681.466791,2664.890816,2654.492672,2651.765826,2588.010937,2504.119952,2460.667064,29.700965
486,HDFC,2022-12-22,2671.00,2671.00,2636.20,2337299,2644.45,-26.55,2669.585542,2675.689739,2675.771900,2663.032560,2653.720159,2651.223913,2590.224234,2506.898928,2462.509890,24.547987
487,HDFC,2022-12-23,2616.00,2630.85,2605.00,3137007,2623.05,7.05,2654.073695,2665.161791,2667.660839,2659.397782,2651.360916,2649.136957,2591.511519,2509.199082,2464.119532,18.523882
488,HDFC,2022-12-26,2624.55,2680.00,2616.10,1157742,2665.10,40.55,2657.749130,2665.149433,2667.266864,2659.916166,2652.417769,2650.319404,2594.397341,2512.286404,2466.134493,16.947459

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'HDFCAMC' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,HDFCAMC,2021-01-04,3015.95,3033.70,2970.40,342044,3025.65,9.70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,HDFCAMC,2021-01-05,3000.00,3120.00,2987.95,428513,3091.95,91.95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,HDFCAMC,2021-01-06,3119.10,3138.95,3052.50,366690,3099.80,-19.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,HDFCAMC,2021-01-07,3119.75,3122.90,3028.20,334927,3063.15,-56.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,HDFCAMC,2021-01-08,3063.00,3145.00,3053.15,468406,3137.85,74.85,3098.511611,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,HDFCAMC,2022-12-20,2294.00,2314.65,2238.55,380464,2273.85,-20.15,2266.723306,2255.409766,2245.235700,2213.208586,2199.809542,2196.594285,2135.940292,2080.689799,2111.375385,48.641415
485,HDFCAMC,2022-12-21,2273.00,2311.90,2217.65,229348,2228.60,-44.40,2254.015537,2250.047813,2242.676361,2214.607805,2202.024192,2198.965079,2139.574006,2083.618890,2112.550910,43.711283
486,HDFCAMC,2022-12-22,2235.00,2244.85,2175.60,242084,2183.10,-51.90,2230.377025,2236.658250,2233.510767,2211.743459,2200.568485,2197.789888,2141.280908,2085.588929,2113.258319,35.720880
487,HDFCAMC,2022-12-23,2155.30,2173.00,2061.75,247913,2075.85,-79.45,2178.868016,2204.496600,2209.255265,2199.389509,2190.974755,2188.757304,2138.714990,2085.396068,2112.883248,20.497961
488,HDFCAMC,2022-12-26,2070.10,2154.50,2065.00,217046,2135.70,65.60,2164.478678,2190.737280,2197.939070,2193.599553,2186.722851,2184.827133,2138.596755,2086.392242,2113.112000,13.111937

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'HDFCBANK' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,HDFCBANK,2021-01-04,1438.0,1438.00,1399.00,7870096,1416.00,-22.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,HDFCBANK,2021-01-05,1419.2,1430.75,1409.00,7193412,1426.70,7.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,HDFCBANK,2021-01-06,1435.0,1440.00,1413.10,11067025,1420.55,-14.45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,HDFCBANK,2021-01-07,1432.5,1432.60,1412.55,9947421,1416.25,-16.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,HDFCBANK,2021-01-08,1432.0,1442.00,1423.10,6884382,1431.65,-0.35,1424.065166,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,HDFCBANK,2022-12-20,1620.2,1636.40,1620.20,3587349,1633.40,13.20,1638.727991,1635.862756,1632.373054,1618.346162,1611.262754,1609.478591,1571.014021,1521.950939,1488.888807,22.894463
485,HDFCBANK,2022-12-21,1641.0,1644.80,1606.55,4634599,1617.60,-23.40,1631.685327,1632.210205,1630.100276,1618.278329,1611.750234,1610.080177,1572.840922,1523.845094,1490.179519,20.020099
486,HDFCBANK,2022-12-22,1622.2,1627.50,1609.00,4873548,1612.05,-10.15,1625.140218,1628.178164,1627.323311,1617.712118,1611.773293,1610.226090,1574.378533,1525.591828,1491.401537,17.097221
487,HDFCBANK,2022-12-23,1587.0,1604.15,1585.45,5346576,1597.65,10.65,1615.976812,1622.072531,1622.758186,1615.888289,1610.686886,1609.294527,1575.291139,1527.018805,1492.466828,13.463658
488,HDFCBANK,2022-12-26,1599.5,1639.00,1590.00,4953661,1629.45,29.95,1620.467875,1623.548025,1623.787696,1617.121171,1612.130202,1610.787525,1577.415016,1529.047260,1493.840174,13.000170

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'HDFCLIFE' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,HDFCLIFE,2021-01-04,680.35,697.60,680.35,5031655,695.85,15.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,HDFCLIFE,2021-01-05,691.10,715.00,690.25,6955494,713.75,22.65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,HDFCLIFE,2021-01-06,713.00,720.50,705.40,3582162,719.05,6.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,HDFCLIFE,2021-01-07,720.00,723.80,702.50,3284785,704.30,-15.70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,HDFCLIFE,2021-01-08,715.40,721.95,708.10,2841346,717.00,1.60,712.126066,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,HDFCLIFE,2022-12-20,583.00,585.00,578.55,2166279,579.80,-3.20,580.357965,580.187742,579.347946,574.491707,572.162448,571.605765,562.474459,558.517444,569.168809,7.742181
485,HDFCLIFE,2022-12-21,585.00,589.90,571.30,2694392,575.40,-9.60,578.705310,579.230193,578.740569,574.574279,572.411491,571.886819,562.981343,558.851772,569.231295,6.853750
486,HDFCLIFE,2022-12-22,576.40,582.80,574.00,3424491,577.85,1.45,578.420207,578.954155,578.603559,574.872072,572.829838,572.328536,563.564428,559.227997,569.317717,6.275022
487,HDFCLIFE,2022-12-23,574.95,578.95,564.15,3234932,565.45,-9.50,574.096804,576.253324,576.579934,574.015520,572.262158,571.819015,563.638372,559.351212,569.278937,4.760919
488,HDFCLIFE,2022-12-26,562.50,570.75,562.50,1962030,569.30,6.80,572.497870,574.862659,575.459944,573.586837,572.034299,571.632421,563.860396,559.548229,569.279149,3.827523

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'HEROMOTOCO' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,HEROMOTOCO,2021-01-04,3112.00,3123.95,3037.25,1599835,3043.85,-68.15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,HEROMOTOCO,2021-01-05,3052.00,3074.35,3031.00,1150326,3067.20,15.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,HEROMOTOCO,2021-01-06,3081.30,3123.60,3046.00,1370394,3083.55,2.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,HEROMOTOCO,2021-01-07,3094.00,3114.75,3034.00,880259,3055.25,-38.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,HEROMOTOCO,2021-01-08,3070.00,3165.95,3063.10,1576465,3161.10,91.10,3101.207583,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,HEROMOTOCO,2022-12-20,2770.00,2790.60,2743.40,234062,2772.55,2.55,2764.840167,2765.406079,2765.008860,2755.591611,2750.039504,2748.684101,2727.155871,2708.004668,2688.412541,16.324759
485,HEROMOTOCO,2022-12-21,2772.55,2798.05,2737.00,328455,2757.45,-15.10,2762.376778,2763.814863,2763.845959,2755.760555,2750.609542,2749.333427,2728.343876,2708.983842,2689.104846,14.512531
486,HEROMOTOCO,2022-12-22,2757.20,2796.55,2717.30,483991,2727.70,-29.50,2750.817852,2756.591890,2758.285042,2753.209596,2748.847269,2747.730951,2728.318626,2709.354481,2689.491847,10.554091
487,HEROMOTOCO,2022-12-23,2715.00,2720.00,2628.65,328855,2636.85,-78.15,2712.828568,2732.643512,2739.602728,2742.631451,2740.232095,2739.517547,2724.731621,2707.918666,2688.964038,0.085180
488,HEROMOTOCO,2022-12-26,2645.00,2698.00,2611.60,175951,2686.30,41.30,2703.985712,2723.374810,2731.402308,2737.510410,2736.083472,2735.575507,2723.224499,2707.490549,2688.937329,-4.173199

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'HINDALCO' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,HINDALCO,2021-01-04,240.90,258.00,239.55,24902369,254.30,13.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,HINDALCO,2021-01-05,251.10,252.75,247.00,12297457,250.30,-0.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,HINDALCO,2021-01-06,250.75,260.00,247.75,18029077,259.05,8.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,HINDALCO,2021-01-07,261.45,275.40,261.00,32739259,272.90,11.45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,HINDALCO,2021-01-08,273.95,274.45,265.15,20606695,268.20,-5.75,264.751659,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,HINDALCO,2022-12-20,458.00,459.25,444.25,7580480,457.05,-0.95,459.579424,460.170446,459.439074,454.641094,452.155935,451.539616,439.408360,430.084845,432.584902,7.899458
485,HINDALCO,2022-12-21,459.30,463.90,451.90,5557133,457.15,-2.15,458.769616,459.566357,459.086909,454.869177,452.540094,451.955200,440.104110,430.620821,432.831240,7.131709
486,HINDALCO,2022-12-22,459.45,463.00,447.20,4435416,455.50,-3.95,457.679744,458.753085,458.535077,454.926524,452.767779,452.217778,440.707871,431.113507,433.058544,6.317299
487,HINDALCO,2022-12-23,452.90,452.90,427.60,7766201,429.55,-23.35,448.303163,452.912468,454.075834,452.619567,450.981796,450.538683,440.270307,431.082545,433.023366,3.537151
488,HINDALCO,2022-12-26,431.00,445.40,429.10,3939359,442.95,11.95,446.518775,450.919975,452.364167,451.740516,450.363965,449.976559,440.375393,431.317557,433.122887,2.387609

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'HINDPETRO' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,HINDPETRO,2021-01-04,222.00,223.65,218.60,6574551,222.75,0.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,HINDPETRO,2021-01-05,222.00,223.50,220.40,5269181,223.10,1.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,HINDPETRO,2021-01-06,224.00,226.00,217.25,7500657,220.95,-3.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,HINDPETRO,2021-01-07,222.00,224.00,220.50,4913282,222.80,0.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,HINDPETRO,2021-01-08,224.75,230.15,224.25,8764169,225.50,0.75,223.551185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,HINDPETRO,2022-12-20,242.60,243.75,239.40,1852342,241.35,-1.25,242.841636,241.611526,240.080787,235.253777,233.487164,233.094198,228.265362,230.195724,240.983436,6.986589
485,HINDPETRO,2022-12-21,240.70,242.35,231.10,4016854,232.00,-8.70,239.227758,239.689221,238.837589,234.957979,233.372767,233.013146,228.411818,230.231454,240.893350,5.824443
486,HINDPETRO,2022-12-22,234.50,234.50,225.75,2848600,230.10,-4.40,236.185172,237.771377,237.493345,234.516345,233.121016,232.797358,228.478021,230.228851,240.785123,4.695987
487,HINDPETRO,2022-12-23,229.60,229.60,224.55,3077985,227.50,-2.10,233.290115,235.717101,235.955907,233.878495,232.688630,232.404961,228.439668,230.174811,240.651921,3.550946
488,HINDPETRO,2022-12-26,226.50,232.75,224.50,1990224,230.90,4.40,232.493410,234.753681,235.178075,233.607723,232.551043,232.293482,228.536151,230.189172,240.554152,2.884593

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'HINDUNILVR' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,HINDUNILVR,2021-01-04,2405.00,2430.00,2400.70,1614486,2426.50,21.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,HINDUNILVR,2021-01-05,2405.00,2456.95,2405.00,2356303,2450.55,45.55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,HINDUNILVR,2021-01-06,2445.80,2450.00,2401.60,1641627,2417.30,-28.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,HINDUNILVR,2021-01-07,2432.00,2432.70,2365.00,2403881,2368.85,-63.15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,HINDUNILVR,2021-01-08,2390.00,2400.00,2360.80,2797948,2391.20,1.20,2399.360664,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,HINDUNILVR,2022-12-20,2706.00,2706.05,2653.25,827567,2674.55,-31.45,2686.982841,2682.303930,2674.306647,2648.288275,2639.202469,2637.203411,2607.492066,2561.928102,2493.553398,37.103236
485,HINDUNILVR,2022-12-21,2687.95,2695.15,2650.10,779092,2666.20,-21.75,2680.055227,2679.083144,2673.059471,2649.916613,2641.279202,2639.351307,2609.794338,2563.993016,2495.284692,33.708164
486,HINDUNILVR,2022-12-22,2676.50,2688.50,2642.00,852567,2645.35,-31.15,2668.486818,2672.336515,2668.796475,2649.501467,2641.592340,2639.795655,2611.188677,2565.604140,2496.789425,29.000821
487,HINDUNILVR,2022-12-23,2632.00,2649.55,2608.05,1189702,2621.10,-10.90,2652.691212,2662.089212,2661.458556,2646.919515,2640.016006,2638.410791,2611.577357,2566.703131,2498.035815,23.047765
488,HINDUNILVR,2022-12-26,2620.95,2637.85,2606.75,605144,2617.45,-3.50,2640.944141,2653.161370,2654.688009,2644.240468,2638.280160,2636.858140,2611.807656,2567.708077,2499.233020,17.829869

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'HINDZINC' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,HINDZINC,2021-01-04,241.00,245.85,240.50,886735,244.05,3.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,HINDZINC,2021-01-05,244.40,259.00,243.15,3891253,256.90,12.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,HINDZINC,2021-01-06,257.25,279.90,256.95,8436991,275.10,17.85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,HINDZINC,2021-01-07,281.00,328.40,280.05,5200956,308.15,27.15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,HINDZINC,2021-01-08,312.00,324.90,298.20,9070406,304.00,-8.00,290.227962,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,HINDZINC,2022-12-20,321.95,328.95,320.20,1039966,328.50,6.55,322.948477,320.163703,318.520756,314.335757,312.643422,312.234474,304.261839,297.116514,297.452888,6.286281
485,HINDZINC,2022-12-21,331.00,333.00,320.00,790394,323.35,-7.65,323.082318,320.800962,319.263716,315.155234,313.467005,313.057847,305.010395,297.636020,297.712584,6.205870
486,HINDZINC,2022-12-22,324.00,326.45,311.10,752259,320.20,-3.80,322.121545,320.680770,319.407760,315.613849,313.984928,313.586895,305.606065,298.082857,297.938069,5.820865
487,HINDZINC,2022-12-23,312.25,315.50,308.25,993236,313.15,0.90,319.131030,319.174616,318.445028,315.389863,313.920703,313.554532,305.901906,298.381234,298.090591,4.890495
488,HINDZINC,2022-12-26,311.20,315.95,307.00,351079,314.05,2.85,317.437354,318.149693,317.768870,315.268057,313.930649,313.591234,306.221439,298.691524,298.250594,4.177636

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'HONAUT' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,HONAUT,2021-01-04,37449.85,37486.85,36745.10,5404,36852.40,-597.45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,HONAUT,2021-01-05,37100.00,37400.00,36550.00,4606,37332.40,232.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,HONAUT,2021-01-06,37450.00,38250.00,37233.00,6432,37804.30,354.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,HONAUT,2021-01-07,38200.00,39010.00,38000.00,6704,38938.40,738.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,HONAUT,2021-01-08,39200.00,41710.00,39200.00,25979,40622.05,1422.05,39050.381280,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,HONAUT,2022-12-20,41201.00,41479.85,40200.00,8774,40345.45,-855.55,41228.341674,41502.012876,41548.580776,41411.343193,41314.250558,41290.031600,40809.840635,40145.393351,39790.813189,258.549176
485,HONAUT,2022-12-21,40490.00,41808.15,40210.00,7582,41492.35,1002.35,41316.344449,41500.080301,41539.929887,41418.707448,41327.950515,41305.018148,40836.605708,40172.067361,39807.876144,234.911739
486,HONAUT,2022-12-22,41600.00,41925.95,41104.25,8491,41764.95,164.95,41465.879633,41553.054241,41574.548366,41450.184044,41361.565860,41339.087174,40873.011367,40203.611449,39827.500092,235.461192
487,HONAUT,2022-12-23,41310.00,41645.10,40300.00,5692,40588.00,-722.00,41173.253089,41360.043393,41422.771694,41371.803676,41302.060794,41283.451087,40861.834450,40211.223542,39835.125181,139.320607
488,HONAUT,2022-12-26,40599.95,41310.10,40199.95,5014,40833.20,233.25,41059.902059,41254.674714,41332.068357,41322.839706,41265.994579,41250.099155,40860.711531,40223.540604,39845.131532,81.969202

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'ICICIBANK' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,ICICIBANK,2021-01-04,532.30,535.00,524.30,16549750,531.70,-0.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ICICIBANK,2021-01-05,526.65,539.95,523.00,23311516,537.25,10.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ICICIBANK,2021-01-06,538.75,550.60,535.85,28178838,546.70,7.95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ICICIBANK,2021-01-07,552.15,554.40,539.75,21138034,541.10,-11.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ICICIBANK,2021-01-08,547.00,547.10,536.35,21937965,542.05,-4.95,541.269431,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,ICICIBANK,2022-12-20,906.00,912.45,895.70,6384331,909.70,3.70,911.339370,916.052146,918.315916,920.344072,919.923868,919.742603,910.365270,881.257479,836.283264,-1.426687
485,ICICIBANK,2022-12-21,910.25,915.85,887.00,11341147,892.25,-18.00,904.976246,911.291717,914.305775,917.790066,917.795109,917.706114,909.654868,881.475165,836.844497,-3.400339
486,ICICIBANK,2022-12-22,900.50,903.85,886.35,9788367,890.65,-9.85,900.200831,907.163373,910.666425,915.322787,915.707024,915.701957,908.909579,881.656856,837.384015,-5.035532
487,ICICIBANK,2022-12-23,883.05,889.65,875.30,11059215,878.90,-4.15,893.100554,901.510699,905.779283,912.011624,912.875714,912.975886,907.732733,881.602262,837.800271,-7.196604
488,ICICIBANK,2022-12-26,881.10,897.00,875.25,6943159,893.20,12.10,893.133703,899.848559,903.844009,910.301477,911.362198,911.511006,907.162821,881.831933,838.355690,-7.666997

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'ICICIGI' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,ICICIGI,2021-01-04,1529.00,1554.90,1524.00,586835,1549.45,20.45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ICICIGI,2021-01-05,1549.00,1592.00,1531.90,776027,1584.25,35.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ICICIGI,2021-01-06,1589.00,1626.45,1575.55,1321608,1611.70,22.70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ICICIGI,2021-01-07,1618.80,1622.90,1561.00,588805,1571.20,-47.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ICICIGI,2021-01-08,1583.90,1617.95,1562.00,719490,1605.15,21.25,1590.977962,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,ICICIGI,2022-12-20,1248.35,1253.85,1229.25,584204,1236.45,-11.90,1238.739084,1234.921078,1230.259271,1215.539204,1210.282737,1209.123670,1195.086489,1199.475273,1235.206136,21.135601
485,ICICIGI,2022-12-21,1237.55,1252.00,1216.60,493935,1224.40,-13.15,1233.959389,1232.816863,1229.357845,1216.344731,1211.368681,1210.255250,1196.236038,1199.968861,1235.097772,19.102595
486,ICICIGI,2022-12-22,1224.40,1243.00,1212.65,533499,1239.75,15.35,1235.889593,1234.203490,1230.956638,1218.472483,1213.551859,1212.440046,1197.942468,1200.756653,1235.144421,18.516591
487,ICICIGI,2022-12-23,1234.25,1239.00,1214.15,824353,1223.60,-10.65,1231.793062,1232.082792,1229.824847,1218.938621,1214.324793,1213.266709,1198.948646,1201.209023,1235.028672,16.558138
488,ICICIGI,2022-12-26,1223.05,1253.95,1223.00,665901,1238.70,15.65,1234.095375,1233.406234,1231.190255,1220.735110,1216.199809,1215.150657,1200.507523,1201.951460,1235.065479,16.039598

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'ICICIPRULI' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,ICICIPRULI,2021-01-04,500.20,505.95,494.50,2045373,503.90,3.70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ICICIPRULI,2021-01-05,505.50,515.00,503.30,2875138,507.50,2.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ICICIPRULI,2021-01-06,512.00,518.85,504.15,2500109,510.40,-1.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ICICIPRULI,2021-01-07,512.95,517.50,506.05,1291499,509.70,-3.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ICICIPRULI,2021-01-08,512.95,534.50,512.95,3319428,525.90,12.95,515.348341,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,ICICIPRULI,2022-12-20,453.00,456.50,447.00,1351150,454.35,1.35,452.566713,454.683488,456.641504,463.022609,466.019048,466.774270,483.464713,503.370692,521.039030,-10.132765
485,ICICIPRULI,2022-12-21,455.00,461.65,451.20,2303957,454.20,-0.80,453.111142,454.586791,456.265888,462.220554,465.109891,465.842842,482.317077,502.396957,520.368771,-9.576954
486,ICICIPRULI,2022-12-22,454.50,458.35,446.80,766591,450.20,-4.30,452.140761,453.709432,455.332675,461.127776,463.962976,464.684113,481.057584,501.363293,519.665175,-9.351439
487,ICICIPRULI,2022-12-23,448.15,449.30,438.00,1479721,439.65,-8.50,447.977174,450.897546,452.919956,459.175251,462.092747,462.829735,479.433757,500.141177,518.862910,-9.909779
488,ICICIPRULI,2022-12-26,438.00,447.70,437.70,1180235,445.90,7.90,447.284783,449.898037,451.839962,457.968410,460.847151,461.575680,478.118708,499.067033,518.131409,-9.735718

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'IDBI' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,IDBI,2021-01-04,32.80,32.85,31.80,13911775,31.95,-0.85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IDBI,2021-01-05,31.95,32.25,31.55,7830844,31.75,-0.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,IDBI,2021-01-06,32.00,32.15,31.55,6173139,31.70,-0.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,IDBI,2021-01-07,32.00,32.05,31.40,8628514,31.50,-0.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,IDBI,2021-01-08,31.85,31.90,31.25,6854053,31.55,-0.30,31.615877,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,IDBI,2022-12-20,57.40,57.50,55.60,14412016,55.90,-1.50,56.849177,56.655247,56.252328,54.707032,54.030121,53.866906,50.684740,47.033481,44.619599,2.385421
485,IDBI,2022-12-21,56.30,57.80,53.15,18685918,53.70,-2.60,55.799452,56.064197,55.859662,54.615484,54.004727,53.854543,50.802986,47.165499,44.710657,2.005119
486,IDBI,2022-12-22,54.50,54.90,51.40,20514287,51.80,-2.70,54.466301,55.211358,55.235098,54.359531,53.835133,53.702355,50.842084,47.257276,44.781744,1.532744
487,IDBI,2022-12-23,51.35,51.35,48.15,19968699,48.80,-2.55,52.577534,53.929086,54.245083,53.854119,53.447815,53.339217,50.762003,47.287827,44.822032,0.905866
488,IDBI,2022-12-26,49.00,52.75,47.85,20416920,51.85,2.85,52.335023,53.513269,53.876609,53.671926,53.324906,53.228905,50.804669,47.378172,44.892492,0.647704

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'IDEA' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,IDEA,2021-01-04,11.80,12.15,11.45,649973524,11.90,0.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IDEA,2021-01-05,11.80,12.15,11.60,335592305,11.90,0.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,IDEA,2021-01-06,12.00,12.25,11.50,374712576,11.85,-0.15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,IDEA,2021-01-07,11.95,12.35,11.85,352143303,11.95,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,IDEA,2021-01-08,12.10,12.30,11.65,290761549,11.75,-0.35,11.846682,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,IDEA,2022-12-20,8.35,8.40,8.10,134972654,8.25,-0.10,8.283456,8.245490,8.230405,8.238217,8.255064,8.259927,8.394495,8.647259,9.064555,-0.029522
485,IDEA,2022-12-21,8.30,8.30,7.95,69210822,8.00,-0.30,8.188971,8.196392,8.194958,8.216561,8.235444,8.240673,8.379025,8.634441,9.053879,-0.045715
486,IDEA,2022-12-22,8.05,8.10,7.85,84371385,8.00,-0.05,8.125981,8.157113,8.164964,8.196874,8.217333,8.222846,8.364161,8.621877,9.043312,-0.057881
487,IDEA,2022-12-23,7.95,8.00,7.60,87185371,7.65,-0.30,7.967320,8.055691,8.085739,8.147158,8.173692,8.180413,8.336155,8.602631,9.029342,-0.094674
488,IDEA,2022-12-26,7.70,7.95,7.60,93261358,7.85,0.15,7.928214,8.014553,8.049472,8.120143,8.148792,8.155938,8.317090,8.587726,9.017518,-0.106466

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'IDFCFIRSTB' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,IDFCFIRSTB,2021-01-04,37.95,39.15,37.70,48722834,38.60,0.65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IDFCFIRSTB,2021-01-05,38.25,39.95,37.90,54314659,39.70,1.45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,IDFCFIRSTB,2021-01-06,39.75,42.85,38.50,80681106,41.40,1.65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,IDFCFIRSTB,2021-01-07,43.50,47.60,42.40,201972764,45.80,2.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,IDFCFIRSTB,2021-01-08,46.80,46.95,43.85,74289673,44.40,-2.40,43.272038,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,IDFCFIRSTB,2022-12-20,62.75,62.75,60.50,30569636,61.45,-1.30,61.697576,61.188699,60.814686,59.867393,59.493350,59.401494,57.169805,53.006992,49.216074,1.413192
485,IDFCFIRSTB,2022-12-21,61.75,62.00,58.70,36730533,58.95,-2.80,60.781718,60.740959,60.527811,59.783994,59.451554,59.368050,57.239616,53.124683,49.313686,1.159762
486,IDFCFIRSTB,2022-12-22,59.40,59.60,56.30,53775906,56.95,-2.45,59.504478,59.982767,59.977379,59.526358,59.259127,59.188935,57.228259,53.200436,49.390257,0.788444
487,IDFCFIRSTB,2022-12-23,56.10,56.60,52.45,62775042,53.00,-3.10,57.336319,58.586214,58.903936,58.933053,58.777656,58.730495,57.062445,53.196467,49.426449,0.173441
488,IDFCFIRSTB,2022-12-26,53.00,56.15,52.30,54697186,55.65,2.65,56.774213,57.998971,58.403330,58.634593,58.537067,58.502310,57.007055,53.245054,49.488844,-0.098980

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'IEX' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,IEX,2021-01-04,221.75,230.10,218.25,1842823,228.9,7.15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IEX,2021-01-05,228.90,228.90,219.70,1385288,220.2,-8.70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,IEX,2021-01-06,220.00,224.50,220.00,649643,222.0,2.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,IEX,2021-01-07,225.00,225.70,220.50,581843,222.2,-2.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,IEX,2021-01-08,223.60,225.20,221.85,1620167,223.2,-0.40,222.830332,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,IEX,2022-12-20,144.25,145.40,142.65,2613685,143.9,-0.35,145.255541,145.860822,146.041329,145.940888,145.831266,145.809098,146.468443,155.344671,190.840551,0.232231
485,IEX,2022-12-21,144.25,145.70,140.40,3186119,141.1,-3.15,143.870361,144.908658,145.281125,145.500807,145.467322,145.460276,146.257916,155.062581,190.341754,-0.179151
486,IEX,2022-12-22,141.20,142.10,137.60,4826324,138.4,-2.80,142.046907,143.606926,144.222490,144.855279,144.923682,144.937292,145.949762,154.732610,189.820925,-0.714802
487,IEX,2022-12-23,137.00,137.90,129.50,7382430,130.2,-6.80,138.097938,140.925541,142.065184,143.522981,143.791091,143.845641,145.332125,154.246788,189.223140,-1.780457
488,IEX,2022-12-26,131.00,136.95,129.25,5396248,136.6,5.60,137.598625,140.060433,141.224386,142.893619,143.237930,143.308927,144.989688,153.897327,188.695559,-2.084541

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'IGL' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,IGL,2021-01-04,510.95,513.90,505.05,2613216,506.70,-4.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IGL,2021-01-05,511.75,529.70,508.20,10861519,519.05,7.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,IGL,2021-01-06,522.85,545.30,521.00,7179407,542.40,19.55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,IGL,2021-01-07,546.65,549.65,537.85,4185940,540.00,-6.65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,IGL,2021-01-08,543.55,553.75,541.05,3552973,550.70,7.15,539.609005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,IGL,2022-12-20,440.00,443.95,435.80,1045642,442.60,2.60,439.683654,438.639063,437.695397,434.137735,432.467754,432.056532,423.491568,412.296244,410.931212,5.638865
485,IGL,2022-12-21,444.00,447.00,436.35,1333203,438.10,-5.90,439.155770,438.531251,437.757644,434.497941,432.901004,432.504196,424.064448,412.807240,411.203659,5.253448
486,IGL,2022-12-22,440.00,440.15,423.20,1926488,424.45,-15.55,434.253846,435.715001,435.710314,433.584491,432.250927,431.907589,424.079568,413.037804,411.336483,3.802725
487,IGL,2022-12-23,419.95,425.15,399.95,2190887,401.45,-18.50,423.319231,428.862000,430.439497,430.663174,429.881625,429.651471,423.192134,412.808329,411.237357,0.788025
488,IGL,2022-12-26,401.45,414.00,390.00,785323,412.05,10.60,419.562821,425.499600,427.610343,428.971067,428.509961,428.347659,422.755187,412.793312,411.245504,-0.737315

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'INDHOTEL' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,INDHOTEL,2021-01-04,126.00,127.50,125.10,2570150,126.40,0.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,INDHOTEL,2021-01-05,126.00,127.20,122.90,2727405,123.15,-2.85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,INDHOTEL,2021-01-06,124.15,125.30,122.50,1061107,123.35,-0.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,INDHOTEL,2021-01-07,124.50,124.75,123.30,2007149,123.90,-0.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,INDHOTEL,2021-01-08,125.45,125.45,123.00,1278121,123.35,-2.10,123.699289,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,INDHOTEL,2022-12-20,326.00,328.35,320.40,3438177,324.60,-1.40,327.426689,327.709167,327.387279,326.339912,325.958536,325.862444,322.044027,307.175304,278.861715,1.524835
485,INDHOTEL,2022-12-21,326.20,327.20,304.80,6052926,309.45,-16.75,321.434460,324.057334,324.627698,324.804466,324.688649,324.646708,321.550143,307.220350,279.168453,-0.019010
486,INDHOTEL,2022-12-22,309.00,312.15,294.80,9373234,304.05,-4.95,315.639640,320.055867,321.461898,322.917696,323.101060,323.121026,320.863863,307.157567,279.417945,-1.659127
487,INDHOTEL,2022-12-23,298.00,302.35,294.85,8489375,299.50,1.50,310.259760,315.944694,318.083145,320.788815,321.285594,321.371320,320.026065,307.005923,279.619296,-3.288175
488,INDHOTEL,2022-12-26,296.00,315.80,295.25,7047516,314.35,18.35,311.623173,315.625755,317.508815,320.203468,320.752087,320.851222,319.803474,307.151359,279.967494,-3.342408

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'INDIAMART' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,INDIAMART,2021-01-04,7184.00,7489.80,7184.00,262020,7287.70,103.70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,INDIAMART,2021-01-05,7260.00,7284.00,6996.20,126100,7189.70,-70.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,INDIAMART,2021-01-06,7250.40,7599.00,7010.00,222682,7084.55,-165.85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,INDIAMART,2021-01-07,7199.95,7615.00,7199.95,138122,7423.30,223.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,INDIAMART,2021-01-08,7565.00,7598.00,7423.30,86630,7491.35,-73.65,7354.774171,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,INDIAMART,2022-12-20,4455.00,4573.30,4438.80,120528,4518.80,63.80,4444.619604,4430.342576,4429.816471,4442.841980,4449.280124,4450.741224,4465.229827,4481.122703,4739.977605,-20.924752
485,INDIAMART,2022-12-21,4544.40,4589.00,4390.75,69039,4407.35,-137.05,4432.196403,4425.744061,4426.360091,4439.615437,4446.054730,4447.527059,4462.960030,4479.661769,4736.642026,-21.166968
486,INDIAMART,2022-12-22,4410.00,4446.30,4326.00,42281,4346.60,-63.40,4403.664268,4409.915248,4414.089308,4431.159488,4438.404366,4440.050981,4458.396892,4477.026728,4732.731002,-25.961673
487,INDIAMART,2022-12-23,4276.05,4322.85,4087.00,89955,4108.75,-167.30,4305.359512,4349.682199,4367.114030,4401.849534,4413.046338,4415.510167,4444.685249,4469.733698,4726.474708,-48.396137
488,INDIAMART,2022-12-26,4129.30,4269.00,4091.00,75198,4245.90,116.60,4285.539675,4328.925759,4348.465717,4387.672304,4400.188927,4402.946451,4436.889749,4465.301097,4721.656633,-54.480734

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'INDIANB' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,INDIANB,2021-01-04,89.50,89.75,87.20,2096958,88.70,-0.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,INDIANB,2021-01-05,88.00,88.50,87.00,1750652,87.85,-0.15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,INDIANB,2021-01-06,88.40,89.85,87.00,2423058,87.75,-0.65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,INDIANB,2021-01-07,88.60,89.15,86.15,2508054,87.35,-1.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,INDIANB,2021-01-08,88.00,89.50,86.80,2319766,87.10,-0.90,87.481517,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,INDIANB,2022-12-20,291.95,299.90,286.50,1985522,297.80,5.85,294.212295,291.518315,289.466958,282.930868,279.824789,279.038328,260.911325,233.659629,205.144008,10.428630
485,INDIANB,2022-12-21,298.00,300.85,280.00,3221403,285.75,-12.25,291.391530,290.364652,288.895119,283.187153,280.280574,279.535489,261.885390,234.691184,205.952322,9.359630
486,INDIANB,2022-12-22,288.00,289.60,275.05,2719690,280.45,-7.55,287.744353,288.381722,287.595870,282.938321,280.293607,279.603231,262.613414,235.597352,206.699324,7.992639
487,INDIANB,2022-12-23,279.60,280.90,255.50,4525500,271.55,-8.05,282.346236,285.015377,285.127274,281.903019,279.621022,279.006695,262.963869,236.309327,207.349544,6.120579
488,INDIANB,2022-12-26,274.95,291.90,268.80,3750934,289.20,14.25,284.630824,285.852302,285.753848,282.566381,280.357866,279.761755,263.992737,237.356726,208.170148,5.992093

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'INDIGO' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,INDIGO,2021-01-04,1722.00,1751.00,1718.15,864639,1744.95,22.95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,INDIGO,2021-01-05,1732.00,1733.95,1702.50,862655,1714.75,-17.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,INDIGO,2021-01-06,1731.45,1743.00,1708.85,1039152,1732.50,1.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,INDIGO,2021-01-07,1739.00,1779.00,1731.50,1507671,1761.05,22.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,INDIGO,2021-01-08,1770.00,1774.90,1723.00,946898,1732.30,-37.70,1738.654976,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,INDIGO,2022-12-20,2034.90,2100.00,2007.05,1740107,2063.80,28.90,2025.685010,2009.668586,1996.735515,1959.815901,1946.482515,1943.485639,1900.180869,1873.493218,1866.284701,53.249877
485,INDIGO,2022-12-21,2070.95,2084.30,1983.00,1206297,2016.25,-54.70,2022.540006,2010.984869,1999.737744,1964.946273,1951.849245,1948.875592,1904.732599,1876.320254,1867.788548,50.862152
486,INDIGO,2022-12-22,1985.90,2015.95,1958.25,1088470,1977.10,-8.80,2007.393338,2004.207895,1996.255014,1966.051158,1953.791611,1950.966288,1907.570537,1878.316010,1868.884635,45.288726
487,INDIGO,2022-12-23,1951.00,1959.95,1893.90,1193836,1914.25,-36.75,1976.345558,1986.216316,1983.638858,1961.341961,1950.749948,1948.246563,1907.832476,1879.027616,1869.339487,35.392295
488,INDIGO,2022-12-26,1910.00,1963.00,1895.25,232709,1958.30,48.30,1970.330372,1980.633053,1979.740572,1961.065420,1951.330722,1948.991262,1909.811595,1880.597455,1870.231374,30.749310

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'INDUSINDBK' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,INDUSINDBK,2021-01-04,910.00,914.00,887.45,6991890,897.85,-12.15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,INDUSINDBK,2021-01-05,891.70,927.35,883.00,11907501,921.65,29.95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,INDUSINDBK,2021-01-06,924.95,936.75,909.40,9768197,922.35,-2.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,INDUSINDBK,2021-01-07,935.00,961.65,931.10,12154311,952.05,17.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,INDUSINDBK,2021-01-08,965.00,976.00,932.10,10838196,939.80,-25.20,934.712322,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,INDUSINDBK,2022-12-20,1215.00,1234.35,1209.95,1245359,1228.65,13.65,1227.636614,1220.928967,1215.338914,1201.902462,1197.504601,1196.507386,1175.705714,1129.939280,1072.106590,18.831528
485,INDUSINDBK,2022-12-21,1236.00,1238.15,1190.95,1495106,1201.80,-34.20,1219.024410,1217.103173,1213.256004,1201.893147,1197.835017,1196.899431,1176.729019,1131.362350,1073.407151,16.356573
486,INDUSINDBK,2022-12-22,1207.85,1208.80,1170.20,2126536,1180.15,-27.70,1206.066273,1209.712539,1208.162773,1199.916498,1196.474631,1195.658733,1176.863175,1132.328499,1074.477482,12.504040
487,INDUSINDBK,2022-12-23,1160.05,1179.70,1143.00,2621761,1147.85,-12.20,1186.660849,1197.340031,1198.883885,1195.183180,1192.734274,1192.117345,1175.725404,1132.635873,1075.213145,6.766540
488,INDUSINDBK,2022-12-26,1150.00,1208.00,1141.00,2100374,1195.70,45.70,1189.673899,1197.012025,1198.394056,1195.230163,1192.962407,1192.382727,1176.508721,1133.884738,1076.421105,6.011329

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'INDUSTOWER' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,INDUSTOWER,2021-01-04,239.95,242.80,237.05,8979802,241.40,1.45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,INDUSTOWER,2021-01-05,240.00,264.80,239.20,15044472,254.20,14.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,INDUSTOWER,2021-01-06,256.50,270.75,255.15,9036353,261.35,4.85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,INDUSTOWER,2021-01-07,264.40,275.00,261.00,7916157,266.15,1.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,INDUSTOWER,2021-01-08,267.45,273.00,266.25,4047880,270.45,3.00,263.745735,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,INDUSTOWER,2022-12-20,196.45,196.85,189.45,2732197,191.90,-4.55,195.387530,196.236401,196.592404,196.821250,196.743766,196.720669,196.640379,199.412375,208.202342,-0.128265
485,INDUSTOWER,2022-12-21,192.50,193.60,189.90,1434722,190.65,-1.85,193.808353,195.119121,195.678188,196.260227,196.275015,196.270989,196.405462,199.238852,208.026328,-0.592801
486,INDUSTOWER,2022-12-22,191.00,192.80,188.10,1599230,192.10,1.10,193.238902,194.515297,195.127698,195.882025,195.953860,195.962027,196.236620,199.097480,207.866632,-0.834330
487,INDUSTOWER,2022-12-23,190.75,192.60,188.60,1308319,189.50,-1.25,191.992601,193.512237,194.261898,195.301841,195.457409,195.483359,195.972439,198.907420,207.682480,-1.221461
488,INDUSTOWER,2022-12-26,190.95,193.85,188.20,1185046,191.40,0.45,191.795068,193.089790,193.821606,194.947128,195.145301,195.180888,195.793128,198.758750,207.519238,-1.359282

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'INFY' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,INFY,2021-01-04,1269.00,1290.00,1261.15,7208454,1288.25,19.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,INFY,2021-01-05,1282.00,1299.00,1275.05,8145280,1293.80,11.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,INFY,2021-01-06,1300.00,1302.00,1268.05,7161715,1282.10,-17.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,INFY,2021-01-07,1296.00,1297.65,1255.50,10954918,1262.15,-33.85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,INFY,2021-01-08,1278.25,1316.80,1278.25,13186251,1312.10,33.85,1290.308057,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,INFY,2022-12-20,1501.00,1516.00,1482.45,7396259,1507.30,6.30,1527.202893,1546.506778,1556.158378,1567.325348,1567.393407,1567.157987,1552.898502,1540.092723,1556.835593,-10.999609
485,INFY,2022-12-21,1515.00,1521.00,1502.35,6236361,1509.55,-5.45,1521.318595,1539.115423,1548.987859,1562.073044,1562.943914,1562.890729,1551.198561,1539.487880,1556.361414,-13.902870
486,INFY,2022-12-22,1521.50,1529.95,1511.75,6302640,1522.05,0.55,1521.562397,1535.702338,1544.843573,1558.434585,1559.798228,1559.865490,1550.055480,1539.142555,1556.017367,-15.021917
487,INFY,2022-12-23,1508.70,1509.90,1493.00,6283822,1497.10,-11.60,1513.408265,1527.981871,1537.498408,1552.858714,1554.975288,1555.216194,1547.978795,1538.309981,1555.426637,-17.717786
488,INFY,2022-12-26,1500.50,1509.90,1496.35,4115459,1502.40,1.90,1509.738843,1522.865496,1532.098653,1548.271558,1550.931035,1551.303883,1546.191391,1537.598852,1554.895010,-19.205231

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'IOC' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,IOC,2021-01-04,92.00,94.05,92.00,20940906,93.85,1.85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IOC,2021-01-05,93.00,93.25,91.80,18715045,93.00,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,IOC,2021-01-06,93.35,95.60,93.20,24710986,94.10,0.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,IOC,2021-01-07,95.00,95.45,93.80,18143241,94.50,-0.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,IOC,2021-01-08,95.10,96.40,94.65,22542041,96.15,1.05,94.845261,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,IOC,2022-12-20,77.95,78.15,77.05,9368946,77.80,-0.15,77.721575,77.450616,77.103375,75.856888,75.340411,75.220046,73.634182,76.384564,85.601890,1.883328
485,IOC,2022-12-21,77.80,78.15,76.15,8618706,76.40,-1.40,77.281050,77.240493,76.995163,75.906262,75.421918,75.307450,73.742645,76.384870,85.509613,1.687713
486,IOC,2022-12-22,76.40,76.75,74.65,15215404,75.10,-1.30,76.554033,76.812394,76.703600,75.832965,75.397155,75.292084,73.795875,76.359425,85.405234,1.411516
487,IOC,2022-12-23,74.60,75.10,72.80,15286836,73.00,-1.60,75.369356,76.049915,76.133815,75.575423,75.212758,75.122300,73.764664,76.292898,85.280854,1.011515
488,IOC,2022-12-26,73.00,74.60,72.35,9571856,74.40,1.40,75.046237,75.719932,75.867074,75.468566,75.150239,75.068796,73.789579,76.255413,85.171766,0.798278

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'IPCALAB' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,IPCALAB,2021-01-04,2189.80,2189.80,2154.05,129640,2162.40,-27.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IPCALAB,2021-01-05,2169.90,2188.00,2151.50,253613,2173.95,4.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,IPCALAB,2021-01-06,2163.15,2186.00,2133.75,280992,2147.55,-15.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,IPCALAB,2021-01-07,2160.00,2165.00,2110.05,276704,2114.80,-45.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,IPCALAB,2021-01-08,2128.20,2150.00,2110.60,267102,2142.80,14.60,2141.473934,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,IPCALAB,2022-12-20,858.60,874.70,848.30,305740,872.85,14.25,862.369913,861.475801,861.810265,864.971592,866.771882,867.230651,877.905353,907.232822,1027.690353,-5.420387
485,IPCALAB,2022-12-21,865.05,904.35,865.05,880489,895.30,30.25,873.346608,868.240640,866.962532,867.728720,868.966353,869.309862,878.587496,906.996514,1026.362747,-2.347331
486,IPCALAB,2022-12-22,904.00,904.00,872.00,528360,878.35,-25.65,875.014406,870.262512,868.714450,868.694291,869.688172,869.979502,878.578182,906.429223,1024.878595,-1.265052
487,IPCALAB,2022-12-23,870.15,896.90,860.00,357473,864.35,-5.80,871.459604,869.080010,868.042996,868.299355,869.277543,869.562502,878.020214,905.595923,1023.269069,-1.519506
488,IPCALAB,2022-12-26,868.90,869.45,845.00,194444,848.20,-20.70,863.706402,864.904008,864.990227,866.472141,867.656194,867.980095,876.850794,904.459306,1021.513887,-2.989867

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'IRCTC' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,IRCTC,2021-01-04,1462.00,1468.00,1445.00,1052506,1451.05,-10.95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IRCTC,2021-01-05,1443.70,1463.00,1431.45,1238935,1456.85,13.15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,IRCTC,2021-01-06,1461.95,1514.90,1449.00,4244765,1483.45,21.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,IRCTC,2021-01-07,1494.00,1509.90,1480.00,1769008,1489.45,-4.55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,IRCTC,2021-01-08,1504.00,1509.80,1460.75,1568909,1471.50,-32.50,1474.915640,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,IRCTC,2022-12-20,676.45,678.00,667.00,4253915,674.15,-2.30,686.305312,696.953599,702.152898,711.474011,713.900080,714.389429,717.451808,720.073254,822.495085,-12.236530
485,IRCTC,2022-12-21,677.50,678.70,650.15,3812361,653.55,-23.95,675.386875,688.272879,694.675529,706.208192,709.257766,709.882804,714.945855,718.755882,820.800910,-15.207275
486,IRCTC,2022-12-22,657.00,657.45,632.25,4836262,640.95,-16.05,663.907917,678.808303,686.410063,700.275629,704.003323,704.776671,712.044056,717.215081,818.997511,-18.366607
487,IRCTC,2022-12-23,634.50,638.05,605.00,7402977,607.25,-27.25,645.021944,664.496643,674.231592,691.818754,696.560759,697.552473,707.934485,715.037429,816.874442,-23.320881
488,IRCTC,2022-12-26,610.10,629.40,606.00,3578861,622.05,11.95,637.364630,656.007314,666.203655,685.476140,690.829163,691.959697,704.566466,713.195990,814.921200,-25.756042

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'IRFC' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,IRFC,2021-01-29,24.90,25.80,24.35,381938573,24.80,-0.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IRFC,2021-02-01,25.25,25.40,24.90,72044464,25.10,-0.15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,IRFC,2021-02-02,25.45,25.45,24.70,36735442,24.75,-0.70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,IRFC,2021-02-03,24.80,24.90,24.05,45816269,24.25,-0.55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,IRFC,2021-02-04,24.25,25.80,23.85,88486029,25.35,1.10,24.895972,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
466,IRFC,2022-12-20,32.95,35.90,32.60,181272162,35.65,2.70,33.775343,33.391916,33.116807,32.015846,31.482558,31.350968,28.747430,25.987885,24.200292,1.765838
467,IRFC,2022-12-21,36.20,36.50,30.90,192467386,32.30,-3.90,33.283562,33.173532,32.991144,32.041679,31.545438,31.421267,28.886747,26.112888,24.281641,1.569877
468,IRFC,2022-12-22,33.00,33.40,31.00,99443583,31.25,-1.75,32.605708,32.788826,32.723276,31.969708,31.522712,31.408580,28.979423,26.214621,24.351621,1.314695
469,IRFC,2022-12-23,30.95,30.95,27.55,122876842,27.85,-3.10,31.020472,31.801061,31.973541,31.595189,31.240195,31.144982,28.935132,26.247008,24.386750,0.828559
470,IRFC,2022-12-26,28.25,30.80,27.85,136601051,30.35,2.10,30.796981,31.510849,31.723765,31.481990,31.171719,31.086094,28.990617,26.328262,24.446625,0.637671

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'ISEC' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,ISEC,2021-01-04,469.00,472.65,464.0,579045,465.80,-3.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ISEC,2021-01-05,456.00,463.10,456.0,696116,459.05,3.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ISEC,2021-01-06,459.95,468.40,450.5,436116,453.45,-6.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ISEC,2021-01-07,456.50,461.00,448.5,977420,450.00,-6.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ISEC,2021-01-08,453.50,459.35,449.5,471715,450.95,-2.55,453.180806,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,ISEC,2022-12-20,515.90,519.30,509.0,195870,514.25,-1.65,515.168974,516.924659,518.426121,521.651611,522.406348,522.541209,521.937213,520.193571,539.131381,-4.115087
485,ISEC,2022-12-21,514.25,520.45,495.5,347610,500.75,-13.50,510.362649,513.689727,515.706718,519.751464,520.740475,520.927045,521.106342,519.808527,538.746494,-5.220327
486,ISEC,2022-12-22,503.80,505.25,496.0,220419,498.00,-5.80,506.241766,510.551781,512.982608,517.774058,518.991207,519.228746,520.200211,519.376649,538.337921,-6.246138
487,ISEC,2022-12-23,494.00,497.35,486.3,349944,492.25,-1.75,501.577844,506.891425,509.792976,515.453689,516.934191,517.230320,519.104124,518.839457,537.875824,-7.437344
488,ISEC,2022-12-26,490.00,504.20,488.8,162383,499.25,9.25,500.801896,505.363140,508.170979,513.980627,515.573869,515.898444,518.325531,518.451525,537.488575,-7.727465

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'ITC' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,ITC,2021-01-04,214.00,216.00,212.10,26891799,213.40,-0.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ITC,2021-01-05,212.45,213.25,210.60,18024083,211.45,-1.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ITC,2021-01-06,211.45,211.50,204.50,49067837,205.40,-6.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ITC,2021-01-07,206.10,207.60,202.10,34952401,202.80,-3.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ITC,2021-01-08,204.35,206.00,200.25,56427360,201.50,-2.85,204.532227,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,ITC,2022-12-20,340.05,340.95,336.75,5482218,340.15,0.10,339.990269,340.258837,340.416568,340.964034,341.099659,341.115377,339.260587,328.047555,305.001586,-0.698809
485,ITC,2022-12-21,341.00,341.25,334.50,7045201,335.15,-5.85,338.376846,339.237070,339.606327,340.435485,340.641993,340.673498,339.099387,328.188206,305.303913,-1.067171
486,ITC,2022-12-22,335.65,337.40,329.90,6584445,332.45,-3.20,336.401231,337.879656,338.505354,339.709532,340.011840,340.064350,338.838627,328.272603,305.576112,-1.558996
487,ITC,2022-12-23,330.90,331.90,325.35,10073884,326.70,-4.20,333.167487,335.643725,336.689145,338.526847,338.987852,339.074398,338.362602,328.241461,305.787909,-2.385253
488,ITC,2022-12-26,326.50,335.10,325.50,9566210,334.60,8.10,333.644991,335.434980,336.367738,338.169861,338.650325,338.742961,338.215049,328.367379,306.076769,-2.375223

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'JINDALSTEL' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,JINDALSTEL,2021-01-04,273.30,290.00,272.70,16083859,287.70,14.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,JINDALSTEL,2021-01-05,286.50,288.00,282.10,7992858,284.65,-1.85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,JINDALSTEL,2021-01-06,285.95,290.60,278.15,12378749,284.20,-1.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,JINDALSTEL,2021-01-07,288.00,304.65,287.25,16883643,298.00,10.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,JINDALSTEL,2021-01-08,300.50,302.60,290.90,9970177,293.80,-6.70,291.733649,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,JINDALSTEL,2022-12-20,547.10,549.80,536.80,1902685,546.05,-1.05,548.631338,549.276403,548.179239,540.192556,535.697854,534.547497,508.570060,475.231908,449.517431,13.631742
485,JINDALSTEL,2022-12-21,550.05,561.30,541.30,3475867,547.60,-2.45,548.287558,548.941122,548.090126,540.865960,536.613403,535.514349,510.100646,476.665026,450.500999,12.575776
486,JINDALSTEL,2022-12-22,548.75,552.95,537.25,2300268,539.85,-8.90,545.475039,547.122898,546.822414,540.773600,536.862372,535.835509,511.267287,477.916287,451.396919,10.986905
487,JINDALSTEL,2022-12-23,535.00,539.00,522.00,2296625,524.30,-10.70,538.416693,542.558318,543.357427,539.276000,535.896036,534.981026,511.778374,478.834830,452.127875,8.376401
488,JINDALSTEL,2022-12-26,525.25,537.00,523.55,2918642,528.35,3.10,535.061128,539.716655,541.048592,538.282727,535.315572,534.489839,512.428242,479.815383,452.892052,6.558753

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'JKCEMENT' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,JKCEMENT,2021-01-04,1934.00,2003.80,1928.00,147291,1962.35,28.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,JKCEMENT,2021-01-05,1968.35,2116.75,1950.00,195124,2095.60,127.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,JKCEMENT,2021-01-06,2100.00,2210.00,2050.00,183987,2186.75,86.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,JKCEMENT,2021-01-07,2177.00,2385.40,2177.00,474092,2297.30,120.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,JKCEMENT,2021-01-08,2309.75,2358.95,2205.00,177116,2252.30,-57.45,2212.822275,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,JKCEMENT,2022-12-20,3073.95,3101.25,3016.75,66446,3091.45,17.50,3097.053120,3109.688262,3108.368171,3075.090921,3055.244770,3050.203215,2941.261758,2807.089101,2754.894209,58.164956
485,JKCEMENT,2022-12-21,3091.45,3149.60,2970.00,125498,3003.05,-88.40,3065.718747,3088.360609,3092.165375,3068.541746,3051.229788,3046.710384,2943.684826,2810.969748,2757.382708,45.454991
486,JKCEMENT,2022-12-22,3005.00,3062.20,2966.10,108115,3039.45,34.45,3056.962498,3078.578487,3084.055318,3065.897042,3050.323650,3046.172578,2947.440323,2815.494376,2760.211049,37.882740
487,JKCEMENT,2022-12-23,2991.00,3017.70,2874.60,170122,2928.50,-62.50,3014.141665,3048.562790,3060.123730,3053.406402,3040.952600,3037.456091,2946.697565,2817.732240,2761.898384,22.667640
488,JKCEMENT,2022-12-26,2949.95,3054.10,2887.15,112086,3026.45,76.50,3018.244443,3044.140232,3054.943156,3050.955820,3039.837016,3036.640825,2949.825112,2821.865499,2764.550687,18.302332

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'JSWENERGY' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,JSWENERGY,2021-01-04,67.25,68.80,67.15,1589390,67.90,0.65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,JSWENERGY,2021-01-05,67.80,68.05,67.00,911999,67.45,-0.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,JSWENERGY,2021-01-06,68.00,68.50,66.80,2832539,67.30,-0.70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,JSWENERGY,2021-01-07,68.30,68.30,67.30,850988,67.55,-0.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,JSWENERGY,2021-01-08,68.20,68.20,66.85,1678181,67.05,-1.15,67.330569,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,JSWENERGY,2022-12-20,280.00,280.40,271.95,788992,278.75,-1.25,285.589714,290.639253,293.361313,299.110719,300.988652,301.408241,306.714736,304.972833,297.382483,-8.046928
485,JSWENERGY,2022-12-21,279.75,283.70,265.00,617155,268.05,-11.70,279.743143,286.121402,289.467265,296.287017,298.454910,298.937261,305.198471,304.241644,297.088338,-9.469995
486,JSWENERGY,2022-12-22,269.00,275.00,257.50,1304419,270.05,1.05,276.512095,282.907122,286.479994,293.901834,296.269917,296.797463,303.820100,303.564542,296.817219,-10.317470
487,JSWENERGY,2022-12-23,265.95,267.80,248.00,1725307,253.30,-12.65,268.774730,276.985697,281.375379,290.210758,292.964538,293.575429,301.838920,302.569147,296.380897,-12.200050
488,JSWENERGY,2022-12-26,253.30,268.30,245.90,735578,263.70,10.40,267.083153,274.328558,278.656090,287.800689,290.713420,291.362434,300.343276,301.799418,296.053250,-12.706344

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'JSWSTEEL' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,JSWSTEEL,2021-01-04,392.00,405.10,391.10,8872723,403.10,11.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,JSWSTEEL,2021-01-05,400.00,401.00,391.60,6190435,395.25,-4.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,JSWSTEEL,2021-01-06,397.20,407.35,395.75,7910567,401.70,4.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,JSWSTEEL,2021-01-07,404.00,413.10,403.15,10231006,405.40,1.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,JSWSTEEL,2021-01-08,410.30,410.45,398.50,7559664,402.85,-7.45,402.460900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,JSWSTEEL,2022-12-20,740.45,747.15,733.10,1512103,745.80,5.35,746.408147,745.187563,743.497096,736.034193,732.298239,731.364855,711.536922,686.508625,668.376477,12.132241
485,JSWSTEEL,2022-12-21,750.00,752.95,739.65,1605753,743.10,-6.90,745.305431,744.770050,743.436005,736.676539,733.129144,732.234125,712.774690,687.629314,669.125802,11.201880
486,JSWSTEEL,2022-12-22,743.10,749.00,734.45,1403642,737.55,-5.55,742.720288,743.326040,742.530465,736.755944,733.469210,732.627894,713.746270,688.617901,669.811905,9.902572
487,JSWSTEEL,2022-12-23,729.95,736.55,722.40,1687270,727.85,-2.10,737.763525,740.230832,740.271932,735.946313,733.036963,732.273976,714.299358,689.394819,670.393819,7.997957
488,JSWSTEEL,2022-12-26,727.55,737.35,723.25,1168456,732.20,4.65,735.909017,738.624666,739.030097,735.605739,732.972581,732.268496,715.001344,690.242494,671.013466,6.761601

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'JUBLFOOD' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,JUBLFOOD,2021-01-04,2795.55,2816.45,2740.60,754546,2747.30,-48.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,JUBLFOOD,2021-01-05,2750.00,2837.20,2747.30,1521437,2775.65,25.65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,JUBLFOOD,2021-01-06,2800.00,2856.05,2747.10,1028625,2788.60,-11.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,JUBLFOOD,2021-01-07,2815.00,2888.00,2806.00,1524648,2862.05,47.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,JUBLFOOD,2021-01-08,2900.00,2948.00,2877.35,1399726,2912.60,12.60,2850.394787,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,JUBLFOOD,2022-12-20,519.00,521.50,513.15,1179377,520.60,1.60,522.868729,527.132924,530.189714,538.841893,542.450386,543.319874,561.517363,656.541089,1056.886320,-13.130159
485,JUBLFOOD,2022-12-21,529.00,534.50,519.15,3791885,521.20,-7.80,522.312486,525.946339,528.806681,537.238084,540.815741,541.681364,559.936290,653.860906,1051.514476,-12.874683
486,JUBLFOOD,2022-12-22,523.55,534.70,521.45,3470824,533.80,10.25,526.141657,527.517071,529.574884,536.925531,540.276068,541.097560,558.911338,651.483323,1046.323255,-11.522676
487,JUBLFOOD,2022-12-23,527.65,531.55,509.00,3842819,511.25,-16.40,521.177771,524.263657,526.755671,534.591392,538.043294,538.886629,557.042266,648.706265,1040.958388,-12.130958
488,JUBLFOOD,2022-12-26,513.80,523.20,510.25,1756911,521.30,7.50,521.218514,523.670926,525.916337,533.383084,536.755348,537.583916,555.640608,646.183226,1035.748473,-11.667579

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'KAJARIACER' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,KAJARIACER,2021-01-04,711.80,712.90,691.70,390819,708.25,-3.55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,KAJARIACER,2021-01-05,710.00,723.45,700.00,348631,709.50,-0.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,KAJARIACER,2021-01-06,709.00,715.45,705.00,203117,710.75,1.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,KAJARIACER,2021-01-07,714.10,727.90,711.00,526207,723.55,9.45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,KAJARIACER,2021-01-08,728.00,735.50,721.00,394185,726.80,-1.20,719.855450,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,KAJARIACER,2022-12-20,1113.50,1113.50,1088.00,138624,1095.60,-17.90,1110.246101,1117.599423,1119.400274,1116.796586,1115.203910,1114.866312,1111.776242,1106.974254,1100.879947,4.533962
485,KAJARIACER,2022-12-21,1090.15,1118.10,1085.55,106099,1099.45,9.30,1106.647401,1113.969539,1116.331001,1115.219624,1113.992071,1113.724363,1111.292860,1106.825250,1100.865608,2.606638
486,KAJARIACER,2022-12-22,1102.85,1119.00,1085.55,119181,1106.55,3.70,1106.614934,1112.485631,1114.826232,1114.431476,1113.419604,1113.192929,1111.106866,1106.819799,1100.922606,1.633303
487,KAJARIACER,2022-12-23,1105.70,1105.70,1062.55,141014,1080.15,-25.55,1097.793289,1106.018505,1109.491427,1111.314978,1110.860404,1110.745305,1109.892871,1106.291654,1100.714331,-1.253878
488,KAJARIACER,2022-12-26,1080.10,1102.55,1071.20,72896,1090.85,10.75,1095.478859,1102.984804,1106.623515,1109.454526,1109.321142,1109.271578,1109.146092,1105.985861,1100.615435,-2.648063

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'KANSAINER' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,KANSAINER,2021-01-04,639.80,642.25,616.25,458436,620.75,-19.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,KANSAINER,2021-01-05,623.65,635.00,618.10,254131,625.45,1.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,KANSAINER,2021-01-06,625.10,632.00,609.00,254479,612.75,-12.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,KANSAINER,2021-01-07,619.70,620.00,596.75,277067,599.70,-20.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,KANSAINER,2021-01-08,606.90,623.50,595.65,424761,619.45,12.55,614.033412,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,KANSAINER,2022-12-20,429.30,432.95,423.20,99580,424.00,-5.30,431.155031,434.815728,436.472512,440.249701,441.896957,442.307926,450.160688,455.635234,467.702914,-5.835414
485,KANSAINER,2022-12-21,424.00,440.50,423.15,199563,438.00,14.00,433.436687,435.452583,436.707510,440.045183,441.597191,441.988821,449.683798,455.286001,467.405054,-5.281310
486,KANSAINER,2022-12-22,439.00,439.00,414.00,291150,425.60,-13.40,430.824458,433.482066,434.998663,438.731984,440.366638,440.774834,448.739336,454.698124,466.985867,-5.776171
487,KANSAINER,2022-12-23,418.15,429.90,411.30,118781,422.95,4.80,428.199639,431.375653,433.145022,437.297258,439.026897,439.454476,447.727989,454.069412,466.544345,-6.309454
488,KANSAINER,2022-12-26,425.00,434.95,418.95,113800,430.50,5.50,428.966426,431.200522,432.738096,436.679326,438.370981,438.791181,447.052382,453.602665,466.182977,-6.053086

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'KOTAKBANK' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,KOTAKBANK,2021-01-04,2004.00,2005.95,1955.00,3141429,1965.55,-38.45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,KOTAKBANK,2021-01-05,1959.50,1964.40,1935.00,3263230,1959.75,0.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,KOTAKBANK,2021-01-06,1973.90,1979.00,1948.40,3452515,1970.40,-3.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,KOTAKBANK,2021-01-07,1984.00,1984.00,1947.50,3419317,1952.40,-31.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,KOTAKBANK,2021-01-08,1972.00,1976.00,1946.25,3262897,1970.70,-1.30,1964.329384,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,KOTAKBANK,2022-12-20,1845.00,1861.95,1834.75,1410586,1847.10,2.10,1856.919970,1868.804543,1876.429813,1889.589119,1892.091756,1892.511882,1891.113261,1874.052140,1856.198421,-16.082069
485,KOTAKBANK,2022-12-21,1860.50,1860.95,1809.00,2382869,1814.60,-45.90,1842.813313,1857.963635,1866.917534,1882.771927,1886.130852,1886.740632,1888.112741,1872.874799,1855.781274,-19.823097
486,KOTAKBANK,2022-12-22,1826.00,1835.00,1819.00,1714093,1826.05,0.05,1837.225542,1851.580908,1860.630221,1877.615388,1881.509248,1882.245029,1885.678908,1871.947521,1855.483153,-21.614808
487,KOTAKBANK,2022-12-23,1815.95,1839.15,1811.95,2102126,1821.95,6.00,1832.133695,1845.654726,1854.679418,1872.554898,1876.927767,1877.778731,1883.179735,1870.957414,1855.146935,-23.099313
488,KOTAKBANK,2022-12-26,1821.95,1826.10,1794.20,4746738,1813.55,-8.40,1825.939130,1839.233781,1848.351815,1867.190816,1872.052555,1873.021047,1880.449158,1869.820569,1854.729899,-24.669232

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'L&TFH' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,L&TFH,2021-01-04,97.90,98.35,95.80,11890597,97.25,-0.65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,L&TFH,2021-01-05,97.00,102.65,96.25,27205954,102.10,5.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,L&TFH,2021-01-06,102.45,106.35,100.55,28864010,102.75,0.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,L&TFH,2021-01-07,104.00,106.15,102.15,18328107,104.20,0.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,L&TFH,2021-01-08,105.25,105.50,102.55,9883133,103.15,-2.10,102.783649,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,L&TFH,2022-12-20,93.05,93.05,90.05,6338956,91.45,-1.60,92.283844,92.149861,91.735851,90.058195,89.325389,89.149749,85.850241,82.333232,80.411311,2.586102
485,L&TFH,2022-12-21,91.90,92.60,88.15,9833327,88.70,-3.20,91.089229,91.459889,91.268797,89.934723,89.277282,89.116434,85.961997,82.459314,80.494430,2.152363
486,L&TFH,2022-12-22,89.00,90.00,86.55,8103801,87.35,-1.65,89.842820,90.637911,90.665905,89.699748,89.129030,88.985587,86.016428,82.556165,80.563172,1.680318
487,L&TFH,2022-12-23,86.50,86.75,81.90,9697616,82.40,-4.10,87.361880,88.990329,89.394227,89.036135,88.611412,88.497766,85.874607,82.553072,80.581589,0.896462
488,L&TFH,2022-12-26,82.00,85.20,81.40,6226483,84.70,2.70,86.474587,88.132263,88.672039,88.641940,88.310534,88.216450,85.828544,82.595588,80.622879,0.455589

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'LALPATHLAB' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,LALPATHLAB,2021-01-04,2407.25,2460.00,2381.00,255915,2399.45,-7.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,LALPATHLAB,2021-01-05,2390.00,2427.00,2361.20,293694,2386.05,-3.95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,LALPATHLAB,2021-01-06,2387.00,2405.05,2327.00,182407,2352.00,-35.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,LALPATHLAB,2021-01-07,2360.00,2427.95,2359.00,638319,2395.40,35.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,LALPATHLAB,2021-01-08,2423.90,2445.00,2375.30,320669,2406.85,-17.05,2391.634360,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,LALPATHLAB,2022-12-20,2291.20,2316.00,2255.00,153597,2287.10,-4.10,2316.862426,2349.384638,2365.964456,2396.292069,2404.873564,2406.706141,2426.519359,2431.388851,2519.262936,-40.741685
485,LALPATHLAB,2022-12-21,2334.90,2440.00,2310.90,1781830,2430.30,95.40,2354.674951,2365.567710,2375.862232,2399.383699,2406.829444,2408.453834,2426.667620,2431.367288,2518.370819,-32.591602
486,LALPATHLAB,2022-12-22,2448.00,2459.35,2325.55,602251,2373.45,-74.55,2360.933301,2367.144168,2375.491119,2397.026090,2404.261794,2405.860957,2424.580654,2430.220344,2516.917670,-30.369838
487,LALPATHLAB,2022-12-23,2364.00,2414.90,2313.65,552761,2345.80,-18.20,2355.888867,2362.875334,2370.923255,2392.369173,2399.764733,2401.411998,2421.491217,2428.548557,2515.201973,-30.488743
488,LALPATHLAB,2022-12-26,2349.95,2363.15,2241.15,415307,2278.55,-71.40,2330.109245,2346.010268,2356.711985,2382.021975,2390.440523,2392.311109,2415.885679,2425.578121,2512.829383,-35.599124

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'LAURUSLABS' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,LAURUSLABS,2021-01-04,355.70,361.05,350.15,2636585,359.30,3.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,LAURUSLABS,2021-01-05,357.50,365.00,352.55,2848973,359.55,2.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,LAURUSLABS,2021-01-06,360.40,363.90,353.00,2428903,355.70,-4.70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,LAURUSLABS,2021-01-07,357.00,358.95,352.00,1314622,353.20,-3.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,LAURUSLABS,2021-01-08,354.10,359.85,351.50,1719966,353.60,-0.50,354.964929,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,LAURUSLABS,2022-12-20,389.00,389.00,375.60,2426332,385.05,-3.95,390.502591,396.855033,401.577837,414.588501,419.832921,421.097507,446.282577,476.492808,502.839498,-19.519670
485,LAURUSLABS,2022-12-21,387.80,401.95,383.65,3816816,394.20,6.40,391.735061,396.324026,400.442785,412.735001,417.861158,419.105099,444.240123,474.863150,501.750065,-18.662314
486,LAURUSLABS,2022-12-22,398.80,398.80,384.35,1833828,391.35,-7.45,391.606707,395.329221,399.043895,410.790910,415.821838,417.049166,442.166001,473.209327,500.643062,-18.005271
487,LAURUSLABS,2022-12-23,388.95,398.40,381.95,2432866,384.10,-4.85,389.104471,393.083377,396.744834,408.364464,413.381697,414.608487,439.888902,471.444684,499.474553,-17.863653
488,LAURUSLABS,2022-12-26,384.95,387.10,379.00,1269483,381.75,-3.20,386.652981,390.816702,394.437937,405.944967,410.948489,412.174525,437.608945,469.668451,498.294288,-17.736588

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'LICHSGFIN' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,LICHSGFIN,2021-01-04,380.00,384.90,376.65,5326473,381.70,1.70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,LICHSGFIN,2021-01-05,379.00,399.00,377.45,8591323,394.55,15.55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,LICHSGFIN,2021-01-06,395.95,417.85,394.95,11763166,408.30,12.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,LICHSGFIN,2021-01-07,413.00,444.40,411.10,13798782,435.00,22.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,LICHSGFIN,2021-01-08,440.85,447.60,436.50,10006470,442.15,1.30,424.546682,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,LICHSGFIN,2022-12-20,410.40,414.90,406.10,1660444,414.25,3.85,410.394079,407.843774,405.746356,401.082222,399.930438,399.709434,397.546517,393.623958,389.493691,6.036922
485,LICHSGFIN,2022-12-21,417.65,429.00,408.60,5893280,411.25,-6.40,410.679386,408.525019,406.593071,402.006566,400.801173,400.564290,398.083909,393.973009,389.711863,6.028780
486,LICHSGFIN,2022-12-22,412.50,418.60,405.15,2281147,411.00,-1.50,410.786257,409.020015,407.271060,402.824151,401.585698,401.337306,398.590422,394.310197,389.925323,5.933754
487,LICHSGFIN,2022-12-23,406.55,409.00,393.10,2206700,395.05,-11.50,405.540838,406.226012,405.390897,402.117410,401.082952,400.871580,398.451582,394.324848,389.976705,4.519317
488,LICHSGFIN,2022-12-26,395.05,410.65,391.20,1619002,407.85,12.80,406.310559,406.550810,405.769220,402.638554,401.603495,401.388500,398.820147,394.592688,390.155897,4.380721

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'LINDEINDIA' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,LINDEINDIA,2021-01-04,976.00,1002.00,975.55,95621,986.90,10.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,LINDEINDIA,2021-01-05,976.90,987.90,976.90,32924,980.90,4.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,LINDEINDIA,2021-01-06,982.00,1019.75,978.00,202687,1005.50,23.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,LINDEINDIA,2021-01-07,1020.00,1021.00,992.00,40343,995.10,-24.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,LINDEINDIA,2021-01-08,1001.00,1018.95,996.35,63050,1000.10,-0.90,996.556872,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,LINDEINDIA,2022-12-20,3540.00,3590.40,3440.05,64040,3537.20,-2.80,3441.142380,3362.687795,3321.727952,3250.808994,3234.029184,3230.747329,3206.691080,3214.774145,3135.609751,90.980623
485,LINDEINDIA,2022-12-21,3543.75,3568.75,3300.00,67660,3343.05,-200.70,3408.444920,3358.760236,3325.008267,3259.194540,3242.415401,3239.066046,3212.038489,3217.314414,3137.689955,85.942221
486,LINDEINDIA,2022-12-22,3389.75,3523.75,3275.55,174585,3497.20,107.45,3438.029947,3386.448189,3351.499303,3280.831400,3262.014216,3258.187079,3223.221293,3222.857029,3141.294830,93.312224
487,LINDEINDIA,2022-12-23,3489.90,3575.00,3261.85,194925,3318.20,-171.70,3398.086631,3372.798551,3346.376333,3284.228545,3266.336200,3262.632481,3226.945948,3224.745117,3143.068555,83.743852
488,LINDEINDIA,2022-12-26,3250.05,3420.00,3250.05,63244,3366.15,116.10,3387.441087,3371.468841,3349.418436,3291.675950,3274.014184,3270.300445,3232.404931,3227.545372,3145.305092,79.117991

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'LODHA' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,LODHA,2021-04-19,436.00,478.00,422.60,11051365,465.25,29.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,LODHA,2021-04-20,468.00,513.85,457.35,5852536,503.10,35.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,LODHA,2021-04-22,498.00,542.75,491.60,2364148,523.75,25.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,LODHA,2021-04-23,522.80,536.90,517.70,1150419,530.70,7.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,LODHA,2021-04-26,532.00,586.00,532.00,2069788,580.10,48.10,540.375829,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
414,LODHA,2022-12-20,1040.00,1043.90,1021.50,404607,1030.05,-9.95,1038.415310,1041.308088,1040.432392,1033.294159,1030.309268,1029.650555,1023.260286,1031.005897,1046.492865,10.781837
415,LODHA,2022-12-21,1038.00,1075.80,1026.30,433928,1036.85,-1.15,1037.893540,1040.416470,1039.881255,1033.617418,1030.812401,1030.183847,1023.793216,1031.121650,1046.395395,9.697407
416,LODHA,2022-12-22,1039.00,1046.95,1020.60,267746,1026.95,-12.05,1034.245693,1037.723176,1037.891831,1033.011289,1030.515293,1029.944303,1023.917012,1031.039024,1046.198872,7.947528
417,LODHA,2022-12-23,1026.95,1039.40,1011.35,736590,1028.50,1.55,1032.330462,1035.878541,1036.446934,1032.601172,1030.360271,1029.837318,1024.096737,1030.988734,1046.020028,6.609616
418,LODHA,2022-12-26,1028.50,1038.90,1018.00,102774,1023.70,-4.80,1029.453641,1033.442833,1034.485867,1031.791974,1029.847942,1029.382701,1024.081179,1030.844370,1045.794522,5.103166

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'LT' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,LT,2021-01-04,1305.00,1322.55,1302.00,4014636,1314.60,9.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,LT,2021-01-05,1307.00,1313.00,1295.05,2833637,1306.30,-0.70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,LT,2021-01-06,1308.00,1330.00,1300.00,4615963,1314.00,6.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,LT,2021-01-07,1330.00,1346.80,1325.00,4270598,1338.95,8.95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,LT,2021-01-08,1349.80,1382.95,1347.00,4984995,1373.40,23.60,1342.357820,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,LT,2022-12-20,2179.90,2179.90,2138.00,1747181,2163.25,-16.65,2171.745946,2161.884069,2151.705845,2121.056985,2108.649841,2105.678608,2045.813840,1960.688987,1874.779320,46.027237
485,LT,2022-12-21,2153.10,2174.95,2142.85,1979681,2146.30,-6.80,2163.263964,2158.767255,2150.874176,2123.351804,2111.546008,2108.687600,2049.754474,1964.364673,1877.502121,42.186576
486,LT,2022-12-22,2144.00,2148.35,2096.90,1993744,2109.95,-34.05,2145.492643,2149.003804,2144.578149,2122.133458,2111.423238,2108.781111,2052.115083,1967.247721,1879.832920,35.797038
487,LT,2022-12-23,2094.50,2104.15,2050.10,2026125,2062.75,-31.75,2117.911762,2131.753043,2131.989203,2116.734962,2107.679143,2105.371399,2052.532139,1969.138964,1881.666922,26.617804
488,LT,2022-12-26,2052.75,2108.00,2051.00,1154610,2091.05,38.30,2108.957841,2123.612435,2125.690864,2114.399966,2106.399978,2104.310555,2054.042643,1971.553180,1883.766124,21.380309

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'LTI' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,LTI,2021-01-04,3729.60,3909.90,3709.45,373949,3845.35,115.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,LTI,2021-01-05,3845.00,4198.90,3803.00,840857,4129.35,284.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,LTI,2021-01-06,4147.00,4159.00,3935.00,597076,3956.90,-190.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,LTI,2021-01-07,3998.05,4029.00,3870.00,363617,3882.90,-115.15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,LTI,2021-01-08,3920.85,4114.00,3920.00,582258,4092.20,171.35,4001.057820,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
468,LTI,2022-11-28,4930.00,5014.45,4907.00,288290,4941.30,11.30,4904.161959,4898.221371,4894.008355,4865.774221,4850.387519,4846.529289,4767.691720,4736.606861,4882.609676,47.479066
469,LTI,2022-11-29,4934.75,4961.80,4902.00,156295,4912.15,-22.60,4906.824639,4901.007097,4896.799377,4869.990201,4855.138479,4851.390082,4773.356751,4740.083250,4882.906307,45.409295
470,LTI,2022-11-30,4912.00,4938.00,4820.00,647389,4838.55,-73.45,4884.066426,4888.515678,4887.837934,4867.132001,4853.862442,4850.438965,4775.913349,4742.033245,4882.460941,37.398969
471,LTI,2022-12-01,4911.00,5077.95,4901.00,1343248,5010.45,99.45,4926.194284,4912.902542,4906.701329,4880.160910,4865.907639,4862.291634,4785.110864,4747.348851,4883.745919,44.409695
472,LTI,2022-12-02,5024.00,5125.00,4970.00,783131,5065.75,41.75,4972.712856,4943.472034,4931.170355,4897.032645,4881.280128,4877.362624,4796.116321,4753.654315,4885.573031,53.807731

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'LTTS' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,LTTS,2021-01-04,2429.00,2464.00,2415.75,158049,2451.65,22.65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,LTTS,2021-01-05,2450.00,2550.00,2395.15,305277,2504.00,54.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,LTTS,2021-01-06,2528.00,2620.00,2415.00,335490,2492.35,-35.65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,LTTS,2021-01-07,2530.00,2530.00,2380.00,255804,2393.55,-136.45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,LTTS,2021-01-08,2409.00,2470.00,2407.95,162434,2456.40,47.40,2451.502844,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,LTTS,2022-12-20,3980.05,3984.95,3921.60,154148,3951.05,-29.00,3982.744377,3995.071672,3994.523605,3962.471505,3943.113337,3938.215134,3837.433224,3760.963808,3819.745173,56.308471
485,LTTS,2022-12-21,3970.85,4066.00,3940.15,309515,3957.10,-13.75,3974.196252,3987.477338,3988.766127,3961.983186,3944.189234,3939.614013,3842.126039,3764.847926,3821.122563,49.152114
486,LTTS,2022-12-22,4004.80,4009.60,3915.00,240965,3951.45,-53.35,3966.614168,3980.271870,3983.025185,3961.025624,3944.747755,3940.490753,3846.413253,3768.543235,3822.429380,42.534432
487,LTTS,2022-12-23,3901.00,3920.00,3673.05,375612,3702.60,-198.40,3878.609445,3924.737496,3939.882849,3937.532385,3926.121004,3922.869216,3840.773517,3767.237353,3821.227921,17.013633
488,LTTS,2022-12-26,3719.00,3775.00,3706.00,266670,3728.35,9.35,3828.522963,3885.459997,3907.339333,3918.515805,3910.907850,3908.460385,3836.364752,3766.467262,3820.296759,-1.121051

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'LUPIN' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,LUPIN,2021-01-04,1009.80,1030.35,1000.65,3868020,1026.95,17.15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,LUPIN,2021-01-05,1024.95,1047.50,1016.05,3524333,1039.95,15.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,LUPIN,2021-01-06,1039.95,1039.95,991.00,5558602,1000.60,-39.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,LUPIN,2021-01-07,1015.00,1029.70,993.15,4840991,1022.25,7.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,LUPIN,2021-01-08,1023.50,1047.35,1022.60,3927080,1038.80,15.30,1027.279147,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,LUPIN,2022-12-20,726.95,730.00,718.00,386644,725.95,-1.00,735.139976,741.141914,743.037195,742.201750,740.420785,739.914407,726.244344,710.680894,727.959710,3.122788
485,LUPIN,2022-12-21,727.50,757.80,722.10,1647711,751.35,23.85,740.543318,743.183531,744.316088,743.033409,741.261493,740.761488,727.228879,711.486271,728.194267,3.554600
486,LUPIN,2022-12-22,755.00,771.00,748.85,2196207,766.30,11.30,749.128878,747.806825,747.698228,745.148553,743.187532,742.653230,728.761080,712.571755,728.576361,5.044998
487,LUPIN,2022-12-23,770.00,788.90,752.05,4165329,756.75,-13.25,751.669252,749.595460,749.090809,746.203230,744.230799,743.697435,729.858685,713.446622,728.858841,5.393373
488,LUPIN,2022-12-26,760.55,767.25,736.05,1798553,742.20,-18.35,748.512835,748.116368,748.030684,745.839300,744.074584,743.586514,730.342658,714.016028,728.992595,4.444170

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'M&M' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,M&M,2021-01-04,735.00,751.00,727.25,4547027,749.10,14.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,M&M,2021-01-05,748.00,748.00,730.00,3551554,740.10,-7.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,M&M,2021-01-06,741.00,746.45,730.45,3601608,736.10,-4.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,M&M,2021-01-07,743.00,755.00,740.10,4063641,744.40,1.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,M&M,2021-01-08,750.00,772.80,745.00,5998381,770.50,20.50,752.870616,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,M&M,2022-12-20,1287.95,1288.00,1263.10,1286604,1275.25,-12.70,1276.665515,1275.160274,1274.242130,1273.457839,1273.521143,1273.538162,1270.121997,1234.357871,1145.937433,0.703967
485,M&M,2022-12-21,1279.90,1284.50,1258.50,1251993,1265.70,-14.20,1273.010343,1273.268219,1272.927956,1272.752581,1272.919517,1272.957558,1269.948586,1234.978545,1147.138408,-0.029602
486,M&M,2022-12-22,1265.70,1277.65,1229.30,1557590,1233.95,-31.75,1259.990229,1265.404575,1266.931347,1269.225074,1269.921861,1270.068109,1268.536876,1234.958176,1148.008884,-3.136762
487,M&M,2022-12-23,1220.00,1230.00,1208.00,1913648,1224.60,4.60,1248.193486,1257.243660,1260.418832,1265.168249,1266.435564,1266.700101,1266.813862,1234.753052,1148.776818,-6.281269
488,M&M,2022-12-26,1224.60,1247.40,1216.30,1677560,1237.05,12.45,1244.478991,1253.204928,1256.823627,1262.612044,1264.175136,1264.503797,1265.646651,1234.798539,1149.661815,-7.680170

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'M&MFIN' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,M&MFIN,2021-01-04,180.20,185.90,180.20,8010002,185.45,5.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,M&MFIN,2021-01-05,184.00,186.95,182.10,7709972,184.75,0.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,M&MFIN,2021-01-06,185.40,191.00,184.70,11360129,188.55,3.15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,M&MFIN,2021-01-07,189.95,198.40,189.35,11245548,195.45,5.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,M&MFIN,2021-01-08,196.80,197.50,189.15,11747481,189.95,-6.85,190.186019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,M&MFIN,2022-12-20,235.45,236.10,229.55,1870011,234.05,-1.40,235.005680,234.074397,232.758417,228.458829,226.785881,226.396539,219.471984,210.218350,198.206255,6.361878
485,M&MFIN,2022-12-21,233.50,235.25,225.00,2893161,226.75,-6.75,232.253786,232.609518,231.834045,228.303481,226.783121,226.422721,219.757397,210.545729,198.492491,5.411324
486,M&MFIN,2022-12-22,226.75,232.35,223.50,2727522,227.85,1.10,230.785858,231.657614,231.221115,228.262255,226.865188,226.528446,220.074754,210.888408,198.786864,4.692669
487,M&MFIN,2022-12-23,226.00,226.35,218.45,3803891,220.75,-5.25,227.440572,229.476091,229.610174,227.579323,226.394789,226.100413,220.101234,211.083698,199.007076,3.509762
488,M&MFIN,2022-12-26,220.10,229.70,220.10,2435977,227.85,7.75,227.577048,229.150873,229.339378,227.603930,226.506728,226.230012,220.405107,211.415723,199.296245,3.109366

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'MANAPPURAM' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,MANAPPURAM,2021-01-04,168.90,172.65,168.70,6196053,172.05,3.15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,MANAPPURAM,2021-01-05,171.15,174.20,169.85,6011885,173.75,2.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,MANAPPURAM,2021-01-06,175.00,175.75,171.25,5773730,173.95,-1.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MANAPPURAM,2021-01-07,174.65,177.75,173.00,5552211,176.75,2.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MANAPPURAM,2021-01-08,177.50,177.50,173.65,3803277,174.25,-3.25,174.614929,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,MANAPPURAM,2022-12-20,116.30,117.80,114.75,3446884,116.30,0.00,116.749885,117.005059,116.940100,115.963134,115.367785,115.214412,111.824488,108.833450,113.545526,1.725688
485,MANAPPURAM,2022-12-21,117.50,122.70,116.65,21729665,117.70,0.20,117.066590,117.144047,117.057007,116.121031,115.547186,115.398530,112.054900,109.009036,113.587187,1.658478
486,MANAPPURAM,2022-12-22,117.75,118.70,113.65,6990839,114.10,-3.65,116.077727,116.535237,116.602083,115.937301,115.435864,115.302342,112.135100,109.109853,113.592329,1.299741
487,MANAPPURAM,2022-12-23,113.45,114.15,107.50,6170860,108.15,-5.30,113.435151,114.858190,115.301763,115.229365,114.875413,114.772539,111.978821,109.090845,113.537762,0.529224
488,MANAPPURAM,2022-12-26,108.25,111.25,106.80,4708721,110.50,2.25,112.456767,113.986552,114.563030,114.799422,114.538843,114.456055,111.920828,109.118750,113.507306,0.106975

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'MARICO' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,MARICO,2021-01-04,406.95,419.40,406.95,3483313,417.15,10.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,MARICO,2021-01-05,416.45,422.60,410.90,3696376,419.70,3.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,MARICO,2021-01-06,423.00,424.90,415.05,3156306,418.65,-4.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MARICO,2021-01-07,420.50,423.35,417.00,1588219,417.80,-2.70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MARICO,2021-01-08,418.80,425.80,418.80,2514098,424.70,5.90,420.760664,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,MARICO,2022-12-20,525.50,529.80,519.25,1129137,526.10,0.60,522.930912,520.308580,518.196173,514.034031,513.157252,513.001945,512.413245,513.036769,512.642011,5.194228
485,MARICO,2022-12-21,526.10,528.70,520.55,796069,521.70,-4.40,522.520608,520.586864,518.735223,514.730937,513.814386,513.646246,512.777432,513.208328,512.732844,5.088978
486,MARICO,2022-12-22,524.35,527.50,520.30,685397,522.35,-2.00,522.463739,520.939491,519.291343,515.423579,514.470972,514.290968,513.152827,513.389362,512.829277,5.000375
487,MARICO,2022-12-23,517.60,523.40,513.00,598327,515.55,-2.05,520.159159,519.861593,518.715752,515.435072,514.553974,514.384230,513.246833,513.432149,512.856556,4.331522
488,MARICO,2022-12-26,513.85,522.65,512.10,490218,518.45,4.60,519.589439,519.579274,518.674867,515.709156,514.853669,514.685398,513.450879,513.531518,512.912634,3.989469

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'MARUTI' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,MARUTI,2021-01-04,7739.00,7755.20,7642.60,598645,7702.30,-36.70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,MARUTI,2021-01-05,7660.00,7673.00,7586.00,562668,7655.45,-4.55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,MARUTI,2021-01-06,7654.00,7749.00,7555.50,840678,7628.60,-25.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MARUTI,2021-01-07,7676.00,7704.40,7552.10,642968,7566.05,-109.95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MARUTI,2021-01-08,7600.00,8060.00,7600.00,2557157,8014.90,414.90,7769.529858,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,MARUTI,2022-12-20,8584.40,8584.40,8432.05,694906,8524.35,-60.05,8568.221106,8611.214217,8644.974567,8729.620666,8756.910787,8762.835635,8830.668046,8763.122103,8505.906541,-117.861067
485,MARUTI,2022-12-21,8524.35,8566.95,8288.30,800720,8350.40,-173.95,8495.614070,8559.051374,8599.655403,8695.146060,8725.640727,8732.284847,8811.834005,8754.948898,8504.347126,-132.629444
486,MARUTI,2022-12-22,8356.65,8384.00,8288.00,580858,8334.35,-22.30,8441.859380,8514.111099,8558.839187,8662.346418,8695.541440,8702.808191,8793.109142,8746.619716,8502.642533,-143.969004
487,MARUTI,2022-12-23,8299.70,8329.95,8122.85,503012,8141.60,-158.10,8341.772920,8439.608879,8494.648543,8615.005835,8652.930560,8661.237214,8767.559763,8734.638437,8499.022570,-166.588671
488,MARUTI,2022-12-26,8147.00,8346.00,8076.05,315102,8256.80,109.80,8313.448613,8403.047103,8458.056459,8582.441668,8622.458979,8631.278902,8747.529969,8725.175754,8496.594131,-173.222443

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'MAXHEALTH' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,MAXHEALTH,2021-01-04,145.80,145.80,141.10,224090,141.75,-4.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,MAXHEALTH,2021-01-05,140.25,143.90,140.00,180430,141.75,1.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,MAXHEALTH,2021-01-06,142.00,144.90,141.20,331190,143.65,1.65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MAXHEALTH,2021-01-07,144.50,158.10,143.50,2035880,156.20,11.70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MAXHEALTH,2021-01-08,157.80,158.45,153.05,841611,154.30,-3.50,150.590047,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,MAXHEALTH,2022-12-20,423.25,440.00,422.65,2061305,438.25,15.00,431.994910,432.681356,433.419776,434.718713,434.785654,434.758569,430.735833,417.700919,397.959902,-1.338794
485,MAXHEALTH,2022-12-21,441.45,449.40,435.00,1782044,439.55,-1.90,434.513273,434.055085,434.362887,435.157921,435.152142,435.113490,431.081487,418.133600,398.376966,-0.750603
486,MAXHEALTH,2022-12-22,442.50,450.90,437.05,2223868,447.20,4.70,438.742182,436.684068,436.337827,436.252655,436.078900,436.008787,431.713586,418.709206,398.866524,0.329040
487,MAXHEALTH,2022-12-23,447.00,447.20,427.30,837210,432.40,-14.60,436.628121,435.827254,435.732008,435.902414,435.795908,435.741470,431.740504,418.980327,399.202744,-0.009462
488,MAXHEALTH,2022-12-26,435.00,447.20,426.60,923446,445.55,10.55,439.602081,437.771803,437.242468,436.779467,436.546223,436.468027,432.282053,419.506488,399.667406,0.774441

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'MCDOWELL-N' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,MCDOWELL-N,2021-01-04,581.00,590.75,581.00,1812702,584.35,3.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,MCDOWELL-N,2021-01-05,582.00,585.50,575.50,1240679,582.25,0.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,MCDOWELL-N,2021-01-06,584.00,595.80,577.80,2493024,586.15,2.15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MCDOWELL-N,2021-01-07,589.00,620.00,584.10,6427840,613.90,24.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MCDOWELL-N,2021-01-08,622.00,637.60,613.85,7907269,630.90,8.90,609.850711,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,MCDOWELL-N,2022-12-20,914.20,919.80,905.00,452102,917.95,3.75,920.215781,922.829605,922.441302,916.616510,913.325496,912.488918,893.746762,869.438938,848.294916,9.952384
485,MCDOWELL-N,2022-12-21,917.55,922.00,900.05,715559,903.00,-14.55,914.477187,918.863684,919.450333,915.378645,912.531227,911.786036,894.109634,870.103553,848.843497,7.664297
486,MCDOWELL-N,2022-12-22,903.00,909.00,890.35,519054,898.05,-4.95,909.001458,914.700947,916.157974,913.803314,911.417287,910.768551,894.264158,870.656981,849.336900,5.389423
487,MCDOWELL-N,2022-12-23,890.00,895.90,870.75,985112,874.25,-15.75,897.417639,906.610758,909.710593,910.207558,908.558265,908.063474,893.479289,870.728134,849.586689,1.647120
488,MCDOWELL-N,2022-12-26,874.20,888.05,864.45,625140,881.10,6.90,891.978426,901.508606,905.308964,907.561416,906.446091,906.066179,892.993827,870.933529,849.902631,-0.757216

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'METROPOLIS' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,METROPOLIS,2021-01-04,2034.95,2059.85,2015.00,94104,2051.70,16.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,METROPOLIS,2021-01-05,2040.00,2104.80,2020.25,169035,2102.25,62.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,METROPOLIS,2021-01-06,2112.00,2149.00,2063.00,114242,2086.60,-25.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,METROPOLIS,2021-01-07,2086.00,2124.80,2072.00,41922,2100.75,14.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,METROPOLIS,2021-01-08,2111.15,2124.80,2088.50,102641,2114.60,3.45,2100.103791,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,METROPOLIS,2022-12-20,1280.00,1296.95,1267.05,273027,1281.05,1.05,1309.047605,1339.257557,1357.811097,1400.847842,1415.225216,1418.421959,1464.717688,1531.148195,1720.308395,-60.610863
485,METROPOLIS,2022-12-21,1292.80,1385.50,1291.00,1861301,1370.85,78.05,1329.648403,1345.576045,1359.817082,1398.120766,1411.811738,1414.898110,1461.036602,1527.973783,1716.804037,-55.081029
486,METROPOLIS,2022-12-22,1398.00,1398.00,1310.40,966465,1331.80,-66.20,1330.365602,1342.820836,1355.506761,1392.091605,1405.656989,1408.742695,1455.968500,1524.088925,1712.943529,-53.235933
487,METROPOLIS,2022-12-23,1331.00,1363.35,1313.50,584272,1319.90,-11.10,1326.877068,1338.236669,1350.028798,1385.528732,1399.060297,1402.161755,1450.632480,1520.045346,1709.002711,-52.132956
488,METROPOLIS,2022-12-26,1331.70,1339.85,1290.00,364459,1304.25,-27.45,1319.334712,1331.439335,1342.985906,1378.139756,1391.767197,1394.909032,1444.891991,1515.771930,1704.944801,-51.923126

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'MFSL' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,MFSL,2021-01-04,690.75,697.50,680.10,1100430,689.30,-1.45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,MFSL,2021-01-05,686.00,705.80,679.05,1547797,701.50,15.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,MFSL,2021-01-06,707.55,716.50,697.20,1966993,709.40,1.85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MFSL,2021-01-07,711.00,733.00,697.40,2059439,723.85,12.85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MFSL,2021-01-08,728.00,740.45,718.00,2251641,726.85,-1.15,717.374171,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,MFSL,2022-12-20,719.00,719.00,688.10,518782,699.70,-19.30,705.624062,704.619514,703.153989,700.044967,699.982855,700.087673,710.437819,737.236633,777.975403,3.066316
485,MFSL,2022-12-21,687.50,710.95,678.60,11835926,688.75,1.25,699.999375,701.445611,700.937991,699.018152,699.118789,699.247845,709.587317,736.276444,777.080654,1.690146
486,MFSL,2022-12-22,691.00,700.15,683.00,763461,689.30,-1.70,696.432917,699.016489,699.147531,698.134684,698.363497,698.510968,708.791736,735.346163,776.200461,0.636563
487,MFSL,2022-12-23,685.00,691.50,666.35,843320,671.30,-13.70,688.055278,693.473191,694.863295,695.695167,696.281690,696.495340,707.321471,734.077849,775.148685,-1.632045
488,MFSL,2022-12-26,670.50,686.95,664.10,593138,683.90,13.40,686.670185,691.558553,693.176634,694.622879,695.329252,695.562352,706.402982,733.084172,774.233857,-2.385718

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'MINDAIND' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,MINDAIND,2021-01-04,399.90,406.60,399.00,86405,405.30,5.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,MINDAIND,2021-01-05,400.00,411.75,400.00,427179,407.55,7.55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,MINDAIND,2021-01-06,409.95,412.00,390.30,143681,395.95,-14.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MINDAIND,2021-01-07,400.00,407.00,387.40,281535,389.70,-10.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MINDAIND,2021-01-08,391.90,402.45,390.95,132324,401.25,9.35,398.413507,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
389,MINDAIND,2022-07-29,512.35,519.00,507.35,271677,508.80,-3.55,516.276821,528.060056,543.688425,599.499137,622.088842,627.368984,719.037910,805.707018,840.545498,-83.680559
390,MINDAIND,2022-08-01,509.80,533.00,505.55,481468,522.20,12.40,518.251214,526.888045,540.382514,592.471942,614.405085,619.578689,711.318775,800.090763,837.313105,-79.196175
391,MINDAIND,2022-08-02,526.00,546.40,526.00,699590,543.45,17.45,526.650809,530.200436,540.854435,588.015402,608.947001,613.939526,704.735685,795.006767,834.329906,-73.085092
392,MINDAIND,2022-08-03,542.90,544.70,527.00,327321,532.30,-10.60,528.533873,530.620349,539.538368,582.950366,603.051078,607.892154,697.973500,789.802645,831.264418,-68.353786
393,MINDAIND,2022-08-04,534.35,536.20,513.20,286909,529.05,-5.30,528.705915,530.306279,537.924773,578.050332,597.358688,602.051995,691.349048,784.637273,828.197668,-64.127222

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'MINDTREE' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,MINDTREE,2021-01-04,1669.00,1698.9,1657.05,949815,1689.20,20.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,MINDTREE,2021-01-05,1685.00,1725.0,1671.00,963468,1713.80,28.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,MINDTREE,2021-01-06,1720.00,1724.0,1668.00,842883,1694.85,-25.15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MINDTREE,2021-01-07,1700.00,1709.4,1653.85,722553,1682.10,-17.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MINDTREE,2021-01-08,1692.00,1745.0,1690.80,1029933,1740.15,48.15,1710.704028,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
460,MINDTREE,2022-11-16,3712.00,3758.0,3612.05,726508,3633.25,-78.75,3643.288056,3597.493371,3568.645420,3503.238706,3481.322128,3476.357933,3395.528369,3359.347340,3416.142681,92.287486
461,MINDTREE,2022-11-17,3620.00,3620.0,3482.20,890088,3540.60,-79.40,3609.058704,3586.114697,3564.330740,3506.635187,3485.881964,3481.116605,3401.217452,3362.936850,3417.393385,83.214135
462,MINDTREE,2022-11-18,3540.20,3580.0,3461.00,745188,3506.15,-34.05,3574.755803,3570.121757,3555.379857,3506.591079,3487.441044,3482.970931,3405.332454,3365.773024,3418.285235,72.408926
463,MINDTREE,2022-11-21,3506.25,3509.0,3413.05,988507,3429.00,-77.25,3526.170535,3541.897406,3535.936802,3499.537345,3482.945579,3478.973084,3406.260593,3367.025160,3418.392889,56.963718
464,MINDTREE,2022-11-22,3400.00,3454.0,3380.30,1004872,3433.85,33.85,3495.397023,3520.287925,3520.231140,3493.565768,3479.168996,3475.630633,3407.342531,3368.348545,3418.548176,44.600507

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'MPHASIS' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,MPHASIS,2021-01-04,1550.00,1557.0,1505.0,389716,1519.35,-30.65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,MPHASIS,2021-01-05,1525.05,1610.0,1525.0,677882,1581.65,56.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,MPHASIS,2021-01-06,1595.55,1697.4,1586.0,973000,1615.75,20.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MPHASIS,2021-01-07,1639.00,1675.0,1620.0,347070,1663.00,24.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MPHASIS,2021-01-08,1669.00,1673.0,1605.0,853366,1639.30,-29.70,1625.694313,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,MPHASIS,2022-12-20,1923.05,1959.4,1902.0,357921,1950.70,27.65,1952.712647,1973.958498,1984.189213,1998.581265,2002.379731,2003.280652,2029.305746,2121.719057,2300.502948,-19.091439
485,MPHASIS,2022-12-21,1960.50,1982.0,1948.0,297312,1959.35,-1.15,1954.925098,1971.036798,1980.367796,1995.014786,1999.069752,2000.026530,2026.562384,2118.503635,2297.081878,-19.658734
486,MPHASIS,2022-12-22,1987.00,1994.3,1963.5,399957,1989.15,2.15,1966.333399,1974.659439,1981.718904,1994.481624,1998.306694,1999.220861,2025.095231,2115.942026,2293.994187,-17.501957
487,MPHASIS,2022-12-23,1984.00,1984.0,1904.0,302970,1919.45,-64.55,1950.705599,1963.617551,1972.139073,1987.660567,1992.240795,1993.311908,2020.952281,2112.050870,2290.238851,-21.172836
488,MPHASIS,2022-12-26,1919.45,1938.0,1910.0,337990,1916.75,-2.70,1939.387066,1954.244041,1963.617677,1981.214152,1986.433810,1987.640656,2016.865917,2108.183308,2286.494381,-24.022979

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'MRF' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,MRF,2021-01-04,76200.65,78900.00,75900.00,28145,78402.20,2201.55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,MRF,2021-01-05,77800.00,79373.00,77700.00,25539,79053.00,1253.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,MRF,2021-01-06,79053.00,79800.00,77619.20,30427,78752.25,-300.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MRF,2021-01-07,79500.00,79500.00,77000.00,21765,77332.60,-2167.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MRF,2021-01-08,77780.00,81399.00,77600.00,31729,80602.10,2822.10,79106.723697,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,MRF,2022-12-20,90199.90,90199.90,88700.00,7210,89005.00,-1194.90,89902.685065,90494.034346,90713.655631,90687.530025,90516.904479,90467.139671,89016.633494,85977.563420,82209.606040,246.515959
485,MRF,2022-12-21,89299.00,89900.00,87278.75,7768,88192.95,-1106.05,89332.773377,90033.817477,90325.854765,90460.750023,90338.138750,90298.681177,88984.332181,86021.435096,82269.606817,27.173587
486,MRF,2022-12-22,88200.05,88899.75,87501.00,5601,88192.75,-7.30,88952.765585,89665.603981,89997.684801,90254.568203,90173.108846,90142.686275,88953.289742,86064.433962,82328.999286,-145.001475
487,MRF,2022-12-23,88140.00,88140.00,85774.25,7258,86071.00,-2069.00,87992.177056,88946.683185,89393.579447,89874.243821,89857.562012,89841.079885,88840.258772,86064.563990,82366.518144,-447.500438
488,MRF,2022-12-26,85802.45,88373.95,85201.05,6899,87596.60,1794.15,87860.318038,88676.666548,89117.121070,89667.185292,89683.641857,89674.822115,88791.487839,86094.903052,82418.953129,-557.701045

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'MUTHOOTFIN' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,MUTHOOTFIN,2021-01-04,1222.90,1263.00,1220.00,3030142,1244.15,21.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,MUTHOOTFIN,2021-01-05,1252.00,1298.00,1240.00,2784127,1292.60,40.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,MUTHOOTFIN,2021-01-06,1299.80,1311.05,1258.05,2359748,1280.90,-18.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MUTHOOTFIN,2021-01-07,1284.00,1294.00,1272.00,1049691,1277.45,-6.55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MUTHOOTFIN,2021-01-08,1280.00,1294.00,1267.35,1382458,1283.30,3.30,1279.482464,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,MUTHOOTFIN,2022-12-20,1080.40,1097.50,1072.45,304355,1091.70,11.30,1093.357528,1096.775736,1097.532009,1095.125020,1093.142673,1092.619206,1081.707244,1084.424029,1136.712531,4.912804
485,MUTHOOTFIN,2022-12-21,1095.10,1126.00,1084.15,1194194,1089.35,-5.75,1092.021685,1095.290589,1096.273239,1094.600018,1092.850929,1092.377042,1082.006960,1084.521579,1136.237581,3.896196
486,MUTHOOTFIN,2022-12-22,1094.00,1103.00,1080.00,503732,1085.65,-8.35,1089.897790,1093.362471,1094.638894,1093.786380,1092.297012,1091.878743,1082.149824,1084.543925,1135.730330,2.760151
487,MUTHOOTFIN,2022-12-23,1076.95,1080.00,1023.35,682389,1043.45,-33.50,1074.415193,1083.379977,1086.763680,1089.210345,1088.539549,1088.291429,1080.632184,1083.730137,1134.805089,-1.527749
488,MUTHOOTFIN,2022-12-26,1045.95,1071.25,1035.05,824043,1064.50,18.55,1071.110129,1079.603982,1083.338498,1086.963950,1086.690353,1086.529100,1079.999550,1083.349321,1134.100235,-3.190602

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'NAM-INDIA' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,NAM-INDIA,2021-01-04,306.05,314.65,304.00,1735015,311.70,5.65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NAM-INDIA,2021-01-05,309.95,313.90,305.60,1177572,311.30,1.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NAM-INDIA,2021-01-06,313.00,314.45,302.25,728278,305.65,-7.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NAM-INDIA,2021-01-07,307.95,309.00,300.25,635983,302.30,-5.65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NAM-INDIA,2021-01-08,305.00,314.00,304.95,1919811,309.00,4.00,307.180095,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,NAM-INDIA,2022-12-20,266.25,267.00,262.80,231560,264.20,-2.05,266.471238,267.100734,267.116204,266.811789,266.815681,266.836213,268.908393,276.044437,292.052314,0.279991
485,NAM-INDIA,2022-12-21,264.60,266.95,255.05,355906,256.55,-8.05,263.164159,264.990587,265.490634,265.878899,266.026013,266.074271,268.423750,275.658385,291.696298,-0.583637
486,NAM-INDIA,2022-12-22,260.40,260.40,250.50,320579,253.00,-7.40,259.776106,262.592470,263.568998,264.708090,265.024012,265.105807,267.818897,275.209678,291.308282,-1.536808
487,NAM-INDIA,2022-12-23,252.00,252.45,243.60,555001,245.35,-6.65,254.967404,259.143976,260.766075,262.948264,263.510627,263.642414,266.937764,274.618363,290.847486,-2.876338
488,NAM-INDIA,2022-12-26,246.55,252.95,243.30,251159,251.65,5.10,253.861603,257.645181,259.363602,261.921149,262.598271,262.754087,266.338244,274.163518,290.454505,-3.390484

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'NATCOPHARM' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,NATCOPHARM,2021-01-04,972.00,974.60,961.00,367721,968.80,-3.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NATCOPHARM,2021-01-05,968.80,970.90,960.20,127821,966.45,-2.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NATCOPHARM,2021-01-06,970.00,979.00,936.95,315429,953.05,-16.95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NATCOPHARM,2021-01-07,966.50,966.50,931.00,337497,934.55,-31.95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NATCOPHARM,2021-01-08,940.40,952.90,932.00,399488,938.30,-2.10,945.371564,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,NATCOPHARM,2022-12-20,553.75,557.20,549.80,146823,552.60,-1.15,559.076578,563.425115,565.481588,570.361411,572.414844,572.925602,585.113576,612.640610,668.363905,-7.444014
485,NATCOPHARM,2022-12-21,555.00,568.25,550.90,334830,563.50,8.50,560.551052,563.440092,565.176728,569.737646,571.729086,572.227409,584.265985,611.667470,667.312333,-7.050681
486,NATCOPHARM,2022-12-22,566.85,567.70,549.10,215717,559.45,-7.40,560.184035,562.642074,564.295693,568.802406,570.784541,571.280934,583.292809,610.633400,666.230777,-6.985241
487,NATCOPHARM,2022-12-23,561.00,567.00,548.05,267977,551.40,-9.60,557.256023,560.393659,562.311740,567.220369,569.293423,569.808273,582.042111,609.460394,665.079436,-7.496532
488,NATCOPHARM,2022-12-26,555.95,570.00,547.50,283452,551.55,-4.40,555.354015,558.624927,560.656088,565.795790,567.928544,568.455808,580.846342,608.313589,663.941229,-7.799720

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'NATIONALUM' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,NATIONALUM,2021-01-04,45.00,47.45,45.00,41266200,47.05,2.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NATIONALUM,2021-01-05,46.85,47.50,46.00,22310382,46.25,-0.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NATIONALUM,2021-01-06,46.30,47.55,45.70,28977403,47.10,0.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NATIONALUM,2021-01-07,48.00,48.85,47.75,29401275,48.10,0.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NATIONALUM,2021-01-08,48.75,50.00,47.60,40719826,47.85,-0.90,47.543365,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,NATIONALUM,2022-12-20,77.50,78.30,76.20,9405089,78.15,0.65,77.970909,77.870749,77.724123,77.095025,76.812273,76.745736,75.860593,77.403495,82.311433,0.978387
485,NATIONALUM,2022-12-21,78.65,80.10,77.10,16628699,77.60,-1.05,77.847273,77.816599,77.705027,77.140932,76.872867,76.809015,75.928805,77.407387,82.264187,0.896013
486,NATIONALUM,2022-12-22,78.00,78.40,74.70,8068682,75.65,-2.35,77.114848,77.383279,77.388869,77.005392,76.778800,76.723162,75.917871,77.372585,82.197865,0.665708
487,NATIONALUM,2022-12-23,74.65,75.10,71.50,12489907,71.85,-2.80,75.359899,76.276623,76.536735,76.536720,76.399662,76.362187,75.758347,77.263220,82.094113,0.174549
488,NATIONALUM,2022-12-26,71.70,74.40,69.80,11259187,74.05,2.35,74.923266,75.831299,76.154161,76.310655,76.218919,76.190914,75.691353,77.199589,82.013466,-0.036753

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'NAUKRI' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,NAUKRI,2021-01-04,4760.25,4850.00,4737.55,703591,4832.65,72.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NAUKRI,2021-01-05,4880.00,5549.25,4815.20,2470023,5494.40,614.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NAUKRI,2021-01-06,5500.00,5880.00,5181.05,4159539,5259.80,-240.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NAUKRI,2021-01-07,5359.00,5419.95,5235.15,956013,5311.25,-47.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NAUKRI,2021-01-08,5344.00,5450.00,5288.55,728189,5412.20,68.20,5325.765403,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,NAUKRI,2022-12-20,4182.00,4249.00,4125.00,286043,4227.55,45.55,4175.116674,4138.618372,4116.954820,4072.292424,4059.092769,4056.279789,4024.810836,4047.519136,4220.352423,60.675030
485,NAUKRI,2022-12-21,4230.00,4295.00,4087.00,516059,4146.35,-83.65,4165.527783,4140.164698,4121.477155,4079.024931,4065.804864,4062.951657,4029.577078,4049.476301,4219.610330,58.525498
486,NAUKRI,2022-12-22,4156.00,4264.10,4025.00,464354,4095.20,-60.80,4142.085189,4131.171758,4117.434516,4080.495392,4068.066028,4065.340423,4032.150526,4050.381774,4218.362844,52.094093
487,NAUKRI,2022-12-23,4057.80,4057.80,3822.60,392026,3845.60,-212.20,4043.256792,4074.057407,4075.613821,4059.141265,4050.953257,4049.063354,4024.834819,4046.326455,4214.625368,26.550467
488,NAUKRI,2022-12-26,3851.00,3907.45,3815.20,314422,3898.20,47.20,3994.904528,4038.885925,4048.319387,4044.510241,4039.203006,4037.888291,4019.868747,4043.393092,4211.452997,10.431096

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'NAVINFLUOR' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,NAVINFLUOR,2021-01-04,2635.15,2665.00,2600.10,80811,2642.35,7.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NAVINFLUOR,2021-01-05,2645.00,2676.70,2602.00,94143,2619.55,-25.45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NAVINFLUOR,2021-01-06,2640.00,2822.00,2623.00,444372,2747.45,107.45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NAVINFLUOR,2021-01-07,2800.00,2848.00,2770.00,222988,2809.90,9.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NAVINFLUOR,2021-01-08,2821.75,2850.00,2700.00,194123,2711.00,-110.75,2726.922275,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,NAVINFLUOR,2022-12-20,4167.95,4225.00,4086.10,95148,4216.80,48.85,4222.886819,4256.153631,4274.291574,4312.772097,4325.693059,4328.603596,4363.442596,4318.719950,4180.975906,-54.312022
485,NAVINFLUOR,2022-12-21,4222.00,4307.95,4175.00,144501,4248.95,26.95,4231.574546,4254.712905,4270.392870,4306.970089,4319.789747,4322.703330,4358.952690,4317.338284,4181.657548,-52.310459
486,NAVINFLUOR,2022-12-22,4255.00,4270.20,4114.70,153222,4158.70,-96.30,4207.283031,4235.510324,4253.209352,4293.490990,4307.398228,4310.554935,4351.099643,4314.196746,4181.427348,-57.345583
487,NAVINFLUOR,2022-12-23,4101.00,4165.00,4070.00,95281,4085.95,-15.05,4166.838687,4205.598259,4227.477144,4274.623627,4290.363749,4293.917532,4340.701618,4309.676748,4180.470052,-66.440388
488,NAVINFLUOR,2022-12-26,4075.10,4178.00,4043.45,71887,4136.15,61.05,4156.609125,4191.708607,4213.426814,4262.035115,4278.501153,4282.231048,4332.679986,4306.240381,4180.025715,-68.804234

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'NESTLEIND' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,NESTLEIND,2021-01-04,18495.00,18630.00,18329.75,62035,18377.95,-117.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NESTLEIND,2021-01-05,18343.50,18620.00,18278.05,83673,18558.25,214.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NESTLEIND,2021-01-06,18510.05,18600.00,18430.00,57706,18515.25,5.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NESTLEIND,2021-01-07,18599.00,18615.00,18050.10,120605,18127.30,-471.70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NESTLEIND,2021-01-08,18227.30,18350.00,18000.00,151635,18306.25,78.95,18330.211611,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,NESTLEIND,2022-12-20,20150.00,20167.85,19851.05,46676,20135.55,-14.45,20033.476151,20024.818467,20017.410373,19995.350420,19981.856893,19977.963978,19837.731886,19478.609333,19046.759718,39.446394
485,NESTLEIND,2022-12-21,20165.00,20348.00,20062.15,70378,20314.20,149.20,20127.050767,20082.694774,20063.070315,20024.336745,20007.421747,20002.870350,19856.416910,19495.156676,19059.469567,60.199965
486,NESTLEIND,2022-12-22,20395.00,20440.00,20157.50,37688,20306.60,-88.40,20186.900511,20127.475819,20100.536421,20049.997041,20030.435459,20025.368843,19874.071149,19511.225807,19071.974778,75.167578
487,NESTLEIND,2022-12-23,20200.00,20455.00,20055.05,74404,20132.75,-67.25,20168.850341,20128.530655,20105.492356,20057.520037,20038.305808,20033.323003,19884.215418,19523.533927,19082.610552,72.169353
488,NESTLEIND,2022-12-26,20174.95,20245.65,19860.00,33382,19897.50,-277.45,20078.400227,20082.324524,20073.493532,20042.972761,20027.474592,20023.262040,19884.736382,19530.939614,19090.780351,50.231492

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'NHPC' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,NHPC,2021-01-04,23.35,24.75,23.15,27770978,24.60,1.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NHPC,2021-01-05,25.00,25.60,24.55,25695561,24.60,-0.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NHPC,2021-01-06,24.75,25.00,24.10,9786844,24.40,-0.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NHPC,2021-01-07,24.75,24.85,24.55,5761708,24.80,0.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NHPC,2021-01-08,25.10,25.45,25.00,12496609,25.10,0.00,24.809005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,NHPC,2022-12-20,40.10,40.40,39.70,10108487,40.20,0.10,40.742639,41.147222,41.357954,41.693583,41.733350,41.735096,41.213612,39.348024,36.597262,-0.377141
485,NHPC,2022-12-21,40.45,40.75,39.40,12748564,39.55,-0.90,40.345093,40.827777,41.079807,41.498711,41.565400,41.573237,41.148372,39.352024,36.626872,-0.493429
486,NHPC,2022-12-22,39.65,39.80,38.10,10624804,39.10,-0.55,39.930062,40.482222,40.775222,41.280647,41.375754,41.390034,41.068044,39.347033,36.651670,-0.614812
487,NHPC,2022-12-23,38.65,39.05,36.75,14742999,38.70,0.05,39.520041,40.125777,40.455957,41.046043,41.169927,41.190772,40.975179,39.334220,36.672208,-0.734815
488,NHPC,2022-12-26,38.75,39.75,38.30,5110715,39.15,0.40,39.396694,39.930622,40.255040,40.873675,41.014548,41.039604,40.903604,39.330572,36.697049,-0.784564

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'NIACL' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,NIACL,2021-01-04,131.65,131.65,128.25,361220,129.65,-2.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NIACL,2021-01-05,129.50,129.75,127.85,312757,128.25,-1.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NIACL,2021-01-06,129.70,129.70,126.40,323736,126.75,-2.95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NIACL,2021-01-07,128.90,129.50,127.45,463145,128.55,-0.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NIACL,2021-01-08,129.90,133.45,128.25,1558934,129.60,-0.30,128.695261,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,NIACL,2022-12-20,133.75,142.35,129.30,13104070,135.20,1.45,127.997720,122.722855,119.786877,113.507336,111.449251,110.984562,103.608530,99.136722,103.394578,8.802315
485,NIACL,2022-12-21,134.60,136.15,119.30,4933764,120.85,-13.75,125.615146,122.348284,119.950434,114.174851,112.172386,111.715335,104.284666,99.566714,103.569620,8.235099
486,NIACL,2022-12-22,123.00,125.55,113.60,6593894,117.55,-5.45,122.926764,121.388627,119.581137,114.481682,112.586049,112.147533,104.804875,99.922840,103.709804,7.433604
487,NIACL,2022-12-23,115.10,119.80,106.15,4450119,107.65,-7.45,117.834510,118.640902,117.745577,113.860620,112.206353,111.814382,104.916449,100.075861,103.749310,5.931195
488,NIACL,2022-12-26,108.45,116.25,107.85,3274517,114.10,5.65,116.589673,117.732721,117.184719,113.882382,112.352018,111.983687,105.276588,100.353583,103.853083,5.201032

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'NMDC' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,NMDC,2021-01-04,118.05,123.15,117.50,20098842,122.40,4.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NMDC,2021-01-05,122.35,122.40,119.45,9415603,120.95,-1.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NMDC,2021-01-06,122.00,126.40,121.25,19998927,123.25,1.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NMDC,2021-01-07,126.00,128.70,125.30,18971512,127.95,1.95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NMDC,2021-01-08,129.50,129.50,125.00,11402276,125.50,-4.00,124.990521,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,NMDC,2022-12-20,123.65,123.85,120.20,4924278,121.45,-2.20,123.108018,122.909876,122.447671,121.102971,120.724462,120.649666,120.017479,121.110299,126.092757,1.798005
485,NMDC,2022-12-21,121.70,122.90,118.45,6227640,119.00,-2.70,121.738678,122.127901,121.917260,120.911792,120.591811,120.527469,119.977578,121.068508,126.021631,1.389791
486,NMDC,2022-12-22,119.70,120.40,116.50,5925054,116.90,-2.80,120.125786,121.082321,121.145374,120.547084,120.307826,120.258767,119.856889,120.985959,125.930167,0.886607
487,NMDC,2022-12-23,115.55,116.80,111.20,10346019,111.55,-4.00,117.267190,119.175857,119.669163,119.729167,119.634147,119.613673,119.531128,120.799097,125.785985,0.055489
488,NMDC,2022-12-26,111.75,116.30,111.60,8598666,115.85,4.10,116.794794,118.510685,119.081599,119.376515,119.343059,119.334883,119.386770,120.701090,125.686371,-0.253284

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'NTPC' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,NTPC,2021-01-04,99.75,100.00,98.50,22325584,99.05,-0.70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NTPC,2021-01-05,98.40,98.40,97.00,23510160,97.60,-0.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NTPC,2021-01-06,98.00,99.00,97.25,21952878,97.85,-0.15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NTPC,2021-01-07,98.10,98.50,96.85,24999580,97.00,-1.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NTPC,2021-01-08,97.60,100.50,97.35,43240591,100.15,2.55,98.577962,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,NTPC,2022-12-20,171.15,171.45,168.55,7387632,169.75,-1.40,170.604056,170.743048,170.794367,170.781594,170.703188,170.676755,169.401832,165.222839,157.360323,0.117612
485,NTPC,2022-12-21,170.00,171.05,166.60,8454254,167.95,-2.05,169.719371,170.184438,170.356772,170.524176,170.491404,170.474773,169.344897,165.276845,157.466515,-0.118001
486,NTPC,2022-12-22,168.50,168.65,164.55,6979001,165.90,-2.60,168.446247,169.327551,169.671115,170.103797,170.138219,170.135901,169.209803,165.289185,157.551080,-0.464786
487,NTPC,2022-12-23,164.30,166.35,162.35,5313321,163.00,-1.30,166.630831,168.062040,168.644790,169.457997,169.589125,169.607316,168.966282,165.243852,157.605713,-0.962526
488,NTPC,2022-12-26,162.00,167.75,161.90,8321609,165.65,3.65,166.303888,167.579632,168.184053,169.111815,169.286116,169.314181,168.836231,165.251895,157.686362,-1.130129

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'NUVOCO' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,NUVOCO,2021-08-23,485.00,550.00,485.00,22080190,531.70,46.70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NUVOCO,2021-08-24,532.00,564.95,507.15,5703185,520.55,-11.45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NUVOCO,2021-08-25,522.05,535.00,521.10,1295995,532.65,10.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NUVOCO,2021-08-26,532.90,538.80,522.40,1535636,528.55,-4.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NUVOCO,2021-08-27,525.00,538.00,520.20,980070,535.90,10.90,531.400000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
328,NUVOCO,2022-12-20,386.15,387.65,378.55,32435,382.90,-3.25,388.956306,390.861368,390.798846,389.621347,389.269893,389.195124,386.612007,378.428032,378.419586,1.603722
329,NUVOCO,2022-12-21,381.00,384.85,379.00,161962,381.25,0.25,386.387537,388.939095,389.329793,388.860315,388.652978,388.606596,386.401732,378.483988,378.448828,0.723196
330,NUVOCO,2022-12-22,378.50,382.20,365.50,506962,373.80,-4.70,382.191692,385.911276,386.940594,387.491196,387.510441,387.509811,385.907546,378.391112,378.400818,-0.569218
331,NUVOCO,2022-12-23,365.50,370.10,349.05,231912,354.85,-10.65,373.077794,379.699021,382.003579,384.523814,384.998099,385.090566,384.689601,377.924342,378.157692,-3.086987
332,NUVOCO,2022-12-26,366.95,401.00,356.05,258544,362.60,-4.35,369.585196,376.279216,379.018413,382.530740,383.275169,383.424598,383.823340,377.620500,377.997143,-4.406185

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'NYKAA' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,NYKAA,2021-11-10,2018.00,2248.00,2000.00,34324631,2205.80,187.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NYKAA,2021-11-11,2213.70,2240.70,2043.75,7189777,2213.55,-0.15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NYKAA,2021-11-12,2248.00,2409.95,2180.10,5829703,2358.30,110.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NYKAA,2021-11-15,2261.00,2332.40,2185.00,3455853,2282.25,21.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NYKAA,2021-11-16,2268.00,2310.00,2228.00,1507125,2236.75,-31.25,2264.147156,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275,NYKAA,2022-12-20,164.00,164.60,158.40,11037630,160.40,-3.60,165.734799,169.869831,177.254845,234.190181,270.576754,280.168173,506.336797,813.254331,1084.159233,-102.913327
276,NYKAA,2022-12-21,161.30,162.25,151.60,12249784,152.70,-8.60,161.389866,166.435865,173.477177,226.781982,261.509311,270.726086,492.468473,800.122494,1074.271405,-97.248909
277,NYKAA,2022-12-22,154.00,156.00,147.75,10324183,151.50,-2.50,158.093244,163.448692,170.096073,219.938166,253.047057,261.894524,479.096963,787.228869,1064.482313,-91.798451
278,NYKAA,2022-12-23,149.85,149.85,139.40,12029763,144.85,-5.00,153.678829,159.728954,166.212062,213.111969,244.724206,253.224559,465.989053,774.460334,1054.732938,-87.012498
279,NYKAA,2022-12-26,143.50,152.20,140.70,9194594,150.60,7.10,152.652553,157.903163,163.810206,207.429063,237.483883,245.622740,453.620686,762.060821,1045.154115,-81.812534

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'OBEROIRLTY' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,OBEROIRLTY,2021-01-04,586.8,597.00,580.80,280636,590.10,3.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,OBEROIRLTY,2021-01-05,590.0,601.20,580.00,529058,587.25,-2.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,OBEROIRLTY,2021-01-06,585.6,592.95,575.05,215113,587.55,1.95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,OBEROIRLTY,2021-01-07,620.0,628.00,573.20,1728322,589.70,-30.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,OBEROIRLTY,2021-01-08,591.0,604.80,585.40,558387,590.50,-0.50,589.391943,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,OBEROIRLTY,2022-12-20,881.0,885.75,864.55,469747,879.30,-1.70,889.775474,897.780809,901.220955,905.499115,906.469923,906.694822,911.042841,910.080463,895.162109,-5.473867
485,OBEROIRLTY,2022-12-21,881.0,887.00,853.00,493325,863.25,-17.75,880.933650,890.874648,895.379270,901.658286,903.145313,903.476687,909.168612,909.153071,894.842095,-8.097417
486,OBEROIRLTY,2022-12-22,866.7,867.55,845.00,397590,853.85,-12.85,871.905766,883.469718,888.990151,897.312078,899.353366,899.800636,906.999254,908.057897,894.431060,-10.810485
487,OBEROIRLTY,2022-12-23,852.0,854.95,810.05,672114,816.90,-35.10,853.570511,870.155774,877.899359,890.001889,893.010800,893.659848,903.465950,906.252686,893.653701,-15.760489
488,OBEROIRLTY,2022-12-26,810.0,840.45,802.40,472586,833.05,23.05,846.730341,862.734620,870.999457,884.824445,888.398430,889.170230,900.704540,904.803045,893.046109,-18.170772

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'OFSS' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,OFSS,2021-01-04,3255.00,3410.00,3250.20,181968,3370.55,115.55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,OFSS,2021-01-05,3372.00,3469.00,3355.50,126841,3448.50,76.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,OFSS,2021-01-06,3448.50,3480.00,3333.30,65935,3364.95,-83.55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,OFSS,2021-01-07,3398.25,3420.00,3310.00,54859,3325.15,-73.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,OFSS,2021-01-08,3368.45,3368.45,3305.55,103532,3342.40,-26.05,3356.035545,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,OFSS,2022-12-20,2999.00,3035.95,2988.25,46391,3020.95,21.95,3030.980802,3048.603482,3056.698235,3063.421541,3062.567062,3062.240023,3059.146083,3100.618866,3244.720523,-5.541788
485,OFSS,2022-12-21,3027.00,3053.30,3017.25,90372,3024.40,-2.60,3028.787201,3043.762785,3051.729276,3059.874129,3059.631134,3059.437059,3057.783492,3099.109491,3242.511156,-7.707783
486,OFSS,2022-12-22,3027.00,3038.70,2998.25,54368,3007.60,-19.40,3021.724801,3036.530228,3044.940156,3055.121935,3055.628739,3055.597276,3055.815511,3097.297315,3240.155657,-10.657120
487,OFSS,2022-12-23,2994.00,3027.95,2978.25,76114,2986.85,-7.15,3010.099867,3026.594183,3036.003209,3048.915396,3050.338067,3050.504886,3053.110982,3095.110114,3237.615909,-14.501676
488,OFSS,2022-12-26,2987.05,3008.00,2977.25,29909,3003.70,16.65,3007.966578,3022.015346,3031.033485,3044.804905,3046.750523,3047.037857,3051.173296,3093.299910,3235.270750,-16.004372

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'OIL' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,OIL,2021-01-04,109.95,112.70,109.85,2130421,112.35,2.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,OIL,2021-01-05,113.95,114.95,111.20,2435884,111.95,-2.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,OIL,2021-01-06,114.90,115.90,112.30,3071778,113.00,-1.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,OIL,2021-01-07,114.50,115.00,112.55,1302828,112.80,-1.70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,OIL,2021-01-08,113.90,114.00,112.80,1319269,113.55,-0.35,112.991232,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,OIL,2022-12-20,211.90,212.85,208.20,560623,210.10,-1.80,211.230798,210.382220,209.598203,207.159120,206.129378,205.882213,201.696068,201.150638,203.729812,3.715990
485,OIL,2022-12-21,210.00,211.05,204.05,553176,204.90,-5.10,209.120532,209.285776,208.875403,206.953746,206.034810,205.809456,201.821712,201.224887,203.741547,3.065946
486,OIL,2022-12-22,205.00,207.15,197.45,1157888,203.05,-1.95,207.097021,208.038621,207.979187,206.598860,205.805209,205.605052,201.869880,201.261030,203.734612,2.374135
487,OIL,2022-12-23,199.15,201.70,196.50,1002790,198.80,-0.35,204.331348,206.190897,206.567004,205.889873,205.266347,205.100974,201.749493,201.212294,203.685136,1.466030
488,OIL,2022-12-26,198.80,202.75,197.85,434441,202.05,3.25,203.570898,205.362717,205.872081,205.540793,205.018936,204.874976,201.761278,201.228883,203.668743,0.997104

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'ONGC' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,ONGC,2021-01-04,94.05,97.30,93.70,39545073,96.95,2.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ONGC,2021-01-05,96.50,96.50,94.35,26998014,94.95,-1.55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ONGC,2021-01-06,98.90,99.30,96.25,50306161,96.95,-1.95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ONGC,2021-01-07,98.00,99.05,97.10,25285200,97.90,-0.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ONGC,2021-01-08,98.95,101.30,98.55,36022114,100.65,1.70,98.386019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,ONGC,2022-12-20,145.50,146.20,143.10,6714207,145.85,0.35,145.886487,145.063738,144.449438,142.859902,142.241151,142.094159,139.553083,138.945070,140.998141,2.355279
485,ONGC,2022-12-21,146.50,146.80,142.70,10011408,143.50,-3.00,145.090991,144.750991,144.303371,142.918093,142.337986,142.198296,139.707864,139.035272,141.023230,2.105075
486,ONGC,2022-12-22,145.00,145.15,141.55,9123323,142.25,-2.75,144.143994,144.250793,143.987467,142.857357,142.331217,142.202126,139.807556,139.098934,141.035531,1.785342
487,ONGC,2022-12-23,140.60,143.50,139.30,8007752,139.80,-0.80,142.695996,143.360634,143.343242,142.579416,142.136508,142.024190,139.807259,139.112817,141.023143,1.319051
488,ONGC,2022-12-26,140.50,142.85,139.50,7150680,141.30,0.80,142.230664,142.948507,143.028897,142.463105,142.072162,141.970547,139.865798,139.156130,141.025918,1.058350

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'PAGEIND' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,PAGEIND,2021-01-04,28250.0,28675.05,28150.00,45099,28516.20,266.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,PAGEIND,2021-01-05,28490.0,28750.00,28126.55,36688,28597.40,107.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,PAGEIND,2021-01-06,28790.0,29422.45,28407.70,61303,28748.75,-41.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,PAGEIND,2021-01-07,29048.0,29048.00,28450.00,36051,28666.70,-381.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,PAGEIND,2021-01-08,28889.0,29989.95,28700.00,55712,29843.30,954.30,29113.084834,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,PAGEIND,2022-12-20,44000.0,44000.00,43151.10,14427,43633.20,-366.80,44156.499121,44790.451774,45151.333454,45959.734280,46251.610807,46319.448462,47375.821324,47477.874483,45815.330703,-1168.115009
485,PAGEIND,2022-12-21,43760.0,43998.90,43116.55,18613,43255.30,-504.70,43856.099414,44483.421419,44859.635999,45713.876618,46021.125360,46092.474502,47214.232252,47394.254125,45789.658799,-1232.838503
486,PAGEIND,2022-12-22,43500.0,43699.85,42960.80,17941,43395.10,-104.90,43702.432943,44265.757135,44634.322769,45503.078744,45819.123410,45892.668984,47064.462359,47315.058293,45765.648108,-1258.346215
487,PAGEIND,2022-12-23,42950.0,43450.00,42805.00,19003,43031.35,81.35,43478.738628,44018.875708,44387.711573,45278.376131,45604.679301,45680.719429,46906.301090,47230.227491,45738.232896,-1293.007856
488,PAGEIND,2022-12-26,43037.0,43966.00,42600.00,16795,43550.25,513.25,43502.575752,43925.150567,44258.871331,45121.273755,45446.646278,45522.906879,46774.691243,47157.352529,45716.296939,-1264.035548

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'PAYTM' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,PAYTM,2021-11-18,1950.00,1955.0,1560.00,23955434,1560.80,-389.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,PAYTM,2021-11-22,1509.00,1519.0,1271.00,25114710,1359.60,-149.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,PAYTM,2021-11-23,1360.00,1525.0,1360.00,12954174,1494.70,134.70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,PAYTM,2021-11-24,1503.00,1785.0,1502.95,21541021,1752.45,249.45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,PAYTM,2021-11-25,1766.70,1873.7,1711.10,13018344,1798.75,32.05,1667.030569,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
269,PAYTM,2022-12-20,523.50,529.4,523.00,1779152,526.75,3.25,527.171191,525.817811,525.193286,531.149988,536.259458,537.653061,572.173435,619.243298,672.460349,-12.459774
270,PAYTM,2022-12-21,529.40,532.8,515.50,1798202,517.10,-12.30,523.814127,524.074249,523.948165,529.872716,534.785653,536.130612,570.013650,617.211666,670.804289,-12.182446
271,PAYTM,2022-12-22,521.00,522.4,505.00,1825136,506.55,-14.45,518.059418,520.569399,521.271525,527.752469,532.613680,533.939455,567.524833,615.010797,669.054664,-12.667931
272,PAYTM,2022-12-23,501.95,504.0,472.00,3328475,476.10,-25.85,504.072945,511.675519,514.322059,523.056790,528.266474,529.655051,563.939480,612.248340,667.000767,-15.332992
273,PAYTM,2022-12-26,479.00,510.0,479.00,3365041,504.35,25.35,504.165297,510.210415,512.787896,521.356173,526.426745,527.780603,561.602597,610.102795,665.270639,-14.992707

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'PEL' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,PEL,2021-01-04,1486.05,1494.80,1452.20,1426471,1477.40,-8.65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,PEL,2021-01-05,1466.00,1467.00,1430.00,1612770,1441.95,-24.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,PEL,2021-01-06,1449.40,1454.50,1382.00,1789303,1415.45,-33.95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,PEL,2021-01-07,1441.00,1515.15,1425.35,3899946,1496.85,55.85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,PEL,2021-01-08,1503.00,1569.85,1500.10,4843627,1524.55,21.55,1485.876066,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,PEL,2022-12-20,873.40,873.40,842.60,935540,852.65,-20.75,870.872529,870.371943,867.734920,860.807222,860.234244,860.415893,902.042022,1086.060442,1403.315933,7.319026
485,PEL,2022-12-21,855.00,880.00,833.95,887152,838.45,-16.55,860.065019,863.987554,863.229547,858.774747,858.558533,858.788790,899.548217,1081.156971,1397.651476,4.440757
486,PEL,2022-12-22,840.00,850.40,822.60,908309,827.55,-12.45,849.226679,856.700044,857.740386,855.936134,856.173261,856.474806,896.724758,1076.134755,1391.934961,1.265580
487,PEL,2022-12-23,824.95,824.95,785.75,944104,790.45,-34.50,829.634453,843.450035,847.388019,849.982849,851.117626,851.584079,892.557120,1070.477305,1385.904223,-4.196060
488,PEL,2022-12-26,793.95,819.35,785.05,911108,810.10,16.15,823.122969,836.780028,841.651401,846.357135,847.962424,848.511185,889.323508,1065.321027,1380.131409,-6.859784

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'PERSISTENT' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,PERSISTENT,2021-01-04,1505.00,1525.00,1488.10,186983,1519.80,14.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,PERSISTENT,2021-01-05,1534.00,1575.00,1512.00,334159,1550.45,16.45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,PERSISTENT,2021-01-06,1579.30,1599.00,1512.65,149093,1540.85,-38.45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,PERSISTENT,2021-01-07,1559.95,1559.95,1511.00,261213,1520.20,-39.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,PERSISTENT,2021-01-08,1533.00,1580.00,1525.20,190956,1570.90,37.90,1546.596682,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,PERSISTENT,2022-12-20,3916.00,3946.00,3855.75,259699,3912.20,-3.80,3989.967366,4023.224946,4029.456746,4004.273927,3984.663119,3979.490398,3863.701132,3757.981148,3727.254434,49.966348
485,PERSISTENT,2022-12-21,3946.00,3981.30,3871.05,268558,3908.90,-37.10,3962.944911,4000.359957,4010.909554,3995.603570,3978.835186,3974.261480,3865.473637,3760.969820,3729.075970,36.648074
486,PERSISTENT,2022-12-22,3949.00,3965.95,3881.90,212817,3897.40,-51.60,3941.096607,3979.767965,3993.446546,3986.675973,3972.570941,3968.568037,3866.725651,3763.671567,3730.763787,24.878509
487,PERSISTENT,2022-12-23,3850.00,3870.00,3784.05,225790,3834.35,-15.65,3905.514405,3950.684372,3968.970154,3972.828157,3961.938561,3958.625960,3865.456017,3765.071220,3731.802385,10.344194
488,PERSISTENT,2022-12-26,3820.00,3848.50,3789.95,165548,3810.70,-9.30,3873.909603,3922.687498,3944.620900,3958.089233,3950.304826,3947.668481,3863.308723,3765.974812,3732.593385,-3.047582

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'PETRONET' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,PETRONET,2021-01-04,252.20,253.10,248.75,4925674,252.45,0.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,PETRONET,2021-01-05,252.00,260.25,251.00,9320206,256.40,4.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,PETRONET,2021-01-06,258.95,259.40,252.55,3053234,256.10,-2.85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,PETRONET,2021-01-07,259.00,263.60,257.00,6625807,259.75,0.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,PETRONET,2021-01-08,260.70,271.80,260.50,9051914,268.40,7.70,261.513270,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,PETRONET,2022-12-20,212.95,214.45,210.90,828450,213.05,0.10,213.248400,213.414372,213.327499,212.697268,212.380890,212.305071,211.248696,211.499202,213.343778,1.022429
485,PETRONET,2022-12-21,213.40,214.25,210.80,1015144,211.55,-1.85,212.682266,213.041498,213.054038,212.592971,212.316976,212.249139,211.260512,211.500208,213.325790,0.804898
486,PETRONET,2022-12-22,211.55,213.40,210.65,1566260,212.50,0.95,212.621511,212.933198,212.968801,212.584519,212.331054,212.267722,211.309120,211.520007,213.317509,0.701080
487,PETRONET,2022-12-23,211.60,212.60,207.30,2056408,207.95,-3.65,211.064341,211.936559,212.196678,212.163199,211.994050,211.947890,211.177389,211.449310,213.263693,0.248788
488,PETRONET,2022-12-26,207.00,210.30,206.15,599695,209.85,2.85,210.659560,211.519247,211.835651,211.952908,211.829123,211.792491,211.125335,211.417638,213.229468,0.043159

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'PFC' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,PFC,2021-01-04,116.00,119.15,115.50,5623411,118.55,2.55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,PFC,2021-01-05,118.00,119.45,116.50,6273763,118.60,0.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,PFC,2021-01-06,119.70,120.30,117.20,5847952,118.75,-0.95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,PFC,2021-01-07,120.00,121.10,118.70,5381657,119.30,-0.70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,PFC,2021-01-08,120.70,121.85,119.75,6738729,120.95,0.25,119.703081,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,PFC,2022-12-20,144.30,144.65,140.60,5688745,141.70,-2.60,142.957491,142.482305,141.574789,137.925732,136.281259,135.884905,128.652284,122.088852,119.099255,5.689884
485,PFC,2022-12-21,142.25,142.95,136.55,5286761,137.60,-4.65,141.171660,141.505844,140.963283,137.896120,136.382700,136.011949,129.003175,122.396022,119.284780,4.951334
486,PFC,2022-12-22,139.20,139.55,135.75,6461434,137.25,-1.95,139.864440,140.654675,140.392009,137.837382,136.449416,136.103656,129.326579,122.690177,119.464921,4.288352
487,PFC,2022-12-23,136.30,136.70,131.05,8018288,131.80,-4.50,137.176294,138.883740,139.070161,137.288529,136.091768,135.784867,129.423576,122.870580,119.588597,3.285294
488,PFC,2022-12-26,131.75,137.15,130.50,5422454,136.30,4.55,136.884196,138.366992,138.643982,137.198663,136.107786,135.823025,129.693240,123.136524,119.756140,2.820957

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'PFIZER' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,PFIZER,2021-01-04,5300.0,5327.60,5102.00,122091,5225.30,-74.70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,PFIZER,2021-01-05,5225.3,5230.00,5175.00,53291,5207.40,-17.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,PFIZER,2021-01-06,5207.4,5225.00,5155.00,57899,5165.40,-42.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,PFIZER,2021-01-07,5180.0,5195.00,5117.00,46691,5133.95,-46.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,PFIZER,2021-01-08,5163.4,5320.00,5115.00,193076,5130.00,-33.40,5153.081043,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,PFIZER,2022-12-20,4417.4,4437.70,4405.00,6084,4422.20,4.80,4423.097642,4435.754447,4443.857204,4452.401504,4451.257309,4450.680637,4422.558979,4378.876478,4424.598926,-6.823433
485,PFIZER,2022-12-21,4424.0,4449.00,4400.00,13085,4434.45,10.45,4426.881761,4435.493557,4442.409942,4450.769549,4449.964439,4449.478368,4423.025293,4379.977009,4424.697712,-7.068426
486,PFIZER,2022-12-22,4453.0,4457.80,4353.15,9812,4372.95,-80.05,4408.904507,4422.984846,4431.723797,4443.695044,4444.040251,4443.809600,4421.061556,4379.837853,4424.178828,-12.085803
487,PFIZER,2022-12-23,4395.6,4420.00,4308.00,18345,4343.05,-52.55,4386.953005,4406.997877,4418.081674,4434.545495,4436.271770,4436.345926,4418.002280,4379.109338,4423.365397,-18.264251
488,PFIZER,2022-12-26,4336.0,4384.95,4315.00,5791,4326.05,-9.95,4366.652003,4390.808301,4403.922955,4424.682268,4427.793173,4428.175857,4414.396308,4378.058599,4422.389746,-24.252902

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'PGHH' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,PGHH,2021-01-04,11175.0,11175.00,10960.00,15091,10998.20,-176.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,PGHH,2021-01-05,11000.0,11125.00,10965.00,7814,11106.95,106.95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,PGHH,2021-01-06,11042.0,11266.05,11042.00,9145,11236.50,194.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,PGHH,2021-01-07,11290.0,11350.00,11202.90,5398,11229.30,-60.70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,PGHH,2021-01-08,11291.4,11320.00,11089.55,4725,11257.05,-34.35,11209.740521,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,PGHH,2022-12-20,14100.0,14167.40,13940.25,2289,14010.15,-89.85,14090.666784,14125.637533,14134.620905,14129.503249,14124.285197,14123.107311,14113.308768,14127.765876,14160.150346,11.513594
485,PGHH,2022-12-21,14016.0,14064.95,13900.00,3288,13967.35,-48.65,14049.561189,14093.980026,14108.886919,14114.762045,14112.213258,14111.569732,14107.584894,14124.589133,14158.216951,-2.682813
486,PGHH,2022-12-22,13998.8,14149.95,13761.45,4011,13996.05,-2.75,14031.724126,14074.394021,14091.527393,14103.970041,14103.277623,14103.012715,14103.210977,14122.043654,14156.590872,-11.485322
487,PGHH,2022-12-23,13995.3,14200.00,13801.05,4204,14094.60,99.30,14052.682751,14078.435217,14092.000102,14103.118219,14102.610114,14102.389551,14102.873292,14121.500184,14155.969326,-10.389449
488,PGHH,2022-12-26,14170.0,14284.30,13820.00,7660,14079.00,-91.00,14061.455167,14078.548173,14090.000086,14100.925653,14100.793951,14100.656992,14101.937084,14120.658548,14155.197658,-10.656905

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'PHOENIXLTD' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,PHOENIXLTD,2021-01-04,787.20,794.95,764.15,92216,773.60,-13.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,PHOENIXLTD,2021-01-05,761.50,779.95,759.00,126708,763.85,2.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,PHOENIXLTD,2021-01-06,765.00,777.00,759.00,227096,767.35,2.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,PHOENIXLTD,2021-01-07,779.95,792.00,745.75,112241,753.10,-26.85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,PHOENIXLTD,2021-01-08,762.50,819.50,755.00,718377,790.60,28.10,772.704265,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,PHOENIXLTD,2022-12-20,1390.05,1414.90,1390.05,76540,1406.05,16.00,1406.764207,1414.582922,1420.243015,1431.866121,1434.502355,1434.958579,1429.995905,1380.964115,1280.475123,-14.715564
485,PHOENIXLTD,2022-12-21,1412.45,1417.00,1371.40,85847,1383.80,-28.65,1399.109472,1408.426337,1414.636398,1427.496474,1430.602174,1431.169055,1428.184301,1381.020274,1281.511262,-16.532657
486,PHOENIXLTD,2022-12-22,1385.00,1403.50,1344.05,92290,1354.55,-30.45,1384.256314,1397.651070,1405.392336,1420.864976,1424.752006,1425.493569,1425.296682,1380.496079,1282.243635,-20.101233
487,PHOENIXLTD,2022-12-23,1336.65,1373.00,1263.75,156679,1309.00,-27.65,1359.170876,1379.920856,1390.562746,1410.695433,1415.848006,1416.864416,1420.736027,1379.080234,1282.511905,-26.301670
488,PHOENIXLTD,2022-12-26,1310.95,1348.35,1309.05,51906,1323.60,12.65,1347.313917,1368.656685,1380.260785,1402.777666,1408.752005,1409.955941,1416.926771,1377.981553,1282.923840,-29.695156

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'PIDILITIND' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,PIDILITIND,2021-01-04,1774.50,1790.00,1765.10,372161,1784.95,10.45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,PIDILITIND,2021-01-05,1799.95,1806.90,1757.00,540889,1800.55,0.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,PIDILITIND,2021-01-06,1800.55,1800.55,1770.00,588130,1795.40,-5.15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,PIDILITIND,2021-01-07,1798.00,1819.10,1760.00,972924,1768.95,-29.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,PIDILITIND,2021-01-08,1782.30,1823.90,1771.65,803362,1819.05,36.75,1797.503081,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,PIDILITIND,2022-12-20,2590.00,2599.70,2566.00,148058,2576.70,-13.30,2608.618612,2636.350300,2649.609114,2667.403625,2670.629030,2671.226925,2671.170385,2626.690354,2539.600624,-21.617812
485,PIDILITIND,2022-12-21,2580.10,2600.00,2551.00,171894,2565.75,-14.35,2594.329075,2622.230240,2636.707711,2658.162386,2662.561413,2663.413820,2667.036252,2625.483542,2539.862849,-26.706108
486,PIDILITIND,2022-12-22,2560.00,2586.20,2525.00,187402,2551.75,-8.25,2580.136050,2608.134192,2623.637294,2648.488533,2654.037458,2655.142426,2662.515223,2624.023386,2539.982044,-31.505131
487,PIDILITIND,2022-12-23,2535.10,2544.10,2483.15,244433,2490.25,-44.85,2550.174033,2584.557354,2603.116172,2634.103212,2641.438423,2642.928172,2655.759724,2621.374255,2539.483410,-39.812000
488,PIDILITIND,2022-12-26,2480.00,2524.40,2461.55,258697,2513.55,33.55,2537.966022,2570.355883,2589.336761,2623.143829,2631.600852,2633.344604,2650.182872,2619.239000,2539.223411,-44.007843

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'PIIND' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,PIIND,2021-01-04,2275.00,2299.00,2251.80,324319,2258.60,-16.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,PIIND,2021-01-05,2263.00,2270.00,2245.05,343002,2250.35,-12.65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,PIIND,2021-01-06,2260.35,2290.00,2216.20,640965,2229.15,-31.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,PIIND,2021-01-07,2241.00,2259.70,2180.00,711511,2187.60,-53.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,PIIND,2021-01-08,2197.00,2359.00,2192.85,831643,2339.65,142.65,2265.580332,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,PIIND,2022-12-20,3564.90,3566.25,3500.00,193648,3531.25,-33.65,3525.213356,3509.789183,3498.624703,3464.330240,3448.969041,3445.184762,3365.131974,3239.328837,3094.551480,53.439941
485,PIIND,2022-12-21,3548.95,3592.10,3505.00,247380,3524.75,-24.20,3525.058904,3512.781346,3502.643979,3469.822945,3454.798345,3451.078483,3371.391505,3244.981080,3098.865497,51.565496
486,PIIND,2022-12-22,3550.00,3574.80,3475.10,302316,3520.90,-29.10,3523.672603,3514.405077,3505.452598,3474.466314,3459.883088,3456.250447,3377.254583,3250.445143,3103.097316,49.202150
487,PIIND,2022-12-23,3500.00,3514.00,3445.00,167218,3459.60,-40.40,3502.315069,3503.444062,3498.398352,3473.114831,3459.861312,3456.498562,3380.483815,3254.587062,3106.671760,41.899790
488,PIIND,2022-12-26,3483.15,3500.00,3400.00,182546,3482.95,-0.20,3495.860046,3499.345249,3496.021682,3474.008937,3461.637365,3458.457928,3384.502097,3259.109357,3110.444195,37.563754

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'PNB' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,PNB,2021-01-04,35.40,35.75,34.25,213599078,35.55,0.15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,PNB,2021-01-05,35.00,35.70,34.70,142225084,35.60,0.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,PNB,2021-01-06,35.80,36.40,34.75,202327890,35.20,-0.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,PNB,2021-01-07,35.80,36.00,35.35,94883129,35.45,-0.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,PNB,2021-01-08,35.65,35.90,35.10,80655853,35.40,-0.25,35.412796,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,PNB,2022-12-20,55.95,56.25,54.30,88046715,55.55,-0.40,56.735669,56.704565,56.264731,54.338693,53.447871,53.230399,48.901016,43.862895,40.320512,3.034331
485,PNB,2022-12-21,56.00,57.10,52.55,154435087,53.15,-2.85,55.540446,55.993652,55.785542,54.230630,53.424958,53.224444,49.067642,44.046809,40.449165,2.561098
486,PNB,2022-12-22,53.90,55.20,52.60,193777944,53.75,-0.15,54.943631,55.544921,55.472381,54.186936,53.449961,53.263374,49.251264,44.238963,40.582535,2.209007
487,PNB,2022-12-23,53.30,53.45,49.30,174132546,49.70,-3.60,53.195754,54.375937,54.584323,53.779033,53.161503,52.999420,49.268862,44.347108,40.673951,1.584902
488,PNB,2022-12-26,49.70,53.95,49.15,169993660,53.50,3.80,53.297169,54.200750,54.417504,53.753666,53.187541,53.036500,49.434789,44.528364,40.802540,1.381003

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'POLICYBZR' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,POLICYBZR,2021-11-15,1150.00,1248.90,1149.00,36379065,1202.30,52.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,POLICYBZR,2021-11-16,1210.00,1434.00,1210.00,14456023,1341.90,131.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,POLICYBZR,2021-11-17,1350.00,1470.00,1342.00,7068789,1447.95,97.95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,POLICYBZR,2021-11-18,1440.00,1464.80,1302.55,5505748,1332.35,-107.65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,POLICYBZR,2021-11-22,1332.00,1332.00,1190.10,3843305,1237.55,-94.45,1306.90545,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
272,POLICYBZR,2022-12-20,478.00,489.90,472.35,2078626,476.95,-1.05,472.00118,468.039253,464.928168,455.444497,452.336034,451.700154,449.622423,478.641291,539.718510,13.228013
273,POLICYBZR,2022-12-21,478.45,480.60,453.50,2178624,460.10,-18.35,468.03412,466.451403,464.185373,455.867725,452.933263,452.322365,450.033316,478.272600,538.871602,11.863008
274,POLICYBZR,2022-12-22,462.00,466.45,445.00,2101608,450.10,-11.90,462.05608,463.181122,462.018392,455.343386,452.715319,452.157745,450.035931,477.712438,537.927980,9.860647
275,POLICYBZR,2022-12-23,442.35,467.50,433.00,4388081,439.30,-3.05,454.47072,458.404898,458.523255,453.884896,451.683372,451.205320,449.614907,476.948737,536.880299,7.317935
276,POLICYBZR,2022-12-26,448.00,471.95,440.00,1805425,456.90,8.90,455.28048,458.103918,458.273523,454.158997,452.084651,451.627148,449.900602,476.550168,536.031275,6.646375

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'POLYCAB' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,POLYCAB,2021-01-04,1042.0,1062.00,1036.10,850274,1059.80,17.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,POLYCAB,2021-01-05,1056.0,1158.00,1051.05,2473634,1144.65,88.65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,POLYCAB,2021-01-06,1150.4,1204.95,1145.00,1614440,1176.10,25.70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,POLYCAB,2021-01-07,1190.3,1300.00,1187.30,2335515,1277.75,87.45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,POLYCAB,2021-01-08,1310.0,1310.00,1212.60,1027680,1248.60,-61.40,1217.550237,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,POLYCAB,2022-12-20,2730.5,2734.95,2671.35,324378,2713.45,-17.05,2781.116213,2784.572422,2772.536844,2737.560065,2726.154860,2723.584946,2674.567660,2598.490714,2503.047366,48.951898
485,POLYCAB,2022-12-21,2717.0,2771.70,2660.00,582721,2669.30,-47.70,2743.844142,2761.517938,2756.654253,2731.354604,2721.781409,2719.563839,2674.361085,2599.892962,2504.714542,37.090414
486,POLYCAB,2022-12-22,2690.0,2699.00,2607.00,347177,2617.05,-72.95,2701.579428,2732.624350,2735.176675,2720.963277,2713.725147,2711.970221,2672.113591,2600.232725,2505.840950,23.206454
487,POLYCAB,2022-12-23,2590.0,2605.10,2506.10,448226,2513.90,-76.10,2639.019619,2688.879480,2701.134110,2702.139342,2698.353982,2697.298353,2665.909137,2598.523068,2505.921754,3.835757
488,POLYCAB,2022-12-26,2515.0,2600.00,2500.25,291849,2578.20,63.20,2618.746413,2666.743584,2682.221170,2690.872129,2689.111368,2688.476253,2662.469563,2598.120608,2506.646390,-6.255083

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'POWERGRID' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,POWERGRID,2021-01-04,190.00,190.40,188.00,4012428,188.45,-1.55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,POWERGRID,2021-01-05,189.50,189.50,186.20,5894373,188.00,-1.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,POWERGRID,2021-01-06,188.00,197.60,187.00,30524202,196.15,8.15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,POWERGRID,2021-01-07,198.00,201.80,195.50,22573087,197.05,-0.95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,POWERGRID,2021-01-08,198.75,204.00,197.55,16586958,203.55,4.80,197.710190,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,POWERGRID,2022-12-20,218.90,218.90,213.90,4906447,217.30,-1.60,217.102265,217.471363,217.778552,218.373135,218.518428,218.547713,218.917746,219.067274,217.718051,-0.769160
485,POWERGRID,2022-12-21,217.05,218.25,213.85,5254396,216.05,-1.00,216.751510,217.187090,217.512621,218.161941,218.328549,218.362697,218.805285,219.007522,217.701324,-0.850076
486,POWERGRID,2022-12-22,216.10,217.00,212.85,5221062,215.00,-1.10,216.167673,216.749672,217.126064,217.874492,218.072507,218.113608,218.656058,218.928161,217.674238,-0.987544
487,POWERGRID,2022-12-23,213.40,215.30,210.45,3415989,211.25,-2.15,214.528449,215.649738,216.222054,217.272265,217.547698,217.605193,218.365624,218.776109,217.609826,-1.383139
488,POWERGRID,2022-12-26,211.50,214.25,210.95,5148249,211.85,0.35,213.635633,214.889790,215.549431,216.779332,217.109414,217.178882,218.110110,218.638951,217.552080,-1.629452

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'PRESTIGE' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,PRESTIGE,2021-01-04,269.40,274.00,268.65,428897,272.95,3.55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,PRESTIGE,2021-01-05,268.15,280.85,268.15,545219,275.30,7.15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,PRESTIGE,2021-01-06,276.80,286.00,275.30,1263689,280.90,4.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,PRESTIGE,2021-01-07,285.95,288.20,281.20,503751,282.60,-3.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,PRESTIGE,2021-01-08,285.45,290.20,280.60,2217568,286.65,1.20,282.302607,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,PRESTIGE,2022-12-20,469.00,472.50,465.70,137492,468.90,-0.10,472.321692,475.141186,475.866406,474.697366,473.609003,473.325061,467.179759,459.617896,450.732756,2.541345
485,PRESTIGE,2022-12-21,471.25,473.70,450.55,238093,452.90,-18.35,465.847795,470.692949,472.333113,472.715788,472.016003,471.812094,466.619769,459.484861,450.754489,0.521019
486,PRESTIGE,2022-12-22,453.20,456.75,440.40,396383,451.05,-2.15,460.915196,466.764359,469.058788,470.746171,470.403233,470.274161,466.009190,459.317824,450.757452,-1.215373
487,PRESTIGE,2022-12-23,447.05,452.95,431.90,292846,441.00,-6.05,454.276798,461.611487,464.742051,468.041973,468.141446,468.105704,465.028437,458.955074,450.659620,-3.363653
488,PRESTIGE,2022-12-26,449.00,459.80,436.30,232362,456.90,7.90,455.151198,460.669190,463.535582,467.029067,467.276720,467.275652,464.709675,458.914377,450.722184,-3.740070

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'RAJESHEXPO' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,RAJESHEXPO,2021-01-04,485.60,487.95,481.25,203133,484.00,-1.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,RAJESHEXPO,2021-01-05,481.00,487.70,478.00,215378,484.10,3.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,RAJESHEXPO,2021-01-06,486.30,490.00,468.35,241195,479.05,-7.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,RAJESHEXPO,2021-01-07,485.00,487.75,480.05,160784,482.25,-2.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,RAJESHEXPO,2021-01-08,483.90,490.00,481.95,249725,484.35,0.45,482.853318,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,RAJESHEXPO,2022-12-20,778.80,784.80,765.00,188730,774.85,-3.95,770.790196,758.497018,752.632042,741.473030,737.199805,736.131159,711.051283,678.066818,658.988317,16.500883
485,RAJESHEXPO,2022-12-21,779.05,783.00,740.10,123844,742.75,-36.30,761.443464,755.347614,751.111728,741.589119,737.626743,736.621443,712.294370,679.347750,659.828276,14.490284
486,RAJESHEXPO,2022-12-22,742.10,750.00,685.00,256161,698.20,-43.90,740.362309,743.918091,742.971462,737.644653,734.593916,733.775411,711.741649,679.721084,660.213036,9.196051
487,RAJESHEXPO,2022-12-23,689.70,701.65,626.05,321349,636.10,-53.60,705.608206,722.354473,726.529698,728.413321,727.017461,726.540195,708.775310,678.857251,659.971269,-0.010496
488,RAJESHEXPO,2022-12-26,645.00,683.95,635.10,219544,673.75,28.75,694.988804,712.633579,718.409745,723.443928,722.919964,722.629810,707.401768,678.756111,660.109410,-4.220065

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'RAMCOCEM' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,RAMCOCEM,2021-01-04,798.90,804.65,789.20,984147,798.35,-0.55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,RAMCOCEM,2021-01-05,795.00,805.95,790.00,706858,793.90,-1.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,RAMCOCEM,2021-01-06,796.00,805.00,786.15,972642,802.45,6.45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,RAMCOCEM,2021-01-07,807.00,835.00,806.15,2295347,832.20,25.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,RAMCOCEM,2021-01-08,841.05,856.00,836.15,1682275,851.85,10.80,827.744313,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,RAMCOCEM,2022-12-20,717.95,718.00,703.05,147164,707.45,-10.50,715.449190,714.257371,711.455310,704.548484,703.034956,702.781198,703.355932,711.472123,742.699342,8.674112
485,RAMCOCEM,2022-12-21,711.00,717.15,693.70,192138,699.95,-11.05,710.282793,711.395897,709.685263,704.130440,702.797652,702.571480,703.222366,711.243948,742.270653,7.113783
486,RAMCOCEM,2022-12-22,700.90,705.05,688.15,515120,701.95,1.05,707.505196,709.506717,708.495222,703.932219,702.732448,702.525444,703.172469,711.059899,741.866351,5.969778
487,RAMCOCEM,2022-12-23,697.10,698.55,679.15,338069,684.95,-12.15,699.986797,704.595374,704.872880,702.206562,701.364567,701.223559,702.457863,710.542841,741.295684,3.649321
488,RAMCOCEM,2022-12-26,683.00,703.90,666.00,210346,699.85,16.85,699.941198,703.646299,704.100129,701.992329,701.248062,701.121814,702.355594,710.331090,740.880164,2.978315

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'RECLTD' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,RECLTD,2021-01-04,136.45,137.70,134.20,3890544,137.40,0.95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,RECLTD,2021-01-05,136.30,139.65,135.70,5860359,139.10,2.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,RECLTD,2021-01-06,139.55,142.40,138.60,7154837,141.05,1.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,RECLTD,2021-01-07,142.50,144.65,141.90,5184074,143.05,0.55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,RECLTD,2021-01-08,144.80,146.20,143.40,6342470,144.75,-0.05,142.483649,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,RECLTD,2022-12-20,113.30,113.30,111.00,5323451,112.25,-1.05,112.533748,112.253148,111.786514,109.975409,109.215543,109.039924,106.773723,108.216516,114.359717,2.746590
485,RECLTD,2022-12-21,112.80,112.95,109.80,9464490,110.05,-2.75,111.705832,111.812519,111.519358,109.982190,109.279732,109.114744,106.902204,108.252825,114.316499,2.404613
486,RECLTD,2022-12-22,111.60,113.45,110.15,17816529,112.50,0.90,111.970555,111.950015,111.670226,110.211082,109.527445,109.365504,107.121726,108.336932,114.298285,2.304722
487,RECLTD,2022-12-23,112.00,112.45,108.25,12678874,108.75,-3.25,110.897036,111.310012,111.220960,110.078256,109.467642,109.319911,107.185580,108.345112,114.242655,1.901049
488,RECLTD,2022-12-26,108.80,114.60,108.00,11744504,114.00,5.20,111.931358,111.848010,111.648505,110.434779,109.816284,109.666584,107.452812,108.457097,114.240223,1.981921

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'RELAXO' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,RELAXO,2021-01-04,831.50,849.80,829.50,440373,837.15,5.65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,RELAXO,2021-01-05,837.15,914.55,835.00,632912,893.90,56.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,RELAXO,2021-01-06,919.00,928.00,865.00,767088,898.85,-20.15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,RELAXO,2021-01-07,911.90,911.90,866.00,325126,879.55,-32.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,RELAXO,2021-01-08,885.00,898.45,874.00,314407,891.65,6.65,885.904976,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,RELAXO,2022-12-20,920.00,927.00,915.80,48011,924.30,4.30,926.055388,929.277890,930.439271,932.678082,934.140040,934.560070,947.100801,972.569437,1016.682036,-4.120799
485,RELAXO,2022-12-21,924.30,928.85,909.65,64414,914.35,-9.95,922.153592,926.292312,927.963999,931.011893,932.617729,933.063028,945.816456,971.416508,1015.655854,-5.099029
486,RELAXO,2022-12-22,910.65,920.00,900.00,79835,904.25,-6.40,916.185728,921.883850,924.315691,928.578993,930.435596,930.928730,944.186399,970.086400,1014.538767,-6.613038
487,RELAXO,2022-12-23,899.20,905.00,880.00,175764,888.45,-10.75,906.940485,915.197080,918.797893,924.930903,927.205935,927.782157,942.000658,968.469744,1013.274548,-8.984265
488,RELAXO,2022-12-26,888.00,899.85,880.75,558994,884.45,-3.55,899.443657,909.047664,913.513602,921.250821,923.917017,924.572368,939.743769,966.805893,1011.982998,-11.058766

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'RELIANCE' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,RELIANCE,2021-01-04,1995.10,1998.90,1968.00,11312992,1990.85,-4.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,RELIANCE,2021-01-05,1969.00,1983.60,1956.00,11132803,1966.10,-2.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,RELIANCE,2021-01-06,1965.90,1966.00,1905.15,21414270,1914.25,-51.65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,RELIANCE,2021-01-07,1920.50,1945.00,1905.15,14918406,1911.15,-9.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,RELIANCE,2021-01-08,1918.00,1938.40,1912.10,12709792,1933.70,15.70,1932.629384,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,RELIANCE,2022-12-20,2583.90,2626.00,2566.00,3446291,2621.80,37.90,2605.275850,2613.202479,2617.937789,2618.499464,2614.932927,2613.879873,2588.044380,2561.388097,2528.797039,4.057916
485,RELIANCE,2022-12-21,2621.00,2633.00,2576.10,3935463,2584.50,-36.50,2598.350566,2607.461983,2612.793514,2615.408604,2612.591933,2611.703586,2587.905385,2561.845786,2529.355626,1.089928
486,RELIANCE,2022-12-22,2598.00,2604.65,2566.75,3438692,2577.80,-20.20,2591.500378,2601.529586,2607.409896,2611.989640,2609.915630,2609.192209,2587.509095,2562.161729,2529.841387,-1.782313
487,RELIANCE,2022-12-23,2563.30,2590.50,2492.25,4733657,2502.20,-61.10,2561.733585,2581.663669,2591.223758,2602.008764,2601.629812,2601.266860,2584.163641,2560.974300,2529.564243,-10.043102
488,RELIANCE,2022-12-26,2514.75,2542.00,2492.40,2764496,2524.05,9.30,2549.172390,2570.140935,2580.889334,2594.921603,2595.662134,2595.547093,2581.806243,2560.243084,2529.508959,-14.657759

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'SAIL' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,SAIL,2021-01-04,75.50,80.05,75.50,96199002,79.30,3.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SAIL,2021-01-05,79.00,80.30,77.50,75713352,78.00,-1.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,SAIL,2021-01-06,78.30,79.15,75.20,56609755,76.20,-2.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,SAIL,2021-01-07,76.95,79.25,76.80,38600425,78.00,1.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,SAIL,2021-01-08,79.00,79.80,76.45,26952958,77.05,-1.95,77.426777,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,SAIL,2022-12-20,82.50,82.75,80.70,14817945,81.85,-0.65,82.987552,83.578556,83.785311,83.833397,83.728294,83.696360,82.773315,82.158334,85.280917,0.088951
485,SAIL,2022-12-21,82.30,83.65,80.80,14289387,81.40,-0.90,82.458368,83.142845,83.418340,83.612179,83.549195,83.526259,82.719460,82.143317,85.242000,-0.107919
486,SAIL,2022-12-22,81.85,82.10,78.20,18920980,78.70,-3.15,81.205579,82.254276,82.692441,83.165617,83.176180,83.168758,82.561834,82.075128,85.176402,-0.476317
487,SAIL,2022-12-23,78.25,78.30,74.35,15647334,74.70,-3.55,79.037053,80.743421,81.462835,82.396016,82.524166,82.541443,82.253526,81.929078,85.071361,-1.078608
488,SAIL,2022-12-26,75.00,77.15,73.75,14027435,76.65,1.65,78.241368,79.924737,80.722399,81.873651,82.072307,82.105040,82.033780,81.824536,84.986932,-1.382641

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'SANOFI' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,SANOFI,2021-01-04,8320.0,8400.00,8220.00,17502,8322.15,2.15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SANOFI,2021-01-05,8320.0,8320.00,8169.95,35823,8198.15,-121.85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,SANOFI,2021-01-06,8180.0,8215.00,8113.00,13395,8139.40,-40.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,SANOFI,2021-01-07,8190.0,8190.80,8105.00,16958,8140.40,-49.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,SANOFI,2021-01-08,8140.4,8230.00,8121.40,14543,8206.35,65.95,8185.897393,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,SANOFI,2022-12-20,5799.5,5835.00,5771.00,5355,5797.95,-1.55,5789.620337,5778.514317,5766.432091,5735.026406,5727.452936,5726.216923,5753.546261,5942.483481,6331.143417,40.215168
485,SANOFI,2022-12-21,5835.0,5849.00,5787.30,23287,5802.50,-32.50,5793.913558,5783.311454,5771.981000,5741.160370,5733.225787,5731.867522,5755.466015,5939.711365,6325.842198,40.113479
486,SANOFI,2022-12-22,5850.0,5864.80,5760.00,12444,5833.85,-16.15,5807.225705,5793.419163,5781.499308,5749.586700,5740.966111,5739.421779,5758.539897,5937.614977,6320.908900,42.077529
487,SANOFI,2022-12-23,5850.0,5879.95,5779.95,12641,5798.00,-52.00,5804.150470,5794.335330,5784.037876,5753.987909,5745.353333,5743.760907,5760.087352,5934.850164,6315.665997,40.276969
488,SANOFI,2022-12-26,5844.5,5844.60,5787.00,9645,5799.85,-44.65,5802.716980,5795.438264,5786.470510,5758.157190,5749.545385,5747.915654,5761.646672,5932.176742,6310.494605,38.554856

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'SBICARD' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,SBICARD,2021-01-04,853.80,897.00,853.80,2897219,888.25,34.45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SBICARD,2021-01-05,890.00,918.00,883.95,3867519,913.85,23.85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,SBICARD,2021-01-06,918.20,975.00,918.20,7456425,969.00,50.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,SBICARD,2021-01-07,985.20,1002.05,956.35,3734212,977.50,-7.70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,SBICARD,2021-01-08,980.00,989.00,958.00,1525747,965.15,-14.85,957.301185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,SBICARD,2022-12-20,798.80,798.80,786.10,420519,796.10,-2.70,797.160984,800.525554,802.615091,807.852507,810.396956,811.065296,827.066041,843.121186,858.754869,-8.450204
485,SBICARD,2022-12-21,799.00,804.20,789.00,1017650,791.65,-7.35,795.323989,798.750443,800.928154,806.379552,808.954882,809.627126,825.677176,842.101893,858.081944,-8.698971
486,SBICARD,2022-12-22,795.65,795.75,775.30,929731,786.85,-8.80,792.499326,796.370354,798.762284,804.604138,807.254507,807.939931,824.154542,841.007732,857.367688,-9.177647
487,SBICARD,2022-12-23,788.45,794.95,765.25,1273228,771.25,-17.20,785.416218,791.346283,794.529625,801.571944,804.484929,805.222158,822.079854,839.626311,856.504236,-10.692533
488,SBICARD,2022-12-26,771.25,795.70,766.15,651376,792.70,21.45,787.844145,791.617027,794.248144,800.765403,803.578396,804.294591,820.927703,838.697025,855.864557,-10.046447

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'SBILIFE' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,SBILIFE,2021-01-04,900.00,917.00,894.50,1028233,911.40,11.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SBILIFE,2021-01-05,906.45,919.90,899.00,1209912,905.55,-0.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,SBILIFE,2021-01-06,906.55,915.00,901.00,1214878,910.30,3.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,SBILIFE,2021-01-07,916.20,916.50,904.25,1109459,914.15,-2.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,SBILIFE,2021-01-08,920.00,954.50,918.00,4436263,935.50,15.50,920.502370,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,SBILIFE,2022-12-20,1260.00,1269.00,1229.05,1478618,1231.25,-28.75,1254.742034,1260.379449,1261.882436,1261.975931,1261.438541,1261.296933,1257.459084,1241.955477,1210.352659,0.585503
485,SBILIFE,2022-12-21,1231.05,1244.80,1221.60,1281437,1234.35,3.30,1247.944690,1255.173559,1257.646677,1259.464483,1259.354807,1259.300864,1256.552846,1241.804865,1210.593304,-1.654187
486,SBILIFE,2022-12-22,1234.40,1249.00,1229.15,1176517,1244.75,10.35,1246.879793,1253.088847,1255.662572,1258.126803,1258.231360,1258.223022,1256.089989,1241.863188,1210.935800,-2.560450
487,SBILIFE,2022-12-23,1239.30,1248.00,1216.75,877135,1224.60,-14.70,1239.453195,1247.391078,1250.883715,1255.078912,1255.644332,1255.732428,1254.855087,1241.521323,1211.072803,-4.848713
488,SBILIFE,2022-12-26,1222.95,1249.35,1205.00,567165,1243.30,20.35,1240.735464,1246.572862,1249.716990,1254.008101,1254.694768,1254.811507,1254.401947,1241.556546,1211.395901,-5.094518

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'SBIN' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,SBIN,2021-01-04,281.85,283.90,277.75,31450608,281.05,-0.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SBIN,2021-01-05,278.05,282.45,277.00,27393072,281.75,3.70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,SBIN,2021-01-06,283.00,289.15,281.40,40765708,285.05,2.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,SBIN,2021-01-07,289.00,291.80,287.00,30546600,287.70,-1.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,SBIN,2021-01-08,290.10,291.40,285.20,32543357,286.00,-4.10,285.414218,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,SBIN,2022-12-20,603.00,606.50,599.55,6753785,604.45,1.45,608.045497,609.689805,609.758195,607.217437,605.343706,604.835144,591.126597,566.347999,536.441012,4.923052
485,SBIN,2022-12-21,605.90,609.15,589.60,9217253,593.40,-12.50,603.163665,606.431844,607.241550,605.961306,604.424959,603.988096,591.215750,566.883715,537.012195,3.253454
486,SBIN,2022-12-22,597.00,599.00,587.55,8740149,593.40,-3.60,599.909110,603.825475,605.112081,604.819369,603.576885,603.203793,591.301407,567.408821,537.577606,1.908288
487,SBIN,2022-12-23,590.00,590.70,571.50,13047046,574.00,-16.00,591.272740,597.860380,600.325607,602.017609,601.301740,601.040549,590.622920,567.539347,537.942793,-0.714942
488,SBIN,2022-12-26,574.00,601.70,570.70,13201587,597.10,23.10,593.215160,597.708304,599.829360,601.570553,600.978529,600.748656,590.876923,568.124739,538.535882,-0.919297

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'SCHAEFFLER' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,SCHAEFFLER,2021-01-04,4625.00,4700.00,4540.15,15150,4637.90,12.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SCHAEFFLER,2021-01-05,4625.25,4648.90,4589.70,11855,4611.35,-13.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,SCHAEFFLER,2021-01-06,4632.85,4635.00,4536.35,10877,4600.95,-31.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,SCHAEFFLER,2021-01-07,4624.00,4624.00,4531.00,13844,4573.00,-51.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,SCHAEFFLER,2021-01-08,4600.00,4675.00,4538.15,13964,4571.75,-28.25,4586.572275,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,SCHAEFFLER,2022-12-20,2731.05,2789.00,2722.60,84737,2779.70,48.65,2761.246245,2761.861813,2768.723184,2801.105242,2817.010233,2820.943169,2889.149919,2944.183956,3280.144967,-52.219984
485,SCHAEFFLER,2022-12-21,2765.70,2795.00,2678.80,226110,2710.95,-54.75,2744.480830,2751.679451,2759.835002,2792.909311,2808.851754,2812.795527,2882.161687,2939.565184,3274.437098,-52.960525
486,SCHAEFFLER,2022-12-22,2724.55,2748.20,2671.30,88380,2711.95,-12.60,2733.637220,2743.733560,2752.468079,2785.549373,2801.397773,2805.325488,2875.486718,2935.057688,3268.796934,-52.857409
487,SCHAEFFLER,2022-12-23,2675.15,2740.75,2660.00,116478,2710.85,35.70,2726.041480,2737.156848,2746.065297,2778.758521,2794.432559,2798.327303,2869.030377,2930.617675,3263.202726,-52.262006
488,SCHAEFFLER,2022-12-26,2685.05,2793.00,2683.75,90751,2777.85,92.80,2743.310987,2745.295479,2750.955252,2778.675928,2793.156978,2796.810466,2865.454676,2927.592402,3258.336748,-45.855214

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'SHREECEM' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,SHREECEM,2021-01-04,24140.00,24225.00,23862.00,39942,24034.20,-105.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SHREECEM,2021-01-05,24199.00,24199.00,23701.05,47363,23895.50,-303.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,SHREECEM,2021-01-06,24084.00,24947.40,23850.00,73142,24824.35,740.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,SHREECEM,2021-01-07,24715.00,25200.00,24659.85,73979,25002.15,287.15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,SHREECEM,2021-01-08,24960.00,25979.50,24960.00,76285,25813.40,853.40,25083.968246,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,SHREECEM,2022-12-20,23810.00,23813.00,23282.05,32638,23730.10,-79.90,23914.722686,23980.478762,23964.860885,23791.556913,23694.885347,23670.519806,23157.674483,22656.216766,22887.921960,294.341079
485,SHREECEM,2022-12-21,23770.00,23940.60,23440.00,35053,23571.25,-198.75,23800.231790,23898.633010,23904.305364,23771.529012,23685.374936,23663.166487,23173.893131,22674.337324,22894.774351,241.138877
486,SHREECEM,2022-12-22,23600.00,23859.55,23421.40,36764,23814.45,214.45,23804.971194,23881.796408,23890.481462,23775.430920,23695.303787,23674.372673,23199.013009,22696.915142,22903.996111,216.108789
487,SHREECEM,2022-12-23,23699.95,23699.95,23170.55,27459,23271.40,-428.55,23627.114129,23759.717126,23795.238160,23729.609927,23662.695803,23644.522845,23201.851714,22708.291736,22907.679856,150.715315
488,SHREECEM,2022-12-26,23289.95,23850.00,23074.05,15650,23748.00,458.05,23667.409419,23757.373701,23787.970751,23731.281752,23669.257665,23652.187820,23223.269294,22728.881183,22916.104614,135.782931

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'SIEMENS' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,SIEMENS,2021-01-04,1604.90,1617.35,1585.30,243080,1598.45,-6.45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SIEMENS,2021-01-05,1590.75,1620.00,1585.00,286226,1612.75,22.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,SIEMENS,2021-01-06,1617.70,1635.45,1602.15,399518,1618.55,0.85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,SIEMENS,2021-01-07,1623.00,1664.95,1622.75,537632,1632.80,9.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,SIEMENS,2021-01-08,1639.40,1665.00,1633.00,480120,1654.90,15.50,1633.967299,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,SIEMENS,2022-12-20,2941.00,2986.95,2933.15,414924,2955.75,14.75,2953.112513,2941.600428,2929.789827,2904.154485,2896.952234,2895.409130,2869.218385,2805.741027,2675.439266,34.380697
485,SIEMENS,2022-12-21,2965.00,2987.90,2864.05,157018,2884.45,-80.55,2930.225009,2930.170342,2922.814469,2902.363169,2895.990524,2894.597342,2869.815704,2807.299714,2677.535219,28.217127
486,SIEMENS,2022-12-22,2891.00,2910.00,2847.10,194986,2861.05,-29.95,2907.166672,2916.346274,2913.312243,2898.607426,2893.302791,2892.112354,2869.471951,2808.364139,2679.375356,21.199889
487,SIEMENS,2022-12-23,2850.00,2860.75,2773.60,204272,2787.20,-62.80,2867.177782,2890.517019,2893.910359,2888.479478,2885.141038,2884.341069,2866.245599,2807.945023,2680.456451,9.569291
488,SIEMENS,2022-12-26,2816.00,2878.95,2816.00,518200,2833.80,17.80,2856.051854,2879.173615,2884.662612,2883.508616,2881.191728,2880.597286,2864.973223,2808.457032,2681.993820,4.065326

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'SKFINDIA' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,SKFINDIA,2021-01-04,1744.00,1754.10,1724.30,12303,1738.15,-5.85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SKFINDIA,2021-01-05,1734.50,1754.90,1708.80,28610,1750.15,15.65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,SKFINDIA,2021-01-06,1762.00,1775.00,1735.25,35481,1760.05,-1.95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,SKFINDIA,2021-01-07,1771.00,1887.00,1763.55,339768,1835.30,64.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,SKFINDIA,2021-01-08,1885.00,1885.00,1825.25,57217,1837.35,-47.65,1806.195972,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,SKFINDIA,2022-12-20,4584.90,4603.00,4505.55,41060,4542.35,-42.55,4634.220521,4686.342661,4711.528566,4745.294987,4748.550458,4748.719261,4712.770517,4540.515101,4219.953671,-37.190695
485,SKFINDIA,2022-12-21,4542.35,4587.90,4476.00,43451,4509.60,-32.75,4592.680347,4650.994129,4680.462633,4723.868170,4730.169653,4731.006723,4704.803045,4539.902884,4222.858235,-50.544090
486,SKFINDIA,2022-12-22,4502.00,4598.45,4455.55,50541,4577.90,75.90,4587.753565,4636.375303,4664.683766,4710.598337,4718.456603,4719.665484,4699.826455,4540.655347,4226.418305,-54.981718
487,SKFINDIA,2022-12-23,4540.00,4577.35,4449.00,34980,4491.40,-48.60,4555.635710,4607.380243,4638.024725,4690.671215,4700.990710,4702.756930,4691.652869,4539.679937,4229.075122,-64.732205
488,SKFINDIA,2022-12-26,4440.00,4550.00,4404.00,27197,4500.60,60.60,4537.290473,4586.024194,4616.882460,4673.392014,4685.576040,4687.782343,4684.160599,4538.906033,4231.797336,-70.899883

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'SOLARINDS' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,SOLARINDS,2021-01-04,1095.0,1100.00,1090.00,21272,1098.15,3.15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SOLARINDS,2021-01-05,1098.0,1133.40,1089.50,29912,1118.00,20.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,SOLARINDS,2021-01-06,1119.0,1129.60,1110.45,36399,1124.85,5.85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,SOLARINDS,2021-01-07,1130.5,1132.65,1111.25,126418,1124.80,-5.70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,SOLARINDS,2021-01-08,1135.0,1143.95,1107.00,35600,1128.70,-6.30,1123.511374,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,SOLARINDS,2022-12-20,4024.0,4169.70,4021.10,52556,4151.95,127.95,4108.158234,4087.738039,4071.885528,4036.594455,4023.958669,4020.834665,3930.961019,3698.436438,3328.913794,51.050863
485,SOLARINDS,2022-12-21,4158.8,4220.00,4001.00,49474,4030.00,-128.80,4082.105489,4076.190431,4065.441601,4035.994959,4024.423386,4021.513579,3934.844901,3705.002447,3335.944264,43.928022
486,SOLARINDS,2022-12-22,4090.4,4100.00,4010.05,35724,4060.85,-29.55,4075.020326,4073.122345,4064.735201,4038.254508,4027.225434,4024.427388,3939.786277,3712.049348,3343.213030,40.307813
487,SOLARINDS,2022-12-23,4036.0,4089.35,3968.00,92659,4036.45,0.45,4062.163551,4065.787876,4060.383631,4038.090462,4027.935016,4025.317952,3943.577011,3718.473494,3350.163712,35.065679
488,SOLARINDS,2022-12-26,3980.0,4129.80,3955.95,20197,4113.00,133.00,4079.109034,4075.230301,4068.478457,4044.900420,4034.478476,4031.812918,3950.221050,3726.286342,3357.811644,36.665539

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'SONACOMS' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,SONACOMS,2021-06-24,301.00,361.20,295.00,41848082,361.20,60.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SONACOMS,2021-06-25,387.90,413.90,355.45,30784367,364.70,-23.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,SONACOMS,2021-06-28,357.00,361.70,337.30,5967165,347.50,-9.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,SONACOMS,2021-06-29,345.00,352.00,340.85,2476272,349.10,4.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,SONACOMS,2021-06-30,350.75,359.00,341.30,983870,342.30,-8.45,348.908531,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
368,SONACOMS,2022-12-20,457.55,460.45,451.25,400423,453.30,-4.25,456.202284,455.767205,455.308387,455.014717,455.483692,455.652787,463.965686,489.430954,526.649765,-0.344400
369,SONACOMS,2022-12-21,454.25,456.65,432.15,1000645,435.90,-18.35,449.434856,451.793764,452.322481,453.277016,453.977255,454.189618,462.865071,488.370287,525.723892,-1.867136
370,SONACOMS,2022-12-22,438.00,438.90,421.30,940087,423.15,-14.85,440.673237,446.065011,447.834407,450.538196,451.605927,451.890387,461.307616,487.078022,524.677648,-4.055980
371,SONACOMS,2022-12-23,421.00,421.95,399.35,1400061,400.55,-20.45,427.298825,436.962009,440.559883,445.993815,447.678548,448.087395,458.924964,485.363590,523.411873,-7.527512
372,SONACOMS,2022-12-26,403.00,417.85,398.05,1217228,410.70,7.70,421.765883,431.709607,435.966055,442.785286,444.834045,445.317958,457.033788,483.884251,522.262793,-9.351904

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'SRF' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,SRF,2021-01-04,5715.0,5723.15,5625.00,177035,5687.10,-27.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SRF,2021-01-05,5675.0,5718.95,5590.00,110797,5695.25,20.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,SRF,2021-01-06,5701.0,5794.70,5646.00,190537,5701.45,0.45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,SRF,2021-01-07,5739.9,5785.00,5684.50,91740,5709.60,-30.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,SRF,2021-01-08,5765.0,5965.00,5724.70,218155,5916.95,151.95,5784.469905,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,SRF,2022-12-20,2320.0,2325.00,2280.00,386920,2319.80,-0.20,2338.609830,2347.665177,2350.776698,2360.538042,2366.500562,2368.083309,2402.101707,2443.383261,2691.519330,-17.306611
485,SRF,2022-12-21,2332.0,2348.95,2293.00,375875,2298.70,-33.30,2325.306554,2337.872142,2342.764899,2354.916402,2361.285135,2362.943805,2398.046738,2440.518074,2687.580151,-20.178906
486,SRF,2022-12-22,2314.8,2324.75,2267.10,631488,2297.45,-17.35,2316.021036,2329.787713,2335.793376,2349.692184,2356.374740,2358.092412,2394.101768,2437.684876,2683.668243,-22.299036
487,SRF,2022-12-23,2265.1,2296.95,2211.10,651176,2219.35,-45.75,2283.797357,2307.700171,2317.879010,2337.842894,2345.834375,2347.815196,2387.248757,2433.361163,2679.012794,-29.936186
488,SRF,2022-12-26,2220.0,2322.80,2206.05,500570,2293.30,73.30,2286.964905,2304.820137,2314.097624,2333.793540,2341.793269,2343.777033,2383.564492,2430.587518,2675.145772,-29.679409

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'SRTRANSFIN' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,SRTRANSFIN,2021-01-04,1084.00,1088.00,1063.60,2201670,1076.75,-7.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SRTRANSFIN,2021-01-05,1069.95,1119.40,1058.85,3186132,1114.15,44.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,SRTRANSFIN,2021-01-06,1117.95,1208.50,1116.50,8907705,1197.20,79.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,SRTRANSFIN,2021-01-07,1200.00,1316.90,1198.00,9162646,1306.80,106.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,SRTRANSFIN,2021-01-08,1306.20,1313.35,1265.00,6264854,1295.70,-10.50,1244.481991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
479,SRTRANSFIN,2022-12-13,1361.00,1370.95,1340.00,395593,1365.85,4.85,1349.469816,1335.969801,1328.183211,1310.211009,1304.162058,1302.822198,1285.108878,1273.822854,1268.765303,25.361012
480,SRTRANSFIN,2022-12-14,1365.95,1380.00,1355.40,827606,1378.55,12.60,1359.163211,1344.485841,1335.931947,1316.423644,1309.884208,1308.431665,1288.773236,1275.896797,1269.866662,27.500282
481,SRTRANSFIN,2022-12-15,1375.40,1404.20,1370.05,755612,1393.20,17.80,1370.508807,1354.228672,1344.742417,1323.403313,1316.293115,1314.710801,1292.868403,1278.219784,1271.103839,30.031616
482,SRTRANSFIN,2022-12-16,1377.00,1404.00,1338.10,1814246,1370.45,-6.55,1370.489205,1357.472938,1348.697430,1327.680284,1320.459029,1318.839631,1295.910818,1280.046241,1272.100316,29.857799
483,SRTRANSFIN,2022-12-19,1373.95,1386.85,1362.00,659439,1372.25,-1.70,1371.076137,1360.428350,1352.320902,1331.732077,1324.442950,1322.795954,1298.904512,1281.872172,1273.104772,29.524948

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'STARHEALTH' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,STARHEALTH,2021-12-10,845.00,940.00,828.00,13464811,906.85,61.85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,STARHEALTH,2021-12-13,901.00,924.60,887.35,2037074,897.05,-3.95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,STARHEALTH,2021-12-14,890.10,903.95,852.35,925078,861.50,-28.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,STARHEALTH,2021-12-15,862.95,866.55,801.05,860199,807.85,-55.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,STARHEALTH,2021-12-16,805.00,848.60,795.00,1029500,833.95,28.95,844.676066,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
254,STARHEALTH,2022-12-20,583.80,588.70,572.65,104479,585.75,1.95,589.763116,595.785732,600.294101,613.989929,619.815020,621.216572,646.412003,666.494114,678.873037,-20.922472
255,STARHEALTH,2022-12-21,585.75,592.15,570.00,148392,572.65,-13.10,584.058744,591.158586,596.041162,610.231753,616.186942,617.619048,643.519272,664.624644,677.727541,-21.577886
256,STARHEALTH,2022-12-22,572.65,578.00,556.00,200717,574.20,1.55,580.772496,587.766869,592.680983,606.956139,612.957177,614.402822,640.800776,662.823509,676.612043,-21.721839
257,STARHEALTH,2022-12-23,575.00,583.80,558.90,354384,561.15,-13.85,574.231664,582.443495,587.830063,602.791945,608.972010,610.458169,637.677114,660.798547,675.368977,-22.628106
258,STARHEALTH,2022-12-26,569.90,575.50,562.80,58540,569.65,-0.25,572.704443,579.884796,585.033130,599.779041,605.947240,607.435342,635.009299,658.983411,674.231733,-22.402212

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'SUMICHEM' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,SUMICHEM,2021-01-04,312.80,338.50,311.10,5265104,327.30,14.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SUMICHEM,2021-01-05,327.30,332.90,320.55,1026191,322.95,-4.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,SUMICHEM,2021-01-06,325.00,334.95,313.35,999356,319.05,-5.95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,SUMICHEM,2021-01-07,323.20,328.90,321.00,511192,324.85,1.65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,SUMICHEM,2021-01-08,327.90,328.60,321.05,1208466,322.35,-5.55,322.870379,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,SUMICHEM,2022-12-20,483.00,484.85,478.30,120823,483.80,0.80,483.124763,482.272384,481.290252,479.553155,479.496079,479.526944,481.281031,477.868375,460.959127,1.763308
485,SUMICHEM,2022-12-21,485.35,487.25,475.00,373242,476.35,-9.00,480.866508,481.087908,480.530213,479.261960,479.254073,479.291615,481.087657,477.838306,461.113466,1.238598
486,SUMICHEM,2022-12-22,476.00,479.20,461.10,243035,469.85,-6.15,477.194339,478.840326,478.887103,478.406327,478.530682,478.592236,480.646965,477.680113,461.201069,0.294867
487,SUMICHEM,2022-12-23,465.00,468.05,456.80,322376,461.25,-3.75,471.879559,475.322261,476.173703,476.846661,477.201399,477.307626,479.886300,477.354745,461.201559,-1.133923
488,SUMICHEM,2022-12-26,457.10,473.50,454.00,100555,467.95,10.85,470.569706,473.847809,474.908518,476.037873,476.489753,476.614468,479.418209,477.168502,461.269217,-1.705951

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'SUNDARMFIN' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,SUNDARMFIN,2021-01-04,1816.00,1851.00,1808.00,56355,1835.20,19.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SUNDARMFIN,2021-01-05,1826.00,1855.10,1809.05,49044,1839.00,13.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,SUNDARMFIN,2021-01-06,1837.00,1844.95,1820.00,24030,1830.65,-6.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,SUNDARMFIN,2021-01-07,1830.00,1880.00,1810.05,28823,1863.15,33.15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,SUNDARMFIN,2021-01-08,1890.00,1890.00,1840.00,34873,1866.60,-23.40,1854.063033,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,SUNDARMFIN,2022-12-20,2419.00,2419.00,2366.35,50028,2379.40,-39.60,2358.817872,2342.573524,2333.902993,2318.243952,2313.710784,2312.656750,2284.832644,2218.805204,2170.975472,21.246243
485,SUNDARMFIN,2022-12-21,2390.00,2398.90,2351.00,28655,2368.25,-21.75,2361.961915,2347.708819,2339.187148,2322.789956,2317.906108,2316.774768,2288.103913,2221.764685,2172.953735,22.412380
486,SUNDARMFIN,2022-12-22,2374.95,2383.75,2310.00,121546,2336.85,-38.10,2353.591277,2345.537056,2338.827587,2324.068142,2319.363330,2318.261823,2290.015524,2224.043736,2174.597154,20.565764
487,SUNDARMFIN,2022-12-23,2337.05,2341.40,2263.20,18049,2291.60,-45.45,2332.927518,2334.749644,2331.561804,2321.116493,2317.227690,2316.286873,2290.077661,2225.381561,2175.770273,15.274932
488,SUNDARMFIN,2022-12-26,2303.05,2325.55,2268.00,9831,2298.90,-4.15,2321.585012,2327.579716,2326.536911,2319.096812,2315.817867,2314.998956,2290.423635,2226.837454,2177.004729,11.537955

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'SUNDRMFAST' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,SUNDRMFAST,2021-01-04,527.00,549.75,523.90,127536,545.35,18.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SUNDRMFAST,2021-01-05,541.95,560.00,536.00,101396,558.30,16.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,SUNDRMFAST,2021-01-06,558.80,565.00,535.75,93646,539.95,-18.85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,SUNDRMFAST,2021-01-07,544.50,545.45,531.25,108265,543.75,-0.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,SUNDRMFAST,2021-01-08,545.40,558.65,545.05,102215,557.45,12.05,550.137204,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,SUNDRMFAST,2022-12-20,946.05,974.00,946.05,69147,960.10,14.05,961.005550,953.231450,948.391304,939.539716,936.999246,936.419468,923.179207,896.045484,866.515710,11.971835
485,SUNDRMFAST,2022-12-21,960.05,964.75,918.95,137781,940.35,-19.70,954.120366,950.655160,947.154180,939.613378,937.256996,936.710619,923.852572,896.922853,867.256118,10.443561
486,SUNDRMFAST,2022-12-22,940.00,949.50,930.55,58428,941.85,1.85,950.030244,948.894128,946.338152,939.816707,937.610304,937.091314,924.558353,897.812552,868.004085,9.246839
487,SUNDRMFAST,2022-12-23,930.05,937.75,915.00,129655,923.60,-6.45,941.220163,943.835303,942.839975,938.342461,936.532588,936.091957,924.520771,898.323224,868.561513,6.748018
488,SUNDRMFAST,2022-12-26,910.05,938.00,910.05,39013,926.65,16.60,936.363442,940.398242,940.349210,937.279510,935.772389,935.392553,924.604270,898.884182,869.143888,4.956657

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'SUNPHARMA' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,SUNPHARMA,2021-01-04,600.00,609.45,595.20,11329298,604.40,4.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SUNPHARMA,2021-01-05,608.45,608.70,600.00,7790158,603.45,-5.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,SUNPHARMA,2021-01-06,604.10,610.95,596.15,6422080,605.30,1.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,SUNPHARMA,2021-01-07,606.05,608.00,598.00,4555702,601.90,-4.15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,SUNPHARMA,2021-01-08,607.00,622.80,604.00,11451416,620.80,13.80,610.101422,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,SUNPHARMA,2022-12-20,987.95,990.65,979.40,1352408,988.35,0.40,992.554404,997.577859,1000.963621,1006.233065,1006.517008,1006.436902,995.198837,964.612904,922.280356,-5.473281
485,SUNPHARMA,2022-12-21,992.00,1009.50,988.40,2043630,1005.60,13.60,996.902936,999.182287,1001.676910,1006.175513,1006.446469,1006.374909,995.606726,965.424578,923.115882,-4.697999
486,SUNPHARMA,2022-12-22,1019.95,1034.05,1007.05,5163443,1010.65,-9.30,1001.485291,1001.475830,1003.057386,1006.582285,1006.769817,1006.691583,996.196658,966.320184,923.993603,-3.634197
487,SUNPHARMA,2022-12-23,1012.00,1027.85,998.45,3612433,1001.55,-10.45,1001.506861,1001.490664,1002.825480,1006.124804,1006.368293,1006.310725,996.406593,967.017844,924.771216,-3.485245
488,SUNPHARMA,2022-12-26,1010.00,1011.80,988.70,2307374,1000.05,-9.95,1001.021240,1001.202531,1002.398483,1005.572549,1005.882270,1005.846967,996.549472,967.671983,925.525935,-3.448484

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'SUNTV' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,SUNTV,2021-01-04,481.60,497.40,474.30,3514752,495.60,14.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SUNTV,2021-01-05,488.00,500.95,487.05,2618522,491.95,3.95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,SUNTV,2021-01-06,495.00,502.50,477.25,3475134,487.00,-8.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,SUNTV,2021-01-07,490.00,521.50,487.10,6406879,518.05,28.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,SUNTV,2021-01-08,528.65,539.50,520.00,9100927,527.90,-0.75,511.862559,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,SUNTV,2022-12-20,507.00,514.80,502.20,1525838,512.30,5.30,506.387268,503.647932,502.413543,502.018133,502.599943,502.764443,504.846657,499.541192,493.204701,-0.350900
485,SUNTV,2022-12-21,514.95,520.50,502.95,1506224,505.25,-9.70,506.008179,503.968346,502.849921,502.311939,502.803794,502.948558,504.862474,499.654244,493.325490,-0.098637
486,SUNTV,2022-12-22,509.00,509.85,497.45,624467,505.10,-3.90,505.705453,504.194677,503.196087,502.565399,502.980425,503.107924,504.871789,499.762087,493.443556,0.088163
487,SUNTV,2022-12-23,498.00,508.00,481.25,411049,483.65,-14.35,498.353635,500.085741,500.188997,500.845817,501.493469,501.666596,504.039562,499.443018,493.345361,-1.477600
488,SUNTV,2022-12-26,481.55,498.60,480.50,393196,494.05,12.50,496.919090,498.878593,499.244536,500.228016,500.920895,501.102404,503.647815,499.336219,493.352426,-1.857868

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'SUPREMEIND' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,SUPREMEIND,2021-01-04,1697.80,1730.00,1688.25,73000,1722.70,24.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SUPREMEIND,2021-01-05,1721.90,1757.00,1707.05,82042,1748.30,26.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,SUPREMEIND,2021-01-06,1748.00,1765.00,1720.30,105528,1756.85,8.85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,SUPREMEIND,2021-01-07,1765.00,1804.50,1748.55,242322,1790.90,25.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,SUPREMEIND,2021-01-08,1800.00,1819.00,1776.00,188202,1798.70,-1.30,1778.067773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,SUPREMEIND,2022-12-20,2544.00,2544.00,2489.00,333814,2503.20,-40.80,2518.045841,2504.123518,2491.022446,2448.941702,2430.200981,2425.576208,2327.058876,2200.478268,2117.232526,65.446238
485,SUPREMEIND,2022-12-21,2482.00,2527.90,2406.05,38929,2427.30,-54.70,2487.797227,2488.758814,2481.218992,2446.974275,2429.977829,2425.703896,2330.989901,2204.970058,2120.341873,55.515097
486,SUPREMEIND,2022-12-22,2427.30,2468.25,2327.80,75580,2366.95,-60.35,2447.514818,2464.397051,2463.639147,2439.699341,2425.129535,2421.351755,2332.400101,2208.177770,2122.814659,42.287392
487,SUPREMEIND,2022-12-23,2366.95,2371.75,2278.60,198755,2319.30,-47.65,2404.776545,2435.377641,2441.433125,2428.753946,2416.988801,2413.792366,2331.886371,2210.378337,2124.784702,27.640759
488,SUPREMEIND,2022-12-26,2319.30,2494.50,2289.15,77748,2448.65,129.35,2419.401030,2438.032113,2442.543413,2430.562678,2419.424278,2416.374413,2336.465337,2215.096855,2128.031663,26.169000

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'SYNGENE' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,SYNGENE,2021-01-04,632.80,639.90,626.65,419880,637.05,4.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SYNGENE,2021-01-05,637.00,637.00,621.10,621144,630.90,-6.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,SYNGENE,2021-01-06,631.00,639.90,614.00,560456,616.95,-14.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,SYNGENE,2021-01-07,623.05,630.75,610.00,601567,615.10,-7.95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,SYNGENE,2021-01-08,618.00,625.55,600.10,577778,603.05,-14.95,614.251422,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,SYNGENE,2022-12-20,570.00,576.90,567.30,186759,573.50,3.50,577.347374,581.442527,584.241399,589.926812,591.236117,591.474350,591.955926,587.724614,585.060480,-7.232950
485,SYNGENE,2022-12-21,573.50,584.45,573.00,268143,578.30,4.80,577.664916,580.814021,583.327338,588.869829,590.241031,590.498472,591.420399,587.537977,584.992686,-7.171134
486,SYNGENE,2022-12-22,578.55,581.00,569.00,306291,574.70,-3.85,576.676611,579.591217,582.000055,587.581663,589.045567,589.328215,590.764697,587.283745,584.889480,-7.328159
487,SYNGENE,2022-12-23,570.05,583.90,568.05,675899,578.90,8.85,577.417740,579.452974,581.523124,586.792421,588.265139,588.555754,590.299415,587.117720,584.829427,-7.032631
488,SYNGENE,2022-12-26,578.90,581.60,571.00,138617,574.95,-3.95,576.595160,578.552379,580.511874,585.715837,587.240898,587.547921,589.697477,586.876762,584.730379,-7.036047

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'TATACHEM' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,TATACHEM,2021-01-04,484.90,494.40,482.35,3206596,489.25,4.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,TATACHEM,2021-01-05,488.00,490.65,482.45,1724507,486.55,-1.45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,TATACHEM,2021-01-06,487.00,504.60,481.70,7590353,491.05,4.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,TATACHEM,2021-01-07,494.00,505.50,492.60,6607905,498.45,4.45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,TATACHEM,2021-01-08,504.90,509.00,496.25,4156351,500.00,-4.90,495.731280,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,TATACHEM,2022-12-20,990.70,991.10,968.40,856249,979.00,-11.70,999.020285,1011.014517,1016.889753,1030.857924,1036.357550,1037.653117,1056.426920,1049.689354,1011.964763,-20.763365
485,TATACHEM,2022-12-21,985.20,996.50,960.95,1035557,965.60,-19.60,987.880190,1001.931614,1008.999021,1024.925386,1030.914662,1032.315850,1052.865080,1048.024118,1011.499819,-23.316828
486,TATACHEM,2022-12-22,970.45,974.95,933.10,1218644,940.25,-30.20,972.003460,989.595291,998.422249,1017.227623,1023.940457,1025.496157,1048.448802,1045.889852,1010.785384,-27.073908
487,TATACHEM,2022-12-23,933.85,937.10,889.05,1406373,891.70,-42.15,945.235640,970.016233,982.003441,1005.816021,1013.768114,1015.585331,1042.301791,1042.836411,1009.591384,-33.581889
488,TATACHEM,2022-12-26,897.00,916.15,876.80,836992,906.80,9.80,932.423760,957.372986,970.433681,996.814565,1005.539798,1007.527158,1036.987995,1040.142469,1008.560833,-37.093477

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'TATACOMM' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,TATACOMM,2021-01-04,1106.20,1115.00,1072.50,161814,1107.05,0.85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,TATACOMM,2021-01-05,1115.00,1120.00,1083.00,109554,1112.90,-2.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,TATACOMM,2021-01-06,1118.90,1118.90,1065.00,275505,1074.05,-44.85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,TATACOMM,2021-01-07,1084.85,1089.00,1066.05,150191,1079.65,-5.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,TATACOMM,2021-01-08,1071.35,1089.40,1048.90,212301,1061.25,-10.10,1077.490758,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,TATACOMM,2022-12-20,1313.00,1313.80,1286.40,458677,1302.85,-10.15,1310.969948,1310.238320,1308.715296,1302.788267,1299.425740,1298.523161,1272.583734,1225.234072,1198.175820,10.192135
485,TATACOMM,2022-12-21,1304.95,1315.15,1262.00,599398,1270.95,-34.00,1297.629965,1302.380656,1302.905250,1299.893879,1297.235299,1296.480704,1272.519666,1226.139393,1198.905597,6.424546
486,TATACOMM,2022-12-22,1286.00,1298.00,1250.15,608629,1265.55,-20.45,1286.936643,1295.014525,1297.158289,1296.771708,1294.797968,1294.189541,1272.246346,1226.919847,1199.573853,2.968747
487,TATACOMM,2022-12-23,1258.05,1262.40,1186.20,937987,1209.85,-48.20,1261.241096,1277.981620,1283.726244,1288.869735,1288.263509,1287.942168,1269.799430,1226.581810,1199.676886,-4.215924
488,TATACOMM,2022-12-26,1210.00,1250.90,1207.25,424039,1244.30,34.30,1255.594064,1271.245296,1277.660668,1284.817941,1284.881701,1284.709415,1268.799453,1226.932685,1200.124262,-7.048746

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'TATACONSUM' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,TATACONSUM,2021-01-04,606.95,606.95,597.50,2120531,604.00,-2.95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,TATACONSUM,2021-01-05,604.00,614.30,601.10,3813409,609.55,5.55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,TATACONSUM,2021-01-06,613.00,613.80,595.40,2167700,604.95,-8.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,TATACONSUM,2021-01-07,609.70,610.30,598.55,2195640,600.85,-8.85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,TATACONSUM,2021-01-08,606.80,612.50,602.60,3458752,609.55,2.75,606.117773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,TATACONSUM,2022-12-20,808.50,809.95,800.10,677159,808.30,-0.20,807.213550,806.113279,804.787489,800.048744,798.192777,797.773221,791.752022,786.063645,777.795774,7.014268
485,TATACONSUM,2022-12-21,809.00,811.90,801.00,811513,802.60,-6.40,805.675700,805.410624,804.450952,800.280676,798.531795,798.130760,792.177433,786.391117,778.044510,6.320192
486,TATACONSUM,2022-12-22,802.75,809.00,787.00,1017965,798.65,-4.10,803.333800,804.058499,803.558498,800.132433,798.540887,798.169222,792.431259,786.633881,778.251125,5.389276
487,TATACONSUM,2022-12-23,793.05,797.90,775.80,1216647,779.00,-14.05,795.222533,799.046799,799.780268,798.211303,797.037742,796.749280,791.904543,786.482707,778.258633,3.030988
488,TATACONSUM,2022-12-26,779.00,783.70,773.00,1014226,775.30,-3.70,788.581689,794.297439,796.014073,796.128457,795.365608,795.160444,791.253384,786.261255,778.228971,0.853628

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'TATAELXSI' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,TATAELXSI,2021-01-04,1880.95,1895.00,1866.75,400879,1881.10,0.15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,TATAELXSI,2021-01-05,1885.00,1970.00,1881.10,1115371,1957.90,72.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,TATAELXSI,2021-01-06,1967.00,2018.35,1947.15,770176,1994.60,27.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,TATAELXSI,2021-01-07,2013.55,2034.95,1990.00,349121,1998.95,-14.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,TATAELXSI,2021-01-08,2009.70,2052.80,2009.55,381158,2043.30,33.60,2001.627488,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,TATAELXSI,2022-12-20,6354.00,6394.00,6300.00,186161,6314.25,-39.75,6439.002762,6539.637319,6593.525274,6716.190188,6769.494458,6783.167662,7117.553214,7531.895299,7544.354177,-189.642388
485,TATAELXSI,2022-12-21,6355.60,6374.00,6181.20,186139,6202.60,-153.00,6360.201841,6472.229855,6533.382924,6669.500171,6725.887192,6740.162650,7081.672695,7505.571039,7530.899110,-206.779726
486,TATAELXSI,2022-12-22,6240.00,6268.00,6025.00,278555,6050.80,-189.20,6257.067894,6387.943884,6459.139398,6613.254701,6673.957408,6689.098750,7041.246315,7476.761996,7516.057878,-229.959352
487,TATAELXSI,2022-12-23,6015.00,6019.95,5825.00,355787,5837.60,-177.40,6117.245263,6277.875107,6363.517952,6542.740637,6609.622223,6626.024769,6994.044499,7444.301470,7499.228960,-262.506817
488,TATAELXSI,2022-12-26,5840.00,6290.00,5709.05,619866,6252.65,412.65,6162.380175,6272.830086,6346.461344,6516.368761,6582.162821,6598.367378,6964.970204,7420.703076,7486.731193,-251.906034

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'TATAMOTORS' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,TATAMOTORS,2021-01-04,191.80,193.00,188.75,63980597,191.30,-0.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,TATAMOTORS,2021-01-05,187.10,193.90,185.05,75752593,193.20,6.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,TATAMOTORS,2021-01-06,194.45,197.60,190.65,75621947,195.40,0.95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,TATAMOTORS,2021-01-07,197.00,200.35,195.10,66024848,196.75,-0.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,TATAMOTORS,2021-01-08,198.75,201.50,197.10,53991568,198.15,-0.60,196.240047,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,TATAMOTORS,2022-12-20,418.00,418.00,408.00,12341042,410.50,-7.50,415.950170,417.889636,419.087077,420.951899,421.259095,421.314703,422.553759,426.071702,427.503654,-2.227626
485,TATAMOTORS,2022-12-21,412.60,414.40,401.00,11606059,402.60,-10.00,411.500113,414.831708,416.550604,419.283545,419.823780,419.928429,421.771259,425.606888,427.253921,-3.377825
486,TATAMOTORS,2022-12-22,404.10,404.70,390.20,14908929,394.45,-9.65,405.816742,410.755367,413.150511,417.025950,417.871951,418.041138,420.699837,424.989884,426.924989,-4.890627
487,TATAMOTORS,2022-12-23,390.00,390.00,377.00,19902886,378.35,-11.65,396.661162,404.274293,407.796586,413.509954,414.831801,415.101054,419.039059,424.066269,426.437956,-7.304468
488,TATAMOTORS,2022-12-26,380.25,390.70,375.20,16979026,384.80,4.55,392.707441,400.379435,404.258650,410.899958,412.521662,412.856531,417.696351,423.288675,426.020509,-8.597881

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'TATAPOWER' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,TATAPOWER,2021-01-04,78.05,79.65,77.50,23712305,79.25,1.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,TATAPOWER,2021-01-05,78.00,82.20,77.90,46181972,81.15,3.15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,TATAPOWER,2021-01-06,82.00,83.50,80.75,46157617,82.45,0.45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,TATAPOWER,2021-01-07,83.15,83.65,81.50,35219703,81.85,-1.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,TATAPOWER,2021-01-08,84.35,84.60,82.60,41178215,83.05,-1.30,82.136256,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,TATAPOWER,2022-12-20,216.80,218.50,214.60,6418826,217.85,1.05,218.623719,219.774444,220.421245,221.640289,221.987698,222.064317,223.371926,224.838754,222.379845,-1.643072
485,TATAPOWER,2022-12-21,218.40,219.40,212.50,9737819,213.80,-4.60,217.015813,218.579555,219.402592,220.927535,221.357875,221.452146,222.996557,224.620152,222.293807,-2.049554
486,TATAPOWER,2022-12-22,214.90,215.30,206.55,14020296,208.90,-6.00,214.310542,216.643644,217.786809,219.834123,220.399577,220.522357,222.443751,224.308843,222.159504,-2.735549
487,TATAPOWER,2022-12-23,206.20,207.90,196.00,20819266,196.90,-9.30,208.507028,212.694915,214.573453,217.749203,218.591917,218.772553,221.442035,223.766063,221.906242,-4.199099
488,TATAPOWER,2022-12-26,197.30,204.65,194.60,18203352,203.15,5.85,206.721352,210.785932,212.815999,216.422003,217.404077,217.615327,220.724700,223.357801,221.718199,-4.799328

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'TATASTEEL' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,TATASTEEL,2021-01-04,64.90,69.990,64.645,38184955,69.300,4.400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,TATASTEEL,2021-01-05,68.70,69.385,67.510,21545254,68.055,-0.645,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,TATASTEEL,2021-01-06,68.40,69.665,67.500,19610522,68.380,-0.020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,TATASTEEL,2021-01-07,69.30,73.150,69.170,38232194,72.280,2.980,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,TATASTEEL,2021-01-08,72.70,72.725,70.310,19329313,71.315,-1.385,70.537607,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,TATASTEEL,2022-12-20,111.15,111.500,109.000,34836506,110.950,-0.200,111.345971,111.265414,111.021485,109.985891,109.523357,109.412587,107.432629,106.315847,108.012870,1.608898
485,TATASTEEL,2022-12-21,111.80,112.000,108.700,32303565,109.400,-2.400,110.697314,110.892331,110.772026,109.932628,109.513868,109.411655,107.509781,106.376923,108.026780,1.360371
486,TATASTEEL,2022-12-22,110.00,110.600,106.350,39639329,107.650,-2.350,109.681543,110.243865,110.291714,109.725117,109.370493,109.281162,107.515279,106.402134,108.023002,1.010553
487,TATASTEEL,2022-12-23,106.00,106.750,101.950,46756489,102.250,-3.750,107.204362,108.645092,109.054527,109.045561,108.822763,108.760335,107.308798,106.319909,107.965119,0.294193
488,TATASTEEL,2022-12-26,102.80,105.550,101.650,33995681,105.000,2.200,106.469575,107.916074,108.430754,108.677782,108.528704,108.481791,107.218257,106.293771,107.935392,-0.051037

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'TCS' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,TCS,2021-01-04,2950.00,3050.75,2940.95,5113293,3039.45,89.45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,TCS,2021-01-05,3039.60,3114.25,3039.60,5801309,3093.00,53.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,TCS,2021-01-06,3100.00,3113.50,3037.20,3726716,3051.50,-48.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,TCS,2021-01-07,3075.00,3080.85,3000.25,3717827,3032.80,-42.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,TCS,2021-01-08,3090.00,3128.00,3060.00,5879039,3120.90,30.90,3077.162559,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,TCS,2022-12-20,3198.90,3249.00,3163.65,1529971,3243.95,45.05,3259.649514,3286.921897,3299.787676,3311.067220,3308.834220,3307.931826,3279.038557,3266.421748,3313.386076,-8.144150
485,TCS,2022-12-21,3249.00,3283.05,3240.00,1432566,3268.55,19.55,3262.616342,3283.247517,3294.981879,3307.202018,3305.735434,3305.014654,3278.627241,3266.463895,3312.936461,-10.032774
486,TCS,2022-12-22,3294.00,3294.00,3245.10,1384101,3259.70,-34.30,3261.644228,3278.538014,3289.553898,3302.883653,3302.194246,3301.658013,3277.884997,3266.329948,3312.402649,-12.104115
487,TCS,2022-12-23,3217.00,3266.85,3217.00,1360281,3228.35,11.35,3250.546152,3268.500411,3280.137914,3296.107866,3296.513920,3296.227789,3275.942448,3265.577827,3311.559902,-16.089876
488,TCS,2022-12-26,3228.35,3272.00,3225.05,870157,3252.90,24.55,3251.330768,3265.380329,3275.947465,3292.179878,3293.159003,3293.018323,3275.038822,3265.326766,3310.971798,-17.070858

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'TECHM' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,TECHM,2021-01-04,980.60,1005.00,975.00,3515825,1001.95,21.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,TECHM,2021-01-05,1002.50,1007.95,991.30,4040321,1003.85,1.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,TECHM,2021-01-06,1004.00,1026.00,983.35,4677359,997.15,-6.85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,TECHM,2021-01-07,1005.50,1010.00,988.60,3354950,994.75,-10.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,TECHM,2021-01-08,1007.75,1060.00,1005.45,9279370,1051.10,43.35,1018.372512,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,TECHM,2022-12-20,1025.00,1025.00,1004.00,2149130,1017.95,-7.05,1028.424457,1038.243651,1043.512573,1051.281220,1052.663164,1052.905958,1054.998629,1071.994923,1132.252341,-9.393385
485,TECHM,2022-12-21,1024.50,1030.55,1020.25,2037666,1026.05,1.55,1027.632971,1035.804920,1040.826023,1048.987473,1050.615997,1050.916628,1053.863389,1071.085068,1131.187347,-10.090604
486,TECHM,2022-12-22,1030.00,1035.00,1012.60,1925482,1015.85,-14.15,1023.705314,1031.813936,1036.983558,1045.974975,1047.941690,1048.319100,1052.372668,1069.991240,1130.030838,-11.335542
487,TECHM,2022-12-23,1005.05,1015.50,993.00,1504806,995.75,-9.30,1014.386876,1024.601149,1030.639934,1041.409068,1043.926945,1044.425093,1050.152171,1068.521032,1128.684482,-13.785159
488,TECHM,2022-12-26,1000.35,1006.50,993.00,966423,1001.00,0.65,1009.924584,1019.880919,1026.079944,1037.735517,1040.624872,1041.208419,1048.224635,1067.183906,1127.404362,-15.128475

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'THERMAX' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,THERMAX,2021-01-04,913.00,925.00,907.05,43090,921.00,8.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,THERMAX,2021-01-05,920.00,960.10,912.05,43827,956.45,36.45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,THERMAX,2021-01-06,956.45,966.45,943.00,31544,958.30,1.85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,THERMAX,2021-01-07,966.50,981.00,959.15,32663,973.85,7.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,THERMAX,2021-01-08,980.00,989.00,960.60,40666,976.20,-3.80,966.112322,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,THERMAX,2022-12-20,2004.95,2004.95,1952.35,51783,1991.55,-13.40,1996.170242,2010.683812,2021.234984,2050.701787,2062.162202,2064.867195,2112.233660,2134.634466,2074.741762,-43.632211
485,THERMAX,2022-12-21,1981.15,1989.75,1893.10,45423,1914.20,-66.95,1968.846828,1991.387050,2004.768063,2038.292534,2050.780494,2053.706662,2104.467634,2130.269165,2073.131855,-48.938599
486,THERMAX,2022-12-22,1914.20,1931.05,1874.55,122823,1912.70,-1.50,1950.131219,1975.649640,1990.603746,2026.875031,2040.158917,2043.261724,2096.947335,2125.960611,2071.523174,-52.657978
487,THERMAX,2022-12-23,1911.95,1911.95,1830.65,46985,1869.20,-42.75,1923.154146,1954.359712,1971.926246,2012.540937,2027.008231,2030.368263,2088.016067,2120.875950,2069.494598,-58.442017
488,THERMAX,2022-12-26,1870.00,1930.00,1850.00,20499,1904.85,34.85,1917.052764,1944.457770,1961.606824,2002.750852,2017.611444,2021.070614,2080.833084,2116.597966,2067.843928,-59.463790

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'TIINDIA' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,TIINDIA,2021-01-04,799.00,811.50,795.00,115652,802.15,3.15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,TIINDIA,2021-01-05,800.10,845.00,800.10,164033,821.00,20.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,TIINDIA,2021-01-06,825.05,837.00,804.70,58216,812.25,-12.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,TIINDIA,2021-01-07,823.75,825.00,812.25,63587,821.55,-2.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,TIINDIA,2021-01-08,828.00,836.00,818.05,335005,833.70,5.70,823.093839,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,TIINDIA,2022-12-20,2932.00,3046.20,2880.00,378974,3017.35,85.35,2963.904383,2942.885870,2924.660602,2873.484607,2855.017679,2850.722479,2759.745360,2570.889502,2285.850145,73.938123
485,TIINDIA,2022-12-21,3017.35,3017.35,2783.35,265168,2900.20,-117.15,2942.669589,2934.348696,2920.897432,2875.913279,2858.493242,2854.387480,2765.253385,2577.410894,2292.010825,66.509952
486,TIINDIA,2022-12-22,2929.00,2949.00,2795.00,235028,2925.75,-3.25,2937.029726,2932.628957,2921.643981,2880.443890,2863.666839,2859.673593,2771.547370,2584.309104,2298.365447,61.970388
487,TIINDIA,2022-12-23,2860.10,2883.95,2750.00,291123,2778.50,-81.60,2884.186484,2901.803165,2899.621830,2871.176264,2857.115544,2853.660734,2771.820022,2588.154690,2303.179476,45.961096
488,TIINDIA,2022-12-26,2778.00,2838.70,2724.40,123415,2759.40,-18.60,2842.590989,2873.322532,2878.049241,2861.014785,2849.598963,2846.678457,2771.332962,2591.545878,2307.753384,31.370783

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'TITAN' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,TITAN,2021-01-04,1566.00,1567.00,1538.00,1383979,1550.90,-15.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,TITAN,2021-01-05,1545.00,1576.85,1541.50,1351709,1570.95,25.95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,TITAN,2021-01-06,1578.00,1621.35,1561.85,3312171,1572.60,-5.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,TITAN,2021-01-07,1570.00,1570.00,1535.00,2820445,1542.35,-27.65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,TITAN,2021-01-08,1547.90,1555.30,1521.50,3478504,1548.60,0.70,1553.811848,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,TITAN,2022-12-20,2516.80,2517.60,2482.10,597902,2508.15,-8.65,2525.320958,2545.187881,2556.352722,2579.527040,2586.548286,2588.037702,2598.096060,2554.848892,2466.425520,-31.684980
485,TITAN,2022-12-21,2515.00,2528.00,2481.00,519326,2489.60,-25.40,2513.413972,2534.070304,2546.083072,2571.351855,2579.090725,2580.746020,2593.841312,2553.556757,2466.657913,-34.662948
486,TITAN,2022-12-22,2491.80,2509.20,2465.00,557608,2483.00,-8.80,2503.275981,2523.856244,2536.377984,2563.319868,2571.699131,2573.505574,2589.494594,2552.159512,2466.821778,-37.127590
487,TITAN,2022-12-23,2467.65,2505.00,2455.00,1310439,2483.05,15.40,2496.533988,2515.694995,2528.173679,2556.022607,2564.879967,2566.805161,2585.320296,2550.790927,2466.984489,-38.631482
488,TITAN,2022-12-26,2487.75,2512.40,2470.25,1076808,2481.10,-6.65,2491.389325,2508.775996,2520.931575,2549.211461,2558.435354,2560.456631,2581.233226,2549.410831,2467.126006,-39.525056

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'TORNTPHARM' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,TORNTPHARM,2021-01-04,2817.65,2823.50,2780.50,201484,2794.65,-23.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,TORNTPHARM,2021-01-05,2790.00,2822.95,2778.65,197144,2809.45,19.45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,TORNTPHARM,2021-01-06,2825.00,2855.95,2768.40,261496,2790.70,-34.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,TORNTPHARM,2021-01-07,2797.00,2811.00,2765.00,351746,2775.95,-21.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,TORNTPHARM,2021-01-08,2789.00,2872.00,2775.50,521368,2851.90,62.90,2812.851185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,TORNTPHARM,2022-12-20,1594.85,1594.85,1568.00,303559,1575.20,-19.65,1596.520536,1605.367908,1609.595126,1616.338290,1617.407405,1617.561781,1625.115977,1727.121644,1989.133686,-7.966655
485,TORNTPHARM,2022-12-21,1582.00,1595.95,1575.35,517605,1583.00,1.00,1592.013691,1600.894327,1605.503568,1613.307536,1614.760681,1615.001649,1623.464370,1724.267579,1985.060991,-9.498081
486,TORNTPHARM,2022-12-22,1590.00,1604.30,1573.90,299358,1585.95,-4.05,1589.992461,1597.905461,1602.495327,1610.820487,1612.544475,1612.849675,1621.993218,1721.528455,1981.059030,-10.354348
487,TORNTPHARM,2022-12-23,1578.10,1595.00,1557.10,294348,1562.50,-15.60,1580.828307,1590.824369,1596.342200,1606.427716,1608.694900,1609.120070,1619.660150,1718.379195,1976.862383,-12.777870
488,TORNTPHARM,2022-12-26,1562.50,1577.75,1544.00,471591,1569.65,7.15,1577.102205,1586.589495,1592.235708,1603.084287,1605.691446,1606.196361,1617.698968,1715.433896,1972.779813,-13.960653

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'TORNTPOWER' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,TORNTPOWER,2021-01-04,322.00,323.20,319.00,496576,320.00,-2.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,TORNTPOWER,2021-01-05,319.50,321.80,316.80,848595,320.55,1.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,TORNTPOWER,2021-01-06,321.00,333.80,320.55,2667351,330.10,9.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,TORNTPOWER,2021-01-07,332.00,334.95,330.65,1326330,332.05,0.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,TORNTPOWER,2021-01-08,336.00,348.75,333.60,4637625,335.95,-0.05,330.992654,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,TORNTPOWER,2022-12-20,517.50,518.00,508.10,303823,511.70,-5.80,517.328103,522.136026,524.323919,525.970650,525.654032,525.543202,522.965661,519.299707,513.264187,-1.219283
485,TORNTPOWER,2022-12-21,512.50,517.00,503.65,270336,509.15,-3.35,514.602069,519.538821,521.989470,524.441500,524.384491,524.328891,522.423870,519.098710,513.222930,-2.339421
486,TORNTPOWER,2022-12-22,511.65,512.90,497.00,230108,498.85,-12.80,509.351379,515.401056,518.429552,522.115000,522.420299,522.441566,521.499405,518.697722,513.078810,-4.012014
487,TORNTPOWER,2022-12-23,493.20,498.75,475.40,171057,477.40,-15.80,498.700920,507.800845,512.117313,518.050000,518.957199,519.105153,519.770016,517.879898,512.721080,-6.987840
488,TORNTPOWER,2022-12-26,476.00,491.30,476.00,194406,489.85,13.85,495.750613,504.210676,508.691573,515.486364,516.718184,516.938105,518.596682,517.324819,512.491782,-8.246532

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'TRENT' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,TRENT,2021-01-04,679.00,683.30,674.00,565557,678.50,-0.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,TRENT,2021-01-05,679.90,679.90,672.00,450769,675.00,-4.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,TRENT,2021-01-06,678.90,684.30,672.00,227409,676.65,-2.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,TRENT,2021-01-07,675.85,684.85,672.50,302941,675.45,-0.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,TRENT,2021-01-08,678.00,701.00,674.90,897082,695.40,17.40,683.493365,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,TRENT,2022-12-20,1418.05,1421.30,1395.85,270778,1412.40,-5.65,1423.138581,1432.002821,1435.636900,1440.217838,1440.871192,1440.943501,1433.544864,1390.372274,1306.112152,-5.306601
485,TRENT,2022-12-21,1411.00,1420.15,1355.90,585477,1366.40,-44.60,1404.225720,1418.882257,1424.985069,1433.507126,1435.142639,1435.421760,1430.911732,1389.897547,1306.716716,-10.436691
486,TRENT,2022-12-22,1368.00,1380.00,1318.20,879064,1332.45,-35.55,1380.300480,1401.595805,1410.748905,1424.320114,1427.243205,1427.794222,1427.050487,1388.759905,1306.974749,-17.045318
487,TRENT,2022-12-23,1315.00,1335.00,1277.95,1182635,1284.40,-30.60,1348.333653,1378.156644,1391.310612,1411.600104,1416.255266,1417.172428,1421.456350,1386.693253,1306.748405,-25.861816
488,TRENT,2022-12-26,1289.95,1365.00,1281.50,835478,1357.50,67.55,1351.389102,1374.025315,1386.108979,1406.681913,1411.735630,1412.752248,1418.948258,1386.115136,1307.257223,-26.643269

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'TRIDENT' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,TRIDENT,2021-01-04,11.30,12.90,11.15,155327472,12.90,1.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,TRIDENT,2021-01-05,13.80,15.45,13.40,195279306,15.45,1.65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,TRIDENT,2021-01-06,16.70,16.95,14.70,270244231,16.00,-0.70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,TRIDENT,2021-01-07,16.55,16.55,14.40,111230139,14.50,-2.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,TRIDENT,2021-01-08,14.25,15.00,13.40,83660792,14.60,0.35,14.781043,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,TRIDENT,2022-12-20,35.00,35.50,34.40,8308828,34.60,-0.40,35.416435,35.734027,35.821891,35.882674,35.897185,35.901874,36.188962,37.543704,39.348989,-0.079983
485,TRIDENT,2022-12-21,34.80,35.05,34.00,7718138,34.05,-0.75,34.960957,35.397222,35.549293,35.716067,35.755094,35.764698,36.105081,37.474518,39.295851,-0.215405
486,TRIDENT,2022-12-22,34.05,34.50,32.55,10882212,33.00,-1.05,34.307305,34.917777,35.157094,35.469152,35.543163,35.559906,35.983313,37.385908,39.232721,-0.402812
487,TRIDENT,2022-12-23,32.10,32.50,31.00,15696770,31.10,-1.00,33.238203,34.154222,34.532926,35.071956,35.201381,35.229542,35.791811,37.261428,39.151179,-0.696617
488,TRIDENT,2022-12-26,30.70,33.90,30.50,13698710,33.50,2.80,33.325469,34.023378,34.374014,34.929051,35.070506,35.101428,35.701936,37.186940,39.094522,-0.727414

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'TTML' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,TTML,2021-01-04,8.00,8.10,7.80,1622061,7.90,-0.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,TTML,2021-01-05,7.95,8.25,7.60,2468902,8.10,0.15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,TTML,2021-01-06,8.45,8.50,8.10,4075549,8.35,-0.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,TTML,2021-01-07,8.65,8.65,8.35,2767309,8.55,-0.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,TTML,2021-01-08,8.95,8.95,8.70,4206263,8.95,0.00,8.568957,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,TTML,2022-12-20,96.05,96.45,93.50,1547128,93.85,-2.20,96.164103,97.227120,97.725496,98.729737,99.110543,99.204819,101.547470,106.832473,111.284149,-1.479323
485,TTML,2022-12-21,94.50,95.85,91.05,1730726,91.85,-2.65,94.726069,96.151696,96.821574,98.104306,98.552040,98.660018,101.167177,106.535773,111.089264,-1.838444
486,TTML,2022-12-22,91.90,93.30,87.30,4808221,87.30,-4.60,92.250713,94.381357,95.356716,97.122096,97.686498,97.818535,100.623366,106.154844,110.850725,-2.461818
487,TTML,2022-12-23,84.70,84.70,82.95,3102789,82.95,-1.75,89.150475,92.095086,93.447991,95.833724,96.552921,96.717162,99.930293,105.695315,110.570981,-3.269171
488,TTML,2022-12-26,80.00,87.00,78.85,6762105,83.15,3.15,87.150317,90.306068,91.863685,94.680658,95.521928,95.712187,99.272242,105.248848,110.296067,-3.848502

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'TVSMOTOR' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,TVSMOTOR,2021-01-04,497.50,499.35,487.55,2066399,495.45,-2.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,TVSMOTOR,2021-01-05,492.60,496.75,488.05,962886,491.70,-0.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,TVSMOTOR,2021-01-06,492.20,495.20,481.80,1049245,488.15,-4.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,TVSMOTOR,2021-01-07,493.50,506.40,489.90,4298543,499.30,5.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,TVSMOTOR,2021-01-08,506.40,517.00,500.20,3684918,513.35,6.95,501.634834,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,TVSMOTOR,2022-12-20,1054.30,1071.85,1046.50,1747561,1056.00,1.70,1047.454859,1044.022825,1044.113086,1049.701369,1052.411293,1053.011792,1054.637970,1012.014046,917.916154,-8.898705
485,TVSMOTOR,2022-12-21,1052.05,1063.40,1029.20,1417265,1033.35,-18.70,1042.753239,1041.888260,1042.457227,1048.214881,1050.945039,1051.555363,1053.803148,1012.436566,919.073721,-9.098136
486,TVSMOTOR,2022-12-22,1033.30,1046.40,1021.40,1373045,1039.10,5.80,1041.535493,1041.330608,1041.940730,1047.386256,1050.033882,1050.632743,1053.226554,1012.964586,920.277247,-8.692013
487,TVSMOTOR,2022-12-23,1027.00,1033.60,1006.00,931666,1010.50,-16.50,1031.190329,1035.164486,1037.103695,1044.032960,1046.992815,1047.659947,1051.551003,1012.915779,921.181858,-10.556252
488,TVSMOTOR,2022-12-26,1005.50,1023.15,997.90,1043410,1015.55,10.05,1025.976886,1031.241589,1033.787742,1041.443600,1044.574136,1045.281433,1050.139199,1012.967945,922.127960,-11.493691

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'UBL' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,UBL,2021-01-04,1186.00,1195.00,1174.70,270999,1184.65,-1.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,UBL,2021-01-05,1188.00,1193.00,1175.00,371768,1183.05,-4.95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,UBL,2021-01-06,1193.00,1237.45,1180.95,1205283,1221.05,28.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,UBL,2021-01-07,1229.95,1256.00,1213.15,828650,1247.50,17.55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,UBL,2021-01-08,1253.00,1267.15,1240.15,547218,1249.95,-3.05,1231.831043,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,UBL,2022-12-20,1755.00,1755.00,1721.25,119748,1730.70,-24.30,1750.970422,1752.220827,1748.409773,1733.650326,1727.898277,1726.571253,1703.080746,1669.173107,1623.150724,21.838520
485,UBL,2022-12-21,1733.00,1754.95,1705.00,225196,1710.50,-22.50,1737.480281,1743.876662,1742.577500,1731.545751,1726.559948,1725.380790,1703.371698,1669.991510,1624.026660,17.196710
486,UBL,2022-12-22,1717.00,1727.20,1683.65,123423,1719.00,2.00,1731.320188,1738.901330,1738.950193,1730.405228,1725.978413,1724.908139,1703.984572,1670.962033,1624.978976,14.042054
487,UBL,2022-12-23,1707.80,1711.85,1680.50,203039,1699.40,-8.40,1720.680125,1731.001064,1732.865548,1727.586571,1723.933920,1723.018647,1703.804785,1671.525193,1625.725152,9.846901
488,UBL,2022-12-26,1684.50,1709.00,1661.40,197553,1703.40,18.90,1714.920083,1725.480851,1728.332386,1725.387792,1722.354388,1721.565414,1703.788911,1672.156413,1626.503893,6.766973

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'ULTRACEMCO' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,ULTRACEMCO,2021-01-04,5306.95,5386.85,5292.05,453783,5327.20,20.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ULTRACEMCO,2021-01-05,5336.00,5372.90,5245.05,530958,5341.20,5.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ULTRACEMCO,2021-01-06,5360.00,5468.50,5300.00,701452,5448.35,88.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ULTRACEMCO,2021-01-07,5475.00,5517.70,5385.00,742403,5397.95,-77.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ULTRACEMCO,2021-01-08,5419.00,5613.30,5417.55,802681,5591.75,172.75,5469.126303,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,ULTRACEMCO,2022-12-20,7090.00,7125.05,7005.60,488123,7098.00,8.00,7098.404146,7108.379562,7103.175091,7054.549937,7026.849432,7019.807818,6867.201208,6683.273819,6619.505661,83.367272
485,ULTRACEMCO,2022-12-21,7130.50,7153.30,6926.00,388167,6950.70,-179.80,7049.169430,7076.843649,7079.717384,7045.109033,7020.991784,7014.688721,6870.475670,6688.569705,6622.826867,65.028664
486,ULTRACEMCO,2022-12-22,6981.00,7092.00,6860.00,338708,7012.40,31.40,7036.912954,7063.954919,7069.360864,7042.135485,7020.330877,7014.519186,6876.041330,6694.982564,6626.733190,54.841678
487,ULTRACEMCO,2022-12-23,6970.95,6985.00,6875.10,289661,6909.40,-61.55,6994.408636,7033.043936,7044.751500,7030.068623,7011.797733,7006.732579,6877.349514,6699.228698,6629.567326,38.018921
488,ULTRACEMCO,2022-12-26,6911.00,7104.90,6864.35,328414,7074.00,163.00,7020.939091,7041.235148,7049.251269,7034.062384,7016.582523,7011.715351,6885.061297,6706.650332,6634.023053,37.535918

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'UNIONBANK' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,UNIONBANK,2021-01-04,32.60,32.70,32.15,8265267,32.40,-0.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,UNIONBANK,2021-01-05,32.20,32.20,31.80,5789215,32.05,-0.15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,UNIONBANK,2021-01-06,32.35,32.55,31.75,6726368,31.85,-0.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,UNIONBANK,2021-01-07,32.15,32.20,31.80,3617734,31.90,-0.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,UNIONBANK,2021-01-08,32.15,32.30,31.55,5371701,31.80,-0.35,31.908057,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,UNIONBANK,2022-12-20,85.10,85.85,82.60,20115261,83.85,-1.25,86.179549,86.453523,85.845647,82.456152,80.717504,80.282866,71.217149,60.423543,51.970970,5.562782
485,UNIONBANK,2022-12-21,84.35,87.20,80.10,32448774,81.20,-3.15,84.519699,85.402818,85.130932,82.341957,80.754619,80.350801,71.608633,60.834982,52.264078,4.780131
486,UNIONBANK,2022-12-22,81.60,83.00,75.20,39579007,76.15,-5.45,81.729799,83.552255,83.749250,81.779052,80.400418,80.039631,71.786726,61.138268,52.503586,3.709619
487,UNIONBANK,2022-12-23,75.00,76.75,66.70,51880207,67.55,-7.45,77.003200,80.351804,81.257058,80.485501,79.411924,79.114473,71.620580,61.265240,52.654448,2.142585
488,UNIONBANK,2022-12-26,68.50,81.05,68.05,75502824,80.25,11.75,78.085466,80.331443,81.102126,80.464092,79.476391,79.198586,71.958989,61.641197,52.931111,1.903540

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'UPL' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,UPL,2021-01-04,473.40,475.00,466.65,3615832,473.15,-0.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,UPL,2021-01-05,469.00,472.50,466.35,3226777,471.25,2.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,UPL,2021-01-06,471.95,481.90,467.15,5947103,472.40,0.45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,UPL,2021-01-07,476.00,486.50,474.45,7025121,482.50,6.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,UPL,2021-01-08,485.00,506.00,484.80,16114942,503.65,18.65,486.907346,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,UPL,2022-12-20,769.00,771.55,749.00,1598234,754.85,-14.15,766.179922,769.672575,770.817816,769.264045,767.293622,766.751857,754.452091,743.478697,740.389376,4.065959
485,UPL,2022-12-21,761.45,767.50,751.80,2220101,754.90,-6.55,762.419948,766.718060,768.368921,767.958223,766.340266,765.873941,754.469656,743.704875,740.534888,2.494980
486,UPL,2022-12-22,755.25,761.45,727.45,2404863,729.35,-25.90,751.396632,759.244448,762.366010,764.448384,763.494861,763.168464,753.484571,743.420603,740.422735,-0.802454
487,UPL,2022-12-23,722.10,727.50,707.95,1175968,711.20,-10.90,737.997755,749.635558,754.494316,759.607622,759.472179,759.318948,751.826353,742.782535,740.129735,-4.824632
488,UPL,2022-12-26,712.45,725.35,707.50,955078,718.25,5.80,731.415170,743.358447,748.918268,755.847838,756.301243,756.276804,750.509633,742.296714,739.910377,-7.358536

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'VBL' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,VBL,2021-01-04,910.00,961.00,905.60,586508,951.25,41.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,VBL,2021-01-05,955.00,977.70,952.25,281957,966.45,11.45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,VBL,2021-01-06,968.00,975.00,953.00,171532,960.10,-7.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,VBL,2021-01-07,972.50,992.00,961.30,307737,985.50,13.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,VBL,2021-01-08,985.60,1015.10,972.85,253110,990.10,4.50,978.168246,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,VBL,2022-12-20,1402.50,1411.45,1377.00,1351634,1391.30,-11.20,1392.531547,1375.846124,1359.723705,1312.313658,1294.218307,1290.000146,1214.512729,1129.821282,1053.709959,69.723559
485,VBL,2022-12-21,1407.00,1422.45,1355.00,1076054,1371.15,-35.85,1385.404365,1374.906900,1361.481596,1317.662416,1300.136129,1296.011246,1220.655367,1134.600355,1056.893237,65.470350
486,VBL,2022-12-22,1370.00,1399.00,1305.90,2001212,1380.55,10.55,1383.786243,1376.035520,1364.415197,1323.379469,1306.321812,1302.273376,1226.925745,1139.470932,1060.138604,62.141821
487,VBL,2022-12-23,1365.00,1365.00,1263.05,1309597,1287.60,-77.40,1351.724162,1358.348416,1352.597474,1320.126790,1304.881672,1301.186459,1229.305128,1142.404350,1062.419227,51.411015
488,VBL,2022-12-26,1290.05,1369.70,1260.20,1063793,1352.70,62.65,1352.049441,1357.218733,1352.613248,1323.087991,1308.560005,1305.002277,1234.144142,1146.568856,1065.329481,47.610970

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'VEDL' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,VEDL,2021-01-04,161.60,171.50,161.00,32854053,170.25,8.65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,VEDL,2021-01-05,168.50,170.45,166.90,18873277,169.00,0.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,VEDL,2021-01-06,170.75,183.95,170.55,49999500,180.30,9.55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,VEDL,2021-01-07,181.50,187.35,181.50,32949315,185.50,4.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,VEDL,2021-01-08,188.00,189.75,176.65,25476849,182.05,-5.95,180.255213,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,VEDL,2022-12-20,313.90,314.40,307.10,7495069,312.10,-1.80,312.053163,311.957327,311.790425,310.462550,309.535425,309.281329,302.519156,296.130643,298.900805,2.509096
485,VEDL,2022-12-21,313.65,314.90,300.05,10996743,303.20,-10.45,309.102109,310.205862,310.468821,309.802318,309.048085,308.830860,302.545856,296.270639,298.943918,1.637961
486,VEDL,2022-12-22,305.70,307.45,298.45,9075631,302.05,-3.65,306.751406,308.574689,309.173618,309.097562,308.509771,308.328574,302.526411,296.385089,298.975063,0.845044
487,VEDL,2022-12-23,299.00,300.85,283.95,11859798,285.20,-13.80,299.567604,303.899751,305.485369,306.925057,306.716711,306.615346,301.846944,296.163589,298.836948,-1.129977
488,VEDL,2022-12-26,285.75,297.45,281.80,7669940,296.10,10.35,298.411736,302.339801,304.041466,305.940961,305.900041,305.836432,301.621573,296.162330,298.809509,-1.794966

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'VINATIORGA' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,VINATIORGA,2021-01-04,1239.00,1239.95,1213.40,84622,1231.35,-7.65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,VINATIORGA,2021-01-05,1220.00,1227.00,1215.00,58152,1221.50,1.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,VINATIORGA,2021-01-06,1228.00,1340.00,1215.00,954247,1322.00,94.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,VINATIORGA,2021-01-07,1333.00,1377.95,1290.00,443447,1302.30,-30.70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,VINATIORGA,2021-01-08,1310.00,1350.00,1299.05,225745,1317.00,7.00,1296.733649,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,VINATIORGA,2022-12-20,1983.00,2015.00,1976.00,65158,2006.75,23.75,2002.650578,2022.355981,2033.930511,2050.685681,2053.659050,2054.225215,2062.864886,2067.720784,2045.338390,-20.294704
485,VINATIORGA,2022-12-21,2013.00,2032.35,1970.00,27826,1987.55,-25.45,1997.617052,2015.394785,2026.795047,2044.946073,2048.573739,2049.286310,2059.911361,2066.133148,2044.758890,-22.491263
486,VINATIORGA,2022-12-22,2009.00,2034.70,1935.00,50941,1951.95,-57.05,1982.394701,2002.705828,2015.280425,2036.491885,2041.141143,2042.076213,2055.677583,2063.871963,2043.828278,-26.795788
487,VINATIORGA,2022-12-23,1954.45,1959.95,1900.00,77196,1905.35,-49.10,1956.713134,1983.234662,1998.368052,2024.569895,2030.695671,2031.948345,2049.782383,2060.732733,2042.439837,-33.580294
488,VINATIORGA,2022-12-26,1905.35,1935.40,1836.00,21908,1929.00,23.65,1947.475423,1972.387730,1987.696044,2015.881723,2022.872927,2024.322542,2045.045819,2058.124016,2041.302529,-36.626498

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'VOLTAS' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,VOLTAS,2021-01-04,834.00,848.65,832.10,1512530,846.00,12.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,VOLTAS,2021-01-05,842.05,854.00,830.55,1362402,837.35,-4.70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,VOLTAS,2021-01-06,837.00,877.70,834.30,3129336,869.30,32.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,VOLTAS,2021-01-07,871.10,888.00,869.00,1624468,881.50,10.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,VOLTAS,2021-01-08,882.00,909.40,881.50,1928335,902.20,20.20,879.651185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,VOLTAS,2022-12-20,833.00,834.95,813.35,1205458,827.90,-5.10,836.357360,838.683388,839.072085,840.067711,841.300688,841.691442,857.273621,900.321110,967.885259,-2.619358
485,VOLTAS,2022-12-21,830.95,837.95,810.50,1158353,813.70,-17.25,828.804907,833.686710,835.168687,837.670646,839.177559,839.618002,855.564852,898.605737,966.339094,-4.449315
486,VOLTAS,2022-12-22,817.00,817.00,798.30,787550,807.35,-9.65,821.653271,828.419368,830.888889,834.914224,836.729285,837.227780,853.674073,896.798587,964.744881,-6.338891
487,VOLTAS,2022-12-23,800.75,803.35,775.20,980785,777.75,-23.00,807.018847,818.285495,822.713675,829.717476,832.192417,832.822018,850.696659,894.441053,962.869992,-10.108343
488,VOLTAS,2022-12-26,777.75,789.40,770.00,454783,786.50,8.75,800.179232,811.928396,817.142341,825.788615,828.677615,829.390758,848.179143,892.303486,961.101768,-12.248417

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'WHIRLPOOL' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,WHIRLPOOL,2021-01-04,2633.80,2633.80,2575.0,111052,2599.70,-34.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,WHIRLPOOL,2021-01-05,2580.00,2628.95,2540.0,83186,2594.35,14.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,WHIRLPOOL,2021-01-06,2607.35,2610.00,2522.1,50559,2543.30,-64.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,WHIRLPOOL,2021-01-07,2543.30,2579.95,2470.1,123615,2485.50,-57.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,WHIRLPOOL,2021-01-08,2490.00,2528.00,2485.0,56682,2493.70,3.70,2519.550237,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,WHIRLPOOL,2022-12-20,1497.95,1511.00,1478.0,92814,1507.45,9.50,1502.698333,1505.987288,1508.125552,1514.787027,1518.643217,1519.699184,1549.053027,1594.093112,1662.559299,-11.573632
485,WHIRLPOOL,2022-12-21,1515.00,1527.80,1492.0,102274,1495.75,-19.25,1500.382222,1503.939830,1506.221621,1513.056389,1516.882201,1517.925170,1546.962712,1592.145607,1660.886540,-11.703550
486,WHIRLPOOL,2022-12-22,1495.75,1509.95,1477.0,80243,1488.90,-6.85,1496.554815,1500.931864,1503.556756,1510.860353,1514.729724,1515.775158,1544.685743,1590.101019,1659.161999,-12.218402
487,WHIRLPOOL,2022-12-23,1481.00,1484.90,1462.4,76655,1474.65,-6.35,1489.253210,1495.675491,1499.109563,1507.568503,1511.646668,1512.728850,1541.939243,1587.814728,1657.312005,-13.619287
488,WHIRLPOOL,2022-12-26,1475.20,1495.00,1462.0,81865,1485.85,10.65,1488.118806,1493.710393,1497.069630,1505.594094,1509.662309,1510.737824,1539.739665,1585.795511,1655.592986,-13.668194

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'WIPRO' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,WIPRO,2021-01-04,390.00,397.95,387.80,9755721,396.40,6.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,WIPRO,2021-01-05,394.10,409.80,393.50,25156747,406.30,12.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,WIPRO,2021-01-06,405.00,417.40,403.30,22486300,406.40,1.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,WIPRO,2021-01-07,412.25,413.00,403.85,12344755,406.75,-5.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,WIPRO,2021-01-08,407.50,432.65,407.25,40993230,430.20,22.70,414.856398,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,WIPRO,2022-12-20,388.80,389.90,383.00,4389279,388.95,0.15,391.854699,394.736692,396.053148,397.413180,397.521778,397.536999,398.802620,411.108655,446.256645,-1.483850
485,WIPRO,2022-12-21,390.90,393.25,387.85,5107607,389.50,-1.40,391.069800,393.689354,395.044971,396.693800,396.904718,396.941665,398.437811,410.680735,445.687491,-1.896694
486,WIPRO,2022-12-22,390.10,391.95,386.00,4546900,388.75,-1.35,390.296533,392.701483,394.076514,395.971636,396.277432,396.334875,398.057897,410.246438,445.116568,-2.258361
487,WIPRO,2022-12-23,384.00,385.85,377.00,6060355,377.65,-6.35,386.081022,389.691186,391.549358,394.306033,394.844553,394.950810,397.257587,409.600927,444.440120,-3.401452
488,WIPRO,2022-12-26,378.00,381.60,376.30,3630574,380.50,2.50,384.220681,387.852949,389.849457,393.050939,393.741126,393.880380,396.600427,409.024638,443.799079,-4.030923

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'YESBANK' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,YESBANK,2021-01-04,18.40,18.60,17.90,214860840,18.00,-0.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,YESBANK,2021-01-05,17.95,18.25,17.75,172429356,18.00,0.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,YESBANK,2021-01-06,18.20,18.40,17.80,196901365,18.00,-0.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,YESBANK,2021-01-07,18.20,18.35,17.85,157589035,18.00,-0.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,YESBANK,2021-01-08,18.20,18.30,17.80,183783931,18.05,-0.15,18.019194,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,YESBANK,2022-12-20,21.35,21.50,20.60,294564961,21.30,-0.05,21.404736,20.922307,20.504497,19.515355,19.194757,19.123290,17.997377,16.840976,15.699617,1.381207
485,YESBANK,2022-12-21,21.45,21.65,19.65,369893062,19.85,-1.60,20.886491,20.707846,20.403805,19.545778,19.245161,19.177120,18.070029,16.900564,15.741237,1.226685
486,YESBANK,2022-12-22,20.05,20.20,18.85,387642459,18.95,-1.10,20.240994,20.356276,20.180142,19.491616,19.222456,19.160296,18.104538,16.941149,15.773412,1.019846
487,YESBANK,2022-12-23,18.55,18.90,17.25,401631548,17.45,-1.10,19.310663,19.775021,19.760121,19.306015,19.086113,19.033608,18.078869,16.951226,15.790222,0.726513
488,YESBANK,2022-12-26,17.60,19.95,17.55,553301260,19.60,2.00,19.407108,19.740017,19.735487,19.332740,19.125643,19.075563,18.138522,17.003680,15.828418,0.659924

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'ZEEL' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,ZEEL,2021-01-04,226.90,228.20,216.00,26346595,219.05,-7.85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ZEEL,2021-01-05,218.00,223.00,215.15,20605048,222.50,4.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ZEEL,2021-01-06,222.50,225.30,217.00,14154683,221.20,-1.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ZEEL,2021-01-07,223.75,224.60,218.10,14428798,218.95,-4.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ZEEL,2021-01-08,221.85,236.85,220.70,44035673,231.15,9.30,224.428673,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,ZEEL,2022-12-20,251.00,252.30,247.85,3363026,251.25,0.25,254.166785,256.526534,257.518560,258.980029,259.363383,259.445161,260.045863,258.429754,257.742332,-1.926602
485,ZEEL,2022-12-21,251.95,255.20,245.40,5395384,247.25,-4.70,251.861190,254.671227,255.938781,257.913663,258.431584,258.541816,259.544065,258.208359,257.637116,-2.603035
486,ZEEL,2022-12-22,248.60,250.15,242.00,8753085,245.20,-3.40,249.640793,252.776982,254.286661,256.757875,257.413770,257.553533,258.981552,257.950753,257.512406,-3.266872
487,ZEEL,2022-12-23,243.20,245.25,233.80,6879193,235.05,-8.15,244.777195,249.231585,251.327175,254.784432,255.693480,255.886605,258.043060,257.497246,257.287189,-4.559430
488,ZEEL,2022-12-26,235.05,241.70,230.65,5052693,239.05,4.00,242.868130,247.195268,249.438379,253.354029,254.413213,254.639449,257.298234,257.131934,257.104349,-5.201070

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'ZFCVINDIA' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,ZFCVINDIA,2022-04-01,7717.00,7747.95,7452.00,931,7616.20,-100.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ZFCVINDIA,2022-04-04,7715.90,7777.00,7560.00,1074,7685.40,-30.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ZFCVINDIA,2022-04-05,7659.05,8000.00,7642.10,4889,7934.00,274.95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ZFCVINDIA,2022-04-06,8000.00,8050.05,7800.00,5822,7931.90,-68.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ZFCVINDIA,2022-04-07,7826.20,8093.95,7821.10,3868,7900.95,74.75,7868.399763,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177,ZFCVINDIA,2022-12-20,9227.10,9250.00,9170.00,2028,9198.00,-29.10,9221.774231,9261.433135,9291.370716,9380.664102,9417.396734,9425.991895,9537.186579,9438.435029,NaN,-134.621180
178,ZFCVINDIA,2022-12-21,9186.00,9250.00,9000.00,6586,9080.20,-105.80,9174.582821,9225.186508,9258.882913,9353.349183,9391.458509,9400.377654,9519.251614,9431.137877,NaN,-141.494741
179,ZFCVINDIA,2022-12-22,9140.00,9140.00,8810.00,7259,8860.50,-279.50,9069.888547,9152.249206,9197.593234,9308.544710,9350.615524,9360.386678,9493.398934,9419.520731,NaN,-162.793444
180,ZFCVINDIA,2022-12-23,8852.85,8898.30,8638.55,13100,8767.40,-85.45,8969.059031,9075.279365,9131.409660,9259.349735,9305.752768,9316.461700,9464.907971,9406.252123,NaN,-185.052040
181,ZFCVINDIA,2022-12-26,8655.15,8968.40,8655.15,3757,8854.20,199.05,8930.772688,9031.063492,9088.762020,9222.517940,9271.017924,9282.220064,9440.942138,9395.025714,NaN,-193.458045

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'ZOMATO' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,ZOMATO,2021-07-23,116.00,138.90,115.00,694895290,126.00,10.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ZOMATO,2021-07-26,126.35,143.75,125.30,249723854,140.65,14.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ZOMATO,2021-07-27,141.70,147.80,127.75,240341900,132.90,-8.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ZOMATO,2021-07-28,131.00,135.00,123.55,159793731,131.20,0.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ZOMATO,2021-07-29,134.95,144.00,132.20,117973089,141.55,6.60,136.143839,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
348,ZOMATO,2022-12-20,62.10,63.20,61.90,32487667,62.85,0.75,63.082159,63.566603,63.820423,64.235918,64.308176,64.318550,64.113016,64.542707,70.418353,-0.498126
349,ZOMATO,2022-12-21,63.20,63.50,60.85,39979212,61.35,-1.85,62.504772,63.123282,63.440358,63.973562,64.080624,64.098657,64.004662,64.479427,70.325311,-0.658299
350,ZOMATO,2022-12-22,61.80,62.05,58.55,53936114,58.95,-2.85,61.319848,62.288626,62.749534,63.516874,63.685961,63.717275,63.806440,64.369836,70.208636,-0.967741
351,ZOMATO,2022-12-23,58.30,58.35,53.20,93022114,53.65,-4.65,58.763232,60.560901,61.349606,62.619886,62.913964,62.971551,63.408148,64.157375,70.038848,-1.621945
352,ZOMATO,2022-12-26,53.95,59.75,53.45,83571451,58.15,4.20,58.558821,60.078720,60.857359,62.213532,62.547505,62.614399,63.201946,64.038315,69.916979,-1.757041

 select Script_Name, Trnx_date trnx, [open], [high], [low], [volume], [close]cls from NSE_EOD where Trnx_date >= '2021-01-01' and Script_Name = 'ZYDUSLIFE' order by Script_Name,Trnx_date

,Script_Name,trnx,open,high,low,volume,cls,Gain,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,ZYDUSLIFE,2022-03-07,343.70,345.75,331.55,969180,342.10,-1.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ZYDUSLIFE,2022-03-08,342.10,347.00,335.75,978348,344.50,2.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ZYDUSLIFE,2022-03-09,350.00,363.00,348.05,3946522,359.35,9.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ZYDUSLIFE,2022-03-10,368.00,368.00,361.50,2097821,365.75,-2.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ZYDUSLIFE,2022-03-11,363.10,374.60,362.40,1365084,370.65,7.55,362.328673,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,ZYDUSLIFE,2022-12-20,406.55,412.50,404.75,789245,411.35,4.80,409.528325,409.076345,408.988353,409.510942,409.720879,409.749972,407.598314,398.519145,NaN,-0.761619
196,ZYDUSLIFE,2022-12-21,410.60,426.00,410.30,2697599,421.90,11.30,413.652216,411.641076,410.974761,410.637220,410.657735,410.649975,408.159377,398.991314,NaN,0.324786
197,ZYDUSLIFE,2022-12-22,427.95,427.95,416.25,1770189,423.55,-4.40,416.951478,414.022861,412.909413,411.811110,411.649448,411.605532,408.763150,399.487074,NaN,1.303881
198,ZYDUSLIFE,2022-12-23,423.50,430.00,418.90,2075717,420.30,-3.20,418.067652,415.278289,414.046426,412.582827,412.314875,412.249567,409.215733,399.907058,NaN,1.796859
199,ZYDUSLIFE,2022-12-26,421.00,423.35,416.15,762148,420.75,-0.25,418.961768,416.372631,415.077745,413.325297,412.963731,412.879229,409.668209,400.327489,390.177899,2.198516

In [35]:
display(dflist['ASIANPAINT'])

    Script_Name        trnx      cls
0    ASIANPAINT  2021-01-04  2753.70
1    ASIANPAINT  2021-01-05  2793.85
2    ASIANPAINT  2021-01-06  2805.35
3    ASIANPAINT  2021-01-07  2792.25
4    ASIANPAINT  2021-01-08  2844.70
..          ...         ...      ...
484  ASIANPAINT  2022-12-20  3082.15
485  ASIANPAINT  2022-12-21  3069.65
486  ASIANPAINT  2022-12-22  3088.55
487  ASIANPAINT  2022-12-23  3057.90
488  ASIANPAINT  2022-12-26  3056.05

[489 rows x 3 columns]

In [24]:
ScriptList = df_NLM250['Script_Name'].to_list()
for s in ScriptList:
    print(s)

3MINDIA
AAVAS
ABB
ABBOTINDIA
ABCAPITAL
ABFRL
ACC
ADANIENT
ADANIGREEN
ADANIPORTS
ADANITRANS
AFFLE
AIAENG
AJANTPHARM
ALKEM
ALKYLAMINE
AMBUJACEM
APLAPOLLO
APLLTD
APOLLOHOSP
APOLLOTYRE
ASHOKLEY
ASIANPAINT
ASTRAL
ATGL
ATUL
AUBANK
AUROPHARMA
AXISBANK
BAJAJ-AUTO
BAJAJFINSV
BAJAJHLDNG
BAJFINANCE
BALKRISIND
BANDHANBNK
BANKBARODA
BANKINDIA
BATAINDIA
BAYERCROP
BEL
BERGEPAINT
BHARATFORG
BHARTIARTL
BHEL
BIOCON
BLUEDART
BOSCHLTD
BPCL
BRITANNIA
CANBK
CGPOWER
CHOLAFIN
CIPLA
CLEAN
COALINDIA
COFORGE
COLPAL
CONCOR
COROMANDEL
CRISIL
CROMPTON
CUMMINSIND
DABUR
DALBHARAT
DEEPAKNTR
DIVISLAB
DIXON
DLF
DMART
DRREDDY
EICHERMOT
EMAMILTD
ENDURANCE
ESCORTS
EXIDEIND
FEDERALBNK
FLUOROCHEM
FORTIS
GAIL
GICRE
GLAND
GLAXO
GLENMARK
GMRINFRA
GODREJCP
GODREJIND
GODREJPROP
GRASIM
GRINDWELL
GSPL
GUJGASLTD
HAL
HAPPSTMNDS
HATSUN
HAVELLS
HCLTECH
HDFC
HDFCAMC
HDFCBANK
HDFCLIFE
HEROMOTOCO
HINDALCO
HINDPETRO
HINDUNILVR
HINDZINC
HONAUT
ICICIBANK
ICICIGI
ICICIPRULI
IDBI
IDEA
IDFCFIRSTB
IEX
IGL
INDHOTEL
INDIAMART
INDIANB
INDIGO
INDUSINDBK
INDUSTOWER
INFY
IOC
IPCALAB
IRCTC
IRFC
ISEC
ITC
JINDALSTEL
JKCEMENT
JSWENERGY
JSWSTEEL
JUBLFOOD
KAJARIACER
KANSAINER
KOTAKBANK
L&TFH
LALPATHLAB
LAURUSLABS
LICHSGFIN
LINDEINDIA
LODHA
LT
LTI
LTTS
LUPIN
M&M
M&MFIN
MANAPPURAM
MARICO
MARUTI
MAXHEALTH
MCDOWELL-N
METROPOLIS
MFSL
MINDAIND
MINDTREE
MPHASIS
MRF
MUTHOOTFIN
NAM-INDIA
NATCOPHARM
NATIONALUM
NAUKRI
NAVINFLUOR
NESTLEIND
NHPC
NIACL
NMDC
NTPC
NUVOCO
NYKAA
OBEROIRLTY
OFSS
OIL
ONGC
PAGEIND
PAYTM
PEL
PERSISTENT
PETRONET
PFC
PFIZER
PGHH
PHOENIXLTD
PIDILITIND
PIIND
PNB
POLICYBZR
POLYCAB
POWERGRID
PRESTIGE
RAJESHEXPO
RAMCOCEM
RECLTD
RELAXO
RELIANCE
SAIL
SANOFI
SBICARD
SBILIFE
SBIN
SCHAEFFLER
SHREECEM
SIEMENS
SKFINDIA
SOLARINDS
SONACOMS
SRF
SRTRANSFIN
STARHEALTH
SUMICHEM
SUNDARMFIN
SUNDRMFAST
SUNPHARMA
SUNTV
SUPREMEIND
SYNGENE
TATACHEM
TATACOMM
TATACONSUM
TATAELXSI
TATAMOTORS
TATAPOWER
TATASTEEL
TCS
TECHM
THERMAX
TIINDIA
TITAN
TORNTPHARM
TORNTPOWER
TRENT
TRIDENT
TTML
TVSMOTOR
UBL
ULTRACEMCO
UNIONBANK
UPL
VBL
VEDL
VINATIORGA
VOLTAS
WHIRLPOOL
WIPRO
YESBANK
ZEEL
ZFCVINDIA
ZOMATO
ZYDUSLIFE

In [6]:
df_gby = (
        (df
            .groupby(['Script_Name', 'trnx'])['cls']
            .mean()
        )
        .ewm(span=12)
        .mean()
        # .droplevel(2)
        # .reset_index(name='ema'+str(days))
    )

df_gby

Script_Name  trnx
ZYDUSWELL    2021-01-04    2148.400000
             2021-01-05    2129.550000
             2021-01-06    2112.337760
             2021-01-07    2096.306049
             2021-01-08    2087.963325
                              ...
             2022-12-20    1598.901145
             2022-12-21    1594.754815
             2022-12-22    1586.715613
             2022-12-23    1572.382442
             2022-12-26    1565.531297
Name: cls, Length: 489, dtype: float64

In [7]:
def ewm(df, days):
    df_gby = (
        (df
            .groupby(['Script_Name', 'trnx'])['cls']
            .sum()
        )
        .ewm(span=days, min_periods=days)
        .mean()
        .droplevel(1)
        .reset_index(name='ema'+str(days))
    )
    
    return df_gby['ema'+str(days)]

In [8]:
for i in [5,9,12,21,25,26,50,100,200]:
    df['ema'+str(i)] = ewm(df, i)

df

,Script_Name,trnx,cls,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,ZYDUSWELL,2021-01-04,2148.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ZYDUSWELL,2021-01-05,2113.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ZYDUSWELL,2021-01-06,2085.45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ZYDUSWELL,2021-01-07,2061.55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ZYDUSWELL,2021-01-08,2065.60,2079.688626,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,ZYDUSWELL,2022-12-20,1588.85,1594.858946,1597.727345,1598.901145,1604.996842,1608.531555,1609.414895,1624.372691,1632.680149,1665.327103,-10.513750
485,ZYDUSWELL,2022-12-21,1571.95,1587.222630,1592.571876,1594.754815,1601.992583,1605.717589,1606.639718,1622.316899,1631.477499,1664.390720,-11.884903
486,ZYDUSWELL,2022-12-22,1542.50,1572.315087,1582.557501,1586.715613,1596.584167,1600.854697,1601.888628,1619.186825,1629.715465,1663.168499,-15.173015
487,ZYDUSWELL,2022-12-23,1493.55,1546.060058,1564.756001,1572.382442,1587.217424,1592.600490,1593.863544,1614.259891,1627.018963,1661.467834,-21.481103
488,ZYDUSWELL,2022-12-26,1527.85,1539.990039,1557.374800,1565.531297,1581.820386,1587.619683,1588.973652,1610.871267,1625.055110,1660.128228,-23.442355

In [9]:
df['MACD'] = df['ema12']-df['ema26']
display(df)
#df['Signal'] = ewm(df['MACD'],9)
df['Signal'] = df['MACD'].ewm(span=9, adjust=False).mean()

,Script_Name,trnx,cls,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD
0,ZYDUSWELL,2021-01-04,2148.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ZYDUSWELL,2021-01-05,2113.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ZYDUSWELL,2021-01-06,2085.45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ZYDUSWELL,2021-01-07,2061.55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ZYDUSWELL,2021-01-08,2065.60,2079.688626,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,ZYDUSWELL,2022-12-20,1588.85,1594.858946,1597.727345,1598.901145,1604.996842,1608.531555,1609.414895,1624.372691,1632.680149,1665.327103,-10.513750
485,ZYDUSWELL,2022-12-21,1571.95,1587.222630,1592.571876,1594.754815,1601.992583,1605.717589,1606.639718,1622.316899,1631.477499,1664.390720,-11.884903
486,ZYDUSWELL,2022-12-22,1542.50,1572.315087,1582.557501,1586.715613,1596.584167,1600.854697,1601.888628,1619.186825,1629.715465,1663.168499,-15.173015
487,ZYDUSWELL,2022-12-23,1493.55,1546.060058,1564.756001,1572.382442,1587.217424,1592.600490,1593.863544,1614.259891,1627.018963,1661.467834,-21.481103
488,ZYDUSWELL,2022-12-26,1527.85,1539.990039,1557.374800,1565.531297,1581.820386,1587.619683,1588.973652,1610.871267,1625.055110,1660.128228,-23.442355

In [10]:
display(df)

,Script_Name,trnx,cls,ema5,ema9,ema12,ema21,ema25,ema26,ema50,ema100,ema200,MACD,Signal
0,ZYDUSWELL,2021-01-04,2148.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ZYDUSWELL,2021-01-05,2113.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ZYDUSWELL,2021-01-06,2085.45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ZYDUSWELL,2021-01-07,2061.55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ZYDUSWELL,2021-01-08,2065.60,2079.688626,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,ZYDUSWELL,2022-12-20,1588.85,1594.858946,1597.727345,1598.901145,1604.996842,1608.531555,1609.414895,1624.372691,1632.680149,1665.327103,-10.513750,-12.883639
485,ZYDUSWELL,2022-12-21,1571.95,1587.222630,1592.571876,1594.754815,1601.992583,1605.717589,1606.639718,1622.316899,1631.477499,1664.390720,-11.884903,-12.683892
486,ZYDUSWELL,2022-12-22,1542.50,1572.315087,1582.557501,1586.715613,1596.584167,1600.854697,1601.888628,1619.186825,1629.715465,1663.168499,-15.173015,-13.181716
487,ZYDUSWELL,2022-12-23,1493.55,1546.060058,1564.756001,1572.382442,1587.217424,1592.600490,1593.863544,1614.259891,1627.018963,1661.467834,-21.481103,-14.841594
488,ZYDUSWELL,2022-12-26,1527.85,1539.990039,1557.374800,1565.531297,1581.820386,1587.619683,1588.973652,1610.871267,1625.055110,1660.128228,-23.442355,-16.561746

In [23]:
df.to_csv("./test11.csv")